{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Singular Bank amplía su presencia con la inauguración de una oficina en León.</h1>
        <p class="c-news__fecha">Madrid, 12 de enero de 2022</p>
        <p class="c-news__entradilla"><strong>El banco, especializado en banca privada, que ya cuenta con 8 oficinas en otras capitales, se instala en León con el objetivo de acercar su oferta a los clientes de la región que buscan una oferta diferente.</strong></p>
        <p class="c-news__entradilla"><strong>Al frente de la sucursal, que está ubicada en la Gran Vía de San Marcos, está Luis Bayón, un profesional leonés con más de 25 años en el sector bancario.</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <p>Singular Bank, el banco especializado en banca privada, ha inaugurado una nueva oficina en la ciudad de León. Se trata de la primera sucursal física que la entidad abre en la comunidad autónoma y la novena de estas características en nuestro país. De esta forma, el banco consolida su presencia en España y se posiciona como una de las entidades financieras independientes más importantes.</p>
        <p>Singular Bank se desmarca así de la tendencia del sector a eliminar oficinas físicas y da un paso más en su estrategia de expansión, con la que busca tejer una red que complemente sus servicios digitales en el territorio nacional. La nueva oficina se suma a las ya operativas en Madrid, Sevilla, Zaragoza, Valencia, Las Palmas de Gran Canaria, Murcia y Málaga.</p>
        <p>Esta apertura tiene un carácter diferenciador, ya que León no figura tradicionalmente entre las provincias prioritarias a la hora de desplegar servicios especializados de banca privada.</p>
        <p>En esta línea lo explica Luis Bayón, Director de la oficina, que asegura que “León es un lugar clave para el desarrollo de los negocios en la zona noroeste del país y es importante facilitar cercanía y disponibilidad por parte de su banquero a aquellos clientes que demandan un servicio especializado”.</p>
        <p>Desde Singular Bank aseguran que la apertura de esta oficina tiene muchas connotaciones: vocación de servicio a clientes que en la actualidad no cuentan con una oficina presencial próxima, así como poner en valor el potencial de la región y sus perspectivas de crecimiento económico.</p>
        <p>En este sentido, Bayón apunta que “la apertura de esta oficina confirma la estrategia de expansión de Singular Bank y supone la primera apertura en el noroeste de España”.</p>
        <p>La nueva oficina de León, operativa desde mediados de diciembre de 2021, se ubica en la Gran Vía de San Marcos de la capital leonesa. Al frente de la sucursal está Luis Bayón, un profesional con más de 25 años de trayectoria como director de banca privada en Banco BANIF y Santander Private Banking y como jefe de riesgos en Banco Pastor.</p>
        <p>Bayón está acompañado por Zulema Voces como Directora de Patrimonios, una banquera con una trayectoria profesional superior a 20 años en la banca privada de la capital leonesa, por Saúl Rodríguez Castro, banquero privado con 12 años de experiencia en banca y por Lucía Prieto, banquera junior.</p>
        <p>El equipo humano de Singular Bank en León tendrá como objetivo dar servicio a los clientes de la compañía en la región, a los que ofrecerá asesoramiento y gestión de sus inversiones. Para ello, la compañía continúa con la línea de negocio que mantiene a nivel digital y en el resto de oficinas de España, ofreciendo productos de inversión, productos transaccionales y financiación, entre otros servicios.</p>
        <h3>Sobre Singular Bank</h3>
        <p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio.
Cuenta con una oferta independiente, libre de conflictos de interés y dispone de una amplia variedad de productos y servicios.
Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, y pone a disposición de sus clientes sus más de 25 años de experiencia como expertos en banca, ahorro e inversión.
</p>
      </div>
    </div>
<!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p><strong>Singular Bank/Kreab</strong></p>
        </div>        
      </div>
    </div>-->
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 