{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <p>Culmina la operación entre Singular Bank y UBS</p>

        <h1 class="c-news__title">Singular Bank obtiene las autorizaciones regulatorias para
      cerrar la adquisición de la unidad de banca privada de UBS en
      España</h1>

      <p class="c-news__fecha">Madrid, 29 de julio de 2022</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
        <p>Singular Bank ha obtenido las autorizaciones regulatorias requeridas para culminar el proceso de adquisición de la unidad de banca privada doméstica (Wealth Management) de UBS en España y de UBS Gestión SGIIC. De esta forma, la operación cumple con los plazos previstos, que contemplaban su cierre en el tercer trimestre de 2022.</p>

      <p>Tras la adquisición, Singular Bank contará con un equipo de casi 400 profesionales, una red de once oficinas, ubicadas en Barcelona, La Coruña, Las Palmas, Madrid (2), Málaga, Murcia, León, Sevilla, Valencia y Zaragoza y una plataforma operativa digital para que cada uno de sus clientes pueda elegir en cada momento su canal de relación con el banco.</p>

      <p>Una vez se complete la transacción, los clientes de banca privada doméstica de UBS en España y los equipos de profesionales correspondientes al negocio de banca privada se integrarán en Singular Bank.</p>

      <p><strong>Javier Marín, consejero delegado de Singular Bank</strong>, declara: &quot;con la adquisición del negocio de ubs en españa, nos convertimos en el banco líder especializado en banca privada en españa. ampliamos y mejoramos nuestra propuesta de valor a los clientes, con el objetivo de adaptar el banco a las necesidades de cada cliente y ayudarle a alcanzar sus objetivos financieros”.</p>

      <p>
        <strong>Christl Novakovic, Consejera Delegada de UBS Europe SE y responsable de UBS Wealth Management Europe</strong>, señala: “La aprobación regulatoria es uno de los últimos hitos antes de cerrar la transacción en el tercer trimestre de 2022. Con la sólida plataforma digital de Singular Bank y sus servicios altamente personalizados nuestro negocio doméstico de Wealth Management en España cuenta con todo lo necesario para continuar su historia de éxito”.</p>

      <h2>La estrategia de crecimiento de Singular Bank</h2>
      
      <p> La operación se ajusta a la estrategia de crecimiento anunciada por la entidad en su lanzamiento en 2020 de integrar negocios que aporten sentido estratégico y económico y que estén alineados con sus valores centrados en el cliente. Singular Bank continuará combinando su estrategia de crecimiento orgánico con el análisis de otras oportunidades que tengan sentido financiero y estratégico para la entidad.</p>

      <h2>Sobre Singular Bank</h2>

      <p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>

      <p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 85.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</p>


        <h2>Sobre UBS</h2>

          <p>El Grupo UBS ofrece asesoramiento financiero y soluciones a clientes con alto poder adquisitivo, institucionales y corporativos de todo el mundo, así como a clientes privados en Suiza. UBS es el mayor gestor de patrimonios a nivel mundial, así como el banco personal y corporativo líder en Suiza, que además cuenta con una división de gestión de activos global, diversificada y a gran escala y una división de banca de inversión. El banco se centra en negocios que tienen una sólida posición competitiva en sus mercados clave, son eficientes en términos de capital y tienen una perspectiva atractiva de crecimiento estructural o rentabilidad a largo plazo.</p>
		 
        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 