{% extends "_layouts/page.twig" %}
{% block page %}


<meta http-equiv="REFRESH" content="1;URL=http://www.singularam.es/">


<section class="p-basica">
  <div class="container">
    <div class="row u-mt-3">
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h1>Singular Asset Management SGIIC, SAU</h1>

        <p>Singular Asset Management SGIIC, SAU es la Gestora de Instituciones de Inversión Colectiva, con oficina en Madrid (28006), domiciliada en la Calle María de Molina, 4, con C.I.F (número de identificación fiscal español) A-82199084, registrada en la Comisión Nacional del Mercado de Valores (CNMV), con el número 185. Tanto los servicios, como la organización y los procedimientos internos de Singular Asset Management SGIIC, SAU son supervisados por la CNMV.</p>

        <p>Tal y como se indica en el Programa de Actividades registrado en la CNMV, Singular Asset Management SGIIC, SAU realiza las siguientes actividades y ofrece los siguientes servicios:</p>
        <ul>
          <li>Administración, representación y gestión de Instituciones de Inversión Colectiva (SICAVS y Fondos de Inversión)</li>
          <li>Gestión de carteras</li>
          <li>Asesoramiento de inversiones</li>
        </ul>
        <p>Singular Asset Management SGIIC, SAU forma parte del Grupo Singular Bank y su único accionista es Singular Bank.</p>
		    <p><a class="ancla" href="/doc/legal/singulargestion/resumen_politica_remunerativa.pdf">Política remunerativa</a></p>
        <p><a class="ancla" href="/doc/legal/singulargestion/informacion_relacionada_con_sostenibilidad.pdf">Información relacionada con Sostenibilidad</a></p>
        <p><a class="ancla" href="/doc/legal/singulargestion/politica_implicacion.pdf">Política de Implicación</a></p>
        <p><strong>Anuncios</strong></p>
        <div class="table-responsive">
          <table class="table">
            <caption>
            Anuncios
            </caption>
            <thead>
              <tr>
                <th scope="col">Documento</th>
                <th scope="col">Fecha publicación</th>
                <th scope="col">Anuncio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Proyecto Fusión por absorción</th>
                <td>3 de mayo de 2022</td>
                <td><a href="/doc/legal/singulargestion/anuncios/proyecto-fusion-por-absorcion-1.pdf" target="_self">Anuncio</a></td>
              </tr>
              <tr>
                <th scope="row">Proyecto Fusión por absorción</th>
                <td>4 de mayo de 2022</td>
                <td><a href="/doc/legal/singulargestion/anuncios/proyecto-fusion-por-absorcion.pdf" target="_self">Anuncio</a></td>
              </tr>
              <tr>
                <th scope="row">Balance de fusión auditado UBS Gestion y Singular Asset Management</th>
                <td>4 de mayo de 2022</td>
                <td><a href="/doc/legal/singulargestion/anuncios/composicion-del-consejo-de-administacio.pdf" target="_self">Anuncio</a></td>
              </tr>
              <tr>
                <th scope="row">Composicion del Consejo de Administacion Sociedades fusionadas</th>
                <td>4 de mayo de 2022</td>
                <td><a href="/doc/legal/singulargestion/anuncios/balance-de-fusion-auditado.pdf" target="_self">Anuncio</a></td>
              </tr>
              <tr>
                <th scope="row">Cuentas anuales auditadas tres últimos ejercicios</th>
                <td>4 de mayo de 2022</td>
                <td><a href="/doc/legal/singulargestion/anuncios/cuentas-anuales-auditadas-tres-ultimos.pdf" target="_self">Anuncio</a></td>
              </tr>
              <tr>
                <th scope="row">Estatutos Sociales Sociedad absorbente y absorbida</th>
                <td>4 de mayo de 2022</td>
                <td><a href="/doc/legal/singulargestion/anuncios/estatutos-sociales-sociedad.pdf" target="_self">Anuncio</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 id="sicav">SICAVs - Constitución y gestión</h2>

        <p>La SICAV es una estructura societaria con ventajas fiscales, transparencia operativa y gran flexibilidad de inversión, derivada de su condición de Institución de Inversión Colectiva.</p>
      
        <p>Este producto es el instrumento idóneo para aquellos inversores o conjunto de inversores con objetivos comunes que deseen preservar independencia y mantener la capacidad de control sobre sus inversiones.</p>
        <p>Está diseñada para un horizonte temporal a medio y largo plazo y una filosofía de inversión flexible en función de las variaciones del mercado y los cambios en los objetivos de los accionistas.</p>
        <p><strong>Información legal</strong></p>
        <ul>
          <li>
            <a href="/alpha/">Alpha Proteccion SICAV S.A.</a></li>
          </li>
          <li>
            <a href="/arpoador/">Arpoador Oceano de Inversiones SICAV S.A.</a></li>
          </li>

          {# <li>
            <a href="/blacksmith/">Blacksmith Inversiones SICAV, S.A.</a></li>
          </li> 
          <li>
            <a href="/cova/">Cova Inversiones SICAV S.A.</a></li>
          </li>

          <li>
            <a href="/dossau/">Dossau de Inversiones SICAV S.A.</a></li>
          </li> #}

          <li>
            <a href="/bombay/">Bombay Investment Office SICAV, S.A.</a>
          </li>

          <li>
            <a href="/eko/">Eko Investment Capital SICAV S.A.</a></li>
          </li>

          <li>
            <a href="/emeritus/">Emeritus Capital SICAV S.A.</a></li>
          </li>

            <li>
              <a href="/inverpolo/">Inverpolo Veintiuno SICAV S.A.</a></li>
            </li>
            <li>
              <a href="/inversiones/">Inversiones Financieras Personales SICAV S.A.</a></li>
            </li>

            <li>
              <a href="/kruger/">Kruger Selección SICAV, S.A.</a>
            </li>


          {# <li>
          <a href="/mosefra/">Mosefra SICAV S.A.</a></li>
          </li> #}
          {# <li>
          <a href="/rentabilidad/">Rentabilidad 2009 SICAV S.A.</a></li>
          </li> #}

          <li>
          <a href="/sevidon/">Sevidon SICAV S.A.</a></li>
          </li>
          <li>
          <a href="/sinfonia/">Sinfonia Capital SICAV S.A.</a></li>

          </li>

          <li>
          <a href="/tarracisa/">Tarracisa SICAV S.A.</a></li>

          </li>

          <li>
          <a href="/thishul/">Thishul Investment SICAV S.A.</a></li>
          </li>
          <li>
          <a href="/xabek/">Xabek Investment SICAV S.A.</a></li>

          </li>

  

        </ul>
        <p><strong>Anuncios</strong></p>
        <div class="table-responsive">
                <table class="table">
                  <caption>
                  Anuncios
                  </caption>
                  <thead>
                    <tr>
                      <th scope="col">Nombre Anuncio</th>
                      <th scope="col">Fecha publicación</th>
                      <th scope="col">Anuncio</th>
                    </tr>
                  </thead>

                  <tbody>


                <tr>
                  <th scope="row">Alpha Proteccion SICAV S.A.</th>

                  <td>21 de abril de 2023</td>
                  <td>
                    <a href="/doc/legal/singulargestion/anuncios/AlphaProteccionSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
                  </td>
                </tr>

                <tr>
                  <th scope="row">Arpoador Oceano de Inversiones SICAV S.A.</th>
                  <td>21 de abril de 2023</td>
                  <td>
                    <a href="/doc/legal/singulargestion/anuncios/ArpoadorOceanodeInversionesSicavAnuncio convocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
                  </td>
                </tr>

                <tr>
                  <th scope="row">Bombay Investment Office SICAV, S.A.</th>
                  <td>21 de abril de 2023</td>

                  <td>
                    <a href="/doc/legal/singulargestion/anuncios/BombayInvestmentOfficeSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
                  </td>
                </tr>

                <tr>
                  <th scope="row">Eko Investment Capital SICAV S.A.</th>
                  <td>21 de abril de 2023</td>
                  <td>
                    <a href="/doc/legal/singulargestion/anuncios/EkoInvestmentCapitalSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>

                  </td>
                </tr>

                <tr>
                  <th scope="row">Emeritus Capital SICAV S.A.</th>
                  <td>21 de abril de 2023</td>

                  <td>
                    <a href="/doc/legal/singulargestion/anuncios/EmeritusCapitalSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
                  </td>
                </tr>

              <tr>
                <th scope="row">Inverpolo Veintiuno SICAV S.A.</th>
                <td>21 de abril de 2023</td>
                <td>
                  <a href="/doc/legal/singulargestion/anuncios/InverpoloVeintiunoSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
                </td>
              </tr>
            <tr>
              <th scope="row">Inversiones Financieras Personales SICAV S.A.</th>
              <td>21 de abril de 2023</td>
              <td>
                <a href="/doc/legal/singulargestion/anuncios/InversionesFinancierasPersonalesSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
              </td>
            </tr>

          <tr>
            <th scope="row">Kruger Selección SICAV, S.A.</th>
            <td>21 de abril de 2023</td>
            <td>
              <a href="/doc/legal/singulargestion/anuncios/KrugerSelecciSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
            </td>
          </tr>

      <tr>
        <th scope="row">Sevidon SICAV S.A.</th>

        <td>21 de abril de 2023</td>
        <td>
          <a href="/doc/legal/singulargestion/anuncios/SevidonSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
        </td>
      </tr>

<tr>
<th scope="row">Sinfonia Capital SICAV S.A.</th>

	<td>21 de abril de 2023</td>
	<td>
    <a href="/doc/legal/singulargestion/anuncios/SinfoniaCapitalSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
	</td>
</tr>

<tr>
  <th scope="row">Thishul Investment SICAV S.A.</th>
	<td>21 de abril de 2023</td>
	<td>
    <a href="/doc/legal/singulargestion/anuncios/ThishulInvestmentSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>

	</td>
</tr>

<tr>
<th scope="row">Xabek Investment SICAV S.A.</th>
	<td>21 de abril de 2023</td>
	<td>
    <a href="/doc/legal/singulargestion/anuncios/XabekInvestmentSicavAnuncioconvocatoriaJuntaGeneralOrdinaria.pdf" target="_self">Anuncio</a>
	</td>
</tr>














                <tr>
                  <th scope="row">Vertisol Cartera SICAV S.A. - Anuncio Reducción de Capital</th>

                  <td>02 de febrero de 2023</td>
                  <td>
                    <a href="/doc/legal/singulargestion/anuncios/VertisolCarteraSICAV_AnuncioReduccionCapital.pdf" target="_self">Anuncio</a>
                  </td>
                </tr>

                  <tr>
                    <th scope="row">Vertisol Cartera SICAV S.A. - Anuncio Reducción de Capital</th>
                
                    <td>02 de febrero de 2023</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/VertisolCarteraSICAV_AnuncioReduccionCapital.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>


                  <tr>
                    <th scope="row">Rentabilidad 2009 SICAV S.A. </th>
                      <td>25 de enero de 2023</td>
                      <td>
                    <a href="/doc/legal/singulargestion/anuncios/Rentabilidad2009SICAV-SA-Anuncioconvocatoria-JuntaGeneralExtraordinaria.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>

                  <tr>
                  <th scope="row">Dossau de Inversiones SICAV S.A - Anuncio Derecho Reinversión</th>


                    <td>13 de enero de 2023</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/DossauInversionesSICAVSA-Anuncio-Derecho-Reinversión.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Vertisol Cartera SICAV S.A</th>
                    <td>21 de diciembre de 2022</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/Anuncio-convocatoria-Junta-General-Extraordinaria.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Mosefra SICAV S.A. - Anuncio Derecho Reinversión
                    </th>
                    <td>20 de diciembre de 2022</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/Mosefra-anuncio-derechoreinversion.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>

                  <tr>
                  <th scope="row">Cova Inversiones SICAV S.A. - Anuncio Derecho Reinversión</th>

                  <td>20 de diciembre de 2022</td>

                    <td>
<a href="/doc/legal/singulargestion/anuncios/CovaInversiones-anuncioderechoreinversion.pdf" target="_self">Anuncio</a>

                    </td>
                  </tr>

                  <tr>
                  <th scope="row">Blacksmith Inversiones SICAV S.A. - Anuncio Derecho Reinversión
                  </th>

                  <td>20 de diciembre de 2022</td>

                    <td>
<a href="/doc/legal/singulargestion/anuncios/BlacksmithInversiones-anuncioderechoreinversion.pdf" target="_self">Anuncio</a>


                    </td>
                  </tr>

                  <tr>
                  <th scope="row">
                    Tarracisa SICAV S.A. - Anuncio Derecho Reinversión
                  </th>

                    </th>

                    <td>20 de diciembre de 2022</td>

                    <td>
<a href="/doc/legal/singulargestion/anuncios/Tarracisa-anuncioderecho-reinversion.pdf" target="_self">Anuncio</a>



                    </td>
                  </tr>


                  <tr>
                    <th scope="row">Bonicaire</th>
                    <td>30 de noviembre de 2022</td>
                    <td>
                  <a href="/doc/legal/singulargestion/anuncios/bonicaireSICAV_Anuncio.pdf" target="_self">Anuncio</a>

                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Cosimin</th>
                    <td>28 de noviembre de 2022</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/COSIMINSICAV-Anuncio.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Wisdom Capital Preservation SICAV S.A. - Anuncio Derecho Reinversión</th>
                    <td>23 de noviembre de 2022</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/WisdomCapitalPreservationSICAV_Anuncioderechoreinversion.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Dossau de Inversiones SICAV S.A.</th>
                    <td>23 de noviembre de 2022</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/DossauInversionesSICAV_AnuncioConvocatoriaJuntaGeneralOrdinariaExtraordinaria.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>
                  <tr>
                  <th scope="row">Tarracia SICAV S.A</th>
                    <td>11 de noviembre de 2022</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/tarracisaSICAVSAconvocatoria-JuntaGeneralOrdinariaExtraordinaria.pdf" target="_self">Anuncio</a>

                    </td>
                  </tr>

                  <tr>
                  <th scope="row">Cova Inversiones SICAV S.A.</th>

                    <td>3 de noviembre de 2022</td>
                    <td>
                  <a href="/doc/legal/singulargestion/anuncios/CovaInversionesSICAV_AnuncioConvocatoriaJuntaGeneralExtraordinaria.pdf" target="_self">Anuncio</a>

                    </td>
                  </tr>

                  <tr>
                  <th scope="row">Blacksmith Inversiones SICAV S.A.</th>

                    <td>3 de noviembre de 2022</td>
                    <td>
                  <a href="/doc/legal/singulargestion/anuncios/BlacksmithInversionesSICAV_AnuncioConvocatoriaJuntaGeneralExtraordinaria.pdf" target="_self">Anuncio</a>

                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Mosefra SICAV S.A.</th>
                    <td>3 de noviembre de 2022</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/MosefraSICAV_AnuncioConvocatoriaJuntaGeneralExtraordinaria.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>

                  <tr>
                  <th scope="row">Eumañi Inversiones SICAV S.A. - Anuncio Derecho Reinversión</th>
                    <td>3 de noviembre de 2022</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/EumañiInversionesSICAV_Anuncio-derecho-reinversión.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Key Rate Inversiones SICAV S.A. - Anuncio Derecho Reinversión</th>
                    <td>3 de noviembre de 2022</td>
                    <td>
                      <a href="/doc/legal/singulargestion/anuncios/KeyRateInversionesSICAV_Anuncio-derecho-reinversión.pdf" target="_self">Anuncio</a>
                    </td>
                  </tr>

                <tr>
                  <th scope="row">Alava Inversiones SICAV S.A.</th>
                  <td>25 de octubre de 2022</td>
                  <td>
                    <a href="/doc/legal/singulargestion/anuncios/Alava-Inversiones-SICAVSA-Anuncio-convocatoria-Junta-General-Extraordinaria.pdf" target="_self">Anuncio</a>

                  </td>
                </tr>

                    <tr>
                      <th scope="row">Atelana Investment SICAV S.A.</th>
                      <td>29 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/atelana_investment_sicavsa_anuncio_convocatoria_junta_general_ordinaria_y_extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    {# <tr>
                      <th scope="row">Dossau de Inversiones SICAV S.A.</th>
                      <td>29 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/dossau_de_inversiones_sicavsa_anuncio_convocatoria_junta_general_ordinaria-y_extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr> #}
                    <tr>
                      <th scope="row">Tarracisa SICAV S.A.</th>
                      <td>29 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/tarracisa_sicavsa_anuncio_convocatoria_junta_general_ordinaria_y_extraordinaria" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Vertisol Cartera SICAV S.A.</th>
                      <td>29 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/vertisol_cartera_sicavsa_anuncio_convocatoria_junta-general_ordinaria_y_extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Wisdom Capital Preservation SICAV S.A.</th>
                      <td>29 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/wisdom_capital_preservation_sicavsa_anuncio_convocatoria_junta_general_ordinaria_y_extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Alcofam SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>22 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/alcofam-sicav-anuncio-otorgando-plazo-para-reinvertir.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Blacksmith Inversiones SICAV S.A.</th>
                      <td>22 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/blacksmith-inversiones-sicavsa-anuncio-convocatoria-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Cova Inversiones SICAV S.A.</th>
                      <td>22 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/cova-inversiones-sicavsa-anuncio-convocatoria-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Eumañi Inversiones SICAV S.A.</th>
                      <td>22 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/eumani-inversiones-sicavsa-anuncio-convocatoria-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Key Rate Inversiones SICAV S.A.</th>
                      <td>22 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/key-rate-inversiones-sicavsa-anuncio-convocatoria-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Reyza Inversiones y Gestión SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>22 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/reyza-inversiones-y-gestion-sicav-anuncio-otorgando-plazo-para-reinvertir.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Springmax S.A. SICAV - Anuncio Derecho Reinversión</th>
                      <td>22 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/springmax-sicav-anuncio-otorgando-plazo-para-reinvertir.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Inversiones Gem 2000 SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>15 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/inversiones-gem-2000-sicav-anuncio-otorgando-plazo-para-reinvertir.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Cosimin SICAV S.A.</th>
                      <td>15 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/cosimin-anuncio-junta-general-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Bizcochero Inversiones SICAV S.A.</th>
                      <td>15 de septiembre de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/bizcochero-inversiones-anuncio-junta-general-extraordinaria-de-traspaso.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Juferuca SICAV S.A.</th>
                      <td>19 de agosto de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/juferuca-junta-general-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Capilopa SICAV S.A. - Anuncio Reducción de Capital</th>
                      <td>15 de julio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/capilopa-reduccion-capital.pdf" target="_self">Anuncio</a></td>
                    </tr>
                     <tr>
                      <th scope="row">Burmas Inversiones SICAV S.A.</th>
                      <td>14 de julio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/burmas-inversiones-ordinaria-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                     <tr>
                      <th scope="row">Donadio Inversiones SICAV S.A.</th>
                      <td>14 de julio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Moterfin SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>14 de julio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/moterfin-derecho-reinversion.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Tresim Inversiones SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>14 de julio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/tresim-inversiones-derecho-reinversion.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Springmax S.A. SICAV</th>
                      <td>1 de julio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/springmax-sa-sicav-announcement.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Herzen Invest SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>1 de julio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/herzen-invest-sicav-sa-announcement.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Sega 2008 SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>1 de julio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/sega-2008-sicav-sa-announcement.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Key Rate Inversiones SICAV S.A.</th>
                      <td>28 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/key-rate-inversiones-sicav-sa-anuncio-convocatoria-junta-general-ordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Pantico Invest SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>28 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/pantico-invest-sicav-sa-anuncio-derecho-reinversion.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Cova Inversiones SICAV S.A.</th>
                      <td>24 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/cova-inversiones-convocatoria-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Blacksmith Inversiones SICAV S.A.</th>
                      <td>24 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/blacksmith-inversiones-convocatoria-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Inversiones Financieras Personales SICAV S.A.</th>
                      <td>24 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/inversiones-financieras-personales-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Inversiones Gem 2000 SICAV S.A.</th>
                      <td>24 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/inversiones-gem-2000-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Jemper Ahorro SICAV S.A.</th>
                      <td>21 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/jemper-ahorro-sicav-sa-june-2022.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Alcofam SICAV S.A.</th>
                      <td>17 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/alcofam-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Cartera Alfabia SICAV S.A.</th>
                      <td>17 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/cartera-alfabia-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Ceres Inversiones SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>17 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/ceres-inversiones-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Inverplus Actius Mobiliaris SICAV S.A. - Anuncio Derecho Reinversión</th>
                      <td>17 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/inverplus-actius-mobiliaris-derecho-reinversion.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Previgalia Instituciones SICAV S.A.</th>
                      <td>17 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/previgalia-instituciones-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Reyza Inversiones y Gestión SICAV S.A.</th>
                      <td>17 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/reyza-inversiones-y-gestion-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Vidmes Financial SICAV S.A.</th>
                      <td>16 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/anuncio-convocatoria-junta-general-estraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Capilopa SICAV S.A.</th>
                      <td>2 de junio de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/capilopa-sicav-anuncio-2-de-junio-de-2022.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Tresim Inversiones SICAV S.A.</th>
                      <td>31 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/tresim-inversiones-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Moterfin SICAV S.A.</th>
                      <td>31 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/moterfin-sicav-s-a-31-de-mayo-de-2022.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Kaiondo 2010 SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/kaiondo-2010-sicav-general-ordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Juferuca SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/juferuca-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Mosefra SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/mosefra-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Rentabilidad 2009 SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/rentabilidad-2009-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Sevidon SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/sevidon-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Sinfonia Capital SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/sinfonia-capital-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Thishul Investment SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/thishul-investment-sicav-as-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Vertisol Cartera SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/vertisol-carterasicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Vidmes Financial SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/vidmes-financial-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Xabek Investment SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/xabek-investment-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Anitram Cartera de Valores SICAV S.A.</th>
                      <td>27 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/anuncio-convocatoria-junta-general-ordinaria .pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Alava Inversiones SICAV S.A.</th>
                      <td>26 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/alava-inversiones-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Alpha Proteccion SICAV S.A.</th>
                      <td>26 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/alpha-proteccion-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Arpoador Oceano de Inversiones SICAV S.A.</th>
                      <td>26 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/arpoador-oceano-de-inversiones-sicav-sa.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Bizcochero Inversiones SICAV S.A.</th>
                      <td>26 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/bizcochero-inversiones-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Cosimin SICAV S.A.</th>
                      <td>26 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/cosimin-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Eko Investment Capital SICAV S.A.</th>
                      <td>26 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/eko-investment-capital-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Emeritus Capital SICAV S.A.</th>
                      <td>26 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/emeritus-capital-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Inverpolo Veintiuno SICAV S.A.</th>
                      <td>26 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/inverpolo-veintiuno-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Jemper Ahorro SICAV S.A.</th>
                      <td>26 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/jemper-ahorro-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Corso Iniciatives Financeres SICAV S.A.</th>
                      <td>20 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/corso-iniciatives-financeres-sicav.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Platino Financiera SICAV S.A.</th>
                      <td>20 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/platino-financiera-sicav-anuncio-convocatoria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Sega 2008 SICAV S.A.</th>
                      <td>20 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/sega-2008-sicav-anuncio-convocatoria-junta.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Herzen Invest SICAV S.A.</th>
                      <td>20 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/herzen-invest-sicav-s-a.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Jomarjana Inversiones 2006 SICAV S.A.</th>
                      <td>18 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/jomarjana-inversiones-2006-sicav.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Infar 2000 SICAV S.A.</th>
                      <td>11 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/infar-2000-sicav-sa-anuncio-convocatoria-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Tarracisa SICAV S.A.</th>
                      <td>11 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/tarracisa-sicav-anuncio-convocatoria-junta-general-ordinaria-y-extraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Bonicaire SICAV S.A.</th>
                      <td>6 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/bonicaire-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Columbus Inversiones 2000 SICAV S.A.</th>
                      <td>6 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/columbus-inversiones-2000-sicav-sa-anuncio.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Cartera Tabla Azul SICAV S.A.</th>
                      <td>6 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/cartera-tabla-azul-sicav-anuncio-convocatoria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Ceres Inversiones SICAV S.A.</th>
                      <td>5 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/ceres-inversiones-anuncio-convocatoria-junta-general-ordinaria-y-estraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Pantico Invest SICAV S.A.</th>
                      <td>5 de mayo de 2022</td>
                      <td><a href="/doc/legal/singulargestion/anuncios/pantico-invest-anuncio-convocatoria-junta-general-ordinaria-y-estraordinaria.pdf" target="_self">Anuncio</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <h2 id="fondos">Fondos de inversión</h2>


        <p>Nuestros fondos de inversión cubren toda la gama de rentabilidad/riesgo: Renta Fija, Asset Allocation, Renta Variable y de Retorno Absoluto.</p>
        <p><strong>Información legal</strong></p>
        <ul>
        <li>
          <a href="/dalmatian/">Dalmatian FI</a></li>
        </li>
        <li>
          <a href="/global-diversification/">Global Diversification Fund FI</a>
        </li>
          <li>
          <a href="/global-value/">Global Value Selection FI</a>
          </li>
          <li>
            <a href="/principium/">Principium FI</a>
          </li>
          <li>
            <a href="/swm-capital/">SWM Capital 2 Plus FI</a>
          </li>
        
          <li>
            <a href="/swm-esp/">SWM España Gestión Activa FI</a>
          </li>

          <li>
            <a href="/swm-estrategia/">SWM Estrategia Renta Variable FI</a>
            </li>

          <li>
            <a href="/swm-global/">SWM Global Flexible FI</a>
          </li>
          <li>
            <a href="/swm-renta-fija/">SWM Renta Fija Flexible FI</a>
          </li>

          <li>
            <a href="/swm-rentaFijaObjetivo2025/">SWM Renta Fija Objetivo 2025</a>
          </li>


          {# <li>
            <a href="/swm-renta/">SWM Renta Gestión Activa FI</a>
          </li> #}

          {# <li>
            <a href="/swm-retorno/">SWM Retorno Activo FI</a>
          </li> #}

          <li>
            <a href="/swm-valor/">SWM Valor FI</a>
          </li>

          <li>
            <a href="/tarfondo/">Tarfondo FI</a>
          </li>

        </ul>
        <p><strong>Anuncios</strong></p>

        <table class="table">
          <caption>
            Anuncios
          </caption>
          <thead>
            <tr>
              <th scope="col">Nombre Anuncio</th>
              <th scope="col">Fecha publicación</th>
              <th scope="col">Anuncio</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">Anuncio fusión SWM Mixto Gestión Activa FI y SWM Retorno Activo FI</th>

                <td>28 de diciembre de 2022</td>
                <td>
                  <a href="/doc/legal/singulargestion/anuncios/AnunciofusionSWMMixtoGestionActivaFISWMRetornoActivoFI.pdf" target="_self">Anuncio</a>
                </td>
              </tr>

            <tr>
              <th scope="row">SWM Corto Plazo FI y SWM Renta Gestión Activa FI</th>

              <td>28 de noviembre de 2022</td>
              <td>
                <a href="/doc/legal/singulargestion/anuncios/SWMCORTOPLAZOS-WMRENTAGESTIONACTIVA.pdf" target="_self">Anuncio</a>
              </td>
            </tr>
          </tbody>
          
        </table>

      </div>
    </div>
  </div>
</section>


{% endblock %}
