{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>

<h1 class="c-news__title">Singular Bank continúa su crecimiento en España con la apertura de una nueva oficina en Bilbao</h1>

<ul>
  <li>
    <p>Estas incorporaciones refrendan la apuesta de la entidad por el mercado catalán, impulsando así su estrategia de crecimiento continuo mediante la atracción del mejor talento</p>
  </li>
  <li>
    <p>Actualmente, la oficina de Barcelona del banco cuenta con un equipo conformado por 13 profesionales, desde donde ofrece asesoramiento independiente, gestión discrecional de inversiones y servicios de asesoramiento a grandes patrimonios</p>
  </li>

  <li>
    <p>Con la experiencia en el sector de estos perfiles, Singular Bank busca satisfacer la creciente demanda de clientes a medida que se incrementa su actividad en Cataluña</p>
  </li>
</ul>


      <p class="c-news__fecha">Madrid, 20 de septiembre de 2023</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
<p>
	Singular Bank continúa su expansión en Cataluña y fortalece su equipo local con cinco nuevas incorporaciones. De este modo, la entidad busca satisfacer la creciente demanda de clientes a medida que se incrementa su actividad en esta plaza.</p>


<p>
Con la experiencia que aúnan en el sector, Alberto Roca, Antoni Liébana, Arnau Pericas y Armand Ferrer se incorporan a Singular Bank como Banqueros Senior, mientras que Xavi Sánchez se une a la entidad como jefe de equipo.

</p>


<p>
Cataluña es un mercado muy importante para Singular Bank. Con oficina propia en Barcelona, la entidad ofrece asesoramiento independiente, gestión discrecional de inversiones y servicios de asesoramiento a grandes patrimonios. Estas cinco incorporaciones, que refrendan la apuesta del banco por el mejor talento, incrementan notablemente el tamaño de la oficina de Singular Bank en Barcelona, conformando así un equipo de 13 profesionales.

</p>


<p>
Alberto Roca, quien previamente ocupaba el cargo de Director de Banca Privada en Barcelona en Deutsche Bank, cuenta con más de 15 años de experiencia en el sector financiero. Licenciado en Administración y Dirección de Empresas y en Derecho por la Universitat Pompeu Fabra, posee el Máster de Especialización en Banca Privada y Asesoramiento Financiero del Instituto de Estudios Bursátiles (IEB).</p>
<p>Por su parte, Antoni Liébana, hasta ahora Director de Banca Privada en Barcelona en Deutsche Bank, se incorpora a Singular Bank como Banquero Senior. Previamente, desarrolló su carrera en Mutuactivos y con anterioridad en Inversis. Liébana es Licenciado en Derecho por la Universidad de Barcelona, posee el Máster European Financial Advisor de la Universidad de Barcelona y un Posgrado de Gestión Patrimonial, otorgado por el Instituto de Estudios Financieros.
</p>



<p>Arnau Pericas, Gestor de Banca Privada en Deutsche Bank desde 2017 y con experiencia previa Catalunya Caixa, se une al equipo de Singular Bank como Banquero Senior. Pericas es Licenciado en Administración y Dirección de Empresas por la Universidad Pompeu Fabra, y cuenta con un posgrado en Fiscalidad Financiera por la misma universidad.</p>
<p>Con más de 26 años de experiencia, Armand Ferrer se incorpora como Banquero Senior, proveniente de Deutsche Bank, entidad para la que ejerció durante más de 10 años como Investment Advisor. Previamente, ejerció en Banco Fibanc, Cajasol y Caixa Laietana. Licenciado en Administración y Dirección de Empresas por ESIC, está especializado en Banca y Mercados Financieros por ESADE.</p>
<p>Por último, se une como Jefe de Equipo en Singular Bank Xavier Sánchez, quien cuenta con 20 años de experiencia, habiendo desarrollado la totalidad de su carrera en Deutsche Bank. Xavi es licenciado en Derecho por la Universidad Pompeu Fabra de Barcelona, con especialización por ESADE en Desarrollo Directivo y también cuenta con una especialidad como Financial Advisor por el Instituto de Estudios Bursátiles de Madrid.</p>

<p>José Salgado, Director General de Singular Bank, ha destacado: <i>“Con esta incorporación de talento, en Singular Bank reforzamos nuestro compromiso con el asesoramiento financiero y la gestión patrimonial de calidad, consolidando nuestra posición en el mercado financiero de Barcelona y ofreciendo un servicio aún más especializado y cercano a nuestros clientes”</i>.</p>
<p>Por su parte, Albert Gavaldá, Director de la oficina de Singular Bank en Barcelona, señaló que <i>“Estamos encantados de que nuestro equipo crezca con nuevas incorporaciones, cuya experiencia, sin duda, enriquecerá nuestros servicios en Cataluña y la propuesta diferencial en gestión de activos y asesoramiento que caracteriza a Singular Bank.”</i></p>

<h2>Sobre Singular Bank</h2>
<p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>
<p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 80.000 millones de dólares y más de 55 años de experiencia. Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.
Con tan solo tres años de trayectoria, la entidad ha sido galardonada en 2023 como “Mejor entidad en Transformación en Banca Privada de España” y “Mejor Banca Privada de España para la Inversión Sostenible” por la prestigiosa revista Euromoney. </p>



        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 