{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> 

        <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a>

        <h1 class="c-news__title">Singular Asset Management SGIIC premiada por segundo año consecutivo como "Mejor Gestora de España 2024"</h1>


<p>Nos complace comunicaros que la organización
	<strong>European Funds Trophy</strong> ha otorgado a <strong>Singular Asset Management SGIIC</strong> el Premio a la <strong>“Mejor gestora de España 2024”</strong>, en la categoría de gestoras de 16 a 25 fondos</p>

 <p>Los European Funds Trophy son unos premios a la excelencia en la gestión de activos organizados por la agencia de calificación de fondos FundClass en colaboración con un grupo de medios de prensa europeos entre los que se encuentran El País (España), La Stampa (Italia), LCI, Paperjam, Le Temps, Le Monde (Francia) y FundSquare.</p>

<p>Los European Funds Trophy European Funds Trophy (european-funds-trophy.eu) son unos premios a la excelencia en la gestión de activos organizados por la agencia de calificación de fondos FundClass en colaboración con un grupo de medios de prensa europeos entre los que se encuentran El País (España), La Stampa (Italia), LCI, Paperjam, Le Temps, Le Monde (Francia) y FundSquare.</p>

      

<p><strong>En la edición de los premios de 2024, el jurado ha seleccionado a Singular Asset Management como la gestora española con mejores calificaciones en sus fondos, en la categoría de 16 a 25 fondos gestionados.</strong></p>

<p>A modo de referencia, los premios analizan y reconocen los fondos de inversión de las principales gestoras del mercado tanto a nivel nacional, como internacional. </p>

<p>Fundclass utiliza una metodología cuantitativa basada en la rentabilidad ajustada al riesgo que permite determinar cuáles son las gestoras que ofrecen una rentabilidad destacada y consistente en el tiempo, frente a sus competidores, lo que es clave para la selección de los galardonados. 
Fundclass utiliza una metodología cuantitativa basada en la rentabilidad ajustada al riesgo que permite determinar cuáles son las gestoras que ofrecen una rentabilidad destacada y consistente en el tiempo, frente a sus competidores, lo que es clave para la selección de los galardonados.  
Para más información sobre la metodología podéis consultar la web: Methodology | European Funds Trophy (european-funds-trophy.eu)
Se trata de una muy buena noticia de reconocimiento tanto a las amplias capacidades de nuestra gestora, como a la calidad, profesionalidad y consistencia de todo el equipo que lo conforma.</p>

 <div class="u-mb-4 text-center">
          <img data-src="/assets/images/noticias/selloColor2024.jpg" class="lazyload" alt="Sello Foundclass"/>
        </div>


<h2>Sobre Singular Asset Management SGIIC</h2>


<p>(*) Singular Asset Management SGIIC es una gestora de instituciones de inversión colectiva, regulada por la CNMV y perteneciente al grupo Singular Bank. Nuestros productos se basan en las decisiones independientes de los distintos equipos de gestores y analistas, el rigor a la hora de seguir las políticas de inversión y la dilatada experiencia de los profesionales que forman la gestora. Nuestras soluciones de inversión buscan aportar un valor diferencial a las carteras de los inversores ya sea por la solidez de su trayectoria o por contar con una estrategia novedosa.</p>


<p>Singular Asset Management SGIIC ha sido premiada como “Mejor Gestora de España 2023” por los Premios European Funds Trophy, en la categoría de 16 a 25 fondos.</p>


        <h2>Sobre Singular Bank</h2>

<p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>


<p>Está conformado por un equipo de más de 350 profesionales, 15 oficinas (repartidas entre Madrid, Barcelona, La Coruña, Valencia, Málaga, Zaragoza, Murcia, Sevilla, León y Las Palmas) y más de 170 banqueros y agentes financieros que gestionan 15.000 millones de Euros de patrimonio de clientes.</p>


<p>Adicionalmente cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 85.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</p>


		
      </div>
    </div>
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 