<div class="c-news-item">
  <a href="/warburg-pincus-completa-la-adquisicion-de-self-bank/" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-10-19.jpg" class="lazyload" alt="Equipo Málaga" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
  <h3 class="c-news__title">Singular Bank amplía su presencia en España con nuevas oficinas en Málaga</h3>
  <p class="c-news__fecha">Singular Bank - 19/10/2021</p>
  <p class="c-news__excerpt">El banco, especializado en servir a los clientes con ahorros consolidados, que ya cuenta con 7 oficinas en otras capitales, se instala en la ciudad andaluza con el objetivo de acercar su oferta a los clientes de Málaga que buscan una banca privada diferente.</p>
  <a href="/warburg-pincus-completa-la-adquisicion-de-self-bank/" class="c-button">Leer más</a>
</div>
