<div class="c-news-item">
  <a href="/singular-bank-promueve-y-preside-el-cluster-de-ciberseguridad-de-madrid/" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-10-06.jpg" class="lazyload" alt="Clúster de Ciberseguridad de Madrid" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
   <h3 class="c-news__title">Singular Bank promueve y preside el Clúster de Ciberseguridad de Madrid</h3>
  <p class="c-news__fecha">SINGULAR BANK - 06/10/2020</p>
  <p class="c-news__excerpt">Damián Ruiz, Director de Seguridad de la Información de Singular Bank, presidirá el Clúster de Ciberseguridad de Madrid.</p>
  <a href="/singular-bank-promueve-y-preside-el-cluster-de-ciberseguridad-de-madrid/" class="c-button">Leer más</a>
</div>
