<div class="c-news-item">
  <a href="/nace-singular-bank-un-banco-con-un-claro-posicionamiento/" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-01-14.jpg" class="lazyload" alt="Presentación Singular Bank" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
  <h3 class="c-news__title">Nace Singular Bank, un banco con un claro posicionamiento: “No es para todos. Es para ti”</h3>
  <p class="c-news__fecha">Singular Bank - 14/01/2020</p>
  <p class="c-news__excerpt">No es para todos. Es para ti” sintetiza el objetivo de Singular de crear un banco que se adapta al cliente, y no al revés.</p>
  <a href="/nace-singular-bank-un-banco-con-un-claro-posicionamiento/" class="c-button">Leer más</a>
</div>