<div class="c-news-item">
  <a href="/acuerdo-estrategico-con-quintet-privat" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-12-21.jpg" class="lazyload" alt="Cubo de rubik" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
   <h3 class="c-news__title">Singular Bank firma un acuerdo estratégico con Quintet Private Bank</h3>
  <p class="c-news__fecha">Singular Bank - 21/12/2020</p>
  <p class="c-news__excerpt">El acuerdo contribuye a la aceleración del plan de expansión de Singular Bank en España, a la vez que permite a Quintet poner su foco en el crecimiento a largo plazo en sus mercados internacionales estratégicos.
</p>
  <a href="/acuerdo-estrategico-con-quintet-privat" class="c-button">Leer más</a>
</div>
