<div class="c-news-item">
  <a href="/ha-llegado-la-hora-de-las-telefinanzas/" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-10-05.jpg" class="lazyload" alt="Día de la Educación Financiera" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
   <h3 class="c-news__title">¿Ha llegado la hora de las telefinanzas?</h3>
  <p class="c-news__fecha">SINGULAR BANK - 05/10/2020</p>
  <p class="c-news__excerpt">Singular Bank apuesta por el aprendizaje de finanzas de forma telemática, con motivo del Día de la Educación Financiera, que se celebra este año el día 5 de octubre.</p>
  <a href="/ha-llegado-la-hora-de-las-telefinanzas/" class="c-button">Leer más</a>
</div>
