<div class="c-news-item">
  <a href="/como-construir-un-buen-colchon/" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-10-30.jpg" class="lazyload" alt="artículo sobre ahorro" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
   <h3 class="c-news__title">Cómo construir un buen colchón</h3>
  <p class="c-news__fecha">SINGULAR BANK - 30/10/2020</p>
  <p class="c-news__excerpt">Singular Bank pone de relieve, en el Día Mundial del Ahorro, la importancia del ahorro a largo plazo para sobrellevar momentos complicados y lograr algunas metas en nuestra vida.</p>
  <a href="/como-construir-un-buen-colchon/" class="c-button">Leer más</a>
</div>
