<div class="c-news-item">
  <a href="/acuerdo-estrategico-con-UBS" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-10-25.jpg" class="lazyload" alt="Imagen de Suiza" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
   <h3 class="c-news__title">Singular Bank llega a un acuerdo de adquisición con UBS</h3>
  <p class="c-news__fecha">Singular Bank - 25/10/2021</p>
  <p class="c-news__excerpt">Singular Bank llega a un acuerdo con UBS para adquirir su negocio de banca privada en España y desarrollar una colaboración estratégica con todas las divisiones de UBS.</p>
  <a href="/acuerdo-estrategico-con-UBS" class="c-button">Leer más</a>
</div>
