<div class="c-news-item">
  <a href="/adquisicion-belgravia-capital" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-03-23.jpg" class="lazyload" alt="Rascacielos" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
   <h3 class="c-news__title">Singular Bank culmina la adquisición de Belgravia Capital SGIIC SA</h3>
  <p class="c-news__fecha">Singular Bank - 23/03/2021</p>
  <p class="c-news__excerpt">La operación, anunciada en octubre de 2020, queda plenamente formalizada tras cumplir con los trámites regulatorios.
</p>
  <a href="/adquisicion-belgravia-capital" class="c-button">Leer más</a>
</div>
