<div class="c-news-item">
  <a href="/singular-bank-cumple-un-año-desde-su-lanzamiento/" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-01-14.jpg" class="lazyload" alt="Oficina de Singular Bank" />
  </a>
  <span class="c-news__category">Singular Bank</span>
   <h3 class="c-news__title">Singular Bank cumple un año desde su nacimiento</h3>
  <p class="c-news__fecha">Singular Bank - 14/01/2021</p>
  <p class="c-news__excerpt">La entidad ha aumentado el volumen de ingresos por comisiones en un 32,8% en los primeros 9 meses de 2020; el número de clientes ha crecido un 4% en 2020, se ha duplicado el crédito a la clientela, y cuenta con una ratio de solvencia superior al 30% y una ratio de liquidez LCR por encima de 3.600%.
  </p>
  <a href="/singular-bank-cumple-un-año-desde-su-lanzamiento/" class="c-button">Leer más</a>
</div>
