<div class="c-news-item">
  <a href="/singular-bank-amplia-su-presencia-con-la-inauguracion-de-una-oficina-en-leon/" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-01-12.jpg" class="lazyload" alt="Oficina de León, hall interior" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
   <h3 class="c-news__title">Singular Bank amplía su presencia con la inauguración de una oficina en León</h3>
  <p class="c-news__fecha">Singular Bank - 12/01/2022</p>
  <p class="c-news__excerpt">Al frente de la sucursal, que está ubicada en la Gran Vía de San Marcos, está Luis Bayón, un profesional leonés con más de 25 años en el sector bancario.</p>
  <a href="/singular-bank-amplia-su-presencia-con-la-inauguracion-de-una-oficina-en-leon/" class="c-button">Leer nota completa</a>
</div>
