<div class="c-news-item">
  <a href="/operacion-singular-ubs" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-07-29.jpg" class="lazyload" alt="Operacion Singular Bank y UBS" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
  <h3 class="c-news__title">Singular Bank obtiene las autorizaciones regulatorias para
	cerrar la adquisición de la unidad de banca privada de UBS en
	España</h3>

  <p class="c-news__fecha">Madrid - 29/07/2022</p>
<p class="c-news__excerpt">Culmina la operación entre Singular Bank y UBS</p>

  <a href="/operacion-singular-ubs" class="c-button">Leer nota completa</a>
</div>
