<div class="c-news-item">
  <a href="/crecimiento-global" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-12-9.jpg" class="lazyload" alt="Operacion Singular Bank y UBS" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
  <h3 class="c-news__title">Singular Bank considera que el crecimiento global no superará el 1,5% en 2023 y recomienda sobreponderar los bonos corporativos frente a la renta variable
  </h3>

  <p class="c-news__fecha">Madrid - 09/12/2022</p>
<p class="c-news__excerpt">Informe de las perspectivas macroeconómicas económicas y financieras 2023</p></p>

<a href="/crecimiento-global" class="c-button">Leer nota completa</a>

</div>
