<div class="c-news-item">
  <a href="/self-bank-by-singular-bank-recibe-el-premio-a-mejor-broker-multiproducto-en-la-VII-edicion-de-los-premios-rankia/" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-02-24.jpg" class="lazyload" alt="Ganador Rankia" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
   <h3 class="c-news__title">Self Bank by Singular Bank recibe el premio a Mejor Bróker Multiproducto en la VII edición de los Premios Rankia</h3>
  <p class="c-news__fecha">Singular Bank - 24/02/2022</p>
  <p class="c-news__excerpt">Los usuarios de la comunidad financiera de Rankia son los que eligen los ganadores de la VII edición de los Premios Rankia.</p>
  <a href="/self-bank-by-singular-bank-recibe-el-premio-a-mejor-broker-multiproducto-en-la-VII-edicion-de-los-premios-rankia/" class="c-button">Leer nota completa</a>
</div>
