<div class="c-news-item">
<a href="/nombramiento" title="Ver noticia" class="c-news__photo">


<img data-src="/assets/images/noticias/nombramiento-Marta-Raga.jpg" class="lazyload" alt="Nuevos depósitos de Self Bank"/>


  </a>
  <span class="c-news__category">Nota de prensa</span>


<h3 class="c-news__title">
	Singular Bank nombra a Marta Raga, Directora General - Consejera de Singular Asset Management SGIIC</h3>




<p class="c-news__fecha">MADRID - 05/10/2023</p>

<p class="c-news__excerpt">El nombramiento de Marta Raga, con más de 29 años de experiencia en el sector y de los cuales los últimos 4 han sido en Singular Bank construyendo la estrategia de Gestión Discrecional de Carteras, pone de manifiesto la apuesta de la entidad por promocionar el talento interno</p>

</p>




<a href="/nombramiento" class="c-button">Leer nota completa</a>



</div>
