<div class="c-news-item">
  <a href="/mejor-transformacion" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/20230525.jpg" class="lazyload" alt="Nuevo deposito"/>
  </a>
  <span class="c-news__category">Nota de prensa</span>


<h3 class="c-news__title">Título: Self Bank lanza un nuevo Depósito que ofrece el 2,75% TAE a dos años</h3>
<p>Se puede contratar para saldos entre los 25.000 euros y los 500.000 euros tanto
clientes actuales como nuevos clientes del banco</p>


<p class="c-news__fecha u-mb-xl">SELF BANK - 25/05/2023</p>


<a href="/self-bank" class="c-button">Leer nota completa</a>


</div>
