<div class="c-news-item">
  <a href="/nueva-oficina" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/300523.jpg" class="lazyload" alt="Nuevo deposito"/>
  </a>
  <span class="c-news__category">Nota de prensa</span>


<h3 class="c-news__title">Singular Bank continúa su crecimiento en España con la apertura de una nueva oficina en Bilbao</h3>

<p class="c-news__fecha">MADRID - 30/05/2023</p>

<p class="c-news__excerpt">Prestará servicio a todo el País Vasco, un enclave estratégico para la entidad.</p>


<a href="/nueva-oficina" class="c-button">Leer nota completa</a>



</div>
