<div class="c-news-item">
  <a href="/nuevo-equipo" title="Ver noticia" class="c-news__photo">

<img data-src="/assets/images/noticias/20230920.jpg" class="lazyload" alt="Nuevo equipo de banca privada"/>

  </a>
  <span class="c-news__category">Nota de prensa</span>


<h3 class="c-news__title">Singular Bank amplía su equipo de banca privada con 5 nuevos fichajes para consolidar su oficina de Barcelona</h3>


<p class="c-news__fecha">MADRID - 20/09/2023</p>

<p class="c-news__excerpt">Singular Bank continúa su expansión en Cataluña y fortalece su equipo local con cinco nuevas incorporaciones</p>



<a href="/nuevo-equipo" class="c-button">Leer nota completa</a>



</div>
