<div class="c-news-item">
<a href="/refuerzo-equipo" title="Ver noticia" class="c-news__photo">

<img data-src="/assets/images/noticias/20230306.jpg" class="lazyload" alt="Logo Euromoney"/>

  </a>
  <span class="c-news__category">Nota de prensa</span>


<h3 class="c-news__title">Singular Bank refuerza su equipo comercial con la incorporación de Carlos Benzanilla,
	Fernando Eguinoa y Luis Carabias</h3>
  <p>En la actualidad, Singular Bank cuenta con una red de 15 oficinas en el territorio
nacional que gestionan un total de 13.000 millones de euros de patrimonio bajo gestión</p>


<p class="c-news__fecha u-mb-xl">Madrid - 06/05/2023</p>

<a href="/refuerzo-equipo" class="c-button">Leer nota completa</a>

</div>
