<div class="c-news-item">
<a href="/nuevos-depositos" title="Ver noticia" class="c-news__photo">


<img data-src="/assets/images/noticias/nuevos-depositos-singular-bank.jpg" class="lazyload" alt="Nuevos depósitos de Self Bank"/>



  </a>
  <span class="c-news__category">Nota de prensa</span>


<h3 class="c-news__title">Nuevos depósitos de Self Bank, más rentables y flexibles: 3,05% a 3 meses, 3,20% a 6 meses, 3,30% a 12 meses</h3>



<p class="c-news__fecha">MADRID - 28/09/2023</p>

<p class="c-news__excerpt">Se puede contratar para saldos de entre 1.000 y 1.000.000 €, tanto por clientes actuales como nuevos clientes del banco
</p>




<a href="/nuevos-depositos" class="c-button">Leer nota completa</a>



</div>
