<div class="c-news-item">
<a href="/incorporaciones2" title="Ver noticia" class="c-news__photo" target="_blank">


<img data-src="/assets/images/noticias/cambios-consejo-singular-bank-2024.jpg" class="lazyload" alt="Imagen decorativa"/>




  </a>
<span class="c-news__category">NOTA DE PRENSA</span>

<h3 class="c-news__title">Singular Bank incorpora a Javier Vega de Seoane y a Dolores Ybarra a su consejo de administración</h3>

<p class="c-news__fecha">MADRID - 29/07/2024</p>


<p class="c-news__excerpt">Javier Vega de Seoane Azpilicueta, vocal independiente, será el nuevo presidente del consejo; mientras que Dolores Ybarra Castaño se incorpora como vocal independiente
</p>




<a href="/incorporaciones2" class="c-button" target="_blank">Leer nota completa</a>


</div>
