<div class="c-news-item">
<a href="/ruben-andres" title="Ver noticia" class="c-news__photo" target="_blank">



<img data-src="/assets/images/noticias/ruben-andres.jpg" class="lazyload" alt="Rubén Andrés"/>


  </a>
<span class="c-news__category">NOTA DE PRENSA</span>

<h3 class="c-news__title">Singular Bank nombra a Rubén Andrés Priego como Director General de Tecnología y Operaciones</h3>


<p class="c-news__fecha">MADRID - 15/01/2025</p>


<p class="c-news__excerpt">
	Con casi 20 años en banca y consultoría financiera, Rubén Andrés ha liderado proyectos clave en inteligencia artificial y transformación tecnológica, siendo reconocido con el premio IDC CIO 100 Spain 2022</p>




<a href="/ruben-andres" class="c-button" target="_blank">Leer nota completa</a>



</div>
