<div class="c-news-item">
<a href="/resultados-2025" title="Ver noticia" class="c-news__photo" target="_blank">




<img data-src="/assets/images/noticias/20230306.jpg" class="lazyload" alt="Logo Singular Bank"/>



  </a>
<span class="c-news__category">NOTA DE PRENSA</span>

<h3 class="c-news__title">Singular Bank logra un resultado positivo en 2025 por primera vez desde su creación y supera los 17.000 millones de euros gestionados</h3>



<p class="c-news__fecha">MADRID - 19/01/2026</p>


<p class="c-news__excerpt">La entidad entra en beneficios y consolida su liderazgo como banca privada independiente</p>





<a href="/resultados-2025" class="c-button" target="_blank">Leer nota completa</a>




</div>
