.u-mb-base {margin-bottom: spacing(base);}
.u-mb-1 {margin-bottom: spacing(1);}
.u-mb-2 {margin-bottom: spacing(2);}
.u-mb-3 {;
  margin-bottom: spacing(1);
  @include media-breakpoint-up(md) {
    margin-bottom: spacing(3);
  }
}
.u-mb-4 {
  margin-bottom: spacing(2);
  @include media-breakpoint-up(md) {
    margin-bottom: spacing(4);
  }
}


.u-mt-base {margin-top: spacing(base);}
.u-mt-1 {margin-top: spacing(1);}
.u-mt-2 {margin-top: spacing(2);}
.u-mt-3 {
  margin-top: spacing(1);
  @include media-breakpoint-up(md) {
    margin-top: spacing(3);
  }
}
.u-mt-4 {margin-top: spacing(4);}

.u-mb-xl {
  margin-bottom: 30px !important;
}
