{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero c-hero--noticias">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="c-hero__container">
          <h1>Noticias y<br /> notas de prensa</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="news-page">
  <div class="container">
    <div class="c-news__container u-mb-3">

{% include "noticias/en-medios/2026-03-05.twig" %}
{% include "noticias/en-medios/2026-02-02.twig" %}
{% include "noticias/en-medios/2026-01-26.twig" %}
{% include "noticias/notas-de-prensa/2026-01-19.twig" %}
{% include "noticias/en-medios/2026-01-14.twig" %}

{% include "noticias/notas-de-prensa/2025-03-28.twig" %}

{% include "noticias/en-medios/2025-01-22.twig" %}

{% include "noticias/notas-de-prensa/2025-01-15.twig" %}
{% include "noticias/en-medios/2025-01-14.twig" %}



{% include "noticias/en-medios/2024-12-31.twig" %}

{% include "noticias/en-medios/2024-12-19.twig" %}

{% include "noticias/en-medios/2024-12-10.twig" %}

{% include "noticias/en-medios/2024-11-17.twig" %}


{% include "noticias/en-medios/2024-10-29B.twig" %}


{% include "noticias/en-medios/2024-10-29.twig" %}

{% include "noticias/en-medios/2024-10-21.twig" %}

{% include "noticias/en-medios/2024-10-16.twig" %}


{% include "noticias/en-medios/2024-10-07.twig" %}

{% include "noticias/en-medios/2024-09-30.twig" %}

{% include "noticias/notas-de-prensa/2024-09-25.twig" %}
{% include "noticias/en-medios/2024-08-06.twig" %}

{% include "noticias/en-medios/2024-08-02.twig" %}

{% include "noticias/notas-de-prensa/2024-07-29.twig" %}

{% include "noticias/en-medios/2024-07-01.twig" %}

{% include "noticias/en-medios/2024-06-24.twig" %}

{% include "noticias/en-medios/2024-06-19.twig" %}

{% include "noticias/en-medios/2024-05-20.twig" %}

{% include "noticias/notas-de-prensa/2024-04-16.twig" %}

{% include "noticias/notas-de-prensa/2024-03-22.twig" %}

{% include "noticias/en-medios/2024-03-11.twig" %}

{# {% include "noticias/notas-de-prensa/2023-05-25.twig" %} #}
{% include "noticias/en-medios/2024-02-05.twig" %}

{% include "noticias/en-medios/2024-01-29.twig" %}

{% include "noticias/en-medios/2024-01-10.twig" %}

{% include "noticias/en-medios/2023-11-22.twig" %}


{% include "noticias/en-medios/2023-11-07.twig" %}

{% include "noticias/en-medios/2023-10-22.twig" %}

{% include "noticias/notas-de-prensa/2023-10-05.twig" %}


{% include "noticias/en-medios/2023-10-02.twig" %}

{% include "noticias/notas-de-prensa/2023-09-28.twig" %}
{% include "noticias/notas-de-prensa/2023-09-20.twig" %}
	{% include "noticias/en-medios/2023-07-01b.twig" %}
	{% include "noticias/en-medios/2023-07-01.twig" %}
	{% include "noticias/en-medios/2023-06-27.twig" %}
	{% include "noticias/en-medios/2023-06-21.twig" %}
	{% include "noticias/en-medios/2023-06-11.twig" %}
	{% include "noticias/en-medios/2023-06-02.twig" %}
{% include "noticias/notas-de-prensa/2023-05-30.twig" %}

	{% include "noticias/en-medios/2023-05-25.twig" %}
	
	{% include "noticias/en-medios/2023-05-11.twig" %}
	{% include "noticias/en-medios/2023-05-09.twig" %}
	{% include "noticias/notas-de-prensa/2023-05-06.twig" %}
		{% include "noticias/en-medios/2023-04-24.twig" %}

		{% include "noticias/notas-de-prensa/2023-03-31.twig" %}
		{% include "noticias/en-medios/2023-03-22b.twig" %}
		{% include "noticias/en-medios/2023-03-22.twig" %}
		{% include "noticias/en-medios/2023-03-16.twig" %}
		{% include "noticias/en-medios/2023-03-15.twig" %}
		{% include "noticias/en-medios/2023-03-08.twig" %}
		{% include "noticias/en-medios/2023-03-07.twig" %}

	

		{% include "noticias/en-medios/2023-03-06.twig" %}
		{% include "noticias/en-medios/2023-02-26.twig" %}
		{% include "noticias/en-medios/2023-02-22.twig" %}
		{% include "noticias/en-medios/2023-02-09.twig" %}
		{% include "noticias/en-medios/2023-02-07b.twig" %}
		{% include "noticias/en-medios/2023-02-07.twig" %}
		{% include "noticias/en-medios/2023-01-21.twig" %}
		{% include "noticias/en-medios/2023-01-18.twig" %}	
		{% include "noticias/en-medios/2023-01-07b.twig" %}
		{% include "noticias/en-medios/2023-01-07.twig" %}
		{% include "noticias/en-medios/2023-01-02b.twig" %}
		{% include "noticias/en-medios/2023-01-02.twig" %}
		{% include "noticias/en-medios/2022-12-28.twig" %}
		{% include "noticias/en-medios/2022-12-21b.twig" %}
		{% include "noticias/en-medios/2022-12-21.twig" %}
		{% include "noticias/notas-de-prensa/2022-12-9.twig" %}
		{% include "noticias/en-medios/2022-11-25.twig" %}
		{% include "noticias/en-medios/2022-11-01.twig" %}
		{% include "noticias/en-medios/2022-10-30.twig" %}
		{% include "noticias/en-medios/2022-10-23.twig" %}
		{% include "noticias/en-medios/2022-10-19.twig" %}
		{% include "noticias/en-medios/2022-10-02.twig" %}
		{% include "noticias/en-medios/2022-09-21.twig" %}
		{% include "noticias/en-medios/2022-09-16.twig" %}
		{% include "noticias/en-medios/2022-08-27.twig" %}
		{% include "noticias/notas-de-prensa/2022-07-29.twig" %}
		{% include "noticias/en-medios/2022-07-19.twig" %}
		{% include "noticias/en-medios/2022-07-12.twig" %}
		{% include "noticias/en-medios/2022-07-11.twig" %}
		{% include "noticias/en-medios/2022-07-08.twig" %}
		{% include "noticias/en-medios/2022-07-01-02.twig" %}
		{% include "noticias/en-medios/2022-07-01-01.twig" %}	 
		{% include "noticias/en-medios/2022-06-23.twig" %}
		{% include "noticias/en-medios/2022-06-26.twig" %}
		{% include "noticias/en-medios/2022-06-16.twig" %}
	  {% include "noticias/en-medios/2022-05-30.twig" %}
	  {% include "noticias/en-medios/2022-05-18.twig" %}
	  {% include "noticias/en-medios/2022-05-11.twig" %}
	  {% include "noticias/en-medios/2022-04-29.twig" %}
	  {% include "noticias/en-medios/2022-04-27.twig" %}
	  {% include "noticias/en-medios/2022-04-24.twig" %}
	  {% include "noticias/en-medios/2022-04-21.twig" %}
	  {% include "noticias/en-medios/2022-04-19.twig" %}
	  {% include "noticias/en-medios/2022-04-12.twig" %}
	  {% include "noticias/en-medios/2022-04-09.twig" %}
	  {% include "noticias/en-medios/2022-04-08.twig" %}

	  {% include "noticias/en-medios/2022-04-04.twig" %}
	  {% include "noticias/en-medios/2022-04-02.twig" %}
	  {% include "noticias/en-medios/2022-04-01.twig" %}
	  {% include "noticias/en-medios/2022-03-25.twig" %}
	  {% include "noticias/en-medios/2022-03-23.twig" %}
	  {% include "noticias/en-medios/2022-03-15.twig" %}
	  {% include "noticias/en-medios/2022-03-14.twig" %}
	  {% include "noticias/en-medios/2022-03-09.twig" %}
	  {% include "noticias/en-medios/2022-03-06.twig" %}
    {% include "noticias/en-medios/2022-03-03.twig" %}
	  {% include "noticias/notas-de-prensa/2022-02-24.twig" %}
	  {% include "noticias/en-medios/2022-02-16.twig" %}
	  {% include "noticias/en-medios/2022-01-20.twig" %}
	  {% include "noticias/en-medios/2022-01-13.twig" %}
	  {% include "noticias/notas-de-prensa/2022-01-12.twig" %}
	  {% include "noticias/en-medios/2021-12-27.twig" %}
	  {% include "noticias/en-medios/2021-12-13.twig" %}
	  {% include "noticias/en-medios/2021-12-02.twig" %}
	  {% include "noticias/en-medios/2021-11-11-02.twig" %}
	  {% include "noticias/en-medios/2021-11-11-01.twig" %}
	  {% include "noticias/en-medios/2021-11-08.twig" %}
	  {% include "noticias/notas-de-prensa/2021-10-19.twig" %}
	  {% include "noticias/en-medios/2021-09-22-02.twig" %}
	  {% include "noticias/en-medios/2021-09-22-01.twig" %}
	  {% include "noticias/en-medios/2021-09-19.twig" %}
	  {% include "noticias/en-medios/2021-09-08-02.twig" %}
	  {% include "noticias/en-medios/2021-09-08-01.twig" %}
	  {% include "noticias/en-medios/2021-08-21.twig" %}
	  {% include "noticias/en-medios/2021-08-06.twig" %}
	  {% include "noticias/en-medios/2021-07-30.twig" %}
	  {% include "noticias/en-medios/2021-07-29.twig" %}
	  {% include "noticias/en-medios/2021-07-28.twig" %}	
	  {% include "noticias/en-medios/2021-07-21.twig" %}	
	  {% include "noticias/en-medios/2021-07-14.twig" %}
	  {% include "noticias/en-medios/2021-07-10.twig" %}
	  {% include "noticias/en-medios/2021-07-08.twig" %}		
	  {% include "noticias/en-medios/2021-07-04.twig" %}
	  {% include "noticias/en-medios/2021-06-24.twig" %}
	  {% include "noticias/en-medios/2021-06-23.twig" %}
	  {% include "noticias/en-medios/2021-06-08-2.twig" %}
	  {% include "noticias/en-medios/2021-06-08-1.twig" %}
	  {% include "noticias/notas-de-prensa/2021-03-23.twig" %}
	  {% include "noticias/en-medios/2021-03-18.twig" %}
	  {% include "noticias/en-medios/2021-03-14.twig" %}
	  {% include "noticias/en-medios/2021-02-18.twig" %}
	  {% include "noticias/en-medios/2021-02-08.twig" %}
	  {% include "noticias/en-medios/2021-02-03-2.twig" %}
	  {% include "noticias/en-medios/2021-02-03.twig" %}
	  {% include "noticias/en-medios/2021-01-24.twig" %}
      {% include "noticias/notas-de-prensa/2021-01-14.twig" %}
	  {% include "noticias/en-medios/2020-12-25.twig" %}
	  {% include "noticias/notas-de-prensa/2020-12-21.twig" %}
	  {% include "noticias/en-medios/2020-11-22-02.twig" %}
	  {% include "noticias/en-medios/2020-11-22-01.twig" %}
	  {% include "noticias/en-medios/2020-11-16.twig" %}
	  {% include "noticias/en-medios/2020-11-14.twig" %}
	  {% include "noticias/en-medios/2020-11-13.twig" %}
	  {% include "noticias/en-medios/2020-11-09.twig" %}
	  {% include "noticias/notas-de-prensa/2020-10-30.twig" %}
	  {% include "noticias/en-medios/2020-10-29.twig" %}
	  {% include "noticias/en-medios/2020-10-22.twig" %}
	  {% include "noticias/en-medios/2020-10-16.twig" %}
	  {% include "noticias/notas-de-prensa/2020-10-13.twig" %}
	  {% include "noticias/notas-de-prensa/2020-10-05.twig" %}
	  {% include "noticias/notas-de-prensa/2020-10-06.twig" %}
	  {% include "noticias/en-medios/2020-09-30.twig" %}
	  {% include "noticias/en-medios/2020-09-25.twig" %}
	  {% include "noticias/en-medios/2020-07-22.twig" %}
	  {% include "noticias/en-medios/2020-06-25.twig" %}
	  {% include "noticias/en-medios/2020-06-10.twig" %}
	  {% include "noticias/en-medios/2020-03-18.twig" %}
	  {% include "noticias/en-medios/2020-03-10.twig" %}
	  {% include "noticias/en-medios/2020-02-28.twig" %}
	  {% include "noticias/notas-de-prensa/2020-02-14.twig" %}
	  {% include "noticias/notas-de-prensa/2020-01-14.twig" %}
      {% include "noticias/notas-de-prensa/2019-06-24.twig" %}
      {% include "noticias/en-medios/2019-05-16.twig" %}
      {% include "noticias/en-medios/2019-04-05.twig" %}
      {% include "noticias/en-medios/2018-06-05.twig" %}



      <div class="c-news__more">
        <a href="javascript:"  class="c-button c-button--outline js-button-see-more-news">Ver más noticias</a>
      </div>
    </div>
  </div>
</section>

{% include "_includes/ctabox.twig" %}


{% endblock %}
