<div class="c-news-item">
  <a href="xxxxxxxxxx" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/xxxxxxxxxxx.jpg" class="lazyload" alt="" />
  </a>
  <span class="c-news__category">xxxxxxxx</span>
  <h3 class="c-news__title">xxxxxxxxxx</h3>
  <p class="c-news__fecha">xxxxxxxxxx</p>
  <p class="c-news__excerpt">xxxxxxxxxx</p>
  <a href="xxxxxxxxxx" target="_blank" class="c-button">Leer más</a>
</div>
