<div class="c-news-item">
  <a href="xxxxxxxxx" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/xxxxxxxxx.jpg" class="lazyload" alt="xxxxxxxxx" />
  </a>
  <span class="c-news__category">Nota de prensa</span>
  <h3 class="c-news__title">xxxxxxxxx</h3>
  <p class="c-news__excerpt">xxxxxxxxx</p>
  <a href="xxxxxxxxx" class="c-button">Leer más</a>
</div>
