{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>

<h1 class="c-news__title">Nuevos depósitos de Self Bank, más rentables y flexibles: 3,05% a 3 meses, 3,20% a 6 meses, 3,30% a 12 meses.</h1>


<ul>
  <li>
<p>Alta rentabilidad y máxima flexibilidad (3 plazos, pago trimestral de intereses y posibilidad de cancelación anticipada)</p>

  </li>
  <li>
<p>Los depósitos, así como el mantenimiento de cuenta o transferencias nacionales no tienen comisiones de ningún tipo</p>

  </li>

  <li>
<p>Se puede contratar para saldos de entre 1.000 y 1.000.000 €, tanto por clientes actuales como nuevos clientes del banco</p>

  </li>
</ul>


      <p class="c-news__fecha">Madrid, 28 de septiembre de 2023</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
<p>Self Bank lanza 3 nuevos depósitos en el mes de octubre: <b>a 3 meses</b> al <b>3,05% TAE, a 6 meses</b> al <b>3,20% TAE y a 1 año al 3,30% TAE</b>, diseñados para los clientes que buscan rentabilizar al máximo sus ahorros sin perder flexibilidad.</p>
<p>Los nuevos depósitos se podrán contratar a partir de la primera semana de octubre, <b>desde 1.000 € y hasta una cantidad de 1.000.000 € por cliente</b>. No están condicionados a la contratación de otros productos o la domiciliación de una nómina.</p>
<p>“Ante la incertidumbre del mercado o de los propios planes de gastos en los próximos meses, muchos clientes prefieren mantener el saldo en cuenta corriente en lugar de analizar soluciones que les permitan obtener rentabilidad por los ahorros. Este es el motivo por el cual estos nuevos depósitos no se enfocan única y exclusivamente en la rentabilidad, sino también en la <b>flexibilidad</b>”, indica Ignacio Prieto Funes, director de Self Bank. “Se incorporan dos novedades que unen la rentabilidad a largo plazo con la agilidad de los productos a corto plazo: no será necesario esperar al vencimiento de los depósitos para el cobro de intereses, <b>sino que estos se abonarán de forma trimestral</b> y, por otro lado, el depósito permite su cancelación anticipada en cualquier momento”.</p>
<p>Los depósitos, así como el mantenimiento de cuenta o transferencias nacionales, no tienen comisiones de ningún tipo. Asimismo, están avalados por la solidez financiera que ofrece la entidad matriz de Self Bank, Singular Bank, que cuenta con uno de los ratios de solvencia más elevados de todo el sector. </p>
<h2>Sobre Singular Bank </h2>
<p><i>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>
<p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 83.000 millones de dólares y más de 55 años de experiencia. Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</p>
<p>Con tan solo tres años de trayectoria, la entidad ha sido galardonada en 2023 como “Mejor entidad en Transformación en Banca Privada de España” y “Mejor Banca Privada de España para la Inversión Sostenible” por la prestigiosa revista Euromoney. </i></p>








        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 