{% extends "_layouts/sicav.twig" %}

{% block page %}
	<section class="p-noticia--hero">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<a href="/singular-wealth-management/index.html#fondos" class="c-news__breadcrumbs">Listado Fondos de inversión</a>
					<span class="c-news__category">SWM Renta Fija Objetivo 2025</span>

					<h1 class="c-news__title">SWM Renta Fija Objetivo 2025</h1>
					<p class="c-news__fecha">Documentación</p>

				<ul>
					<li>
						<a href="/doc/legal/fondos/SWMRentaFijaObjetivo-2025/FolletoclaseA.pdf" target="_self">Folleto Clase A</a>
					</li>

					<li>
						<a href="/doc/legal/fondos/SWMRentaFijaObjetivo-2025/FolletoclaseZ.pdf" target="_self">Folleto Clase Z</a>
					</li>
					<li>
						<a href="/doc/legal/fondos/SWMRentaFijaObjetivo-2025/KIDclaseA.pdf" target="_self">KID clase A</a>
					</li>
					<li>
						<a href="/doc/legal/fondos/SWMRentaFijaObjetivo-2025/KIDclaseZ.pdf" target="_self">KID clase Z</a>
					</li>
					<li>
						<a href="https://www.belgraviacapital.es/wp-content/uploads/SWM-renta-fija-objetivo-2025-FI.pdf." target="_self">Presentación Comercial</a>

					</li>




				</ul>

				</div>
			</div>

		</div>
	</section>
	{% include "_includes/ctabox.twig" %}

{% endblock %}
