{% extends "_layouts/page.twig" %}
{% block page %}
<section class="p-basica">
  <div class="container">
    <div class="row u-mt-3">
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h1>Seguridad</h1>
        <p><a class="ancla" href="#medidas_seguridad_clientes">Medidas de seguridad para clientes</a></p>
        <p><a class="ancla" href="#dispositivo_principal">Dispositivo principal</a></p>
        <p><a class="ancla" href="#protocolo_de_seguridad">Protocolo de Seguridad SSL</a></p>
        <p><a class="ancla" href="#phising">Phising y política de envío de emails</a></p>
        <p><a class="ancla" href="#requisitos_tecnicos">Requisitos técnicos</a></p>
        <p><a class="ancla" href="#recomendaciones">Últimas recomendaciones generales</a></p>
        <p><a class="ancla" href="https://youtube.com/playlist?list=PL_k1QT_bD2ipeR2gJqsh-jpTZAv2_-y93&si=bES8qus9nllHtJvP" target="_blank">Contenido audiovisual sobre Ciberseguridad</a></p>



		<br>
		<hr id="medidas_seguridad_clientes">
		<br>

        <h2>Medidas de seguridad para clientes</h2>
        {# <h3>Tarjeta de Claves</h3>
        <p>Para operar con sus cuentas, además de su usuario y contraseña necesita tener una tarjeta de claves. Estas claves son, a todos los efectos, su firma electrónica de las operaciones que realizas por Internet.</p>
        <p>Esta tarjeta es personal e intransferible y consta de 50 números aleatorios de 4 dígitos. Además, esta tarjeta no es igual para todos los clientes ni sigue el estándar del 1 al 50: por ejemplo, la numeración de las claves puede ser del 720 al 769 o del 100 al 149. Esto reduce la probabilidad de suplantación puesto que no hay un estándar para todos los clientes, sino que cada uno tendrá una numeración de claves específica.</p>
        <img class="mw-100 lazyloaded" alt="Tarjeta de claves" src="/assets/images/tarjeta-claves.jpg"> #}
        <h3>Claves de Acceso</h3>
        <p>Dispondrá de un usuario y una contraseña personales que solo usted debe conoce; podrá acceder desde un teclado virtual que refuerza la seguridad, y nosotros nunca se las pediremos completas.</p>
		<img class="mw-100 lazyloaded" alt="Teclado virtual" src="/assets/images/teclado-virtual.jpg">
        <p>Le recomendamos que cambie su contraseña periódicamente.</p>

        <h3>Protección Singular</h3>
        <p>Le avisamos por SMS de las compras realizadas con tarjeta por importes elevados o en otros países para que tenga siempre el control de su dinero.</p>
        <h3>Programa de Seguridad Online</h3>
        <p><strong>IBM ® Trusteer Rapport ™:</strong> software de seguridad, líder en EEUU, para que sus operaciones online en nuestra web sean aún más seguras. Por ser cliente de Singular Bank, lo tendrá sin coste.</p>

        <h3>Registro de su navegador</h3>
        <p>Si tiene cuenta con operativa de valores, tendrá que registrar el navegador o navegadores habituales, de forma que si hay alguna conexión a sus cuentas desde uno no registrado, le llegue un SMS con el código de registro, y pueda detectarlo. Un nivel más de seguridad.</p>

<br>
<hr id="dispositivo_principal">

<br>

<h2>Dispositivo Principal</h2>

<p>El dispositivo principal es el móvil o tablet en el que recibirá notificaciones con los códigos para autorizar operaciones de forma ágil y segura. Este dispositivo será el único que reciba los códigos necesarios para validar operaciones, siempre que tenga activadas las notificaciones del sistema.</p>

<p>Es importante saber que solo se podrá tener un dispositivo principal por cliente.</p>

<p>Si no acepta las notificaciones, no podrá configurar su dispositivo como principal. En ese caso, seguirá recibiendo los códigos por SMS, con una experiencia de operación más lenta y menos segura.</p>

<p>Puede configurar su dispositivo como principal de dos formas:</p>
<ul>

<li><strong>Durante la instalación inicial de la app</strong>: Cuando instale la app por primera vez en su móvil, le guiaremos paso a paso para que registre el dispositivo y active las notificaciones. Una vez completado este proceso, el dispositivo quedará configurado como principal y podrá recibir los códigos necesarios para autorizar operaciones.</li>
<li><strong>Desde el menú de configuración</strong>: Si ya está usando la app y desea establecer el dispositivo actual como principal, acceda al menú <i>Configuración > Dispositivo principal</i>. Desde ahí podrá activarlo siempre que tenga las notificaciones del sistema activadas para la app. Si no están activas, le redirigiremos a los ajustes del dispositivo para que pueda habilitarlas antes de continuar.</li>
</ul>

<p>Recuerde que solo puede tener un único dispositivo principal. Para cambiarlo, deberá asegurarse de aceptar las notificaciones en el nuevo dispositivo. Si no lo hace, no podrá configurarlo como principal y seguirá recibiendo los códigos en el dispositivo anterior o, en su defecto, por SMS.</p>

<p>Puede eliminar su dispositivo principal desde la web de Singular Bank. Para ello, acceda a la sección <i>Seguridad > Dispositivos y conexiones</i> y localice el dispositivo que tenga la etiqueta de "dispositivo móvil principal". Pulse el botón “Eliminar” para revocar su registro.</p>

<p>Recuerde que, mientras no tenga un dispositivo principal activo con notificaciones permitidas, sus operaciones se validarán mediante SMS, lo que puede implicar una experiencia menos ágil y segura.</p>



		<br>
		<hr id="protocolo_de_seguridad">
		<br>

        <h2>Protocolo de Seguridad SSL</h2>
        <p>Singular Bank utiliza diversas medidas y servicios de seguridad dentro de su sitio web. Entre ellos, protocolos de seguridad SSL (Secure Sockets Layer), que permiten ofrecerte como cliente distintos servicios de seguridad. Por ejemplo, la versión 6 de Internet Explorer no reconoce ciertos certificados más modernos. Además, dispones de una clave de usuario y una contraseña, elegidas por ti, para asegurarte que el acceso a tu cuenta es absolutamente privado. El protocolo SSL fue desarrollado por Netscape en el año 1994, y se utiliza en Internet como el método más común para proporcionar seguridad en las comunicaciones, adoptado como estándar en el comercio electrónico. Utilizando SSL vamos a poder ofrecer los siguientes servicios de seguridad:</p>
        <ul>
          <li><strong>Autenticación:</strong> asegura la identidad del servidor participante en la comunicación.</li>
          <li><strong>Confidencialidad:</strong> posibilita que la información transmitida en la comunicación entre el cliente y el servidor sólo sea legible por estas dos entidades mediante el cifrado de la información, utilizando cifrado de 40 bits (criptografía simple) o certificados  de  2048 bits (criptografía robusta), la más utilizada actualmente en el mercado y que es  la que Singular Bank tiene incorporada.</li>
          <li><strong>Integridad:</strong> certifica que la información transmitida en la comunicación entre el cliente y el servidor no haya sido alterada en su viaje por la red. Para poder ofrecer estos servicios de seguridad SSL hace uso de la criptografía y de los certificados digitales. Los Certificados Digitales se pueden definir como contenedores de datos. Más específicamente, un certificado contiene la identificación del servidor, su clave pública y la fecha de validez del certificado. Además los certificados digitales son la tecnología de autenticación más poderosa disponible en la actualidad, y son soportados por prácticamente todos los protocolos de seguridad y aplicaciones de Internet.</li>
        </ul>
        <p>Nuestros servidores han sido certificados por Verisign Inc. Compañía líder mundial en seguridad online. Con ello tienes la plena seguridad de que la página de Singular Bank está protegida y que todos los datos que se transmiten a través de nuestro servidor están protegidos con la máxima tecnología de encriptación.</p>
        <p> Para operar con las cuentas en Singular Bank, además de tu usuario y contraseña, necesitas tener la tarjeta de claves. Estas claves son, a todos los efectos, tu firma electrónica de las operaciones más sensibles que realizas por Internet.</p>
        <p>Pero esto no es todo, también ofrecemos el programa de seguridad IBM Trusteer Rapport de forma excluisva a nuestros clientes. Las principales acciones que este software lleva a cabo son las siguientes:</p>
        <ul>
          <li>Comprobación de la autenticidad de la web, garantizando que estás conectando realmente al banco. De esta forma, previene el llamado malware (programa malicioso o programa maligno) que tiene como objetivo infilitrarse y dañar tanto un ordenador  como cualquier otro sistema de información. </li>
          <li>Bloqueo de la comunicación entre tu ordenador y la web del banco. Trusteer Rapport crea un túnel para la comunicación con Singular Bank, protegiendo de esta manera tu ordenador y la conexión a Internet. Así, nadie puede ver online qué se está produciendo.</li>
        </ul>
        <p>Ponemos a disposición de nuestros clientes el Departamento de Atención al Cliente a través del cual canalizar quejas o reclamaciones.</p>

		<br>
		<hr id="phising">
		<br>

        <h2>Phising y política de envío de emails</h2>
        <p>Los intentos de fraude a clientes de entidades financieras mediante el envío de correos electrónicos son conocidos como phishing y consiste en suplantar la identidad de una entidad financiera invitando a los destinatarios a introducir sus claves secretas en formularios falsos con el fin de almacenarlas y utilizarlas posteriormente.</p>
        <p>En este sentido, nuestros clientes deben saber que "Singular Bank" nunca solicita ni solicitará dichas claves secretas por correo electrónico. Además, los códigos de autorización de operaciones deben utilizarse únicamente dentro del Área Cliente.</p>
        <p>Desde Singular Bank le recomendamos encarecidamente que mantengas actualizado tu sistema operativo para evitar potenciales fallos de seguridad.</p>

		<br>
		<hr id="requisitos_tecnicos">
		<br>

        <h2>Requisitos técnicos</h2>

        <p>Su antivirus, cortafuegos y "antispyware" deben estar configurados para permitir la descarga de ficheros desde singularbank.es y habilitar la plataforma para conectarse a Internet sin restricciones.</p>
        <p>Por ello, es necesario configurar sus programas de seguridad para permitir a Java conectarse a la red. Si necesitas ayuda, le sugerimos que consultes el manual online de estos programas de seguridad instalados en tu ordenador.</p>
        <p>Si está usando un servidor proxy, intente deshabilitarlo o configurarlo para permitir el acceso a nuestra url.</p>
        <p>Le recomendamos que autorice los Pop-Up de la web.</p>
        <p>Si utilizas Mac y usas el Mac OS 10.4 o una versión más reciente, te recomendamos que actualices tu configuración Java a la última disponible.</p>

		<br>
		<hr id="recomendaciones">
		<br>

		<h2> Últimas recomendaciones generales</h2>
        <ul>
          <li>No facilite información personal o financiera en respuesta a un e-mail.</li>
          <li>Nunca le pediremos sus claves de acceso ni ningún otro dato personal por e mail. Tampoco llamaremos por teléfono para pedírtelos.</li>
          <li>Recuerde que su usuario, contraseña y datos personales son estrictamente confidenciales.</li>
          <li>Desconécte su sesión siempre que acceda al Área Cliente pulsando en el botón Desconectar.</li>
          <li>No use la opción de recordar usuario o contraseña en un navegador ni las guarde en su equipo.</li>
          <li>Evite acceder a su cuenta desde un ordenador de uso público. Si tiene que hacerlo, cuando termine borre los archivos temporales y el histórico en la opción correspondiente del navegador.</li>
          <li>Compruebe que se encuentra en un entorno seguro https:// en lugar de http://, que aparece en la esquina inferior izquierda un candado.</li>
          <li>Recomendamos que acceda a nuestra página tecleando la dirección en tu navegador y que cambies regularmente tu contraseña de acceso.</li>
          <li>Instale un antivirus y un firewall en tu PC y manténgalo actualizado.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
