{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Singular Bank amplía su presencia en España con nuevas oficinas en Málaga.</h1>
        <p class="c-news__fecha">Madrid, 19 de octubre de 2021</p>
        <p class="c-news__entradilla"><strong>El banco, especializado en servir a los clientes con ahorros consolidados, que ya cuenta con 7 oficinas en otras capitales, se instala en la ciudad andaluza con el objetivo de acercar su oferta a los clientes de Málaga que buscan una banca privada diferente .</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <p>Singular Bank ha inaugurado una nueva oficina en la ciudad de Málaga. Con esta apertura, la firma amplía su presencia en nuestro país y se consolida como una de las entidades financieras independientes de referencia en el sector de banca privada. </p>
        <p>Las nuevas oficinas se ubican en el número 2 de la calle Méndez Núñez, en pleno centro financiero de la ciudad andaluza. La oficina estará dirigida por la malagueña Sonia Medina, una banquera con una trayectoria profesional de 23 años en banca privada; junto a ella, dará servicio a los clientes de la entidad un equipo de otros 4 profesionales, con una experiencia media de más de 16 años en el sector.</p>
        <p>El equipo de Singular Bank en Málaga dará servicio a clientes de alto patrimonio que desean contar con la figura de un banquero que le asesore de forma personal a identificar y a alcanzar sus objetivos vitales, guiándoles en la gestión de sus finanzas. Para ello, Singular Bank  dispone de una amplia  e independiente oferta de productos y servicios, que van desde lo más sencillo para el día a día (cuentas, crédito, tarjetas, …) hasta lo más complejo (planificación financiera, patrimonial, asesoramiento, gestión de carteras...). Todo ello, complementado con una plataforma tecnológica diseñada para facilitar la operativa a sus clientes y que permiten adaptar el banco al cliente.</p>
        <p>Esta apertura se enmarca dentro de la estrategia de Singular Bank de acercar el banco a los clientes que desean esa relación personal, con empatía,  complementando así la oferta exclusivamente digital dirigida a quienes prefieren una relación autosuficiente y remota. De esta forma, la nueva oficina del Banco en Málaga se suma a las ya operativas en Madrid, Sevilla, Zaragoza, Valencia, Las Palmas de Gran Canaria y Murcia.</p>
        <p>Así lo explica Manuel Sánchez, Director para Andalucía de Singular Bank, que asegura que “desde hace unos años, Málaga está haciendo una apuesta clara por atraer inversión empresarial de todo tipo, fundamentalmente en compañías tecnológicas, posicionándose como una de las ciudades referente para los negocios”. Por eso, apunta “confiamos que, con la apertura de esta oficina, podamos dar el servicio a aquel cliente que busca transparencia, proactividad y una oferta independiente”.</p>
        <h3>Sobre Singular Bank</h3>
        <p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio. Cuenta con una oferta independiente, libre de conflictos de interés y dispone de una amplia variedad de productos y servicios.Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, y pone a disposición de sus clientes sus más de 25 años de experiencia como expertos en banca, ahorro e inversión.</p>
      </div>
    </div>
<!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p><strong>Singular Bank/Kreab</strong></p>
        </div>        
      </div>
    </div>-->
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 