
{% extends "_layouts/page-componentes.twig" %}
{% block page %}


  <section class="section-listado">
    <div class="container">

     <ul>
      <li> 
        <a href="/titulos/index.html">Titulares del site</a>
      </li>
      <li>
        <a href="/botones/index.html">Botones</a>
      </li>
      <li>
        <a href="/bloque-consejo/index.html">Bloque consejo</a>
      </li>


     </ul>


    </div>
  </section>
{% endblock %}