{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Singular Bank</span>
        <h1 class="c-news__title">Singular Bank cumple un año desde su lanzamiento</h1>
        <p class="c-news__fecha">Madrid, 14 de Enero de 2021</p>
		<p class="c-news__entradilla"><strong>La entidad bancaria ha aumentado el volumen de ingresos por comisiones en un 32,8% en los primeros 9 meses de 2020; el número de clientes ha crecido un 4% en 2020, se ha duplicado el crédito a la clientela, y cuenta con una ratio de solvencia superior al 30% y una ratio de liquidez LCR por encima de 3.600%</strong></p>
		<p class="c-news__entradilla"><strong>Entre los principales hitos de Singular Bank en su primer año de existencia están la adquisición de MG Valores y Belgravia Capital y el acuerdo estratégico con Quintet</strong></p>
		</div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
        <p>Singular Bank, el primer banco privado independiente de España, cumple un año desde que el pasado 14 de enero de 2020 su consejero delegado, Javier Marín, presentase el nuevo proyecto financiero que nacía sobre la base de Self Bank. Después de 12 meses, el banco que lidera Javier Marín ha logrado, en un complejo entorno, incrementar <b>el número de clientes de la entidad</b> y reforzar la solvencia de la entidad, cuya ratio CET1 supera el 30%. Los niveles de liquidez también se sitúan muy por encima de los estándares regulatorios, con una ratio de liquidez LCR (coeficiente de cobertura de liquidez) por encima de 3600% y una ratio NSFR (coeficiente de financiación estable neta) del 421,27% (datos a 30 de Noviembre de 2020).</p>
        <p>También los ingresos por comisiones muestran una evolución positiva, con un incremento del 32,8% en los primeros 9 meses de 2020; asimismo, el número de clientes ha crecido un 4% en 2020, se ha duplicado el crédito a la clientela y se han incrementado los depósitos de los clientes en un 2,4%.</p>
        <p>Respecto a la hoja de ruta marcada por la entidad bancaria, a pesar de que se vio truncada a raíz de la crisis sanitaria producida por el coronavirus en el mes de marzo del año pasado, Singular Bank <b>ha continuado con su posicionamiento de crear un banco en el que los clientes no tienen que adaptarse al banco</b>, sino que es el banco el que se adapta al cliente, basándose en valores como <b>el rigor, la excelencia, la honestidad o la empatía</b>, entre otros.</p>
        <p>En el mes de junio, se produjo la primera operación de Singular Bank en el mercado español, gracias al acuerdo para la incorporación de los clientes de asesoramiento, intermediación y gestión de carteras de <b>la <em>boutique</em> de inversión MG</b>. En el mes de octubre, se realizó otra operación corporativa, la adquisición de <b>Belgravia Capital SGIIC SA</b>, que aportó un equipo gestor con dilatada experiencia, liderado por Carlos Cerezo y una cartera de dos fondos de inversión españoles, tres subfondos luxemburgueses y un plan de pensiones asesorado.</p>
        <p>Por último, Singular Bank, anunció el pasado mes de diciembre la firma del acuerdo estratégico con Quintet Private Bank, por el que se ofrece a los clientes de esta última la oportunidad de transferir su relación a Singular Bank, y a Singular Bank la posibilidad de complementar su oferta con servicios adicionales, como el de custodia de activos financieros en Luxemburgo o la gestión de activos no UCITS, para aquellos clientes que tengan necesidades de inversión que no pueden ser cubiertos con productos disponibles en España.</p>
        <p>Como apuntaba Javier Marin hace un año,  “vamos a invertir en crecer de manera orgánica y no orgánica, lo que nos llevará a mantener pérdidas hasta 2022, pero contamos con el compromiso de nuestros accionistas de mantener los ratios de solvencia entre los más ratios de los bancos de Europa”.</p>
                
		<h2>Sobre Singular Bank</h2>
		  <p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio.</p>
		  <p>Cuenta con una oferta independiente, libre de conflictos de interés y dispone de una amplia variedad de productos y servicios.</p>
		  <p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, y pone a disposición de sus clientes sus más de 25 años de experiencia como expertos en banca, ahorro e inversión.</p>
        
        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 