{% extends "_layouts/sicav.twig" %}

{% block page %}
	<section class="p-noticia--hero">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<a href="/singular-wealth-management/index.html#fondos" class="c-news__breadcrumbs">Listado Fondos de inversión</a>
					<span class="c-news__category">SWM Renta Gestión Activa FI</span>

					<h1 class="c-news__title">SWM Renta Gestión Activa FI</h1>
					<p class="c-news__fecha">Documentación</p>

				<ul>
					<li>
						<a href="/doc/legal/fondos/SWM-Renta-Gest-Activa/FolletoClaseP.pdf" target="_self">Folleto Clase P</a>
					</li>
						<li>
							<a href="/doc/legal/fondos/SWM-Renta-Gest-Activa/FolletoClaseQ.pdf" target="_self">Folleto Clase Q</a>
						</li>
						<li>
							<a href="/doc/legal/fondos/SWM-Renta-Gest-Activa/KIDClaseP.pdf" target="_self">KID Clase P</a>
						</li>

						<li>
							<a href="/doc/legal/fondos/SWM-Renta-Gest-Activa/KIDClaseQ.pdf" target="_self">KID Clase Q</a>
						</li>
						<li>
							<a href="/doc/legal/fondos/SWM-Renta-Gest-Activa/3T2022.pdf" target="_self">Tercer Trimestral 2022</a>
						</li>
						<li>
							<a href="/doc/legal/fondos/SWM-Renta-Gest-Activa/CCAA2021.pdf" target="_self">CCAA 2021</a>
						</li>

				</ul>

				</div>
			</div>
	




		</div>
	</section>
	{% include "_includes/ctabox.twig" %}

{% endblock %}
