{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

        <a href="/noticias/" class="c-news__breadcrumbs">Nota de prensa</a>

        <h1 class="c-news__title">Singular Bank continúa reforzando su estructura territorial con seis nuevos fichajes</h1>


        <ul>
            <li>Estas incorporaciones responden a la firme apuesta de la entidad por continuar con la expansión en los diferentes territorios en los que tienen oficinas, impulsando así su estrategia de crecimiento continuo mediante la atracción del mejor talento</li>
            <li>Singular Bank ha redoblado su apuesta en diferentes regiones con la incorporación de tres nuevos banqueros y tres agentes
            </li>

            <li>Con la experiencia en el sector de estos perfiles, Singular Bank busca satisfacer la creciente demanda de servicios personalizados a medida que se incrementa su actividad
            </li>
        </ul>

<p><strong>Madrid, 16 de abril de 2024.</strong>- Singular Bank continua con su expansión a lo largo del territorio español, reforzando la estructura de sus equipos en las diferentes regiones en las que opera. Este esfuerzo busca atender la creciente demanda de los clientes por servicios de calidad y altamente personalizados conforme aumenta su actividad en dichas plazas. De este modo, recientemente, se han sumado a la entidad Carlos Dans, David Muñoz, Isabel Alonso Rodríguez, María Del Pilar Andrade, Salomé Balbuena y Ariel Procupetz, fortaleciendo con su experiencia y conocimiento el servicio que ofrece Singular Bank.</p>
<p>Carlos Dans se une al equipo como banquero Senior en La Coruña, aportando casi 30 años de experiencia en banca comercial, especialmente en la gallega, habiendo estado la mayor parte de su trayectoria en Abanca. David Muñoz, con más de 20 años de experiencia, principalmente en Caja Rural de Aragón, también se incorpora como Consultor Senior en la oficina de la entidad en Zaragoza. Por su parte, Ariel Procupetz se ha unido a las oficinas de Barcelona como banquera, tras haber estado más de 16 años en Deutsche Bank.</p>
<p>A estas incorporaciones se suman, además, las de María del Pilar Andrade y Salomé Balbuena, quienes se unen como agentes financieras en Madrid y León, respectivamente. Andrade aporta una experiencia de más de 20 años en entidades como Sabadell y Deutsche Bank España, mientras que Balbuena proviene de la banca privada de Santander. Por su parte, Isabel Alonso Rodríguez asume el cargo de Consultora Senior en Vigo, después de una extensa carrera en banca de más de 25 años y proveniente de Bankinter.</p>
<p>Singular Bank ha experimentado un notable crecimiento en los últimos tres años, destacando especialmente en 2023 con la apertura de nuevas oficinas en España y la incorporación de nuevos profesionales, y ahora en 2024 con estos nuevos fichajes.</p>

<p>A lo largo del año 2023, la entidad ha fortalecido su posición con la incorporación de nuevos perfiles y ha continuado con su expansión territorial. Singular Bank ha sido una de las entidades que significativamente más ha crecido durante el año, evidenciando su compromiso con la prestación de un servicio excepcional de calidad en cada vez más ciudades españolas. Durante este periodo, Singular Bank ha sumado un total de 26 nuevos profesionales a su equipo de banqueros y agentes, que destacan por su experiencia y dedicación. Este número incluye 9 agentes y 17 banqueros. La entidad ha fortalecido su equipo con la llegada principalmente de banqueros seniors, con más de 10 años de experiencia, a los que ahora se suman estas nuevas incorporaciones. </p>

<p>Singular Bank continúa apostando por una sólida expansión territorial, reforzando su presencia mediante la apertura de nuevas oficinas, como las inauguradas en Vigo y en Bilbao. Asimismo, la entidad ha reforzado otras plazas estratégicas, como Madrid, Barcelona, Zaragoza, Las Palmas y Murcia, con la llegada de nuevos banqueros.</p>
<p>En la actualidad, Singular Bank destaca como la principal entidad de banca privada independiente en el mercado español. Administra un patrimonio de más de 13.000 millones de euros, respaldada por un equipo compuesto por casi 400 profesionales y una red de 17 oficinas distribuidas en Barcelona, La Coruña, Vigo, Las Palmas, Madrid, Málaga, Murcia, Sevilla, Valencia, Zaragoza, León y Bilbao. </p>
<p>José Salgado, Director General de Singular Bank, ha destacado: <i>"Es una gran noticia que año tras año seamos capaces de seguir incorporando talento a nuestro equipo. Esto refleja la apuesta de Singular Bank por brindar un servicio de calidad y cercanía, asegurando que cada nueva apertura de oficina y cada nuevo profesional que se une a nosotros nos acerca más a nuestros clientes y a sus necesidades en todo el territorio nacional"</i>.</p>



<h2>Banca privada española independiente líder</h2>

<p>Singular Bank ha jugado un papel dinamizador y protagonista en la transformación del sector en España, erigiéndose en los últimos años como la primera entidad de banca privada independiente líder, con unos activos bajo gestión de más de 13.000 millones de euros, con un capital humano y tecnológico de primer nivel y los mayores ratios de liquidez y solvencia de toda la banca española (CET 1: 19,50%, NSFR: 202,41% LCR: 320,83%. Datos a 31/12/2023).
La entidad, que cuenta con un modelo de servicio al cliente totalmente personalizado, ofrece una sólida combinación de soluciones de ahorro e inversión, asesoramiento y financiación que conforman una oferta única para sus clientes</p>


        <h2>Sobre Singular Bank</h2>

<p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>


<p>Está conformado por un equipo de más de 409 profesionales, 15 oficinas (repartidas entre Madrid, Barcelona, Bilbao, La Coruña, Valencia, Málaga, Zaragoza, Murcia, Sevilla, León y Las Palmas) y más de 170 banqueros y agentes financieros que gestionan 13.426 millones de Euros de patrimonio de clientes.</p>


<p>Adicionalmente cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 83.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</p>


		
      </div>
    </div>
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 