{% extends "_layouts/news.twig" %}
{% block page %}

<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Self Bank anuncia la incorporación de Carlos Pérez Parada como responsable del Área de Inversiones</h1>
        <p class="c-news__fecha">Madrid, 24 de junio de 2019</p>
        <p class="c-news__entradilla"><strong>Viene a reforzar el Área de Inversiones, clave para la nueva estrategia de la entidad</strong><br /> Carlos Pérez Parada se incorporará como responsable del Área de Inversiones con el cargo de Director General, una vez superados los trámites regulatorios.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 u-mb-2">
        <img data-src="/assets/images/noticias/Carlos-Perez.jpg" class="lazyload" alt="Carlos Pérez" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
      <p>Hasta su incorporación en Self Bank, Carlos Pérez Parada ostentaba el cargo de Consejero Delegado en Andbank Wealth Management SGIIC y Director General de Wealth Management y Asesoramiento de Andbank España.  Anteriormente, fue Consejero Delegado de Barclays Wealth Managers Western Europe (España Francia y Portugal) y Director General de Inversiones de JPMorgan Private Bank para Europa, Oriente medio y África (EMEA). Asimismo, ha sido asesor de inversiones externo para la Organización Mundial de la Salud (OMS) en Ginebra. Pérez Parada es licenciado en Ciencias Económicas y Empresariales por la Universidad Complutense de Madrid (CEU San Pablo) y MBA por IE Business School.</p>

      <p>“Estamos muy satisfechos con la incorporación de Carlos. Supone un importante refuerzo para nuestra oferta de soluciones financieras tanto a los clientes que operan a través de medios digitales como a los que asesoremos de forma personalizada”, asegura Javier Marín; “tenemos por delante un proyecto ambicioso e ilusionante y solo podremos afrontarlo incorporando a nuestro equipo profesionales de primera línea y probada experiencia, que iremos sumando al talento que ya tenemos en Self Bank”.</p>

      <p>Carlos Pérez añade: “Estoy encantado de incorporarme a este ambicioso proyecto, que se fundamenta en una oferta realmente centrada en los clientes con un enfoque diferente y novedoso frente a lo que hay hoy en el mercado.”</p>

      <div class="clearfix"></div>

      <h2>Sobre Self Bank</h2>
      <p>Self Bank es un banco digital español que busca empoderar a los clientes para que comiencen a tomar el control de la gestión de su dinero y les ofrece la independencia necesaria para que lo hagan del modo que ellos deseen. Su oferta se dirige a clientes con ahorros que desean gestionar ellos mismos sus finanzas y acceder a una oferta bancaria ágil y sin comisiones, a través de una plataforma tecnológica que permite operar de una forma transparente, rápida y sin papeles.</p>
      <p>Con más de 18 años de historia, Self Bank ofrece una amplia variedad de productos y servicios de ahorro y de inversión como cuenta nómina, tarjetas, cuentas de ahorro, Bolsa, CFDs o más de 3.000 fondos de inversión.</p>
      </div>
    </div>

    <!--<div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>-->

  </div>
</section>

{% include "_includes/ctabox.twig" %}

{% endblock %}
