{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">¿Ha llegado la hora de las telefinanzas?</h1>
        <p class="c-news__fecha">Madrid, 05 de octubre de 2020</p>
        <p class="c-news__entradilla"><strong>Singular Bank apuesta por el aprendizaje de finanzas de forma telemática, con motivo del Día de la Educación Financiera, que se celebra este año el día 5 de octubre.</p>
		<p>Cursos de finanzas online, vídeos, seminarios o libros digitales son algunas de las opciones para aprender finanzas sin salir de casa.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 u-mb-2"> <img data-src="/assets/images/noticias/2020-10-05-acceso-portatil.jpg" class="lazyload" alt="Ciberseguridad" /> </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">        
        <p>Teletrabajar y teleestudiar son conceptos que han entrado a formar parte de nuestra vida hace apenas unos meses. El confinamiento producido por la crisis sanitaria del COVID-19 ha disparado en España la práctica de lo que en otros países ya era una realidad desde hace años, pero que aquí solo unos cuantos practicaban antes de que llegara el Estado de Alarma.</p>
		<p>Del mismo modo que hemos modificado la manera de hacer las cosas en muchos aspectos de nuestro día a día (compras, ocio, trabajo.), las tendencias en torno a las finanzas personales también han experimentado cambios significativos. Así, con motivo del Día de la Educación Financiera, que se celebra el 5 de octubre, el banco privado independiente de España, Singular Bank, quiere recordar la importancia de contar con un buen conocimiento financiero, que podemos adquirir a través de métodos más tradicionales o con el formato del futuro, el online.</p>
		<p>"Podemos aprovechar la limitación de los movimientos en nuestro favor y, ahora que estamos más en casa, dedicar una parte de nuestro tiempo a algunos asuntos que a lo mejor teníamos algo aparcados. La educación financiera es necesaria, y, más aún en situaciones de crisis como la actual, en la que es fundamental mantener una cierta estabilidad financiera y una rutina de ahorro para evitar que, cuando se produzca una crisis económica, se vea afectada nuestra economía personal", señala Victoria Torre, responsable de Productos y Análisis y Selección de Fondos de Singular Bank.</p>
		<p>Gracias a la tecnología, aprender finanzas sin levantarte del sofá es posible. Para ello, tenemos a nuestro alcance opciones como los cursos de formación online, los vídeos, webinars, seminarios o libros digitales, entre otros. Se pueden localizar todo tipo de cursos de finanzas personales a través de los buscadores, algunos gratuitos y otros con coste. Podemos elegir entre pagar por un curso acreditado o respaldado por alguna universidad o realizar alguno gratuito. "Ninguna opción es mejor que la otra, pues hay muchas clases gratuitas online y webinars sobre diversas temáticas de gran calidad, que abordan contenidos de forma óptima", señalan desde Singular Bank; "en otros casos, puede resultarnos de utilidad en nuestro futuro profesional contar con una titulación acreditada".</p>
		<p>Canales como YouTube ofrecen vídeos relacionados con el área de las finanzas personales. Aquí se pueden encontrar webinars y seminarios que nos guían a la hora de ahorrar; aunque hay que tener precaución, ya que hay 'pseudoexpertos' cuyos conocimientos no están avalados por ninguna institución, ni títulos o experiencia, y que podrían llegar a confundir al receptor. "Es recomendable dedicar un tiempo para investigar qué vídeos son fiables y cuentan con una mayor calidad, esto nos permitirá elegir bien qué cursos o tutoriales ver", apunta Victoria Torre.</p>
		<p>También se pueden adquirir conocimientos sobre finanzas a través de la librería online, mediante lecturas más amenas, con trucos para fomentar el ahorro de forma sencilla, o con libros más técnicos, firmados por gurús de la economía mundial, con el fin de ampliar las nociones en educación financiera hasta el nivel que cada uno precise.</p>
        <div class="clearfix"></div>        
	</div>	  

	<div class="col-12 col-lg-8 offset-lg-2">
        <p>Por último, distintas entidades e instituciones ofrecen seminarios gratuitos y cursos especializados para educar en finanzas. "La educación financiera es uno de los pilares para Singular Bank, por lo que ponemos a disposición de nuestros clientes y, para aquellos a los que les interese, diversos contenidos sobre finanzas desde el blog de SelfBank by Singular Bank", recuerdan desde la entidad. "Durante los últimos meses hemos querido acompañar a nuestros clientes más aún si cabe, y hemos incrementado los seminarios y conferencias, abordando distintas temáticas con el objetivo de poner nuestro grano de arena en la educación financiera".</p>
		<p>Las opciones son múltiples y no hay excusas para no abordar un tema tan urgente como es el de la concienciación por el ahorro. "Tenemos que dotarnos de conocimientos en finanzas, en planificación e inversión para hacer crecer nuestras cuentas personales y afrontar con más tranquilidad la incertidumbre del futuro próximo", concluyen desde Singular Bank.</p>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
            Eolo Comunicación </br>
            91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>-->
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 