{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Singular Bank firma un acuerdo estratégico con Quintet Private Bank, para ofrecer a sus clientes en España incorporarse a Singular Bank</h1>
        <p class="c-news__fecha">Madrid, 21 de diciembre de 2020</p>
		<p class="c-news__entradilla"><strong>El acuerdo contribuye a la aceleración del plan de expansión de Singular Bank en España, a la vez que permite a Quintet poner su foco en el crecimiento a largo plazo en sus mercados internacionales estratégicos.</strong></p>
		<p class="c-news__entradilla"><strong>Singular Bank y Quintet buscan la continuidad en el nivel de prestación de servicio, para lo cual personal clave para la relación con los clientes de Quintet España se unirá al equipo de Singular Bank</strong></p>
		<p class="c-news__entradilla"><strong>La actividad que desarrolla Quintet en Luxemburgo permitirá a los clientes de Singular Bank cubrir necesidades de inversión complementarias, a través de servicios domiciliados en dicho país</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
        <p>Singular Bank, el primer banco independiente en España, anuncia la firma de un acuerdo con Quintet Private Bank, que opera en España bajo la denominación de Quintet España. Quintet España, que cesará su actividad en nuestro país, ofrece a sus clientes la oportunidad de transferir su relación a Singular Bank. Para ello, la intención de Singular Bank es la de incorporar a parte del equipo de Quintet España.</p>
        <p>Los clientes de Quintet España podrán disfrutar de la amplia oferta de servicio de Singular Bank, una entidad con ficha bancaria en España, dirigida por personal de reconocida experiencia y reputación a nivel internacional. Singular Bank cuenta con un equipo de especialistas con dilatada experiencia, que abarcan distintas áreas como la selección de productos de inversión, asesoramiento, gestión discrecional, planificación financiera y patrimonial y asesoramiento inmobiliario. Esta amplia oferta de servicios de asesoramiento y productos de inversión se complementa con soluciones bancarias para el día a día, como servicios de pago, tarjetas y financiación.</p>
        <p>Como parte del acuerdo, Quintet Private Bank pone a disposición de los clientes de Singular Bank la posibilidad de complementar la oferta de esta última, con servicios adicionales, como el de custodia de activos financieros en Luxemburgo o la gestión de activos no UCITS, para aquellos clientes que tengan necesidades de inversión que no pueden ser cubiertos con productos disponibles en España.</p>
        <p>La firma del acuerdo permite a Singular Bank enfocarse en el crecimiento de su negocio en España. Una de las fortalezas de la entidad es que cuenta con una avanzada infraestructura tecnológica, que permite combinar la realización de transacciones de forma totalmente digital y un equipo de banqueros y especialistas altamente especializados y experimentados. Asimismo, la entidad cuenta con una ratio CET1 superior al 30% (a noviembre de 2020), lo que convierte a Singular Bank en uno de los bancos más solventes de Europa.</p>
        <p>Por otro lado, Quintet Private Bank, que opera en 50 ciudades europeas, refuerza su estrategia de sólido crecimiento en el largo plazo. En 2020, la firma ha extendido su negocio a Suiza y Dinamarca, países en los que ha contratado a más de 350 profesionales, incluyendo equipos que permiten posicionar a la marca en regiones con alto potencial de crecimiento como Asia, Latinoamérica y Oriente Medio.</p>
        <p>La operación responde al deseo de Quintet Private Bank de llevar a cabo un realineamiento estratégico y hacer crecer las actividades de la entidad en otros mercados, no habiendo conseguido en España la masa crítica de clientes.</p>
        <p>Quintet Private Bank y Singular Bank comparten valores y una misma filosofía acerca de la importancia de ofrecer un servicio bancario centrado al 100% en el cliente. Ambas firmas independientes se enfocan en anteponer ante todo los intereses de sus clientes, ofreciendo servicios y productos con un alto nivel de especialización, siempre adecuados para que las personas alcancen los objetivos vitales que persiguen.</p>
        <p>Los términos de este acuerdo, que entrará en vigor con carácter inmediato, no han sido divulgados</p>
		<h2>Sobre Singular Bank</h2>
		  <p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio.</p>
		  <p>Cuenta con una oferta independiente, libre de conflictos de interés y dispone de una amplia variedad de productos y servicios.</p>
		  <p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, y pone a disposición de sus clientes sus más de 25 años de experiencia como expertos en banca, ahorro e inversión.</p>
        <h2>Sobre Quintet Private Bank</h2>
		  <p>Quintet Private Bank (Europe) S.A., fundada en 1949, tiene su sede en Luxemburgo y opera en 50 ciudades en Europa, contando con un equipo de 2.000 profesionales. Con un amplio reconocimiento como líder en servicios de banca Privada, Quintet ofrece servicios de asesoramiento patrimonial a particulares y sus familias, así como a una amplia gama de clientes institucionales y profesionales, incluidos family offices, fundaciones y gestores de activos externos.</p>
		  <p>Entre la familia de bancos privados de Quintet figuran:</p>
		  <ul>
			  <li>Brown Shipley (Reino Unido)</li>
			  <li>InsingerGilissen (Países Bajos)</li>
			  <li>Merck Finck (Alemania)</li>
			  <li>Puilaetco (Bélgica) </li>
			  <li>Puilaetco (Luxemburgo)</li>
			  <li>Quintet Danmark (Dinamarca)</li>
			  <li>Quintet Luxembourg (Luxemburgo)</li>
			  <li>Quintet Switzerland (Suiza)</li>
	      </ul>
		  <p>Para encontrarse información adicional en la web: <a href="https://es.quintet.com/es-es" target="_blank">www.quintet.com</a></p>
        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 