<div class="row">
  <div class="col-12 col-md-6 col-lg-4 c-textbox">
    <div class="c-textbox__content">
      <h3>Equipos de especialistas</h3>
      <ul>
        <li>En mercados</li>
        <li>Inversiones</li>
        <li>Gestión</li>
        <li>Fiscalidad</li>
        <li>Inmobiliario</li>
        <li>Financiación</li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 c-textbox">
    <div class="c-textbox__content">
      <h3>Áreas de apoyo</h3>
      <p>Todos los equipos de servicios corporativos, centrados en los clientes del banco.</p>
	  <p>Una entidad con objetivo común: entender la singularidad de cada cliente y conseguir su satisfacción.</p>
    </div>
  </div>
</div>
