<section>
  <div class="container">
    <div class="row u-mb-3">
    <div class="col-12 col-md-5 order-md-12 col-lg-7 col-xl-5 offset-xl-1 u-mb-1">
      <img data-src="/assets/images/banquero.jpg" class="w-100 lazyload" alt="Su banquero" />
    </div>
      <div class="col-12 col-md-7 col-lg-5 col-xl-6">
        <h2>Su Banquero</h2>
        <p>Singular Bank está regulado por la CNMV y cubierto por el Fondo Español de Garantía de Depósitos de Entidades de Crédito. Al ser un banco español, las acciones en bolsa española están a  nombre de cada cliente y sus valores depositados en España.</p>
        <p>Singular Bank pertenece a Warburg Pincus, en
asociación con Javier Marín Romano. </p>
        <a href="#" class="c-button">Leer más</a>
      </div>
    </div>
  </div>
</section>
