{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

        <a href="/noticias/" class="c-news__breadcrumbs">Nota de prensa</a>
<h1 class="c-news__title">Singular Bank nombra a Rubén Andrés Priego como Director General de Tecnología y Operaciones</h1>


  <ul>
    <li>Con casi 20 años en banca y consultoría financiera, Rubén Andrés ha liderado proyectos clave en inteligencia artificial y transformación tecnológica, siendo reconocido con el premio IDC CIO 100 Spain 2022</li>


    <li>Esta incorporación subraya la apuesta de Singular Bank por liderar el avance tecnológico en la banca privada, con el objetivo de ofrecer el mejor servicio a sus clientes</li>


  </ul>

<p>
<strong>Madrid. 15 de enero de 2025.</strong>- Singular Bank ha anunciado la incorporación de Rubén Andrés Priego como nuevo Director General de Tecnología y Operaciones. Rubén asume el cargo en sustitución de Fernando Egido, quien deja la entidad para emprender nuevos proyectos profesionales.
</p>

<p>Ingeniero Informático por la Universidad Europea e Ingeniero Técnico en Informática de Sistemas por la Universidad de Alcalá, Rubén Andrés cuenta con una sólida trayectoria de casi dos décadas en banca minorista y privada, así como en consultoría financiera. A lo largo de su carrera, ha desempeñado funciones de responsabilidad en instituciones de referencia como el Banco de España, Banco Popular, BBVA, Banca March y EVO Banco</p>


<p>Reconocido por su liderazgo en proyectos de transformación digital, implementación de inteligencia artificial y desarrollo de estrategias tecnológicas, Rubén fue galardonado con el premio IDC CIO 100 Spain 2022, que destacó su contribución al avance y la modernización del sector financiero durante su etapa como CIO de EVO Banco.</p>


<p>Esta incorporación refuerza el compromiso de Singular Bank con la innovación y la excelencia tecnológica, pilares fundamentales de su estrategia para consolidarse como líder en banca privada.</p>

<p>
	<strong>Javier Marín, Consejero Delegado de Singular Bank</strong>, afirmó: <i>"Estoy encantado con la incorporación de Rubén. Su formación, experiencia y visión están perfectamente alineadas con nuestro objetivo de excelencia en el servicio. Su incorporación refuerza nuestro compromiso con la innovación y se produce en un momento clave, para poder aprovechar los nuevos avances tecnológicos para ser el mejor banco para cada uno de nuestros clientes"</i>.</p>



<p>
<strong>Rubén Andrés, Director General de Tecnología y Operaciones</strong>, expresó: <i>"La apuesta de Singular Bank por la tecnología avanzada y la innovación estratégica representa una oportunidad excepcional para aplicar mi experiencia en la construcción de soluciones que transformen la experiencia del cliente."</i></p>


<h2>Sobre Singular Bank</h2>


<p>
	<i>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</i>
</p>

<p>
	<i>Está conformado por un equipo de más de 400 profesionales, 17 oficinas (repartidas entre Madrid, Barcelona, Bilbao, La Coruña, Valencia, Málaga, Zaragoza, Murcia, Sevilla, León y Las Palmas) y más de 170 banqueros y agentes financieros que gestionan 14.345 millones de euros de patrimonio de clientes a cierre de 2024.</i></p>
<p>
	<i>Adicionalmente cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 83.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</i></p>

		
      </div>
    </div>
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 