{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
<p>Supera los 170 banqueros y agentes financieros en España</p>

<h1 class="c-news__title">Singular Bank refuerza su equipo comercial con la incorporación de Carlos Benzanilla, Fernando Eguinoa y Luis Carabias</h1>


        <ul>
<li>La entidad continua con su decidida apuesta por el talento e incorpora a tres nuevos profesionales a su equipo: Carlos Benzanilla, Fernando Eguinoa y Luis Carabias, profesionales con más de 20 años de experiencia para seguir consolidando su posición de liderazgo como banca privada independiente en España.</li>


<li>En la actualidad, Singular Bank cuenta con una red de 15 oficinas en el territorio nacional que gestionan un total de 13.000 millones de euros de patrimonio bajo gestión.</li>


<li>La compañía ofrece un servicio integral de banca, que permite adaptar el banco a las necesidades concretas de cada cliente pueda tener, para definir y alcanzar sus objetivos vitales a través de sus finanzas.</li>


        </ul>


      <p class="c-news__fecha">Madrid, 15 de diciembre de 2022</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
     <p> Madrid, 09 de mayo de 2023. – Singular Bank, en línea con su estrategia de crecimiento anuncia hoy la incorporación de Carlos Bezanilla, Fernando Eguinoa y Luis Carabias como agentes financieros a sus oficinas en Madrid. Tres profesionales con más de 20 años de experiencia en banca privada que ofrecerán el mejor asesoramiento financiero y estratégico personalizado a las necesidades del perfil del cliente. </p>
<p>Carlos Benzanilla, certificado por la EFPA (European Financial Planning Association), llega procedente de Bankinter, donde trabajó como director centro de Banca Privada desde el 2015 tras ejercer para el Banco Santander como responsable de equipo de banca privada durante 11 años. Carlos lleva más de dos décadas trabajando en el área de Banca Privada, una experiencia que ha complementado además con el Senior Executive Private Banking Programme del London School of Economics y el IEB. </p>
<p>Por su parte, Fernando Eguinoa, licenciado en Administración y Dirección de Empresas por la universidad de CUNEF, cuenta con más de 25 años de trayectoria en el área de la Banca Privada. Fernando comenzó a trazar su carrera profesional en la mesa de tesorería del LLoyds Bank, puesto que abandonó para ofrecer asesoramiento y planificación patrimonial como banquero en esta misma entidad. En 2005, se trasladó a Banco Santander, donde además de trabajar como agente financiero, fue cofundador de AZ Total Return Fund.</p>

<p>Luis Carabias, licenciado en Ciencias Empresariales por CUNEF y certificado por el IEAF (Instituto Español de Analistas Financieros) y la EFPA, posee una amplia experiencia como asesor financiero, acuñada en Caser Asesores Financieros y de forma autónoma. Con anterioridad fue Director de Institutional Equity Sales para Société Générale, analista senior para la división de Equity Markets y Banca de Inversión de BBVA y, previamente, analista senior para Banesto en Londres.   </p>
<p>Estas tres nuevas incorporaciones responden a la estrategia de crecimiento orgánico de la entidad atrayendo el mejor talento del mercado español. </p>
<p><strong>José Salgado, Director General Clientes de Singular Bank declara:</strong><i> “Estamos encantados de incorporar a Carlos, Fernando y Luis a nuestro equipo. Como han demostrado a lo largo de su trayectoria profesional, su capacidad para brindar un asesoramiento de alta calidad, liderar equipos eficientes y adaptarse a los desafíos empresariales, aportarán un gran valor a nuestra entidad a la vez que buscamos seguir creciendo y ofreciendo servicios excepcionales a nuestros clientes.”<i></p>


      
<h2>Sólida estrategia de crecimiento</h2>

<p>La entidad cuenta con una clara hoja de ruta mediante la que busca reforzar su estrategia de crecimiento orgánico, contemplando la integración de negocios que aporten sentido estratégico y económico al grupo y que estén alineados con sus valores centrados en el cliente. </p>

<p>Actualmente, Singular Bank se erige como la mayor banca privada independiente del mercado español. La entidad cuenta con un patrimonio bajo gestión de 13.000 millones de euros, un equipo de casi 400 profesionales y una red de 15 oficinas, ubicadas en Barcelona, La Coruña, Las Palmas, Madrid, Málaga, Murcia, Sevilla, Valencia, Zaragoza y León.</p>


<h2>Sobre Singular Bank</h2>
<p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>
<p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 80.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</p>
<p>Con tan solo tres años de trayectoria, la entidad ha sido galardonada en 2023 como “Mejor entidad en Transformación en Banca Privada de España” y “Mejor Banca Privada de España para la Inversión Sostenible” por la prestigiosa revista Euromoney. </p>


        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 