{% extends "_layouts/page.twig" %}
{% block page %}
<section class="p-basica">
  <div class="container">
    <div class="row u-mt-3">
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h1>Información legal</h1>
        <p><a class="ancla" href="#tablon_de_anuncios">Tablón de anuncios</a></p>
        <p><a class="ancla" href="#servicio_de_reclamaciones">Servicio de Reclamaciones</a></p>
        <!--<p><a class="ancla" href="#documentacion_legal">Documentación Legal</a></p>-->
        <p><a class="ancla" href="#normativa_mifid_II">Normativa MIFID II – MIFIR</a></p>
        <p><a class="ancla" href="#prevencion_del_blanqueo">Prevención del blanqueo de capitales y financiación del Terrorismo</a></p>
        <p><a class="ancla" href="#fatca">FATCA (Foreign Account Tax Compliance Act)</a></p>
        <p><a class="ancla" href="#crs">CRS (Common Reporting Standard)</a></p>
        <p><a class="ancla" href="#ECC/2316/2015">Orden ECC/2316/2015 relativa a las obligaciones de información y clasificación de productos financieros.</a></p>
        <p><a class="ancla" href="#psd2">Normativa PSD2</a></p>
        <p><a class="ancla" href="#esg">Normativa ESG (Sostenibilidad, medioambiente y gobernanza)</a></p>

        
        <h2 class="legal__title" id="tablon_de_anuncios">Tablón de anuncios</h2>
        <h3>Información sobre transparencia de operaciones bancarias y protección de los clientes</h3>
          <ul>
            <li>
              <a href="/doc/legal/politica-privacidad22.pdf" target="_blank">Política de privacidad para la prestación de servicios</a></li>
            </li>

            <li>
              <p><a href="https://docs.selfbank.es/documentacion/anejo1-self-bank.pdf" target="_blank">Anejo 1 Circular 5/2012 de la Circular 5/2012 de 27 de junio</a>, del Banco de España a entidades de crédito y proveedores de servicios de pago, sobre transparencia de los servicios bancarios y responsabilidad en la concesión de préstamos.</p>
            </li>
            <li>
              <p><a href="https://docs.selfbank.es/documentacion/anejo2-self-bank.pdf" target="_blank">Anejo 2 Circular 5/2012 de la Circular 5/2012 de 27 de junio</a>, sobre los tipos de interés y comisiones habitualmente aplicados a los servicios prestados con mayor frecuencia de manera trimestral.</p>
            </li>
            <li>Cuadro resumen de tipos aplicables<br><br>
              <div class="table-responsive">
                <table class="table">
                  <caption>
                  Cuadro resumen de tipos aplicables
                  </caption>
                  <thead>
                    <tr>
                      <th scope="col">Tipo Producto</th>
                      <th scope="col">TAE/TAE Variable(I)</th>
                      <th scope="col">Tipo Nominal Anual</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Descubierto en cuenta corriente</th>
                      <td>7,50%</td>
                      <td>7,250%</td>
                    </tr>
                    <tr>
                      <th scope="row">Cuenta Ahorro Remunerada</th>
                      <td>0,07%</td>
                      <td>&nbsp;0,0699%</td>
                    </tr>
                    <tr>
                      <th scope="row">Depósito a 3 años</th>
                      <td>0,05%</td>
                      <td>0,050%</td>
                    </tr>
                    <tr>
                      <th scope="row">Depósito a 5 años</th>
                      <td>0,25%</td>
                      <td>0,251%</td>
                    </tr>
                    <tr>
                      <th scope="row">Interés a Crédito</th>
                      <td>Euribor (1 mes) + 500 pb</td>
                      <td>Euribor (1 mes) + 4,89%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
  

              <p class="small">El tipo de interés de descubierto se aplicará sobre el máximo saldo contable diario en descubierto durante el periodo de liquidación. En descubiertos en cuentas de consumidores, la comisión cobrada junto con los intereses no podrá dar lugar a una tasa anual equivalente superior a 2,5 veces el interés legal del dinero, según establece el artículo 20 de la Ley 16/2011.</p>
              <p class="small">La TAE Variable es aplicable a aquellos productos cuyas condiciones contractuales permitan la modificación del tipo de interés aplicable y/o de las comisiones o gastos incluidos en la TAE. La TAE variable se ha calculado bajo la hipótesis de que los índices de referencia no varían, por tanto esta es la TAE Variable.</p>
            </li>


            <li>
              <p>
                <a href="/doc/legal/Listadelosservicios.pdf" target="_blank">Lista de servicios de atención al público</a>.
              </p>
            </li>

<li>
	<p>
<a href="/doc/legal/Impreso-de-informacion-a-los-depositantes.pdf" target="_blank">Impreso de información a depositantes</a>.


	</p>
</li>

            

          {# <li>
            <p>
              Servicios de pago
            </p>

            <p class="small">
              <a href="/doc/legal/precontractuales/precontractual-visa-platinum.pdf" target="_blank">Tarjeta de Crédito Platinum</a><br/>

              <a href="/doc/legal/precontractuales/precontractual-visa-infinite.pdf" target="_blank">Tarjeta de Crédito Infinite</a>

            </p>

          </li> #}


          </ul>
		
        <h3>Préstamo Hipotecario</h3>
        <p>A continuación se recoge toda la información que el Banco de España ha preparado para aquellos clientes que quieran contratar un préstamo para la adquisición de una vivienda.</p>
		
        <ul>
        <li><a href="https://www.bde.es/f/webbde/Secciones/Publicaciones/Folletos/Fic/Guia_hipotecaria_2013.pdf" target="_blank">Guía de acceso al préstamo hipotecario</a></li>
        <li><a href="https://www.bde.es/f/webbde/Secciones/Publicaciones/Folletos/Guia%20de%20acceso%20al%20prestamo%20hipotecario/folletoGuiaHipotecaria_BDE_02.pdf" target="_blank">Recomendaciones antes de contratar una hipoteca</a></li>
        <li><a href="/doc/legal/MIFID-II/FIPRE-tipo-fijo.pdf" target="_blank">FIPRE Tipo fijo</a></li>
        <li><a href="/doc/legal/MIFID-II/FIPRE-tipo-variable.pdf" target="_blank">FIPRE Tipo variable</a></li>
        <li><a href="/doc/legal/MIFID-II/condiciones-generales-prestamos-inmobiliarios.pdf" target="_blank">Condiciones Generales préstamos inmobiliarios</a></li>
        </ul>
		
		
		
        
         <h2 class="legal__title" id="servicio_de_reclamaciones">Servicio de Reclamaciones</h2>
        <h3>¿Cómo puedo efectuar una reclamación?</h3>
        <p>Ponemos a disposición de nuestros clientes el Departamento de Atención al Cliente a través del cual canalizar quejas o reclamaciones.</p>
        <ul>
          <li><strong>Por carta:</strong> Singular Bank, Departamento de Atención al Cliente<br>
            Calle Goya, 11. 28001 Madrid</li>
          <li><strong>O por correo electrónico:</strong> <a href="mailto:reclamaciones@singularbank.es">reclamaciones@singularbank.es</a></li>
        </ul>
        <h3>¿Qué tiene que contener dicha reclamación para que sea tramitada?</h3>
        <p>Tal como establece el Reglamento del Servicio de Atención al Cliente serán por escrito, deberán incluir los documentos probatorios que estimen necesarios y los siguientes datos:</p>
        <ul>
          <li>Nombre, apellidos y domicilio del interesado o persona que lo representa y acreditación de la representación y NIF si es persona física y datos del Registro en caso de ser una persona jurídica.</li>
          <li>Motivo de la reclamación y cuantía en su caso.</li>
          <li>La oficina, departamento o servicio donde se hubieran producido los hechos objeto de la reclamación.</li>
          <li>Declaración de que el reclamante no tiene conocimiento sobre si la cuestión objeto de reclamación está siendo sustanciada en un procedimiento administrativo, arbitral o judicial.</li>
          <li>Lugar, Fecha y firma.</li>
        </ul>
        <p>Para ver más en detalle, puedes consultar el <a href="/doc/legal/reglamento-servicio-atencion-cliente.pdf" target="_blank">Reglamento de funcionamiento del SAC</a>.</p>
        <h3>¿Qué plazos hay de respuesta para una reclamación?</h3>
        <p>Dos meses desde su presentación en el Servicio de Atención al Cliente o en la dirección de correo electrónico.</p>
		<p>En caso de reclamaciones relativas a condiciones y requisitos de información aplicables a los servicios de pago o a los derechos y obligaciones en relación con la prestación y utilización de servicios de pago, el plazo será de 15 días hábiles desde su presentación en Servicio de Atención al Cliente o en la dirección de correo electrónico.</p>
        <p>Una vez agotada la vía del departamento de Atención al Cliente de nuestra entidad, el cliente puede elevar quejas o reclamaciones a las entidades con competencia en materia de protección de clientela en mercados nacionales o formularles una consulta al respecto:</p>
        <p><strong>Servicio de Reclamaciones del Banco de España</strong><br>
          C/ Alcalá 48, 28014 MADRID</p>
		  <p>Si lo deseas, puedes <a href="https://sedeelectronica.bde.es/sede/es/menu/ciudadanos/reclamaciones-y-/Reclamaciones___2e85b7714582d21.html" target="_blank">ampliar esta información</a> en la web del Banco de España.</p>
        <p><strong>Departamento de inversores CNMV</strong><br>
          Calle Edison No4 28006 MADRID<br></p>
		  <p>Si lo deseas, puedes <a href="https://www.cnmv.es/portal/inversor/Reclamaciones.aspx" target="_blank">ampliar esta información</a> en la web de la CNMV.</p>
        
        
         <h2 class="legal__title" id="normativa_mifid_II">Normativa MIFID II – MIFIR</h2>
        <h3>¿Qué es MIFID II?</h3>
        <p>Es la <strong>Directiva 2014/65/EU</strong> relativa a los mercados de instrumentos financieros, que junto al<strong> reglamento MIFIR y sus actos de desarrollo</strong>, conforman el nuevo marco normativo sobre mercados e instrumentos financieros de aplicación en la Unión Europea a partir del 3 de enero de 2018.</p>
        <p><strong>MIFID II – MIFIR</strong> tienen como objetivo reforzar y homogeneizar la actual regulación europea sobre mercados financieros por varias vías, destacando, mejorar la transparencia y supervisión de los mercados, no sólo en lo relativo a la negociación de acciones e instrumentos similares sino también en relación con derivados e instrumentos financieros OTC, entre otros; reforzar la protección del inversor y la transparencia en las operaciones financieras; adaptarse a los desarrollos tecnológicos y de los mercados, entre otras.</p>
        <h3>Según esta norma, ¿cómo se clasifican los clientes de Singular Bank?</h3>
        <p>MIFID II exige la clasificación de los clientes a los que se prestan servicios de inversión, <strong>Singular Bank ha optado por un único segmento para su clientela</strong>, clasificando a la misma  <strong>como clientes MINORISTAS</strong>, que otorga el mayor grado de protección al inversor.</p>
<p>Los clientes tienen a su disposición el
	<a href="/doc/legal/MIFID-II/Formulario-de-Solicitud-de-Cambio-de-Clasificacion-de-Clientes-MiFID.pdf" target="_blank">Formulario de Solicitud de Cambio de Clasificación de Clientes MIFID</a>, que tendrán que hacer llegar a su banquero u oficina para solicitar un cambio de categoría.</p>

		<p>Como cliente se puede solicitar el cambio de clasificación, asumiendo las posibles implicaciones y limitaciones que acompañen a la clasificación solicitada en relación con el nivel de protección otorgado:</p>
		
		<ul>
          <li><strong>Clientes Profesionales:</strong> podrían solicitar ser tratados como clientes Minoristas.</li>
          <li><strong>Contrapartes Elegibles:</strong> podrían solicitar ser tratados como Clientes Profesionales o Minoristas.</li>
          <li><strong>Clientes Minoristas:</strong> podrán solicitar ser tratados como Clientes Profesionales, previa declaración por los mismos del cumplimiento de dos de los tres requisitos necesarios para que la entidad admita el cambio de clasificación y aportación, en su caso, de la documentación acreditativa de ese cumplimiento.</li>         
        </ul>
		
        <h3>Código LEI</h3>
        <p>Por otra parte, MIFID II requiere a todas las entidades jurídicas que deseen operar en los mercados financieros que dispongan de un código LEI<strong> (Identificador de Entidad Legal) </strong>para poder identificarse en las transacciones financieras que ordenen. Por ello, todos los clientes de Singular Bank que sean <strong>personas jurídicas deberán disponer de un código LEI</strong> para poder operar con valores negociables en los mercados de valores de la Unión Europea.</p>
        <h3>¿Cómo se clasifican los productos sujetos a esta normativa?</h3>
        <p>Los productos sujetos a la <strong>normativa MIFID II</strong> (fondos de inversión, valores negociados como acciones, valores de renta fija, derivados, productos estructurados, etc.) se pueden clasificar en dos grupos: <strong>productos complejos</strong> y <strong>no complejos</strong>. Los productos <strong>no complejos</strong> son aquellos que cumplen las siguientes características:</p>
        <ul>
          <li>Se pueden reembolsar de forma frecuente a precios conocidos por el público.</li>
          <li>El inversor no puede perder un importe superior a lo que invirtió inicialmente.</li>
          <li>Existe información pública, completa y comprensible sobre las características del producto.</li>
          <li>No son productos derivados.</li>
        </ul>
        <p>Los <strong>productos complejos</strong> serán aquellos que<strong> no cumplen con todas o alguna de las características anteriores</strong> (i.e. derivados, futuros, opciones, swaps, warrants, turbowarrants, contratos por diferencias (CFD), etc.). Esta distinción, establecida por la Directiva MIFID y completada por la nueva Directiva MIFID II es muy relevante. MIFID II refuerza los criterios de clasificación de productos complejos y no complejos establecida por la normativa MIFID, considerando los instrumentos complejos de deuda (bonos convertibles, pagarés rescatables, bono con vinculación crediticia) y los depósitos estructurados como productos complejos, entre otros. Dado que, con carácter general, resulta más difícil comprender las características y riesgos que llevan asociados los productos complejos, se requiere evaluar si los clientes minoristas tienen la experiencia y/o conocimientos suficientes para entender las características y riesgos asociados a dichos productos o servicios de inversión. Para satisfacer este requerimiento en Singular Bank<strong> realizamos un "Test de Conveniencia" </strong>que será formulado a los clientes antes de la prestación del servicio o contratación del producto, de tal forma que, en el supuesto de que el instrumento no resulte conveniente para el cliente, nuestra entidad sólo podrá tramitar la operación solicitada si previamente le advierte de ello y el cliente acepta expresamente los riesgos asociados al instrumento financiero.</p>
        <h3>Tick-size (variación mínima de precio de un instrumento financiero)</h3>
        <p>La variación mínima del precio de las acciones y de instrumentos financieros asimilados es un elemento de ordenación del mercado y debe estar ajustado al perfil de liquidez del instrumento.</p>
        <p>Aunque en la práctica los centros de negociación ya aplicaban un tamaño mínimo del tick, la nueva normativa establece medidas armonizadoras a nivel europeo, en función de rangos de precio y bandas de liquidez por número de operaciones del mercado más líquido.</p>
        <p>Para más información puedes <a href="https://www.cnmv.es/docportal/Legislacion/FAQ/FAQ_MiFIDII130718.pdf" target="_blank">consultar el documento de preguntas y respuestas sobre la aplicación MIFID de la CNMV</a>.</p>
        <h3>¿Qué políticas ha implementado Singular Bank para adecuarse a esta normativa?</h3>
        <ul>
          <li>Hemos establecido una <a href="/doc/legal/MIFID-II/politica-de-mejor-ejecucion.pdf" target="_blank">Política de Ejecución de órdenes</a> sobre los distintos instrumentos financieros, con el fin de obtener los mejores resultados posibles para nuestros clientes.</li>
<li>Además, hemos establecido una

<a href="/doc/legal/MIFID-II/politica-de-conflictos-de-interes.pdf" target=" _blank">Política de conflictos de interés</a>


que puedan surgir en nuestra actividad con clientes, con el fin de preservar los intereses de los mismos.</li>

          <li>Así como una <a href="/doc/legal/MIFID-II/politica-de-salvaguarda-de-instrumentos-financieros.pdf" target="_blank">Política de Salvaguarda de Instrumentos Financieros</a> para salvaguardar los derechos de propiedad de los clientes.</li>
        </ul>

        <h3>Otra Información legal sobre normativa MIFID II</h3>
        <p>A continuación ponemos a su disposición información que consideramos que puede resultar de su interés:</p>
        <ul>
          <li><a href="https://www.boe.es/doue/2014/173/L00349-00496.pdf" target="_blank">MIFID II - Directiva 2014/65/UE, de 15 de mayo de 2014</a></li>
          <li><a href="http://eur-lex.europa.eu/legal-content/ES/TXT/PDF/?uri=CELEX:32014R0600&amp;qid=1491984103846&amp;from=ES" target="_blank">MiFIR - Reglamento UE 600/2014, de 15 de mayo de 2014</a></li>
          <li><a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2017-15837" target="_blank">Real Decreto-ley 21/2017,</a> de 29 de diciembre, de medidas urgentes para la adaptación del derecho español a la normativa de la Unión Europea en materia del mercado de valores.</li>
          <li><a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2018-13180" target="_blank">Real Decreto-ley 14/2018, de 28 de septiembre,</a> por el que se modifica el texto refundido de la Ley del Mercado de Valores, aprobado por el Real Decreto Legislativo 4/2015, de 23 de octubre.</li>
        </ul>
        <p>Aquí podrás acceder a los <a href="http://cnmv.es/Portal/MiFIDII_MiFIR/ESI-Actos-Delegados.aspx" target="_blank">Actos Delegados y de Ejecución de la Comisión: Directivas y Reglamentos</a></p>
        
         <h2 class="legal__title" id="prevencion_del_blanqueo">Prevención del blanqueo de capitales y de la financiación del Terrorismo.</h2>
        <p>La <strong>prevención del blanqueo de capitales y financiación del Terrorismo</strong> tiene como finalidad prevenir e impedir la utilización del sistema financiero y de otros sectores de la actividad económica para blanquear los capitales procedentes de cualquier tipo de participación en la comisión de un delito.</p>
        <p>En Singular Bank, como sujeto obligado, cumplimos con la normativa vigente, estableciendo políticas y programas de prevención, órganos adecuados de control interno, manual de procedimientos, programas de formación a los empleados, sistemas y procedimientos para la detección de operaciones sospechosas y análisis de operaciones susceptibles de examen especial y procedimientos de comunicación Capitales e Infracciones Monetarias (SEPBLAC).</p>
        <h3>¿Qué normativa es de aplicación en la prevención del blanqueo y la financiación del terrorismo?</h3>
        <p>En España, <strong>la Ley 10/2010 de 28 de abril de prevención del blanqueo de capitales y el bloqueo a la financiación del Terrorismo</strong> tiene por objeto la protección de la integridad del sistema financiero y de otros sectores de actividad económica mediante el establecimiento de obligaciones de prevención para los sujetos obligados. La mencionada Ley supone la transposición de la Directiva 2005/60/CE del Parlamento Europeo y del Consejo de 26 de octubre de 2005.</p>
        <p>La Ley 10/2010, de 28 de abril ha sido modificada en ocho de sus artículos por la <strong>Ley 19/2013 de 9 de diciembre</strong>, de transparencia, acceso a la información pública y buen gobierno, en su Disposición Final Sexta.</p>
        <p>La aprobación del <strong>Real Decreto 304/2014, de 5 de mayo</strong>, por el que se aprueba el Reglamento de la Ley 10/2010, de 28 de abril supone la culminación del nuevo enfoque orientado al riesgo de la normativa preventiva en España, incorporando asimismo las principales novedades de la normativa internacional surgidas a partir de la aprobación de las nuevas Recomendaciones del Grupo de Acción Financiera Internacional (GAFI).</p>
        <h3>¿Qué políticas tiene Singular Bank en la prevención del blanqueo y la financiación del terrorismo?</h3>
        <p><strong>Para Singular Bank ha sido objetivo prioritario disponer de un sistema de prevención del blanqueo y financiación del terrorismo eficaz y es por ello que hemos definido un marco basado en los siguientes pilares:</strong></p>
        <ul>
          <li><strong>Política de conocimiento del cliente y del propósito o índole de la relación de negocios</strong> significa tener un conocimiento integral de los clientes, y más concretamente "conocer la actividad profesional o empresarial" de los clientes y el propósito de su relación de negocios.</li>
          <li><strong>Política de admisión de clientes:</strong> implica conocer "qué personas no pueden ser clientes de Singular Bank" y cuáles sí; y de entre las personas aceptadas como clientes, implica conocer el nivel de riesgo de blanqueo de capitales asociado.</li>
          <li><strong>Política de identificación formal de clientes:</strong> implica saber "quiénes son" los clientes, y para ello hay que solicitarles los documentos de identificación correspondientes.</li>
          <li><strong>Política de identificación del titular real:</strong> implica saber si los clientes actúan en nombre propio o de terceros, y en este último caso, implica saber por cuenta de quién actúan. En el caso de clientes personas jurídicas, implica conocer la estructura de propiedad o de control de las mismas.</li>
        </ul>
        <p>Este marco de actuación ha sido diseñado en línea con los requerimientos legales de la normativa vigente y con la aprobación e involucración de los miembros del Consejo de Administración.</p>
        <p>Como entidad financiera en Singular Bank estamos obligados a disponer de copia de determinados documentos de nuestros clientes y ello con el objetivo de verificar su identidad, actividad económica o profesional, el origen de sus fondos y propósito de la relación de negocios. El incumplimiento de este requisito legal podría obligarnos a cancelar las cuentas de los clientes que no aporten dicha documentación.</p>
        <p>
          <a href="/doc/legal/Wolfsberg-Anti-Money-Laundering-Questionnaire_2022.pdf" target="_blank">Cuestionario de Prevención del blanqueo de capitales y financiación del terrorismo</a>
        </p>

         <h2 class="legal__title" id="fatca">FATCA (Foreign Account Tax Compliance Act)</h2>
        <p><strong>España y Estados Unidos han firmado el Acuerdo Intergubernamental - Modelo 1 - en mayo de 2013 que establece las directrices a seguir por las entidades financieras extranjeras para el intercambio de información fiscal entre ambos países.</strong></p>
        <p>La entrada en vigor de FATCA inicialmente prevista para el 31.12.2013 y 01.01.2014 se prorroga hasta el 30.06.2014 para las cuentas preexistentes y 01.07.2014 para las cuentas nuevas.</p>
        <h3>¿Cuáles son las principales implicaciones de FATCA para las entidades financieras, como Singular Bank?</h3>
        <ul>
          <li><strong>Realizar una correcta identificación de los clientes</strong> - Se trata de detectar a través de una serie de indicios como la nacionalidad, residencia, domicilio postal y fiscal, lugar de nacimiento, teléfonos, transferencias periódicas a Estados Unidos y poderes notariales, entre otros, los posibles vínculos de los clientes con Estados Unidos.</li>
          <li><strong>Obtener obligatoriamente la documentación soporte de esta información</strong> para todos aquellos clientes sobre los que exista indicios de vinculación con Estados Unidos. Se solicitará el formulario W8 para aquellos clientes que indiquen no tener vinculación con Estados Unidos, además de otros documentos como pasaporte emitido por el Gobierno del que sea nacional y certificado de pérdida de nacionalidad americana cuando una persona haya renunciado a la nacionalidad americana (incluso si ha nacido en Estados Unidos).</li>
          <li><strong>Informar con carácter anual a las autoridades fiscales locales</strong>, en España a la AEAT sobre las llamadas "Cuentas sujetas a comunicación de información" según el acuerdo intergubernamental mencionado con anterioridad, y en concreto sobre la siguiente información:
            <ul>
              <li>Identidad de las personas y entidades (nombre, domicilios, Nif estadounidense).</li>
              <li>Sus cuentas (números de cuenta) y saldos en cuentas.</li>
              <li>Rentas brutas pagadas en estas cuentas (intereses, dividendos, ganancias, otras rentas ... con independencia de la fuente).</li>
            </ul>
          </li>
        </ul>
        <p>La primera vez que se informe a la AEAT será en 2015 en relación al año fiscal de 2014.</p>
        <p><strong>Te recordamos que en Singular Bank no admitimos clientes cuya nacionalidad o residencia o nacimiento sea EEUU o de territotorios norteamericanos (Puerto Rico, Samoa Americana, Isla Mariana del Norte, Guam, Islas Vírgenes Americanas e Islas Menores de EEUU).</strong></p>
        
         <h2 class="legal__title" id="crs">CRS (Common Reporting Standard)</h2>
        <p>Es un sistema de intercambio automático de información tributaria entre países que permitirá a las Administraciones tributarias de los países adheridos disponer de forma periódica de información fiscal de las inversiones o posiciones que sus contribuyentes mantienen en instituciones financieras situadas en el extranjero.</p>
        <p>Los principios generales del sistema CRS están inspirados en la normativa FATCA impulsada por Estados Unidos durante el año 2014, ya que se establecen procesos similares de identificación, documentación y clasificación de clientes. La principal diferencia es que la clasificación de los clientes según CRS se realiza en función de su residencia fiscal, mientras que FATCA sigue un criterio de ciudadanía.</p>
        <p>El primer objetivo de esta nueva normativa supranacional es, por tanto, incrementar la información disponible para las autoridades fiscales de los países miembros, que les permita, de ese modo, prosperar en la lucha contra la evasión fiscal.</p>
        <p>51 países, entre ellos España, firmaron un primer Acuerdo impulsado por la OCDE en octubre de 2014, que establece las directrices a seguir por las entidades financieras extranjeras para el intercambio de información fiscal entre los países miembros. Actualmente son ya más de 70 los países que han mostrado su compromiso con el sistema CRS.</p>
        <p>La entrada en vigor de CRS es el 1 de enero de 2016, fecha de inicio de las obligaciones de identificación y documentación (due diligence), habiéndose establecido el 30 de septiembre de 2017 para el primer intercambio de información entre países miembros.</p>
        <h3>¿Cuáles son las principales implicaciones de CRS para las entidades financieras, como Singular Bank?</h3>
        <ul>
          <li><strong>Realizar una correcta identificación de los clientes</strong>: Se trata de determinar y verificar la residencia fiscal de los clientes.</li>
          <li><strong>Obtener obligatoriamente la documentación soporte de esta información</strong> Se solicitara a los clientes que confirmen su residencia fiscal, tanto en la apertura de la cuenta como en cualquier momento posterior donde pueda existir algún indicio de que dicha residencia fiscal haya podido variar. El cliente debe comprometerse a informar a Singular Bank de cualquier modificación que se produzcan en su residencia fiscal.</li>
          <li><strong>Informar con carácter anual a las autoridades fiscales locales</strong>, En España se enviará información a la AEAT sobre aquellos clientes con residencia fiscal en otro país adherido al acuerdo CRS.</li>
        </ul>
        
        <h2 class="legal__title" id="ECC/2316/2015">Orden ECC/2316/2015 relativa a las obligaciones de información y clasificación de productos financieros.</h2>
        <p>El objetivo de la Orden ECC/2316/2015, de 4 de noviembre, relativa a las obligaciones de información y clasificación de productos financieros es <strong>garantizar un nivel adecuado de protección a los clientes </strong>mediante la fijación de un sistema normalizado de información y clasificación del riesgo, restricciones a la liquidez y complejidad de aquellos productos sujetos a la norma.</p>
        <h3>¿Cuáles son las principales implicaciones de la Orden para las entidades financieras, como Singular Bank?</h3>
        <p>En Singular Bank nos aseguramos que nuestros clientes reciben información suficiente y comparable que les permita decidir qué productos se adaptan mejor a sus necesidades y preferencias de ahorro e inversión entregando a nuestros clientes un <strong>indicador del nivel de riesgo</strong> y, si procede, las alertas por liquidez y complejidad del producto de acuerdo a los criterios de clasificación y formato establecidos en la norma.</p>
        <p>Lo entregamos <strong>con anterioridad a la contratación </strong>de un producto sujeto a la Orden, clasificando el riesgo de los productos sujetos a la norma en las distintas categorías establecidas al efecto (este número es indicativo del riesgo del producto, siendo 1/6 indicativo de menor riesgo y 6/6 de mayor riesgo), así como indicando, si procede, la complejidad y posibles restricciones a la liquidez.</p>
       
        
         <h2 class="legal__title" id="psd2">Normativa PSD2</h2>
        <p>En cumplimiento del Real Decreto-ley 19/2018, de 23 de noviembre, de servicios de pago y otras medidas urgentes en materia financiera y siguiendo las especificaciones del Reglamento Delegado 2018/389 de la Comisión, de 27 de noviembre de 2017 por el que se complementa la Directiva (UE) 2015/2366 del Parlamento Europeo, ponemos a disposición de terceros (proveedores de servicios de información sobre cuentas y proveedores de servicios de iniciación de pagos) los siguientes links en donde encontrarán la documentación técnica de la interfaz, así como una instalación de pruebas para pruebas funcionales y de conexión:</p>
        <p><strong>Sandbox:</strong></p>
        <p><a href="https://market.apis-i.redsys.es/psd2/xs2a/nodos/selfbank" target="_blank">https://market.apis-i.redsys.es/psd2/xs2a/nodos/selfbank</a></p>
        <p><strong>OAuth Sandbox</strong></p>
        <p><a href="https://apis-i.redsys.es:20443/psd2/xs2a/api-oauth-xs2a/services/rest/selfbank" target="_blank">https://apis-i.redsys.es:20443/psd2/xs2a/api-oauth-xs2a/services/rest/se...</a></p>
        <p><strong>API Sandbox</strong></p>
        <p><a href="https://apis-i.redsys.es:20443/psd2/xs2a/api-entrada-xs2a/services/selfbank" target="_blank">https://apis-i.redsys.es:20443/psd2/xs2a/api-entrada-xs2a/services/selfbank</a></p>


        

        <h2 class="legal__title" class="legal__title" id="esg">Normativa ESG (Sostenibilidad, medioambiente y gobernanza)</h2>
        <p><strong>Información sobre la forma en que el Grupo Singular Bank integra los riesgos en materia de sostenibilidad</strong></p>
        <p>De acuerdo con lo dispuesto en el Reglamento (UE) 2019/2088 del Parlamento Europeo y del Consejo de 27 de noviembre de 2019, sobre la divulgación de información relativa a la sostenibilidad en el sector de los servicios financieros, y en el marco del compromiso que el Grupo Singular Bank mantiene para la correcta integración de dichos riesgos, el Grupo ha adoptado, y adoptará, diferentes Políticas para integrar los riesgos en materia de sostenibilidad en su proceso de toma de decisiones de inversión (en lo que respecta a las carteras que se encontrarán bajo el servicio de gestión discrecional y al servicio de asesoramiento financiero).</p>

        <p>Los objetivos que Singular Bank persigue a través de la integración de dichos riesgos son:</p>

        <ul>
          <li>Mantener la implicación de Singular Bank en la creación de un efecto positivo a largo plazo en el medio ambiente y la sociedad.</li>
          <li>Continuar ofreciendo a los clientes de Singular Bank una gestión optimizada de los distintos riesgos que pueden tenerse en cuenta a la hora de prestar servicios de inversión, aportando así un valor añadido a la relación con éstos.</li>
        </ul>

        <p>De forma particular, a nivel de Grupo, se han aprobado las siguientes Políticas en el marco de la integración de dichos riesgos:</p>

        <ul>
<li>
	<a href="/doc/esg/20240620_PoliticaESG_ES.pdf" target="_blank">Política de integración de Riesgos de Sostenibilidad (Grupo Singular Bank)</a>

</li>


          </ul>







<p>No consideración de las incidencias adversas del asesoramiento en materia de inversión sobre los factores de sostenibilidad.</p>


<p>Singular Bank, S.A.U. no tendrá en cuenta, por el momento, las principales incidencias adversas sobre los factores de sostenibilidad durante la toma las decisiones de inversión, ni durante la prestación del servicio de asesoramiento en materia de inversión debido a que actualmente no estarían implementados los desarrollos técnicos internos que permitan la identificación y ponderación de éstas en la toma de decisiones de inversión y en la prestación del servicio de asesoramiento en materia de inversión y carecer actualmente de políticas de diligencia debida en relación con dichas incidencias adversas.</p>


<p>Por otro lado, cabe señalar que esta decisión afecta a la propia entidad, no a los productos ofertados, los cuales podrán tener sus propias políticas para detectar y priorizar las principales incidencias adversas sobre los factores de sostenibilidad. Igualmente, Singular Bank S.A.U cuenta con proveedores externos de rating ASG, los cuales en un futuro podrían analizar igualmente las incidencias adversas en materia de inversión.</p>



          <ul>
         


          <li>
           <a href="/doc/esg/informacion-legal-PoliticaAccionistas.pdf" target="_blank">Política de Implicación de Accionistas a largo plazo (Singular Asset Management)</a></li>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
{% endblock %}
