{% extends "_layouts/news.twig" %}
{% block page %}

<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-">
        <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Singular Bank adquiere Belgravia Capital SGIIC SA para completar su oferta de servicios financieros</h1>
        <p class="c-news__fecha">Madrid, 13 de octubre de 2020</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

      <p>Singular Bank, el primer banco privado independiente de España, realiza su segunda operación en el mercado español, la adquisición de Belgravia Capital SGIIC SA. Fundada en 2002, aporta un equipo gestor de dilatada experiencia, liderado por Carlos Cerezo y una cartera de 2 fondos de inversión españoles, 3 subfondos luxemburgueses y un plan de pensiones asesorado.</p>
	  <p>La gestora, especializada en renta variable europea cuenta entre sus productos destacados con Belgravia Epsilon fondo de retorno absoluto, que desde su inicio en julio de 1999 acumula una rentabilidad del 303%, frente al 109% del Stoxx 600,*siendo la rentabilidad acumulada en el 2020 un 3%.  Asimismo, Belgravia Capital lanzó en este año Belgravia Lux Tau, un producto con vocación de estar invertido al máximo de su capacidad (fully invested) y que acumula una rentabilidad de un 6,9%. A diferencia de otros productos, que tienen mayor libertad a la hora de decidir qué porcentaje de sus activos están invertidos, este fondo responde al fuerte interés de algunos clientes que buscan estar en todo momento invertidos en mercado, aprovechando así todas las oportunidades que puedan ir surgiendo.</p> 
	  <p>“Como dijimos en la presentación de la nueva marca, nuestra estrategia se fundamenta en el crecimiento orgánico, pero estudiaremos cualquier oportunidad no orgánica que tenga sentido estratégico y financiero para el Banco”, explican desde la entidad.  “La independencia, el rigor, la transparencia o la excelencia son valores que compartimos con Belgravia, lo que consideramos esencial para un buen encaje de los equipos”.</p>
	  <p>Desde Belgravia Capital, Carlos Cerezo señala que “integrarnos en la estructura de Singular Bank nos permite conservar todos nuestros valores y continuar centrados en la gestión de nuestros productos a la vez que nos acerca al inversor cualificado al que nos dirigimos.”</p>
	  <p>Los inversores en los fondos de Belgravia seguirán contando con el mismo equipo gestor y la misma filosofía de inversión, a lo cual se añadirá ahora el respaldo de una institución como Singular Bank.  
<p><em>*Datos desde el 31/07/1999 el 30/09/2020. Desde Julio de 1999 hasta agosto de 2004 el comportamiento histórico corresponde a Belgravia Beta SICAV, sociedad con la misma política de inversión que se fusionó con Belgravia Epsilon FI en abril de 2017.  La serie del Stoxx 600 incluye dividendos netos.</em></p>

      </div>
    </div>

   <!-- <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>-->

  </div>
</section>

{% include "_includes/ctabox.twig" %}

{% endblock %}
