
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#carlos-perez">
  <img data-src="/assets/images/quienes-somos/CarlosPerezH.jpg" class="w-100 lazyload" alt="Carlos Pérez Parada" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Carlos Pérez Parada</h3>
<p class="c-persona__position">Director General. Inversiones y Productos</p>

<div class="c-persona__modal modal fade" id="carlos-perez" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
            <img data-src="/assets/images/quienes-somos/CarlosPerezV.jpg" class="c-persona__modal__image lazyload h-100" alt="Carlos Pérez Parada" />
          </div>
          <div class="col-lg-7">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Carlos Pérez Parada</h3>
                <p class="c-persona__position">Director General.<br>Inversiones y Productos</p>
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                <p>Anteriormente ha ocupado, entre otros, los siguientes cargos:</p>
                <ul>
                  <li>Consejero Delegado en Andbank Wealth Management SGIIC</li><li>Director General de Wealth Management y Asesoramiento de Andbank España</li>
				  <li>Consejero Delegado de Barclays Wealth Managers Western Europe (España, Francia y Portugal)</li>
				  <li>Director General de Inversiones de JPMorgan Private Bank para Europa, Oriente Medio y África (EMEA)</li>
				  <li>Asesor de inversiones externo para la Organización Mundial de la Salud (OMS) en Ginebra</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
