
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#david-bellamy">
  <img data-src="/assets/images/quienes-somos/DavidBellamyH.jpg" class="w-100 lazyload" alt="David Bellamy" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">David Bellamy</h3>
<p class="c-persona__position">Consejero no ejecutivo de Soderberg & Partners y <i>Trustee</i> de the Weatherbys Family Trusts</p>



<div class="c-persona__modal modal fade" id="david-bellamy" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
            <img data-src="/assets/images/quienes-somos/DavidBellamyV.jpg" class="c-persona__modal__image lazyload h-100" alt="David Bellamy" />
          </div>
          <div class="col-lg-7">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">David Bellamy</h3>
<p class="c-persona__position">Consejero no ejecutivo de Soderberg & Partners y <i>Trustee</i> de the Weatherbys Family Trusts</p>


              </div>
              <div class="col-lg-12 c-persona__modal__text">
<p>Anteriormente, fue fundador, Consejero Delegado y Presidente no ejecutivo de St. James´s Place PLC, y Presidente no ejecutivo de Weatherbys Bank LTD.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
