
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#dolores-ybarra">
<img data-src="/assets/images/quienes-somos/Dolores-ybarra-original edicionh.jpg" class="w-100 lazyload" alt="Dolores Ybarra Castaño"/>

  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Dolores Ybarra Castaño</h3>
<p class="c-persona__position">CONSEJERA DELEGADA EN FINAIPRO IP, INC.</p>



<div class="c-persona__modal modal fade" id="dolores-ybarra" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
          <img data-src="/assets/images/quienes-somos/Dolores-ybarra-originalv.jpg" class="c-persona__modal__image lazyload h-100" alt="Dolores Ybarra Castaño"/>

          </div>
          <div class="col-lg-7">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Dolores Ybarra Castaño</h3>
                  <p class="c-persona__position">CONSEJERA DELEGADA EN FINAIPRO IP, INC.</p>
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                <p>Anteriormente, ha ocupado distintos cargos en las siguientes compañías:</p>
                  <ul>
                    <li>Santander Wealth Management & Insurance Division, como responsable global de Productos e Inversión de Santander Private Banking</li>
                    <li>Consejera Delegada de Santander Asset Management y Santander Pensiones en España</li>
                    <li>Price Waterhouse Coopers como auditora en el sector financiero</li>
                  </ul>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
