
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#laura-de-rivera">
  <img data-src="/assets/images/quienes-somos/LauradeRiveraH.jpg" class="w-100 lazyload" alt="Laura de Rivera" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Laura de Rivera</h3>
<p class="c-persona__position">Directora de regulación y servicios jurídicos del grupo red eléctrica y miembro de su comité ejecutivo</p>



<div class="c-persona__modal modal fade" id="laura-de-rivera" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
            <img data-src="/assets/images/quienes-somos/LauradeRiveraV.jpg" class="c-persona__modal__image lazyload h-100" alt="Laura de Rivera" />
          </div>
          <div class="col-lg-7">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Laura de Rivera</h3>
                <p class="c-persona__position">Directora de regulación y servicios jurídicos del grupo red eléctrica y miembro de su comité ejecutivo</p>
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                <p>Anteriormente ha ocupado, entre otros, los siguientes cargos:</p>
                <ul>
                  <li>Secretaria del Consejo General y directora de la Asesoría Jurídica del Instituto de Crédito Oficial (ICO).</li>
                  <li>Secretaria del Patronato de la Fundación ICO.</li>
                  <li>Secretaria del Consejo de Administración y del Comité de Auditoria de AXIS- Participaciones Empresariales SGEIC.</li>
                  <li>Secretaria General de la Corporación de Radio Televisión Española.</li>
                  <li>Directora General del Patrimonio Histórico de la Comunidad de Madrid.</li>
                  <li>Letrada en el Consejo Consultivo de la Comunidad de Madrid.</li>
                  <li>Abogada del Estado en activo en los Juzgados y Tribunales Superiores de Justicia en Madrid y Cataluña.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
