
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#luis-moreno">
  <img data-src="/assets/images/quienes-somos/LuisMorenoH.jpg" class="w-100 lazyload" alt="Luis Moreno" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Luis Moreno García</h3>
<p class="c-persona__position">Director General. Marketing</p>

<div class="c-persona__modal modal fade" id="luis-moreno" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
            <img data-src="/assets/images/quienes-somos/LuisMorenoV.jpg" class="c-persona__modal__image lazyload h-100" alt="Luis Moreno" />
          </div>
          <div class="col-lg-7">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Luis Moreno García</h3>
                <p class="c-persona__position">Director General <br>Marketing</p>
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                <p>Anteriormente ha ocupado, entre otros, los siguientes cargos:</p>
                <ul>
                  <li>Director General de Banca Privada Gestión de Activos y Seguros en Banco Santander</li>
                  <li>Presidente Banco Santander Private Banking Italia</li>
                  <li>Consejero Santander International Bank (Miami)</li>
                  <li>Director General en Banif</li>
                  <li>Responsable de Tecnología y Operaciones en UBS España</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
