
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#miguel-temboury">
  <img data-src="/assets/images/quienes-somos/MiguelTembouryH.jpg" class="w-100 lazyload" alt="Miguel Temboury" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Miguel Temboury</h3>
<p class="c-persona__position">Senior Advisor en Barclays y Consejero Independiente en Aedas Homes.</p>

<div class="c-persona__modal modal fade" id="miguel-temboury" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
            <img data-src="/assets/images/quienes-somos/MiguelTembouryV.jpg" class="c-persona__modal__image lazyload h-100" alt="Miguel Temboury" />
          </div>
          <div class="col-lg-7">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Miguel Temboury</h3>
                <p class="c-persona__position">Senior Advisor en Barclays y Consejero Independiente en Aedas Homes</p>
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                <p>Anteriormente ha ocupado, entre otros, los siguientes cargos:</p>
                <ul>
                  <li>Subsecretario de Economía y Competitividad</li>
                  <li>Consejero de la SEPI</li>
                  <li>Miembro de la Comisión Rectora del FROB</li>
                  <li>Presidente de la Corte de Arbitraje de la Cámara de Comercio de Madrid</li>
                  <li>Socio de Pérez-Llorca</li>
                  <li>Director del Gabinete del Ministro del Interior</li>
                  <li>Asesor para Consejo de Ministros en el Gabinete del Vicepresidente segundo del Gobierno y Ministro de Economía</li>
                  <li>Abogado del Estado-Jefe en la Secretaría de Estado de Economía, Energía y PYME</li>
				  <li>Abogado del Estado ante los Tribunales Superiores de Justicia de Cataluña y Madrid y ante la Audiencia Nacional</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
