
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#peter-deming">
  <img data-src="/assets/images/quienes-somos/PeterDemingH.jpg" class="w-100 lazyload" alt="Peter Deming" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Peter Deming</h3>
<p class="c-persona__position">Managing Director de Warburg Pincus International</p>

<div class="c-persona__modal modal fade" id="peter-deming" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
          <img data-src="/assets/images/quienes-somos/PeterDemingV.jpg" class="c-persona__modal__image lazyload h-100" alt="Peter Deming" />
          </div>
          <div class="col-lg-7">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Peter Deming</h3>
                <p class="c-persona__position">Managing Director de Warburg Pincus International</p>
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                <p>Consejero de:</p>
                <ul>
                  <li>Evelyn Partners ( R.U.)</li>
                    <li>Aztec Group (Jersey)</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
