
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#personaModal">
  <img data-src="/assets/images/quienes-somos/RanieriMarchisH.jpg" class="w-100 lazyload" alt="William Conelly" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Ranieri de Marchis</h3>
<p class="c-persona__position">Asesor Externo de BAIN y Presidente de BBF BANK</p>


<div class="c-persona__modal modal fade" id="personaModal" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
            <img data-src="/assets/images/quienes-somos/RanieriMarchisV.jpg" class="c-persona__modal__image lazyload h-100" alt="William Conelly" />
          </div>
          <div class="col-lg-7">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Ranieri de Marchis</h3>
                <p class="c-persona__position">Asesor Externo de BAIN y Presidente de BBF BANK</p>
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                <p>Anteriormente ha ocupado, entre otros, los siguientes cargos:</p>
                <ul>
                  <li>Vicepresidente Ejecutivo Senior de Operaciones del Grupo Unicredit.</li>
                  <li>Director General ad interim y Co-Director de Operaciones de UniCredit.</li>
                  <li>Vicepresidente Ejecutivo Senior y Director de Auditoría Interna de UniCredit.</li>				  
                  <li>Director Financiero del Grupo Unicredit.</li>
                  <li>Director Financiero de General Electric Oil & Gas.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
