
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#sergio-redruello">
<img data-src="/assets/images/quienes-somos/Sergio_Horizontal.jpg" class="w-100 lazyload" alt="Sergio Redruello Lebrusant"/>


  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Sergio Redruello Lebrusant</h3>

<p class="c-persona__position">Director General. Finanzas y Estrategia</p>


<div class="c-persona__modal modal fade" id="sergio-redruello" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">

  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
<img data-src="/assets/images/quienes-somos/Sergio_Vertical.jpg" class="c-persona__modal__image lazyload h-100" alt="Sergio Redruello Lebrusant"/>


          </div>
          <div class="col-lg-7">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Sergio Redruello Lebrusant</h3>

                <p class="c-persona__position">Director General.<br>Finanzas y Estrategia</p>
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                <p>Anteriormente ha ocupado, entre otros, los siguientes cargos:</p>
                <ul>
                  <li>Director General en Alvarez & Marsal</li>
                  <li>Senior Advisor en McKinsey</li>
                  <li>Director de Transformación en Santander Asset Management</li>
                  <li>Director del Gabinete del Consejero Delegado de Santander</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
