{% extends "_layouts/page.twig" %}
{% block page %}
<div class="plan-details w-100">
  <section class="c-hero c-hero--details-top mt-8">
    <div class="container">
      <div class="row">
	      <div class="col-12 col-sm-6 col-lg-4 mt-8">
          <div class="info-box mr-sm-0 ml-sm-0 "> 
            <span class="info-box-title">1/6</span> <span>Este número es el indicativo del riesgo del producto, siendo 1/6 indicativo de menor riesgo y 6/6 de mayor riesgo.</span> 
          </div>
          <div class="info-box info-box-no-upper-border mb-5 mb-lg-0 mr-sm-0 ml-sm-0"> 
            <span>Singular Bank se encuentra adherido al Fondo Español de Garantía de Depósitos de Entidades de Crédito. La cantidad máxima garantizada por el Fondo es de 100.000 euros por depositante.</span> 
          </div>
        </div>	  
        <div class="col-12 col-sm-6 col-lg-8">
          <div class="c-hero__container">
            <h1>Cuenta corriente <span class="bold">Singular Top</span></h1>
            <h3>Nuestros servicios de alto valor, con los detalles más exclusivos. Para clientes de altura.</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="background-gray u-pt-4 u-pb-4">
    <div class="container">
      <div class="row">       
        <div class="col-12 col-lg-7 col-xl-8">
          <h2 class="red-text">Singular Top</h2>
          <div class="red-text d-flex flex-column"> 
            <span>SERVICIOS EXCELENTES Y VIAJES SIN SORPRESAS.</span> 
          </div>
          <div class="description mt-4">Para el cliente que viaja con frecuencia, por lo que necesita mayor capacidad de pago, comodidad en los aeropuertos, seguridad ante imprevistos, mayores niveles de protección de sus dispositivos móviles y actividad digital.</div>
          <div class="mt-4 d-flex flex-column w-fit-content">
            <div class="d-flex justify-content-left mb-3"><span class="price-number bold">20,00</span> €/mes</div>
            <a href="/cuentas-y-tarjetas/#comparativa" class="c-button">COMPARAR CUENTAS</a></div>
	        </div>
		
		    <div class="col-12 col-lg-4 offset-lg-1 col-xl-3">
          {% include "_includes/callbox.twig" %}
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container u-mt-2">
      <div class="mb-5">
        <div class="img">
          <img class="img-table-width h-auto mb-4 ml-3" src="../../assets/images/bancario.svg" alt=""/>
        </div>

          <div class="ml-0 mr-0 row width-full">
        
          <div class="row width-full">

            <div class="section-title col-lg-5 d-flex flex-column">
              <h3 class="red-text mb-2">Operativa diaria</h3>
                <div class="subtitle gray-text">Detalle de ingresos y gastos para sacar el máximo partido a su cuenta.</div>
            </div>
            <div class="col-lg-1"></div>
            <div class="section-details col-lg-6">			
            <div class="row">
              <table class="w-100 table-mg-top mr-3 ml-3 mr-sm-0 ml-sm-0 ">
                <tr>
                  <td class="label-cell">Tarjeta de crédito Infinite</td>
                  <td class="data-cell"><img data-src="/assets/images/cuentas-y-tarjetas/infinite-credito.jpg" class="mw-100 lazyloaded" alt="Infinite Credito" src="/assets/images/cuentas-y-tarjetas/infinite-credito.jpg"></td>
                </tr>
                <tr>
                  <td class="label-cell">Límite de crédito mínimo (personalizable)</td>
                  <td class="data-cell">10.000 €</td>
                </tr>
                <tr>
                  <td class="label-cell">Tarjeta de débito</td>
                  <td class="data-cell"><img data-src="/assets/images/cuentas-y-tarjetas/classic-debito.jpg" class="mw-100 lazyloaded" alt="Debito Classic" src="/assets/images/cuentas-y-tarjetas/classic-debito.jpg"></td>
                </tr>
                <tr>
                  <td class="label-cell">Extracciones a débito ilimitadas en cualquier cajero </td>
                  <td class="data-cell">Gratuito</td>
                </tr>
                <tr>
                  <td class="label-cell">Transferencias ncionales e internacionales en euros</td>
                  <td class="data-cell">Gratuito</td>
                </tr>
                <tr>
                  <td class="label-cell">Descubierto gratuito en cuenta</td>
                  <td class="data-cell">3 días</td>
                </tr>
                <tr>
                  <td class="label-cell">Alertas SMS</td>
                  <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                </tr>
                <tr>
                  <td class="label-cell">Google / Samsung Pay</td>
                  <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>

                </tr>
              </table>
			      </div>
            </div>
          </div>
        </div>
      </div>
	  
      <!--<div class="mb-5">
        <div class="ml-0 mr-0 row">
          <div class="row"> <img class="img-table-width h-auto mb-4 ml-3" src="../../assets/images/bancario.svg" alt="" /> </div>
          <div class="row">
            <div class="section-title col-lg-5 d-flex flex-column">
              <h3 class="red-text mb-2">Contabilidad doméstica</h3>
              <div class="subtitle gray-text">Seremos su socio financiero: un verdadero asistente para planificar sus ingresos y gastos y sacar el máximo partido a su cuenta.</div>
            </div>
            <div class="col-lg-1"></div>
            <div class="section-details col-lg-6">
			<div class="row">
              <table class="w-100 table-mg-top mr-3 ml-3 mr-sm-0 ml-sm-0 ">
                <tr>
                  <td class="label-cell">Categorización de movimentos</td>
                  <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                </tr>
                <tr>
                  <td class="label-cell">Personalización de movimientos </td>
                  <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                </tr>
                <tr>
                  <td class="label-cell">Resumen de ingresos y gastos </td>
                  <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                </tr>
              </table>
			  </div>
            </div>
          </div>
        </div>
      </div>-->

<div class="mb-5">
	<div class="ml-0 mr-0 row">
		<div class="row">
			<img class="img-table-width h-auto mb-4 ml-3" src="../../assets/images/coche.svg" alt=""/>
		</div>
		<div class="row">
			<div class="section-title col-lg-5 d-flex flex-column">
				<h3 class="red-text">Viajes y desplazamientos</h3>
				<div class="description gray-text">Solo tiene que elegir el destino y viajar cómodamente y sin preocupaciones, con la asistencia más exquisita y la seguridad de que usted y los suyos tendrán el mayor respaldo en caso necesario.</div>
			</div>
			<div class="col-lg-1"></div>
			<div class="section-details col-lg-6">
				<div class="row">
					<table class="w-100 table-mg-top mr-3 ml-3 mr-sm-0 ml-sm-0 ">
						<tr>
							<td class="label-cell">Bip & Drive (Telepeaje, y descuentos en gasolineras, parking, etc.)</td>
							<td class="data-cell">Gratuito</td>
						</tr>
						<tr>
							<td class="label-cell">Pases a Salas VIP Aeropuertos por valor de 150 €</td>
							<td class="data-cell">2 pases anuales</td>
						</tr>
						<tr>
							<td class="label-cell">Seguro de Accidentes</td>
							<td class="data-cell">1.000.000 €</td>
						</tr>
            <tr>
              <td class="label-cell">Visa Luxury Hotels, mejor tarifa disponible, Wi-Fi cortesía, y salida extendida</td>
              <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
            </tr>

						<tr>
							<td class="label-cell">Garantías asistencia médica, cobertura de gastos médicos, traslados y estancias, etc</td>
							<td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
						</tr>
						<tr>
							<td class="label-cell">Garantías incidencias en viajes y vuelos, reembolso gastos por demora, etc</td>
							<td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
						</tr>
						<!--<tr>
						                    <td class="label-cell">Servicio Asistencia en viaje, asistencia jurídica, etc</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>-->
						<tr>
							<td class="label-cell">Garantías equipajes y documentos, perdida, daños y robo de equipaje, etc</td>
							<td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
						</tr>
						<!--<tr>
						                    <td class="label-cell">Servicio de información 24 horas</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>
						                 			  
						                  <tr>
						                    <td class="label-cell">Envío de flores</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>
						                  <tr>
						                    <td class="label-cell">Reserva de restaurantes</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>
						                  <tr>
						                    <td class="label-cell">Servicio de envíos de regalos</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>
						                  <tr>
						                    <td class="label-cell">Reserva de vehículos de alquiler</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>
						                  <tr>
						                    <td class="label-cell">Servicio de canguros (sólo España)</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>
						                  <tr>
						                    <td class="label-cell">Envío de taxis</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>
						                  <tr>
						                    <td class="label-cell">Transferencia de llamadas</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>
						                  <tr>
						                    <td class="label-cell">Reservas varias</td>
						                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
						                  </tr>-->
						<tr>
							<td class="label-cell">Atención personal en reservas: viajes, restaurantes, taxis...</td>
							<td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
						</tr>
            <tr>
              <td class="label-cell">Gestión de visados</td>
              <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
            </tr>

						<tr>
							<td class="label-cell">Asistencia en carretera Km 0</td>
							<td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
						</tr>
						<tr>
							<td class="label-cell">Asistencia en viajes a personas</td>
							<td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
						</tr>
						<tr>
							<td class="label-cell">Reparación in situ</td>
							<td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
						</tr>
						<tr>
							<td class="label-cell">Remolque</td>
							<td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido"/></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

	   <div class="mb-5">
        <div class="ml-0 mr-0 row">
          <div class="row"> 
            <img class="img-table-width h-auto mb-4 ml-3" src="../../assets/images/correo.svg" alt="" /> 
          </div>
          <div class="row">
            <div class="section-title col-lg-5 d-flex flex-column">
              <h3 class="red-text">Seguridad y asistencia tecnológica</h3>
              <div class="subtitle gray-text">Nada que temer en las redes. Ponemos a su servicio la máxima protección técnica y legal, porque su seguridad en este ámbito es prioritaria.</div>
            </div>
            <div class="col-lg-1"></div>
            <div class="section-details col-lg-6">
			        <div class="row">
                <table class="w-100 table-mg-top mr-3 ml-3 mr-sm-0 ml-sm-0 ">
          
                  <tr>
                    <td class="label-cell"> Antivirus 5 dispositivos móviles y/o sobremesa </td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Robo/Rotura dispositivos móviles</td>
                    <td class="data-cell">500€/año</td>
                  </tr>
                  <tr>
                    <td class="label-cell">Móvil de sustitución/cortesía</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Bloqueo del teléfono móvil</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Rastreo de ordenadores robados</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Copia de seguridad online</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Encendido/apagado de tarjetas (débito y crédito)</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Análisis terminal PC</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Asistencia tecnológica </td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Asistencia informática remota </td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Asistencia informática a domicilio  </td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Descarga de software   </td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Manitas tecnológico </td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Asistencia tecnológica en teletrabajo </td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <!--
                  <tr>
                    <td class="label-cell">Protección y mejora de redes WiFI</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Gestión de contraseñas seguras</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Borrado Digital</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Copia de seguridad on line</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Recuperación de datos</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Software de Navegación segura</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Control parental</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Llamadas no autorizadas</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Análisis de terminal PC</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Asistencia Tecnológica</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Asistencia informática remota</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Asistencia informática a domicilio</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Descarga de software</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Manitas tecnológico</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Asistencia tecnológica en Teletrabajo</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>				
                  -->
                </table>
			        </div>
            </div>
          </div>
        </div>
      </div>
	    <div class="mb-5">
        <div class="row"> 
          <img class="img-table-width h-auto mb-4 ml-3" src="../../assets/images/compras-seguras.svg" alt="" /> 
        </div>
        <div class="row">
          <div class="section-title col-lg-5 d-flex flex-column">
            <h3 class="red-text">Sus compras siempre seguras.</h3>
            <div class="gray-text">Protegemos sus compras realizadas online o en establecimiento físico.</div>
          </div>
          <div class="col-lg-1"></div>
          <div class="section-details col-lg-6">
		        <div class="row">
              <table class="w-100 table-mg-top mr-3 ml-3 mr-sm-0 ml-sm-0 ">
                <tr>
                  <td class="label-cell">Encendido/Apagado de tarjetas</td>
                  <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                </tr>
                <tr>
                  <td class="label-cell">Compra protegida por robo o daño</td>
                  <td class="data-cell">600 €</td>
                </tr>
                <tr>
                  <td class="label-cell">Compra online protegida, no entrega</td>
                  <td class="data-cell">600 €</td>
                </tr>
                <tr>
                  <td class="label-cell">Devolución gastos compra online</td>
                  <td class="data-cell">20 €</td>
                </tr>
              </table>
			      </div>
          </div>
        </div>
      </div>
	  
   
      <div class="mb-5">
        <div class="ml-0 mr-0 row">
          <div class="row"> 
            <img class="img-table-width h-auto mb-4 ml-3" src="../../assets/images/asesoramiento-legal.svg" alt="" /> 
          </div>
          <div class="row">
            <div class="col-lg-5 d-flex flex-column">
              <h3 class="section-title red-text">Asesoramiento legal.</h3>
              <div class="description gray-text">Son muchas las situaciones en las que se necesita el asesoramiento de un abogado. Contar con acompañamiento legal es adelantarse a los problemas.</div>
            </div>
            <div class="col-lg-1"></div>
            <div class="section-details col-lg-6">
			        <div class="row">
                <table class="w-100 table-mg-top mr-3 ml-3 mr-sm-0 ml-sm-0 ">
                  <tr>
                    <td class="label-cell">Ayuda legal 24 horas</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <tr>
                    <td class="label-cell">Asesoramiento jurídico telefónico</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <!--<tr>
                    <td class="label-cell">Consulta fichero morosos ASNEF</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>--> 
                  <!--<tr>
                    <td class="label-cell">Adelanto de fianza Penal en España</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>--> 
                  <!--<tr>
                    <td class="label-cell">Asistencia al detenido</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>-->
                  <tr>
                    <td class="label-cell">Redacción de denuncia electrónica</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>
                  <!--<tr>
                    <td class="label-cell">Soporte técnico ante violencia on-line</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>--> 
                  <!--<tr>
                    <td class="label-cell">Portal de protección de la identidad personal</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>--> 
                  <!--<tr>
                    <td class="label-cell">Consultas psicológicas presenciales</td>
                    <td class="data-cell"><img class="icon-check" src="../../assets/images/check.svg" alt="Incluido" /></td>
                  </tr>-->

                </table>
			        </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">

              <div class="c-texto-legal mt-5">
              
<p>Ejemplo representativo de modalidad de pago total a fin de mes: 0% TIN anual, 0% TAE. Disposición 10.000 €: T.I.N.: 0%; T.A.E.: 0%; Importe total del crédito: 10.000 €. Importe total adeudado: 10.000 €. Coste total del crédito: 0 €. Comisión de emisión de la tarjeta: 0 €.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4 d-flex justify-content-center align-items-center"> 
        <img class="arrow-top" src="../../assets/images/flecha-subir.svg" alt="" /> 
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="c-contacto-legal">
          <p>
            <span>
              Tel. +34 912909083</span>
            <span class="divider">.</span>
            <span>singularbank.es</span>
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="pt-4 pb-4 c-ctabox">
    <div class="red-container w-100 text-center"> 
      <a href="/cuentas-y-tarjetas/#comparativa" class="c-button c-button--outline">Cuentas Singular Bank</a> 
    </div>
  </section>

  <section class="w-100 aguila-background">
    <div class="container row ml-0 mr-0 white-text">
      <div class="pd-tb-95 pl-70 col-lg-7">
        <div class="pb-4 text-uppercase subtitle-font-size">Usted elige, nosotros nos adaptamos.</div>
        <h2 class="title-font-size">En Singular no tenemos cuentas, tenemos <span class="bold">sus</span> cuentas.</h2>
       </div>
      <div class="col-lg-5 phone-img-container"> <img class="h-auto" src="../../assets/images/cuentas-y-tarjetas/telefono-img.png" alt="App móvil" />
	  </div>
      <div class="background-opacity"></div>
    </div>
  </section>
</div>
{% endblock %}