<header>
  <div class="container">
    <nav class="header">
      <a class="c-header__nav__logo navbar-brand" href="/">
        <img src="/assets/images/logo-singular-bank.svg" alt="Singular Bank" />
      </a>

      <h2>Listado de componentes</h2>
    </nav>
  </div>
</header>
