{% extends "_layouts/page-componentes.twig" %}
{% block page %}

<section class="section-listado">
	<div class="container">
    <div>
      <a href="/componentes/index.html" class="link">
        <svg width="14px" height="14px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">
          <polygon fill-rule="evenodd" points="8.388 0 .667 8 8.388 16 9.084 15.278 2.525 8.482 16 8.482 16 7.461 2.58 7.461 9.084 .721"/>
        </svg>

        <span>volver</span>
      </a>
    </div>

    <p>Boton principal</p>
    <a href="/oficinas-y-contacto/" class="c-button">Contáctenos</a>
    <div class="divider"></div>

    <p>Boton sobre fondo de color</p>
    <a href="/oficinas-y-contacto/" class="c-button c-button--outline">Contáctenos</a>

    <div class="divider"></div>

   </div>
  </section> 

</div>

{% endblock %}