<div class="row u-mb-4">
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('independencia')}}
      <h3 class="c-icontext__title">Independencia</h3>
      <p>Apostamos por un modelo de arquitectura abierta, para garantizar a los clientes el acceso a los mejores productos del mercado. </p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('experiencia')}}
      <h3 class="c-icontext__title">Experiencia</h3>
      <p>Años de experiencia de un amplio equipo de profesionales, al servicio de los clientes.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('tecnologia')}}
      <h3 class="c-icontext__title">Tecnología</h3>
      <p>Para hacer fácil la relación con el banco: eliminando burocracia, agilizando procesos, optimizando los tiempos. En definitiva, mejorando la experiencia de cliente.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('solvencia')}}
      <h3 class="c-icontext__title">Solvencia</h3>
      <p>Singular Bank es una institución registrada en el Banco de España y supervisada por el BCE, el BdE y la CNMV. Los depósitos están cubiertos por el Fondo de Garantía de Depósito. Cuenta con uno de los mayores niveles de solvencia y liquidez del mercado.</p>
    </div>
  </div>
</div>
