<section class="c-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-5 offset-lg-1">
        <span class="c-testimonial__pretitle">Testimonios</span>
        <p class="c-testimonial__title">Qué dicen nuestros clientes de nosotros</p>
        <p class="c-testimonial__text">I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. However, I’m going to have to admit that my emotional baggage.</p>
        <span class="c-testimonial__cite">Carla Queiroz, CEO Blablacar Europe</span>
      </div>
    </div>
  </div>
</section>
