{% extends "_layouts/news.twig" %}
{% block page %}

<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Cómo construir un buen colchón</h1>
        <p class="c-news__fecha">Madrid, 30 de octubre de 2020</p>
      </div>
    </div>

    

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

      <p>El ahorro es el talón de Aquiles de los españoles. Nuestro país es uno de los que menor cultura ahorradora tiene de Europa. Se vive al día y solamente comenzamos a ahorrar cuando llegan los momentos complicados. De hecho, la tasa de ahorro de los hogares españoles se incrementó en un 31,1% en el segundo trimestre de 2020 a causa de la pandemia, según datos del INE. Sin embargo, desde el primer banco privado independiente de España, Singular Bank, se quiere poner de relieve la importancia que tiene contar con una buena cultura ahorradora para sobrellevar un poco mejor las crisis, los imprevistos y poder cumplir, si se puede, algunos de nuestros sueños;  con motivo del Día Mundial del Ahorro, que se celebra este sábado 31 de octubre, el banco digital da las claves para crear un buen colchón financiero.</p>
	  <p>En general, parece que los españoles solamente ahorran cuando llegan las crisis; “el aumento de la tasa de ahorro puede tener distintas interpretaciones. A corto plazo, podría suponer una mala noticia, ya que todo lo que se ahorre no se destina al consumo y, por tanto, no contribuye a estimular la economía. No obstante, a medio plazo el argumento podría darse la vuelta, y ese colchón podría ayudar a reactivar el crecimiento económico”, señala Victoria Torre, responsable de Análisis y Selección de Fondos de Singular Bank, añadiendo que “ahorrar poco es malo, pero ahorrar mucho también puede serlo, lo ideal es hacerlo en la justa medida”.</p>
	  <p>El lema de la edición de este año es <em>“Cuando ahorras un poco, suceden grandes cosas”</em>, y es precisamente esta idea la que quieren transmitir desde Singular Bank, ya que el ahorro no es solo una actividad a corto plazo, independientemente de si cada mes se destina a este fin una mayor o menor cuantía, sino que requiere de una planificación, que nos ayude a estar preparados para esos momentos en los que es necesario un mayor desembolso. “Si no tenemos un colchón para imprevistos o situaciones de crisis económicas, podríamos tener que recurrir al crédito, y esto conlleva a su vezel pago de unos intereses”, asegura Torre.</p>
	  <p>La clave está en saber qué cantidad destinar al ahorro. “Es cierto que existe un cierto consenso a la hora de estimar  que se debe ahorrar un 10% de la renta disponible, pero es preferible que cada uno establezca su criterio de ahorro, en función de sus gastos y necesidades; no tenemos que ahorrar lo mismo que nuestro amigo o primo, tenemos que definir una cantidad que podamos prolongar en el tiempo y que sea coherente con nuestras circunstancias personales”, explica Victoria Torre, responsable de Análisis y Selección de Fondos de Singular Bank.</p>
	  <h2>la planificación es fundamental</h2>
	  <p>Por tanto, la planificación es fundamental. Debemos tener perfectamente identificada cuál es la cuantía destinada a la hipoteca o el alquiler, a los gastos de suministros, cuál ha sido el presupuesto en alimentación, en calzado, ropa, etc, con el objetivo de separar qué costes son imprescindibles y cuáles se podrían llegar a recortar.</p> 
	  <p>Una vez registrados todos los gastos e ingresos, el siguiente paso es fijarse un porcentaje de ahorro que se pueda cumplir sin aprietos. “No queremos que se asocie ahorro a apuros económicos, el objetivo es el contrario: queremos ahorrar un poco cada mes con la intención de no tener apuros económicos nunca”, puntualizan desde Singular Bank.</p>
	  <p>Contar con una buena planificación financiera permitirá mejorar tu entorno, lograr pequeños éxitos y cumplir metas como cambiar tu vehículo, independizarte, viajar al lugar de tus sueños, reformar tu casa… “Todo esto es muy importante, pero también debe serlo el guardar dinero para la jubilación y mirar el futuro con tranquilidad. Esta es otra de las tareas pendientes que tenemos los españoles”, asevera Torre.</p>
	  <p>Celebraciones como el Día Mundial del Ahorro contribuyen a reforzar la conciencia ahorradora en la sociedad y demostrar que es realmente importante no solo el ahorro individual, sino que esta cultura de ahorro se normalice y se haga extensible al resto del colectivo.</p>
      </div>
    </div>

<!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>-->

  </div>
</section>

{% include "_includes/ctabox.twig" %}

{% endblock %}
