{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Singular Bank llega a un acuerdo de adquisición con UBS</h1>
        <p class="c-news__fecha">Madrid, 25 de octubre de 2021</p>
		<p class="c-news__entradilla"><strong>Singular Bank llega a un acuerdo con UBS para adquirir su negocio de banca privada en España y desarrollar una colaboración estratégica con todas las divisiones de UBS.</strong></p>
		<p class="c-news__entradilla"><strong>La transacción, la más relevante en el sector de la banca privada en España en los últimos años, dará lugar a la mayor entidad de banca privada independiente en el mercado español con un patrimonio gestionado de cerca de 20.000 millones de euros.</strong></p>
		<p class="c-news__entradilla"><strong>Los clientes se beneficiarán de un modelo operativo digital puntero y de una amplia oferta de soluciones de ahorro e inversión, servicios de asesoramiento y financiación que se verá reforzada gracias al acuerdo de cooperación estratégica que las partes desarrollarán con todas las divisiones de UBS.</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
        <p>Singular Bank ha llegado a un acuerdo con UBS para adquirir la unidad de banca privada doméstica en España y las operaciones de gestión de patrimonios del banco suizo en España.</p>
        <p>Como parte de la transacción, ambas entidades han acordado desarrollar una colaboración estratégica para proporcionar a los clientes acceso a productos, soluciones de inversión y servicios de las divisiones UBS Global Wealth Management, Asset Management e Investment Banking.</p>
		<p>De esta forma, los clientes se beneficiarán de una propuesta diferencial que incluye la más amplia oferta de productos y servicios junto a un modelo operativo digital puntero. El acuerdo de cooperación, que las partes han acordado desarrollar con todas las divisiones de UBS, contribuye a ampliar la oferta de servicios en beneficio de clientes y banqueros.</p>
		<h2>La mayor banca privada independiente de España</h2>
		<p>La operación, la más importante de los últimos años en el sector de la banca privada en España, crea la mayor banca privada independiente del mercado español, gestionando un patrimonio bajo gestión cercano a los 20.000 millones de euros y una red de once oficinas, ubicadas en Barcelona, La Coruña, Las Palmas, Madrid, Málaga, Murcia, Sevilla, Valencia y Zaragoza, con la próxima apertura de una oficina en León.</p>
		<p>El acuerdo supone a fecha de cierre de la operación, la incorporación a Singular Bank de los clientes de banca privada doméstica de UBS en España y de los equipos de profesionales correspondientes al negocio de banca privada. La transacción incluye también la adquisición de las acciones de UBS Gestión SGIIC SA. La transacción no incluye los negocios de las divisiones de Asset Management e Investment Banking de UBS en España, ni las respectivas funciones vinculadas a ellos, que permanecerán, sin cambios, en UBS.</p>		
		<p><strong>Javier Marín, Consejero Delegado de Singular Bank,</strong> declara: "Nos ilusiona y enorgullece esta operación que supone un hito en la transformación del sector en España creando la banca privada independiente líder, con un capital humano y tecnológico de primer nivel. Nuestra meta es continuar ofreciendo un servicio diferencial a nuestros clientes, mediante una oferta altamente personalizada e innovadora, para ayudarles a alcanzar sus objetivos financieros".</p>
		<p>Christl Novakovic, Consejera Delegada de UBS Europe SE y responsable de UBS Wealth Management Europe, señala: "Por su fuerte perfil independiente en España y por nuestra visión compartida de un modelo de atención al cliente de primera clase altamente personalizado, estoy encantada con el éxito de esta transacción y profundamente convencida de que Singular Bank es el mejor comprador posible para nuestro negocio de banca privada doméstica en España. La transacción creará una propuesta de valor única para empleados y clientes y posicionará al negocio de cara a futuras oportunidades de crecimiento. Unimos nuestras capacidades para ofrecer a nuestros clientes el mejor servicio. Independientemente de esta decisión, seguimos comprometidos con nuestros principales mercados europeos y con la consolidación de nuestra posición de liderazgo en ellos”.</p>
		<p>Se espera que la transacción se formalice en el tercer trimestre de 2022, tras la obtención de las autorizaciones regulatorias pertinentes.</p>
		<h2>La estrategia de crecimiento de Singular Bank</h2>
		<p>La operación se ajusta a la estrategia de crecimiento anunciada por la entidad en su lanzamiento en 2020 de integrar negocios que aporten sentido estratégico, rentabilidad y que estén alineados con sus valores centrados en el cliente. "La combinación de soluciones de ahorro e inversión, asesoramiento y financiación, junto al acuerdo alcanzado entre ambas entidades para desarrollar una colaboración estratégica con todas las divisiones de UBS, nos permite poner a disposición de los clientes una oferta única para ayudarles a alcanzar sus objetivos", afirma Javier Marín, Consejero Delegado de Singular Bank.</p><p>La operación será financiada al 100% con capital sin afectar a la solvencia de Singular Bank, cuya base de capital al cierre será superior a los 300 millones de euros y con una ratio CET1 aproximadamente del 20%, consolidándose como uno de los bancos más solventes de España y Europa.</p>
		<p>Se trata de la cuarta operación corporativa de Singular Bank en el mercado español, tras la adquisición en 2020 de Belgravia Capital SGIIC SA, del negocio de MG Valores y de la cartera de la filial española de la luxemburguesa Quintet Private Bank.</p>
		<p>"Todas estas integraciones se han realizado en un tiempo récord y han aportado valor desde el primer momento tanto a los nuevos clientes como a los profesionales que se han incorporado al banco. Nuestro objetivo es seguir creciendo para acompañar de manera diferencial a los clientes que buscan una atención personalizada apuntalada en el talento de los mejores profesionales, la independencia en los servicios y productos que ofrecemos y la mejor tecnología para facilitar la relación con ellos", concluye Marín.</p>
		<h3>Sobre Singular Bank</h3>
		<p><em>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</em></p>
		<p><em>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 64.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</em></p>
		<h3>Sobre UBS</h3>
		<p><em>El Grupo UBS ofrece asesoramiento financiero y soluciones a clientes con alto poder adquisitivo, institucionales y corporativos de todo el mundo, así como a clientes privados en Suiza. UBS es el mayor gestor de patrimonios a nivel mundial, así como el banco personal y corporativo líder en Suiza, que además cuenta con una división de gestión de activos global, diversificada y a gran escala y una división de banca de inversión. El banco se centra en negocios que tienen una sólida posición competitiva en sus mercados clave, son eficientes en términos de capital y tienen una perspectiva atractiva de crecimiento estructural o rentabilidad a largo plazo.</em></p>
      </div>
    </div>
    
<div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p><strong>Singular Bank/Kreab</strong></br>
          José Luis González</br>
          661 850 384</p>
          <a href="mailto:jlgonzalez@kreab.com">jlgonzalez@kreab.com</a></br>
        </div>
		<div class="mt-2">
          <p>Anna Pérez</br>
          656 351 477</br>
          <a href="mailto:aperez@kreab.com">aperez@kreab.com</a></p>
        </div>
		 <div class="mt-2">
          <p><strong>UBS/Grupo Albión</strong></br>
          Teresa Vicent</br>
          91 531 23 88 / 676 728 394</br>
          <a href="mailto:ubs@grupoalbion.net">ubs@grupoalbion.net</a></p>
        </div>
      </div>
    </div>
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 