<div class="col-12 col-md-6 col-lg-4 c-textbox">
  <div class="c-textbox__content">
    <h3>Banquero privado</h3>
    <p class="c-localizacion">{{svgSprite('localizacion-rojo')}} <strong>Sevilla, España</strong></p>
    <p>Esta posición se encargará de establecer y mantener relaciones con clientes interesados en recibir asesoramiento financiero y ser acompañados en la gestión de su patrimonio.</p>
    <a href="https://www.linkedin.com/jobs/view/1344620961/" target="_blank" class="c-button">Ver oferta en Linkedin</a>
  </div>
</div> 
