{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">¿Ha llegado la hora de las telefinanzas?</h1>
        <p class="c-news__fecha">Madrid, 06 de octubre de 2020</p>
        <p class="c-news__entradilla"><strong>Damián Ruiz, Director de Seguridad de la Información de Singular Bank, presidirá el Clúster de Ciberseguridad de Madrid.</strong></p>
		<p>El último año se produjeron 218.302 delitos informáticos en España, de los cuales 37.016 se produjeron en la Comunidad de Madrid.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">        
        <p>La ciberseguridad se ha convertido en una prioridad para todas las empresas y es un área a reforzar y a desarrollar, para evitar futuros ataques que pongan en jaque sus sistemas. El pasado 2019 se produjeron 218.302 delitos informáticos, según el Observatorio Español de Delitos Informáticos. Del total, 37.016 se produjeron en la Comunidad de Madrid.</p>
		<p>Por este motivo, desde Singular Bank se muestran especialmente comprometidos y concienciados con el problema que este tipo de ataques suponen para la seguridad de sus clientes y, por ello, han promovido la creación del Clúster de Ciberseguridad de Madrid, junto con SIA/Indra, la Universidad Politécnica de Madrid, Accenture, GMV, Mapfre, Sanitas, iHackLabs, Panda Security, ISMS Forum Spain y la Universidad de Nebrija, e impulsado por la Dirección General de Economía del Ayuntamiento de Madrid, el apoyo de la Comunidad de Madrid y la estrecha colaboración del Instituto Nacional de Ciberseguridad (INCIBE)</p>
		<p>Esta asociación sin ánimo de lucro reúne a empresas, asociaciones e instituciones públicas y privadas que desarrollan actividades en el área de Madrid, y que se asocian libremente para potenciar el desarrollo del sector de la ciberseguridad.</p>
		<p>Singular Bank se ha comprometido con este proyecto no solo en su fundación sino también siendo parte de su dirección, ya que Damián Ruiz, Director de Seguridad de la Información (CISO o Chief Information Security Officer, por sus siglas en inglés) de Singular Bank , es quién preside esta entidad. "El clúster nace para posicionar a Madrid como centro de referencia internacional en el desarrollo empresarial de servicios y productos para cubrir necesidades en el ámbito de la ciberprotección", explica Ruiz.</p>
		</p>Los objetivos prioritarios de este clúster son potenciar empresas y emprendedores en Ciberseguridad, conectándolas con el espacio real de necesidades de clientes y usuarios; apostar por una formación orientada a la empleabilidad; fortalecer la I+D+i y las soluciones innovadoras; y apostar por la mejora de la comunicación y la sensibilización en ciberseguridad entre el sector empresarial y la sociedad. "Los datos nos muestran como los ataques informáticos son un verdadero problema para nuestras empresas; para combatirlos, es muy importante unir nuestras fuerzas, facilitar la conexión de proveedores de servicios y productos de seguridad con los segmentos de usuarios y empresas más necesitadas de protección y apostar por la formación de perfiles que se incorporen a un mercado laboral necesitado de profesionales en Ciberseguridad", apunta el presidente del clúster y CISO de Singular Bank.</p>
        <div class="clearfix"></div>        
	</div>	  
   </div>
   <!--<div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
            Eolo Comunicación </br>
            91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>-->
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 