{% extends "_layouts/page.twig" %}
{% block page %}

<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Warburg Pincus completa la adquisición de Self Bank tras recibir la aprobación regulatoria del Banco Central Europeo</h1>
        <p class="c-news__fecha">Madrid, 14 de febrero de 2019</p>
        <p class="c-news__entradilla">Warburg Pincus, firma de capital privado global líder enfocada en inversiones de crecimiento, junto con Javier Marín, un veterano banquero español con 25 años de experiencia en el sector, han recibido las aprobaciones necesarias del Banco Central Europeo para completar la adquisición de Self Bank al Grupo Société Générale.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 u-mb-2">
        <img data-src="/assets/images/noticias/1.jpg" class="lazyload" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
      <p>Self Bank es un banco online líder en servicios de ahorro e inversión, que ofrece una amplia gama de productos bancarios y de inversión como cuentas de ahorro, cuentas de nómina, acciones, CFD y más de 2.400 fondos de inversión.</p>
      <p>Una vez completada la operación, Javier Marín y el equipo de Warburg Pincus aprovecharán la excelente plataforma digital del banco para ofrecer nuevos e innovadores productos y servicios de asesoramiento y gestión de patrimonios a aquellos clientes que deseen contar con un servicio personalizado de alta calidad y con total independencia.</p>
      <img data-src="/assets/images/noticias/1.1.jpg" class="c-news__photo lazyload" alt="" />
      <p>Curabitur hendrerit sollicitudin convallis. Sed bibendum pulvinar felis vel consectetur. Donec interdum augue dui, ac vulputate est dictum vulputate. Duis arcu nibh, sagittis et magna at, pharetra dignissim sapien. Morbi porta, arcu eu molestie pretium, dui sem ultricies sapien, vehicula auctor lorem tortor nec lectus. In fermentum. Etiam sollicitudin malesuada nisl at hendrerit. Donec eget lacus id odio placerat iaculis. Pellentesque et lorem ut libero auctor varius. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      <p>Ut mi dui, fringilla sit amet efficitur in, cursus sit amet nisl. Curabitur aliquet, tellus in efficitur dapibus, orci elit congue mauris, a ultrices sapien lacus mattis tortor. Vestibulum convallis sem sit amet neque tristique, in sodales sapien facilisis. Sed venenatis turpis arcu, sed iaculis sapien consequat nec. Donec consequat, erat ut bibendum aliquam, augue nisl rutrum sem, quis hendrerit dui enim quis nunc. Aliquam erat volutpat. In vel magna est. Fusce ac consequat ligula. Nullam commodo velit non lacus vestibulum maximus. Suspendisse dapibus tellus eu quam auctor lobortis a non ipsum.</p>
      <p>Curabitur hendrerit sollicitudin convallis. Sed bibendum pulvinar felis vel consectetur. Donec interdum augue dui, ac vulputate est dictum vulputate. Duis arcu nibh, sagittis et magna at, pharetra dignissim sapien. Morbi porta, arcu eu molestie pretium, dui sem ultricies sapien, vehicula auctor lorem tortor nec lectus. In fermentum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Lorem ipsum dolor sit amet</p>
      <blockquote>
        <p>Morbi dui nisl, luctus sed cursus ac, elementum et nisl. Mauris id faucibus ligula. Pellentesque habitant morbi tristique senectus et netus</p>
      </blockquote>

      <h2>Sobre Self Bank</h2>
      <p>Curabitur hendrerit sollicitudin convallis. Sed bibendum pulvinar felis vel consectetur. Donec interdum augue dui, ac vulputate est dictum vulputate. Duis arcu nibh, sagittis et magna at, pharetra dignissim sapien. Morbi porta, arcu eu molestie pretium, dui sem ultricies sapien, vehicula auctor lorem tortor nec lectus. In fermentum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Lorem ipsum dolor sit amet</p>
      <h2>Sobre Warburg Pincus</h2>
      <p>Curabitur hendrerit sollicitudin convallis. Sed bibendum pulvinar felis vel consectetur. Donec interdum augue dui, ac vulputate est dictum vulputate. Duis arcu nibh, sagittis et magna at, pharetra dignissim sapien. Morbi porta, arcu eu molestie pretium, dui sem ultricies sapien, vehicula auctor lorem tortor nec lectus. In fermentum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Lorem ipsum dolor sit amet</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>

  </div>
</section>

{% include "_includes/ctabox.twig" %}

{% endblock %}
