{% extends "_layouts/page.twig" %}
{% block page %}
<section class="p-basica">
  <div class="container">
    <div class="row u-mt-3">
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h1>Gobierno Corporativo</h1>
		<h2>Organigrama</h2>
        <p>A continuación, puede consultar la composición del consejo de administración y de la dirección general, cuyos nombramientos se han adoptado con informe favorable del comité de nombramientos y remuneraciones:</p>

		<div class="">
		  <ul>
<li>
<a href="/doc/legal/MIFID-II/politica-de-conflictos-de-interes.pdf" target="_blank">Política de conflictos de interés</a>

</li>
<li>
<a href="/doc/legal/20240208_PoliticaCumplimientoNormativo_ES.pdf" target="_blank">Política de Cumplimiento Normativo</a>


</li>

<li>
<a href="/doc/legal/20240628_GrupoSingularBank_PoliticaRemuneracionesGrupo_ES.pdf" target="_blank">Política de Remuneraciones</a>


</li>






		  	<li><a href="/doc/legal/gob-corp/procedimientos-idoneidad.pdf"  target="_blank"> <span>Política de Evaluación de idoneidad en el grupo Singular Bank</span></a></li>
			<li><a href="/doc/legal/gob-corp/politica-de-seleccion-de-miembros-del-consejo-de-administracion.pdf"  target="_blank"> <span>Política de Selección de Miembros del Consejo de Administración</span></a></li>
			<li><a href="/doc/legal/gob-corp/estructura_de_gobierno.pdf"  target="_blank"> <span>Ver Estructura de Gobierno</span></a></li>
			<li><a href="/doc/legal/gob-corp/consejo_de_administracion.pdf"  target="_blank"> <span>Ver Consejo de Administración</span></a></li>
			<li><a href="/doc/legal/gob-corp/organos_de_direccion.pdf"  target="_blank"> <span>Ver Órganos de Dirección</span></a></li>
			<li><a href="/doc/legal/gob-corp/comision_de_auditoria_y_riesgos.pdf"  target="_blank"> <span>Ver Comisión de Auditoría y Riesgos</span></a></li>
			<li><a href="/doc/legal/gob-corp/comision_de_nombramientos_y_remuneraciones.pdf"  target="_blank"> <span>Comisión de Nombramientos y Remuneraciones</span></a></li>
			<li>
				<a href="/doc/legal/gob-corp/IRP2024_SingularBank.pdf" target="_blank">

					<span>Informe de Relevancia Prudencial (IRP) de Singular Bank.</span>
				</a>
			</li>

		  </ul>
		</div>
      </div>
    </div>
  </div>
</section>

<section id="gobierno-corporativo">
  <div class="container">
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
		 <h2>Gobierno Corporativo y Política de Remuneraciones</h2>
        <p>Para facilitar el conocimiento de nuestro <strong>Sistema de Gobierno Corporativo y nuestra Política de Remuneraciones</strong>, incluimos a continuación toda aquella información que se ha considerado de interés en relación con esta materia.</p>

        <p>A continuación, puedes acceder a los&nbsp;&nbsp;<strong>Estatutos Sociales </strong>del Banco que están actualmente en vigor.</p>

        <p><a href="/doc/legal/gob-corp/estatutos_sociales.pdf"  target="_blank"> <span>Ver Estatutos Sociales</span></a></p>
		
		<p>El Consejo de administración de Singular Bank ha aprobado este Código de conducta con el objetivo de recoger las principales obligaciones, normas y pautas de comportamiento acordes con nuestros principios y que han de estar presentes en el día a día de la entidad.</p>
		<p>Estas normas sirven de guía para las relaciones mantenidas en la Entidad, ya sea entre los propios Colaboradores, como con nuestros clientes y las diferentes instituciones y autoridades.</p>
		<p><a href="/doc/legal/gob-corp/codigo-conducta-empleados.pdf"  target="_blank"> <span>Ver Código de Conducta de Empleados </span></a></p>


        <p>Hemos establecido una <strong>Política de Ejecución de Órdenes</strong> sobre los distintos instrumentos financieros, con el fin de actuar con honestidad, imparcialidad y profesionalidad e intentar obtener los mejores resultados posibles para nuestros clientes.</p>

				<p>
					<a href="/doc/legal/MIFID-II/politica-de-mejor-ejecucion.pdf" target="_blank">
						<span>Ver Política de mejor ejecución</span>
					</a>
				</p>


        <p>Nuestra <strong>Política de Conflictos de Interés</strong> recoge los principios generales de actuación que deberá seguir la Entidad en relación con los <strong>conflictos de interés</strong> que puedan darse de la prestación de servicios de inversion y/o auxiliares.</p>

		<p><a href="/doc/legal/MIFID-II/politica-de-conflictos-de-interes.pdf"  target="_blank"> <span>Ver Política de Conflictos de Interés</span></a></p>


        <p>En el siguiente documento se definen las directrices que aseguran el correcto <strong>funcionamiento corporativo</strong> de los órganos de dirección, la competitividad general y la sostenibilidad de la entidad.</p>

		<p><a href="/doc/legal/gob-corp/politica_gobierno_corporativo.pdf"  target="_blank"> <span>Ver Política de Gobierno Corporativo</span></a></p>

     <p>La función de la <strong>Política de Cumplimiento Normativo</strong> es asegurar que la entidad cumple con las normativas internas y externas, evitar el fraude y evaluar el impacto en la organización de los cambios regulatorios.</p>

		<p><a href="/doc/legal/gob-corp/politica_cumplimiento_normativo.pdf"  target="_blank"> <span>Ver Política de Cumplimiento Normativo</span></a></p>

		<p>La <strong>Política de Gobernanza de Producto</strong> es otra de las políticas que refuerzan la protección de los consumidores de productos financieros comercializados por la Entidad, a través del establecimiento de un proceso robusto de aprobación.</p>

		<p>
			<a href="/doc/legal/gob-corp/20250729_Politica-Gobernanza-de-Productos.pdf" target="_blank">

				<span>Ver Política de Gobernanza de Producto</span>
			</a>
		</p>


    <p>El objeto de la <strong>Política de Incentivos</strong> será establecer las normas, principios, criterios y procedimientos aplicables a los Incentivos que perciba o abone la entidad.</p>

		<p><a href="/doc/legal/gob-corp/politica_incentivos.pdf"  target="_blank"> <span>Ver Política de Incentivos</span></a></p>

<p>En el siguiente documento se fijan las normas y recomendaciones sobre las prácticas de <strong>remuneración</strong> en la entidad.</p>


		<p><a href="/doc/legal/gob-corp/politica_remuneraciones.pdf"  target="_blank"> <span>Ver Política de Remuneraciones</span></a></p>

		<p>A continuación, se presenta el <strong>Reglamento </strong>que regula los principios de actuación, las normas de régimen interno así como el funcionamiento del <strong>Consejo de Administración</strong> de la Entidad y de las comisiones del Consejo de Administración.</p>

		<p><a href="/doc/legal/gob-corp/reglamento_del_consejo_de_administracion.pdf"  target="_blank"> <span>Ver Reglamento del Consejo de administración.</span></a></p>

		<p>Este <strong>Reglamento </strong>tiene por objeto regular el <strong>Servicio de Atención al Cliente </strong> y la tramitación de las reclamaciones y quejas que presenten los usuarios de los servicios financieros de la entidad.</p>

		<p><a href="/doc/legal/reglamento-servicio-atencion-cliente.pdf"  target="_blank"> <span>Ver Reglamento del Servicio de Atención al Ciente</span></a></p>

		<p>Con la política de Anticorrupción, Singular Bank busca reiterar su firme compromiso con la prevención y la lucha contra la corrupción, así como fomentar una cultura de implicación entre su personal.</p>

		<p>
			<a href="/doc/legal/2024Politica-Anticorrupcion-ES.pdf" target="_blank">Ver Política de Anticorrupción</a></p>

		</p>

 		<p>En la Política de gestión y funcionamiento del Canal de denuncias, se establecen los principios que rigen esta herramienta, que permite denunciar de forma confidencial y, en su caso, anónima posibles delitos, incumplimientos del ordenamiento jurídico, de los manuales y procedimientos internos de la entidad, así como conductas reprochables éticamente, cometidos en el seno de la organización.</p>

		<p>
<a href="/doc/legal/Politica-de-gestion-y-funcionamiento-del-canal-de-denuncias.pdf" target="_blank">Ver Política de gestión y funcionamiento del Canal de denuncias</a>



		</p>

			<p>En este documento se reporta un resumen del modelo de negocio de la Entidad en relación con cuestiones ambientales, sociales, económicas y de gobernanza, así como las políticas y medidas adoptadas, la gestión de dichos riesgos, e indicadores clave de resultados no financieros.</p>

			<p>
				<a href="/doc/legal/EINF2024_Singular Bank.pdf" target="_blank">Ver Estado de Información no financiera</a>
			</p>



			</p>


    </div>
  </div>
</section>

{% endblock %}
