<div class="row u-mb-3">
  <div class="col-12">
    <h2>Centrados en el cliente</h2>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="c-icontext">
      {{svgSprite('cultura-de-servicio')}}
      <h3 class="c-icontext__title">Cultura de servicio</h3>
      <p><strong>El interés del cliente</strong> siempre es lo primero.</p>
      <p>Adaptamos el banco al cliente, no el cliente al banco.</p>
      <p>Estamos especializados en dar <strong>las mejores soluciones</strong> para el patrimonio de nuestros clientes.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="c-icontext">
      {{svgSprite('equipo-experto')}}
      <h3 class="c-icontext__title">Equipo experto</h3>
      <p>Nuestros <strong>banqueros escuchan a sus clientes</strong> para ofrecerles propuestas personalizadas que les ayuden a alcanzar sus objetivos.</p>
      <p>Para ello, cuentan con <strong>expertos</strong> y áreas de apoyo, especializados en la única actividad del banco: los clientes.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="c-icontext">
      {{svgSprite('conocimiento-cliente')}}
      <h3 class="c-icontext__title">Conocimiento del cliente</h3>
      <p>Utilizamos la <strong>tecnología</strong> para recopilar y analizar toda la información que puede afectar al cliente, para <strong>proponerle soluciones de manera proactiva</strong>.</p>
    </div>
  </div>
</div>
