<div class="row">
  <div class="col-lg-5">
    <div class="c-photo-definition c-photo-definition__photo c-photo-definition__photo--mision">
      <h2>Nuestra misión</h2>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="c-photo-definition">
      <p class="c-entradilla">Ayudar a nuestros clientes a definir y alcanzar sus objetivos vitales, guiándoles en la conservación e inversión de sus finanzas, teniendo en cuenta la singularidad de sus vidas y, por tanto, que sus objetivos, expectativas y necesidades son únicas.</p>
    </div>
  </div>
</div>

<div class="row u-mb-4">
  <div class="col-lg-5">
    <div class="c-photo-definition c-photo-definition__photo c-photo-definition__photo--vision">
      <h2>Nuestra visión</h2>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="c-photo-definition">
      <p class="c-entradilla u-mb-base">Construir el mejor banco de España, en el que ofrezcamos soluciones a todos los aspectos derivados de sus finanzas, a lo largo de toda su vida.</p>
      <p>A través de una oferta independiente y de un servicio basado en la confianza mutua, con total transparencia, sin conflictos de interés y apoyándonos en las herramientas tecnológicas más avanzadas.</p>
      <!--<div class="c-photo-definition__text">
        <p class="c-photo-definition__tit"><strong>Clientes</strong></p>
        <p class="c-photo-definition__def">Aspiramos a ganar cuota de Mercado porque seremos un banco con Personalidad propia reconocida y apreciada por nuestros clientes.</p>
      </div>
      <div class="c-photo-definition__text">
        <p class="c-photo-definition__tit"><strong>Accionistas</strong></p>
        <p class="c-photo-definition__def">Tenemos el reto en los próximos tres años de hacer de Ibercaja un proyecto atractivo, con capacidad de atraer capital de terceros.</p>
      </div>
      <div class="c-photo-definition__text">
        <p class="c-photo-definition__tit"><strong>Personas</strong></p>
        <p class="c-photo-definition__def">Aspiramos a ser una organización de alto rendimiento, que cumple y supera recurrentemente los objetivos que se marca, gracias a una plantilla profesional y comprometida con el proyecto.</p>
      </div>
      <div class="c-photo-definition__text">
        <p class="c-photo-definition__tit"><strong>Sociedad</strong></p>
        <p class="c-photo-definition__def">Singular Bank desarrollará un modelo de banca con elevada sensibilidad social.</p>
      </div>-->
    </div>
  </div>
</div>
