<div id="carouselProduct-las-palmas" class="c-product--carousel carousel slide" data-ride="carousel">
  <ol class="carousel-indicators carousel-indicators--bottom">
    <li data-target="#carouselProduct-las-palmas" data-slide-to="0" class="active"></li>
    <li data-target="#carouselProduct-las-palmas" data-slide-to="1"></li>
    <li data-target="#carouselProduct-las-palmas" data-slide-to="2"></li>
    <li data-target="#carouselProduct-las-palmas" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/oficinas/oficina-las-palmas-1.jpg" class="d-block h-100" alt="Oficina Las Palmas de Gran Canaria - Singular Bank">
    </div>
   <div class="carousel-item">
      <img src="../../assets/images/oficinas/oficina-las-palmas-2.jpg" class="d-block h-100" alt="Imagen de Las Palmas de Gran Canaria">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/oficinas/oficina-las-palmas-3.jpg" class="d-block h-100" alt="Oficina de Singular Bank en Las Palmas">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/oficinas/oficina-las-palmas-4.jpg" class="d-block h-100" alt="Oficina Las Palmas - Singular Bank">
    </div>
  </div>
</div>
