<div id="carouselProduct-leon" class="c-product--carousel carousel slide" data-ride="carousel">
  <ol class="carousel-indicators carousel-indicators--bottom">
    <li data-target="#carouselProduct-leon" data-slide-to="0" class="active"></li>
    <li data-target="#carouselProduct-leon" data-slide-to="1"></li>
    <li data-target="#carouselProduct-leon" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/oficinas/oficina-leon-1.jpg" class="d-block h-100" alt="Entrada interior oficina León - Singular Bank">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/oficinas/oficina-leon-2.jpg" class="d-block h-100" alt="Fachada exterior León - Singular Bank">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/oficinas/oficina-leon-3.jpg" class="d-block h-100" alt="Sala de reuniones León - Singular Bank">
    </div>
  </div>

</div>
