<div id="carouselProduct-malaga" class="c-product--carousel carousel slide" data-ride="carousel">
  <ol class="carousel-indicators carousel-indicators--bottom">
    <li data-target="#carouselProduct-malaga" data-slide-to="0" class="active"></li>
    <li data-target="#carouselProduct-malaga" data-slide-to="1"></li>
    <li data-target="#carouselProduct-malaga" data-slide-to="2"></li>
    <li data-target="#carouselProduct-malaga" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/oficinas/oficina-malaga-1.jpg" class="d-block h-100" alt="Catedral de Málaga - Singular Bank">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/oficinas/oficina-malaga-2.jpg" class="d-block h-100" alt="Bahía de Málaga vista desde Gibralfaro - Singular Bank">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/oficinas/oficina-malaga-3.jpg" class="d-block h-100" alt="Muelle Uno de Málaga - Singular Bank">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/oficinas/oficina-malaga-4.jpg" class="d-block h-100" alt="Alcazaba de Málaga - Singular Bank">
    </div>
  </div>

</div>
