<div id="carouselProduct-coruna" class="c-product--carousel carousel slide" data-ride="carousel">
  <ol class="carousel-indicators carousel-indicators--bottom">
    <li data-target="#carouselProduct-coruna" data-slide-to="0" class="active"></li>
    <li data-target="#carouselProduct-coruna" data-slide-to="1"></li>
    <li data-target="#carouselProduct-coruna" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/oficinas/oficina-coruna-1.jpg" class="d-block h-100" alt="Oficina Valencia - Singular Bank">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/oficinas/oficina-coruna-2.jpg" class="d-block h-100" alt="Oficina Valencia - Singular Bank">
    </div>
    <div class="carousel-item">   
      <img src="../../assets/images/oficinas/oficina-coruna-3.jpg" class="d-block h-100" alt="Oficina Valencia - Singular Bank">
    </div>


  </div>

</div>
