{% extends "_layouts/page.twig" %}
{% block page %}

<section class="p-basica">
  <div class="container">
    <div class="row u-mt-3">
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h1>Aviso legal: Términos y condiciones de la web</h1>
        <p><strong>Fecha de actualización: 30 de mayo de 2019</strong></p>
        <h2>Datos identificativos</h2>
        <p>Singular Bank, S.A.U. <strong>actúa bajo la denominación comercial SINGULAR BANK, con domicilio en Calle Goya, 11 · 28001 Madrid. Entidad de crédito sujeta a la supervisión del Banco de España e inscrito</strong> en el Registro de Entidades de Crédito Nacionales del Banco de España con el número 1490. CIF A85597821, inscrita en el Registro Mercantil de Madrid, tomo 26409, folio 1, sección 8a, hoja M 475925, Inscripción 1.</p>
		<h2>No solicitud</h2>
		<p>La información u opinión contenida en el Sitio Web (tal y como se define en las Condiciones Generales de Uso), constituye una oferta para vender o solicitud de venta o una oferta para comprar cualquier instrumento financiero o cualquier consejo o recomendación con respecto a dichos instrumentos financieros.</p>

        <h2>Lenguas de Comunicación</h2>
        <p>Las comunicaciones relacionadas con los servicios que presta SINGULAR BANK, así como los documentos y otras informaciones relacionadas se efectuarán en lengua castellana en todo el territorio nacional.</p>
        <h2>Condiciones Generales de Uso</h2>
        <p>Estas Condiciones Generales de Uso (en adelante "Condiciones Generales") regulan el uso de la URL
        <a href="https://singularbank.es/" target="_blank">singularbank.es</a> (en adelante, el "Sitio Web"). El Sitio Web es propiedad de Singular Bank S.A.U. (en adelante "Singular Bank"). </p>
        <p>Singular Bank pone gratuitamente a disposición de sus Clientes y usuarios este Sitio Web. La utilización de este Sitio Web implica la aceptación expresa y sin reservas del Cliente o usuario de todas y cada una de las Condiciones Generales de Uso, así como de cualquier otro Aviso o Compromiso que Singular Bank ponga en su conocimiento y que estén vigentes en el momento de acceso a este Sitio Web. </p>
        <p>Los Clientes y usuarios deben leer estas Condiciones Generales con carácter previo a la utilización del Sitio Web porque son vinculantes. En el caso de no aceptar dichas Condiciones Generales, no deberán utilizar el Sitio Web ni los servicios y productos que ofrece. Singular Bank podrá revisar y actualizar unilateralmente estas Condiciones Generales, por lo que recomienda al Cliente o usuario que revise estas Condiciones Generales de Uso cada vez que acceda a este Sitio Web.</p>

        <h2>Objeto de la Prestación del Servicio</h2>
        <p>Singular Bank ofrece a los Clientes y usuarios el acceso y la utilización de los servicios y contenidos
puestos a su disposición en este Sitio Web por Singular Bank o por terceros.</p>
        <h2>Condiciones de acceso y utilización del Sitio Web</h2>
          <h3>Acceso y navegación</h3>
          <p>El acceso y navegación por este Sitio Web es responsabilidad exclusiva de los Clientes y
            usuarios. El mero acceso y navegación de los Clientes o usuarios por el Sitio Web no implica entablar ningún tipo de relación comercial con Singular Bank.</p>
          <h3>Registro y contraseña</h3>
          <p>Los Clientes elegirán e indicarán sus propias claves de usuario y contraseña para hacer uso de
los servicios ofrecidos por el Sitio Web. Los Clientes no podrán elegir como nombre de usuario
palabras o expresiones malsonantes, injuriosas, coincidentes con marcas, denominaciones
sociales y, en general, contrarias a la ley, a la moral y a las buenas costumbres generalmente
aceptadas. Singular Bank no está obligado a comprobar ni se responsabiliza de los nombres de
usuario elegidos por los clientes. </p>
          <p>Los Clientes y usuarios del Sitio Web serán responsables de mantener la confidencialidad de
sus datos y de sus claves de usuario y contraseñas. Asimismo serán responsables de todos
los usos que hagan de su registro, tanto si están autorizados como no. </p>
          <p>Los Clientes y usuarios del Sitio Web deberán notificar inmediatamente a Singular Bank la pérdida
o robo de sus claves de usuario y contraseñas, así como cualquier riesgo de acceso a las
mismas por un tercero no autorizado.</p>
          <p>Singular Bank no será responsable de la comprobación de la autenticidad del usuario ni de la
confirmación de que cada usuario es quien dice ser. </p>
          <p>Singular Bank prohíbe a los Clientes y usuarios de este Sitio Web que revelen o compartan su clave
de usuario y contraseña con terceras personas o que usen dicha contraseña para cualquier
propósito no autorizado.  </p>
          <h3>Contenidos</h3>
          <p>Singular Bank no afirma ni garantiza la licitud, exactitud o fiabilidad de las comunicaciones que
          pudieran anunciar los Clientes y usuarios ni respalda cualquier opinión expresada por éstos.
          Los Clientes y usuarios aceptan implícitamente que, al confiar en los contenidos o los datos
          que puedan anunciar otros Clientes o usuarios, lo hacen bajo su propia responsabilidad.</p>
          <p>Singular Bank se reserva el derecho a impedir o prohibir el acceso a cualquier Cliente o usuario que
          introduzca en este Sitio Web cualquier contenido contrario a las normas legales o que sea
          contrario a la moral u orden público, reservándose el derecho de ejercer las medidas legales
          que estime oportunas para evitar este tipo de conductas.</p>
          <p>Los contenidos, actividades comerciales, productos y servicios incluidos en este
          Sitio Web no están creados ni dirigidos a aquellas personas que residan en jurisdicciones donde
          sus contenidos no se encuentren autorizados.</p>
          <h3>Usos prohibidos</h3>
          <p>Los Clientes y usuarios no podrán utilizar el Sitio Web para transmitir, distribuir, almacenar o
          destruir información y contenidos: (a) violando las leyes o regulaciones vigentes, (b) de forma
          que infrinjan el derecho de autor, la marca registrada, el secreto comercial o cualquier otro
          derecho de propiedad intelectual o industrial de Singular Bank o terceros o violando la
          confidencialidad, imagen pública o demás derechos personales, o (c) que sean difamatorios,
          obscenos, amenazadores, injuriosos u ofensivos.</p>
          <p>Asimismo, los Clientes y usuarios del Sitio Web no podrán: (a) borrar o revisar cualquier material
          anunciado por otra persona o entidad, (b) usar cualquier mecanismo, software o rutina para
          impedir o intentar impedir el adecuado funcionamiento de este Sitio Web o cualquier actividad
          que se esté realizando en éste, (c) realizar cualquier acción que imponga una carga
          desproporcionada o desmesurada sobre la infraestructura de este Sitio Web, (d) enviar
          materiales que contengan virus, caballos de Troya, gusanos ("worms"), bombas de tiempo,
          "cancelbots" u otras rutinas de programación que tengan por objeto dañar, interferir
          negativamente, interceptar secretamente, o apropiarse de cualquier sistema, datos o
          información. (e) usar o intentar usar cualquier aparato informático, herramienta, software, o
          cualquier otro mecanismo o artilugio (incluyendo pero no limitándose a exploradores, "spiders",
          robots, "avatars" o agentes inteligentes) para navegar o buscar en este Sitio Web que sean
          diferentes a los buscadores puestos a disposición por Singular Bank en este Sitio Web. </p>


        <h2>Propiedad Intelectual e Industrial </h2>
        <p>Este Sitio Web y los contenidos que alberga, incluyendo el diseño de la página web, el nombre
comercial, las marcas, texto, gráficos, imágenes, logos, productos y servicios, iconos de botón,
software, así como derechos de autor, copyright, marcas registradas, archivos de audio,
combinaciones de colores, así como la estructura, selección y orden de sus contenidos, (en
adelante "el Material") están protegidos por la normativa en materia de propiedad industrial e
intelectual por lo que no podrán ser objeto de explotación, reproducción, distribución,
modificación, comunicación pública, cesión o transformación.  </p>
        <p>Todo el Material es propiedad de Singular Bank o de cualquier sociedad del Grupo al que pertenece,
o de sus proveedores de contenido. La compilación (es decir, la recopilación, la disposición y el
montaje) de todos los contenidos de este Sitio Web es de propiedad exclusiva de Singular Bank (o
de cualquier otra compañía del Grupo al que pertenece o de sus proveedores de contenidos) y
está protegida por la legislación sobre propiedad industrial e intelectual. El uso no autorizado
del Material puede suponer la violación de la legislación sobre propiedad intelectual o industrial
(derechos de autor, marca registrada, etc.) y de otras leyes aplicables. </p>
        <p>El acceso a este Sitio Web no otorga a los Clientes o usuarios derecho ni titularidad alguna
sobre los derechos de propiedad industrial e intelectual del Material. Singular Bank no concede
ninguna licencia o autorización de uso de ninguna clase sobre sus derechos de propiedad
industrial e intelectual o sobre cualquier otra propiedad o derecho relacionado con este Sitio
Web, sus servicios o contenidos. </p>
        <p>Singular Bank autoriza a los Clientes y usuarios de este Sitio Web a visualizar y descargar (bajar)
        en su terminal personal una única copia de los contenidos de este Sitio Web siempre que sea
        para su uso privado y sin ningún fin público o comercial. En todo caso, los Clientes y usuarios
        deberán conservar todas las citas o advertencias sobre derechos de autor, marca registrada,
        marca de servicio o producto y otras relativas a los derechos de propiedad industrial o
        intelectual contenidas en el Material original y en cualquier copia que hagan de dicho Material.</p>
        <p>Si el Cliente o usuario transfiere software de este Sitio Web a su terminal personal, no podrá
        descompilarlo, u obtener el código fuente o el código objeto de cualquier programa de software
        que comprenda o constituya una parte de este Sitio Web.</p>
        <p>Los Clientes o usuarios no podrán copiar ni adaptar el código HTML que Singular Bank ha creado
        para generar sus páginas web ya que está protegido por los derechos de propiedad industrial
        e intelectual (copyright) de Singular Bank o de cualquier otra compañía del Grupo al que pertenece.</p>
        <p>Singular Bank se reserva el derecho de ejercitar las acciones judiciales que correspondan contra los
        Clientes o usuarios que violen o infrinjan sus derechos de propiedad intelectual e industrial. </p>
        <h2>Política de cookies </h2>
        <p>Las cookies proporcionan información sobre el uso de un sitio web. El objetivo principal de
        nuestras cookies es mejorar tu experiencia en nuestra web. Por ejemplo, las cookies nos ayudan
        a identificarte y a recordar tus preferencias durante la navegación. La información recogida en
        las cookies nos permite además mejorar nuestra página, analizando las rutas que los usuarios
        realizan.</p>
        <p>Singular Bank utiliza "cookies" cuando los Clientes o usuarios navegan por el Sitio Web. Puede
        consultar el tratamiento de cookies empleado por Singular Bank en la
        <a href="/politica-cookies" target="_blank">Política de cookies</a>.</p>
        <p>Asimismo, si usted lo desea, puede configurar su navegador para ser avisado en pantalla de la
        recepción de cookies y para impedir la instalación de cookies en su disco duro. Por favor,
        consulte las instrucciones y manuales de su navegador para ampliar esta información.</p>
        <h2>Seguridad</h2>
        <p>El acceso a los servicios transaccionales (operativos) y aquellos que impliquen la captación de
        datos de carácter personal se realizan en un entorno seguro utilizando el protocolo SSL (Secure
        Socker Layer) de 256 bits. El servidor seguro establece una conexión de modo que la
        información se transmite cifrada. De esta forma los datos relativos a las cuentas de los Clientes
        tienen una codificación de 256 bits, la mayor encriptación que hay actualmente en el mercado.</p>
        <p>Los Clientes de Singular Bank dispondrán de una clave de usuario y una contraseña elegida por
        ellos para asegurar que el acceso a su cuenta es absolutamente privado.</p>
        <p>Cuando el Cliente utilice el Sitio Web para operar deberá identificarse mediante su clave de
        usuario. En caso de acceso erróneo, el sistema se bloqueará por seguridad al tercer intento
        fallido, debiendo contactar con Singular Bank para proceder al desbloqueo en el teléfono <strong>914 890 888</strong>, o bien mediante las validaciones de seguridad on line implementadas a
        través del sitio web. Una vez conectado el Cliente, si transcurridas 2 horas no se ha
        realizado ninguna operación ni consulta en el Sitio Web, el acceso se bloqueará y deberá
        identificarse de nuevo. Con esto se pretende evitar que un tercero pueda conectarse si se deja
        el terminal abierto.</p>
        <p>Los servidores de Singular Bank tienen certificado de Symantec Class 3 Extended Validation
        compañía líder mundial en seguridad online. Este certificado garantiza que el Cliente está
        comunicando sus datos al servidor de Singular Bank y no a otro, así como que todos los datos
        que se transmiten a través de dicho servidor están protegidos con la máxima
        tecnología de encriptación.</p>
        <p>Singular Bank prohíbe a los usuarios y Clientes violar o intentar violar la seguridad del Sitio Web,
        incluyendo pero no de forma limitativa: (a) el acceso a datos que no estén destinados a tal
        Cliente o usuario así como entrar en un servidor o cuenta cuyo acceso no está autorizado a
        dicho Cliente o usuario, (b) la evaluación o prueba de la vulnerabilidad de un sistema o red, o
        la violación de las medidas de seguridad o de identificación sin la adecuada autorización de
        Singular Bank, (c) el intento de impedir el servicio a cualquier Cliente, usuario o red, incluyendo
        pero no de forma limitativa: el envío de virus al Sitio Web, envíos de información que saturen
        el servidor, envíos masivos ("flooding"), "spamming", bombardeo de correo o bloqueos
        del sistema ("crashing"), (d) el envío de correos no solicitados, incluyendo promociones y/ o
        publicidad de productos o servicios, o (e) la falsificación de cualquier cabecera de paquete
        TCP/IP o cualquier parte de la información de la cabecera de cualquier correo electrónico
        incluyendo los mensajes de foros de debate.</p>
        <p>Singular Bank advierte a los Clientes y usuarios de su Sitio Web que las violaciones de la
        seguridad del sistema o de la red implica responsabilidad civil o penal de aquellos que las
        realicen. Singular Bank podrá investigar los casos en los que se hayan producido tales
        violaciones y podrá dirigirse y cooperar con la autoridad competente para perseguir a los
        Clientes y usuarios involucrados en tales violaciones. </p>
        <h2>Obligaciones de los Clientes y usuarios</h2>
        <p>Los Clientes y usuarios de este Sitio Web se comprometen a: a) utilizar el Sitio Web y los
        servicios y productos ofrecidos en el mismo de conformidad con la Ley, estas Condiciones
        Generales así como con la moral y buenas costumbres generalmente aceptadas y con el orden
        público, b) no utilizar el Sitio Web con fines o efectos ilícitos, contrarios a lo establecido en
        estas Condiciones Generales, lesivos de los derechos e intereses de terceros, o que de
        cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar el Sitio Web así como
        impedir la normal utilización o disfrute del Sitio Web y de los servicios ofrecidos en éste.</p>
        <p>Singular Bank se reserva el derecho de impedir el acceso de los Clientes o usuarios al Sitio Web
        en caso de incumplimiento o violación de estas obligaciones así como del resto de
        Condiciones Generales o de la ley. Asimismo se reserva el derecho a suprimir las
        comunicaciones que sean injuriosas, ilegales o perturbadoras. Singular Bank, a su sola discreción,
        puede tomar las medidas que considere necesarias o convenientes respecto a los datos
        remitidos por sus Clientes y usuarios, si estima que pueden hacer incurrir a Singular Bank en
        responsabilidades. </p>
        <h2>Intercambio de información</h2>
        <p>Singular Bank no será responsable del intercambio de información entre Clientes y usuarios de su
        Sitio Web. La responsabilidad de las opiniones y manifestaciones difundidas a través del Sitio
        Web corresponderá a la persona o personas que las realicen.</p>
        <h2>Términos de Uso adicionales</h2>
        <p>Ciertas áreas de este Sitio Web pueden estar sujetas a términos y condiciones de uso
        adicionales. Al usar estas áreas, o cualquier parte de ellas, los Clientes o usuarios aceptan
        cumplir los términos adicionales aplicables a dichas áreas.</p>
        <h2>Menores de Edad</h2>
        <p>Singular Bank no permite contratar sus servicios a menores de edad sin el consentimiento expreso
        y por escrito de sus padres, tutores u otros representantes legales. Si al Cliente o usuario le
        preocupa que sus hijos utilicen el Sitio Web, Singular Bank recomienda que se use tecnología de
        filtro de la Web para supervisar el acceso de los menores de edad a dicho Sitio Web.</p>
        <h2>General</h2>
        <p>Si cualquier cláusula de esta Advertencia Legal se declarase nula por cualquier órgano
        jurisdiccional competente, la nulidad de tal cláusula no afectará a la validez de las restantes
        cláusulas, que mantendrán su plena vigencia y efecto.</p>
        <h2>Ley aplicable</h2>
        <p><p>Esta Advertencia Legal se rige por las leyes españolas.</p>
        <h2>Competencia judicial</h2>
        <p>El cliente con renuncia expresa a cualquier otro fuero que le pudiera corresponder acuerda
        someterse a la jurisdicción de los Tribunales de Madrid, para cuantas diferencias o litigios
        pudieran surgir en la interpretación de esta advertencia legal. </p>
      </div>
    </div>
  </div>
</section>


{% endblock %}
