{% extends "_layouts/news.twig" %}
{% block page %}

<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">SelfBank by Singular Bank recibe tres galardones en la 5ª edición de los Premios Rankia</h1>
        <p class="c-news__fecha">Madrid, 14 de febrero de 2020</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 u-mb-2">
        <img data-src="/assets/images/noticias/2020-02-14.jpg" class="lazyload" alt="Premios Rankia 2020" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
	  
	  	<p>SelfBank by Singular Bank ha sido premiado como Mejor Banco Online en la categoría de Banco, Mejor Bróker Multiproducto en la de Bolsa y Mejor Comercializadora en la de Fondos, en la V Edición de los Premios Rankia, que reconoce a las mejores entidades o productos financieros de España del año pasado.</p>

		<p>Tres premios que reconocen el buen hacer de la entidad en los distintos segmentos en los que opera, y que han sido recogidos por distintos representantes de la entidad. Fernando Egido, director general de Estrategia Digital, Tecnología y Operaciones de SelfBank by Singular Bank, fue el encargado de recoger el Premio al Mejor Banco Online en la sesión matutina del evento, celebrado ayer 13 de febrero, en los teatros Luchana de Madrid.  Durante la entrega, Egido resaltó la importancia de recibir un año más este premio por parte de los usuarios de Rankia. “Es un orgullo para nosotros volver a ser premiados y ver reconocido nuestro esfuerzo diario para ofrecer los mejores servicios y productos a nuestros clientes, siempre apoyándonos en dos valores fundamentales para la entidad: la transparencia y la educación financiera, que ha ido en nuestro ADN y continúa formando parte de nuestra entidad”.</p>

		<p>Ya por la tarde, llegaban dos nuevos galardones para la entidad, el de Mejor Bróker Multiproducto y el de Mejor Comercializadora de Fondos. Carlos Pérez Parada, Director General de Inversiones y Productos, que recogió el primero, puso de manifiesto que es un premio muy alineado con la esencia de lo que Self Bank by Singular Bank quiere ser: “un banco 360°, que cubra todas las necesidades del cliente, desde las del día a día, con los productos bancarios necesarios, hasta una amplia oferta de productos de inversión, que ponemos a su disposición bajo el modelo de relación que él elija. Puede acceder por él mismo a esos productos y servicios y tomar sus decisiones de inversión, o puede recurrir a nosotros para recibir asesoramiento financiero, inmobiliario, fiscal….o incluso una gestión discrecional de su cartera”.</p>

        <img data-src="/assets/images/noticias/premios-rankia.jpg" class="lazyload u-mb-2" alt="Premios Rankia 2020" />


		<p>Por su parte, Victoria Torre, responsable de análisis y selección de fondos de Singular Bank, que recogió el premio a la Mejor Comercializadora de Fondos, quiso destacar que “ya en el año 2000 nosotros apostamos por un modelo de arquitectura abierta, con una gran variedad de productos y una oferta totalmente transparente y sin conflicto de intereses, para poder dar al cliente lo que de verdad necesita en cada momento”.</p>

		<p>Estos galardones, que son el resultado de las votaciones durante dos meses de los usuarios de esta plataforma financiera, la más importante en España, ya han premiado a Self Bank en ediciones anteriores con un Premio Rankia.</p> 

		<p>En la edición de 2019 obtuvo el reconocimiento como ‘Mejor Bróker Multiproducto’, en la categoría de bolsa; el año anterior los usuarios de la comunidad financiera reconocieron a la entidad como ‘Mejor Comercializadora de Fondos’; mientras que en 2016 obtuvieron el premio al Depósito Self como el mejor del año.</p>

		<p>Este año Self Bank competía en las categorías de bolsa (Mejor Bróker por acciones, Mejor Bróker Multiproducto y Mejor Servicio de Atención al Cliente); en la categoría de fondos (Mejor comercializadora de fondos); y en la categoría de banca (Mejor cuenta corriente: cuenta Self y Mejor banco online). “Estar nominados en tantas categorías es para nosotros una gran alegría, pero también un reto y una responsabilidad, ya que tenemos que seguir esforzándonos día a día para estar a la altura de lo que nuestros clientes esperan de nosotros”, apunta Carlos Pérez Parada.</p>
      </div>
    </div>

    <!--<div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>-->

  </div>
</section>

{% include "_includes/ctabox.twig" %}

{% endblock %}
