{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>

        <h1 class="c-news__title">Self Bank lanza un nuevo Depósito que ofrece el 2,75% TAE a dos años</h1>
        <p><strong>Se puede contratar para saldos entre los 25.000 euros y los 500.000 euros tanto clientes actuales como nuevos clientes del banco</strong></p>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
    <p>Con el objeto de adecuar su oferta al actual contexto de tipos de interés, a lo largo de 2023 Self
Bank está rediseñando su cartera de productos de ahorro, de forma que los mismos se
adapten mejor a las condiciones del mercado y las demandas de sus clientes para ofrecer el
mejor servicio.</p>

<p>Por ello, Self Bank ha lanzado un nuevo Depósito a plazo fijo que ofrece un tipo de interés del
2,75% TAE a dos años, desde una cantidad de 25.000 euros y hasta un máximo de 500.000
euros, sin condiciones ni requisitos adicionales. El nuevo producto, contratable desde el 24 de
mayo hasta el 30 de junio de 2023, permite la cancelación anticipada total en todo el plazo de
vigencia, si bien en ese caso no será abonado el interés generado.</p>

<p>El depósito a dos años permite asegurar un atractivo rendimiento en línea con unos tipos de
interés en máximos de los últimos 12 meses, sin que el cliente deba preocuparse por la
renovación de depósitos a plazos mas cortos en un entorno en el que algunos expertos
descuentan ya bajadas de tipos antes del final del año 2023.</p>

<p>Para Ignacio Prieto Funes, Digital Business Director de Self Bank, “En un contexto de tipos de
interés fluctuantes, nuestra entidad continúa innovando y adaptando su oferta a las demandas
del mercado. Uno de nuestros principales objetivos es mantener una cartera de productos
atractiva, que permita a nuestros clientes contar con las mejores alternativas de ahorro del
sector. El valor del nuevo Depósito no reside solamente en su competitiva rentabilidad, sino
también en la seguridad y solidez financiera que ofrece nuestra entidad matriz, Singular Bank,
que cuenta con el ratio de solvencia más elevado de todo el sector”.
</p>
<p>Este producto complementa nuestra actual oferta de ahorro en el segmento de los depósitos.
De hecho, Self Bank también dispone de un depósito a 1 año al 2% TAE (con un importe
mínimo de 50.000 € y máximo 500.000 €).</p>
<p>También, en línea con el compromiso de la entidad de mejorar las condiciones de sus
productos de ahorro, a partir del 1 de junio de 2023 la remuneración de la Cuenta Ahorro Self
subirá automáticamente hasta un 2% TAE para aquellos clientes que tengan al menos 20.000
euros en fondos de inversión y/o ETFs. Adicionalmente, de forma directa, o con la ayuda del
servicio de asesoramiento personal, los clientes de la entidad pueden valorar más de 20.000
fondos de inversión o ETFs y acceder directamente a la compra-venta de acciones con
condiciones muy atractivas en los mercados bursátiles más importantes del mundo.</p>



<h2>Sobre Singular Bank</h2>
<p>Self Bank es la marca digital de Singular Bank. Singular Bank es un banco español, sólido y
experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a
través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a
sus necesidades y expectativas, a través de distintos modelos de servicio, y con una amplia
variedad de productos y servicios.</p>
<p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un
patrimonio gestionado de más de 80.000 millones de dólares y más de 55 años de experiencia.
Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en
inversiones en Europa.</p>
<p>Con más de 22 años de historia, Self Bank ofrece una amplia variedad de productos y servicios
de ahorro e inversión. Para el cliente ahorrador dispone de cuentas remuneradas y depósitos,
mientras que el cliente inversor ofrece una completa plataforma para la operativa sobre
acciones, planes de pensiones, mas de 20.000 fondos de inversión o más de 2.400 ETFs.</p>

<p><strong>Para mayor información:</strong></p>
<ul>

<li>Singular Bank/Kreab</li>

<li><p>José Luis González<br>
jlgonzalez@kreab.com<br>
661 850 384</p></li>

<li><p>Atenea Egido<br>
aegido@kreab.com<br>

691 435 305</p></li>

<li><p>Lucia Molinero<br>

lmolinero@kreab.com<br>

616 22 02 50</p></li>

        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 