<div class="c-news-item">
  <a href="https://www.eleconomista.es/global/noticias/9186985/06/18/COMUNICADO-Asociacion-entre-Warburg-Pincus-y-Javier-Marin-Romano-para-adquirir-Self-Bank-de-Societe-Generale.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2018-06-05.jpg" class="lazyload" alt="Asociación" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Asociación entre Warburg Pincus y Javier Marín Romano para adquirir Self Bank de Société Générale</h3>
  <p class="c-news__fecha">El economista - 05/06/2018</p>
  <p class="c-news__excerpt">Warburg Pincus, una empresa de capital privado internacional líder centrada en la inversión de crecimiento, y Javier Marín Romano, veterano en la banca...</p>
  <a href="https://www.eleconomista.es/global/noticias/9186985/06/18/COMUNICADO-Asociacion-entre-Warburg-Pincus-y-Javier-Marin-Romano-para-adquirir-Self-Bank-de-Societe-Generale.html" target="_blank" class="c-button">Leer más</a>
</div>
