<div class="c-news-item">
  <a href="https://es.fundspeople.com/news/el-plan-de-javier-marin-para-el-nuevo-proyecto-de-banca-privada-de-self-bank" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2019-05-16.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">El plan de Javier Marín para el nuevo proyecto de banca privada de Self Bank</h3>
  <p class="c-news__fecha">Funds People - 16/05/2019</p>
  <p class="c-news__excerpt">Desde que se anunciara la compra de Self Bank por parte de Javier Marín y el fondo de capital riesgo Warburg Pincus, muchas son las especulaciones que han corrido...</p>
  <a href="https://es.fundspeople.com/news/el-plan-de-javier-marin-para-el-nuevo-proyecto-de-banca-privada-de-self-bank" target="_blank" class="c-button">Leer más</a>
</div>
