<div class="c-news-item">
  <a href="https://es.fundspeople.com/news/javier-marin-se-trae-a-self-bank-una-decena-de-antiguos-profesionales-del-santander" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2019-07-03.jpg" class="lazyload" alt="Asociación" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Javier Marín incorpora a Self Bank a más de una docena de antiguos profesionales de Santander</h3>
  <p class="c-news__fecha">Funds People - 03/07/2019</p>
  <p class="c-news__excerpt">El nuevo proyecto de banca privada que Javier Marín y el fondo de capital riesgo Warburg Pincus quieren para Self Bank...</p>
  <a href="https://es.fundspeople.com/news/javier-marin-se-trae-a-self-bank-una-decena-de-antiguos-profesionales-del-santander" target="_blank" class="c-button">Leer más</a>
</div>
