<div class="c-news-item">
  <a href="https://es.fundspeople.com/news/self-bank-anuncia-la-incorporacion-de-carlos-perez-parada-como-responsable-del-area-de-inversiones" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/carlos-perez-parada-2.jpg" class="lazyload" alt="Carlos Pérez" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Self Bank anuncia la incorporación de Carlos Pérez Parada como responsable del Área de Inversiones</h3>
  <p class="c-news__fecha">Funds People - 24/06/2019</p>
  <p class="c-news__excerpt">Carlos Pérez Parada se incorporará como responsable del Área de Inversiones con el cargo de Director General...</p>
  <a href="https://es.fundspeople.com/news/self-bank-anuncia-la-incorporacion-de-carlos-perez-parada-como-responsable-del-area-de-inversiones" target="_blank" class="c-button">Leer más</a>
</div>
