<div class="c-news-item">
  <a href="https://www.economiadehoy.es/self-bank-mejor-broker-multiproducto-2018-segun-rankia" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2019-04-05.jpg" class="lazyload" alt="Mejor Broker Multiproducto 2018" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Self Bank, ‘Mejor Bróker Multiproducto 2018’ según Rankia</h3>
  <p class="c-news__fecha">Economía de hoy - 05/04/2019</p>
  <p class="c-news__excerpt">Los usuarios de la comunidad financiera han reconocido a Self Bank en esta categoría de bolsa, y ha obtenido el segundo puesto como ‘Mejor Comercializadora de Fondos...</p>
  <a href="https://www.economiadehoy.es/self-bank-mejor-broker-multiproducto-2018-segun-rankia" target="_blank" class="c-button">Leer más</a>
</div>
