<div class="c-news-item">
  <a href="https://www.elmundo.es/economia/actualidad-economica/2020/03/18/5e690857fdddffb3498b47a1.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-03-18.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Javier Marín: un Ave Fénix de las finanzas en Singular Bank</h3>
  <p class="c-news__fecha">EL MUNDO - 18/03/2020</p>
  <p class="c-news__excerpt">Javier Marín, vuelve cinco años después al mundo de la banca privada para liderar un ambicioso proyecto que pretende mirar de tú a tú a los grandes gigantes del sector.</p>
  <a href="https://www.elmundo.es/economia/actualidad-economica/2020/03/18/5e690857fdddffb3498b47a1.html" target="_blank" class="c-button">Leer más</a>
</div>
