<div class="c-news-item">
  <a href="https://www.elindependiente.com/economia/finanzas/2020/12/25/javier-marin-cuanto-mas-grande-es-un-banco-mas-dificil-es-personalizar-el-servicio/" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-12-25.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Javier Marín: "Cuanto más grande es un banco, más difícil es personalizar el servicio"</h3>
  <p class="c-news__fecha">El Independiente - 25/12/2020</p>
  <p class="c-news__excerpt">Javier Marín, Consejero Delegado de Singular Bank, concede una entrevista a El Independiente</p>
  <a href="https://www.elindependiente.com/economia/finanzas/2020/12/25/javier-marin-cuanto-mas-grande-es-un-banco-mas-dificil-es-personalizar-el-servicio/" target="_blank" class="c-button">Leer más</a>
</div>
