<div class="c-news-item">
  <a href="https://cincodias.elpais.com/cincodias/2020/06/17/extras/1592388366_969401.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-06-25.jpg" class="lazyload" alt="Planificación financiera en Singular Bank" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">¿Por qué es importante la planificación financiera?</h3>
  <p class="c-news__fecha">Cinco Días - 26/06/2020</p>
  <p class="c-news__excerpt">Singular Bank asesora al cliente sobre cómo ahorrar según sus necesidades, circunstancias y objetivos vitales.</p>
  <a href="https://cincodias.elpais.com/cincodias/2020/06/17/extras/1592388366_969401.html" target="_blank" class="c-button">Leer más</a>
</div>
