<div class="c-news-item">
  <a href="https://www.heraldo.es/noticias/economia/2020/11/22/singular-bank-aterriza-en-aragon-1406409.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-11-22-01.jpg" class="lazyload" alt="Christian Izquierdo" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Singular Bank aterriza en Aragón</h3>
  <p class="c-news__fecha">El heraldo - 22/11/2020</p>
  <p class="c-news__excerpt">La entidad especializada en banca privada que pilota Javier Marín, exconsejero delegado del Santander, abre una oficina en Zaragoza</p>
  <a href="https://www.heraldo.es/noticias/economia/2020/11/22/singular-bank-aterriza-en-aragon-1406409.html"target="_blank" class="c-button">Leer más</a>
</div>
