<div class="c-news-item">
  <a href="https://www.capitalradio.es/eventos/especial-vii-dia-inversion/apuesta-las-megatendencias-nunca-corto-plazo_85724566.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-11-16.jpg" class="lazyload" alt="Reloj de arena" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Semana de la Inversión en Capital Radio</h3>
  <p class="c-news__fecha">Capital Radio - 16/11/2020</p>
  <p class="c-news__excerpt">Mónica Rueda, Directora de Análisis y Selección de Fondos en Singular Bank, participa en la Semana de la Inversión 2020 hablando sobre megatendencias</p>
  <a href="https://www.capitalradio.es/eventos/especial-vii-dia-inversion/apuesta-las-megatendencias-nunca-corto-plazo_85724566.html" target="_blank" class="c-button">Leer más</a>
</div>
