<div class="c-news-item">
  <a href="https://dirigentesdigital.com/fondos/el-value-debe-evolucionar-y-enfocarse-mas-en-el-retorno-sobre-los-activos-que-en-su-valor" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-09-30.jpg" class="lazyload" alt="Value Strategy Fund" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">El value debe evolucionar y enfocarse más en el retorno sobre los activos que en su valor</h3>
  <p class="c-news__fecha">Funs and Markets - 30/09/2020</p>
  <p class="c-news__excerpt">Dirigentes entrevista a Carlos Val-Carreres, gestor del fondo Value Strategy Fund, que acaba de cumplir un año y que tiene a Singular Bank como socio estratégico.</p>
  <a href="https://dirigentesdigital.com/fondos/el-value-debe-evolucionar-y-enfocarse-mas-en-el-retorno-sobre-los-activos-que-en-su-valor" target="_blank" class="c-button">Leer más</a>
</div>
