<div class="c-news-item">
  <a href="https://es.fundspeople.com/news/nuevas-tendencias-mirando-mas-alla-de-la-tecnologia" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-11-13.jpg" class="lazyload" alt="Mirador sobre la ciudad" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Nuevas tendencias: mirando más allá de la tecnología</h3>
  <p class="c-news__fecha">Funds People - 13/11/2020</p>
  <p class="c-news__excerpt">El COVID ha cambiado muchas cosas en nuestro día a día, entre ellas la forma de consumir y de trabajar. Varios gestores analizan las oportunidades de inversión.</p>
  <a href="https://es.fundspeople.com/news/nuevas-tendencias-mirando-mas-alla-de-la-tecnologia" target="_blank" class="c-button">Leer más</a>
</div>
