<div class="c-news-item">
  <a href="https://es.fundspeople.com/news/los-clientes-cambian-la-sociedad-cambia-self-bank-cambia-nace-singular-bank" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-03-10.jpg" class="lazyload" alt="José Salgado Fuertes de Villavicencio" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Los clientes cambian, la sociedad cambia, Self Bank cambia: nace Singular Bank</h3>
  <p class="c-news__fecha">FUNDS PEOPLE - 10/03/2020</p>
  <p class="c-news__excerpt">Tribuna de José Salgado Fuertes de Villavicencio, director general de Clientes, Singular Bank. Comentario patrocinado por Singular Bank.</p>
  <a href="https://es.fundspeople.com/news/los-clientes-cambian-la-sociedad-cambia-self-bank-cambia-nace-singular-bank" target="_blank" class="c-button">Leer más</a>
</div>
