<div class="c-news-item">
  <a href="https://www.elindependiente.com/economia/2020/09/26/y-si-el-ahorro-retrasa-la-recuperacion-economica/" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-09-25.jpg" class="lazyload" alt="Ahorro" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">¿Y si el ahorro retrasa la recuperación económica?</h3>
  <p class="c-news__fecha">El independiente - 25/09/2020</p>
  <p class="c-news__excerpt">La incertidumbre y el miedo dispararán la tasa de ahorro de los españoles que impedirán que se recupere el consumo</p>
  <a href="https://www.elindependiente.com/economia/2020/09/26/y-si-el-ahorro-retrasa-la-recuperacion-economica/" target="_blank" class="c-button">Leer más</a>
</div>
