<div class="c-news-item">
  <a href="https://www.eleconomista.es/empresas-finanzas/noticias/10872919/11/20/Singular-Bank-completara-a-finales-de-ano-su-nueva-plataforma-tecnologica.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-11-09.jpg" class="lazyload" alt="Fernando Egido" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Singular Bank completará a finales de año su nueva plataforma tecnológica</h3>
  <p class="c-news__fecha">El Economista - 09/11/2020</p>
  <p class="c-news__excerpt">La entidad ya ha migrado la mayor parte de los procesos al sistema para crecer</p>
  <a href="https://www.eleconomista.es/empresas-finanzas/noticias/10872919/11/20/Singular-Bank-completara-a-finales-de-ano-su-nueva-plataforma-tecnologica.html" target="_blank" class="c-button">Leer más</a>
</div>
