<div class="c-news-item">
  <a href="https://www.vozpopuli.com/branded/Singular-Bank-banco-trata-cliente_0_1401160619.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-10-16.jpg" class="lazyload" alt="Sala de reuniones oficina de Goya" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Singular Bank, el banco que trata a cada cliente como si fuera único</h3>
  <p class="c-news__fecha">Voz Populi - 16/10/2020</p>
  <p class="c-news__excerpt">Singular Bank es un banco cuyo principal foco de atención es el cliente, y su relación con él se basa en dos principios inalienables: independencia y transparencia</p>
  <a href="https://www.vozpopuli.com/branded/Singular-Bank-banco-trata-cliente_0_1401160619.html" target="_blank" class="c-button">Leer más</a>
</div>
