<div class="c-news-item">
  <a href="https://www.innovaspain.com/fernando-egido-singular-bank-estrategia-digital" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-02-28.jpg" class="lazyload" alt="Fernando Egido" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Es el banco el que ha de adaptarse al cliente, y no al revés</h3>
  <p class="c-news__fecha">INNOVASPAIN - 28/02/2020</p>
  <p class="c-news__excerpt">Fernando Egido, responsable de Estrategia Digital, Tecnología y Operaciones de Singular Bank es uno de los pioneros de la transformación del sector financiero español</p>
  <a href="https://www.innovaspain.com/fernando-egido-singular-bank-estrategia-digital/" target="_blank" class="c-button">Leer más</a>
</div>
