<div class="c-news-item">
  <a href="https://cybersecuritynews.es/mas-de-la-mitad-de-las-empresas-ya-consideran-la-ciberseguridad-una-de-sus-prioridades/" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-11-22-02.jpg" class="lazyload" alt="Escritorio con portátil" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Más de la mitad de las empresas ya consideran la ciberseguridad una de sus prioridades</h3>
  <p class="c-news__fecha">Cyber Security News - 22/11/2020</p>
  <p class="c-news__excerpt">La sexta edición del Sophos Day reunió a cerca de 1.000 profesionales del sector de la ciberseguridad para analizar el panorama de ciberamenazas y mostrar las principales tendencias de seguridad en su “Informe de Ciberamenazas para 2021”</p>
  <a href="https://cybersecuritynews.es/mas-de-la-mitad-de-las-empresas-ya-consideran-la-ciberseguridad-una-de-sus-prioridades/" target="_blank" class="c-button">Leer más</a>
</div>
