<div class="c-news-item">
  <a href="https://www.telva.com/estilo-vida/2020/10/22/5f91466502136eff928b45c5.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-10-22.jpg" class="lazyload" alt="Alicia Coronil" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Alicia Coronil, Economista Jefe de Singular Bank, responde a todas las incertidumbres que les preocupan</h3>
  <p class="c-news__fecha">Telva - 22/10/2020</p>
  <p class="c-news__excerpt">Así afecta a su bolsillo la crisis económica provocada por la pandemia del coronavirus</p>
  <a href="https://www.telva.com/estilo-vida/2020/10/22/5f91466502136eff928b45c5.html" target="_blank" class="c-button">Leer más</a>
</div>
