<div class="c-news-item">
  <a href="https://www.elindependiente.com/economia/2020/07/22/megatendencias-un-reto-y-una-oportunidad/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-07-22.jpg" class="lazyload" alt="Megatendencias, un reto y una oportunidad" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Megatendencias, un reto y una oportunidad</h3>
  <p class="c-news__fecha">El independiente - 22/07/2020</p>
  <p class="c-news__excerpt">La crisis del coronavirus ha abierto nuevos interrogantes y desafíos para la humanidad. Conozca más sobre Megatendencias. </p>
  <a href="https://www.elindependiente.com/economia/2020/07/22/megatendencias-un-reto-y-una-oportunidad/" target="_blank" class="c-button">Leer más</a>
</div>
