<div class="c-news-item">
  <a href="https://www.expansion.com/empresas/banca/2020/06/10/5ee0b251468aeb8a2e8b45a5.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2020-06-10.jpg" class="lazyload" alt="Adquisición Mercados y Gestión de Valores, A.V." />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Singular Bank acuerda la adquisición de Mercados y Gestión de Valores, A.V.</h3>
  <p class="c-news__fecha">Expansión - 10/06/2020</p>
  <p class="c-news__excerpt">La integración se realizará en el próximo trimestre, sujeto al cumplimiento de las condiciones requeridas por las Autoridades Competentes.</p>
  <a href="https://www.expansion.com/empresas/banca/2020/06/10/5ee0b251468aeb8a2e8b45a5.html" class="c-button" target="_blank">Leer más</a>
</div>
