<div class="c-news-item">
  <a href="https://cincodias.elpais.com/cincodias/2021/07/07/companias/1625651595_361027.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-07-08.jpg" class="lazyload" alt="Paneles solares" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">El instalador de paneles solares EiDF se dispara un 31% en su debut</h3>
  <p class="c-news__fecha">Cinco Días - 08/07/2021</p>
  <p class="c-news__excerpt"> EiDF es  la octava compañía que recibe informe favorable para incorporarse a este mercado en 2021. El asesor registrado y proveedor de liquidez de la empresa es Singular Bank. </p>
  <a href="https://cincodias.elpais.com/cincodias/2021/07/07/companias/1625651595_361027.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
