<div class="c-news-item">
  <a href="https://www.eleconomista.es/empresas-finanzas/noticias/11111681/03/21/Las-empresas-demandan-mas-inversion-en-ciberseguridad-ante-las-amenazas-crecientes.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-03-18.jpg" class="lazyload" alt="Ponencia de ciberseguridad" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Las empresas demandan más inversión en ciberseguridad ante las amenazas crecientes</h3>
  <p class="c-news__fecha">El Economista - 18/03/2021</p>
  <p class="c-news__excerpt"> Damián Ruiz Soriano, CISO de Singular Bank, participó en el IV Foro de la Ciberseguridad organizado por El Economista.
</p>
  <a href="https://www.eleconomista.es/empresas-finanzas/noticias/11111681/03/21/Las-empresas-demandan-mas-inversion-en-ciberseguridad-ante-las-amenazas-crecientes.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
