<div class="c-news-item">
  <a href="https://citywire.es/news/la-estrategia-de-singular-bank-para-2022-seguiremos-creciendo-pero-los-numeros-no-nos-obsesionan/a1591130" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-12-02.jpg" class="lazyload" alt="Gonzalo Algorri" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Entrevista a Gonzalo Algorri, Director de Expansión de Singular Bank.</h3>
  <p class="c-news__fecha">Citywire - 02/12/2022</p>
  <p class="c-news__excerpt">La estrategia de Singular Bank para 2022, "Seguiremos creciendo, pero los números no nos obsesionan"</p>
  <a href="https://citywire.es/news/la-estrategia-de-singular-bank-para-2022-seguiremos-creciendo-pero-los-numeros-no-nos-obsesionan/a1591130" class="c-button" title="Ver noticia">Leer más</a>
</div>
