<div class="c-news-item">
  <a href="https://www.antena3.com/programas/espejo-publico/noticias/economista-alicia-coronil-subida-smi-muchas-empresas-podran-asumirlo_2021072861011916481ef90001901298.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-07-28.jpg" class="lazyload" alt="Reforma del mercado laboral" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Entrevista a Alicia Coronil, sobre la subida del SMI (Salario Mínimo Interprofesional) en Espejo Público</h3>
  <p class="c-news__fecha">Antena 3 - 28/07/2021</p>
  <p class="c-news__excerpt"> Alicia Coronil, Economista Jefe, comenta sobre la necesidad de una reforma profunda del mercado laboral.</p>
  <a href="https://www.antena3.com/programas/espejo-publico/noticias/economista-alicia-coronil-subida-smi-muchas-empresas-podran-asumirlo_2021072861011916481ef90001901298.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
