<div class="c-news-item">
  <a href="https://valenciaplaza.com/luis-herrero-singular-bank-valencia-banqueros-privados" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-02-18.jpg" class="lazyload" alt="Oficina Singular Bank en Valencia" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Luis Herrero (Singular Bank): "No queremos banqueros sobrecargados de trabajo"</h3>
  <p class="c-news__fecha">Valencia Plaza - 18/02/2021</p>
  <p class="c-news__excerpt"> Valencia Plaza realiza una entrevista a Luis Herrero, responsable de Singular Bank en Valencia.
</p>
  <a href="https://valenciaplaza.com/luis-herrero-singular-bank-valencia-banqueros-privados" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
