<div class="c-news-item">
  <a href="https://www.bolsamania.com/noticias/events-finance/eventsfinance-alicia-coronil-singular-bank-volatilidad-bolsas-seguira-incertidumbre--7802164.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-02-03-2.jpg" class="lazyload" alt="Alicia Coronil" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Events&Finance con Alicia Coronil (Singular Bank):"La volatilidad en las bolsas seguirá por la incertidumbre"</h3>
  <p class="c-news__fecha">Bolsamanía - 03/02/2021</p>
  <p class="c-news__excerpt"> Un espacio dirigido por Giuseppe Tringali para hablar de la geopolítica y las finanzas
</p>
  <a href="https://www.bolsamania.com/noticias/events-finance/eventsfinance-alicia-coronil-singular-bank-volatilidad-bolsas-seguira-incertidumbre--7802164.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
