<div class="c-news-item">
  <a href="https://www.eldiario.es/economia/precio-oro-baja-13-maximo-historico-ano_1_8200886.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-08-06.jpg" class="lazyload" alt="Materia Primas" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">El precio del oro baja un 13 % desde su máximo histórico de hace un año</h3>
  <p class="c-news__fecha">Diario.es - 06/08/2021</p>
  <p class="c-news__excerpt"> Marta Raga García, Directora de Gestión Discrecional de Carteras en Singular Bank comenta las ventajas de incluir el oro en las carteras.</p>
  <a href="https://www.eldiario.es/economia/precio-oro-baja-13-maximo-historico-ano_1_8200886.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
