<div class="c-news-item">
  <a href="https://www.europapress.es/economia/finanzas-00340/noticia-fondos-belgravia-doblan-patrimonio-compra-parte-singular-bank-20210608140211.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-06-08-1.jpg" class="lazyload" alt="Pieza de puzzle encajando" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Los fondos Belgravia doblan su patrimonio tras la compra por parte de Singular Bank</h3>
  <p class="c-news__fecha">Europa Press - 08/06/2021</p>
  <p class="c-news__excerpt"> El aumento es consecuencia tanto de las suscripciones netas recibidas de partícipes, como de la "excelente" rentabilidad acumulada desde que se conociese la adquisición.
</p>
  <a href="https://www.europapress.es/economia/finanzas-00340/noticia-fondos-belgravia-doblan-patrimonio-compra-parte-singular-bank-20210608140211.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
