<div class="c-news-item">
  <a href="https://www.balancesociosanitario.com/actualidad/economia-plateada-oportunidades-de-un-mercado-emergente/" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-09-22-02.jpg" class="lazyload" alt="Oportunidades en mercados emergentes" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Alicia Coronil, Economista en Jefe en Singular Bank, participa como ponente en el I Congreso Economía Plateada.</h3>
  <p class="c-news__fecha">Balance Sociosanitario - 22/09/2021</p>
  <p class="c-news__excerpt"> Su participación se ha centrado en la hoja de ruta económica ante el cambio sociodemográfico mundial.</p>
  <a href="https://www.balancesociosanitario.com/actualidad/economia-plateada-oportunidades-de-un-mercado-emergente/" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
