<div class="c-news-item">
  <a href="https://www.europapress.es/economia/finanzas-00340/noticia-patrimonio-fondos-inversion-crece-12-agosto-20210908102542.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-09-08-02.jpg" class="lazyload" alt=" Singular Asset Management" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">El patrimonio de los fondos de inversión crece un 1,2% en agosto</h3>
  <p class="c-news__fecha">Europa Press - 08/09/2021</p>
  <p class="c-news__excerpt">En términos de rentabilidad Singular Asset Management es una de las gestoras más rentables con un 1,82%</p>
  <a href="https://www.europapress.es/economia/finanzas-00340/noticia-patrimonio-fondos-inversion-crece-12-agosto-20210908102542.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
