<div class="c-news-item">
  <a href="https://es.rankiapro.com/como-preparar-carteras-verano/" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-06-08-2.jpg" class="lazyload" alt="Palmeras" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">¿Cómo preparar las carteras para el verano?</h3>
  <p class="c-news__fecha">Rankia Pro - 08/06/2021</p>
  <p class="c-news__excerpt"> Ignacio Plasencia, Banquero privado de Singular Bank, da a conocer su estrategia de inversión de cara a los meses estivales.
</p>
  <a href="https://es.rankiapro.com/como-preparar-carteras-verano/" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
