<div class="c-news-item">
  <a href="https://www.youtube.com/watch?v=drnhZtF6nDQ" title="Ver vídeo" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-12-13.jpg" class="lazyload" alt="Foto genérica de ordenador portatil" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">IX Edición Encuentro Banca Privada y Gestión del Patrimonio</h3>
  <p class="c-news__fecha">EXPANSIÓN - 13/12/2021</p>
  <p class="c-news__excerpt">La reconversión y digitalización del sector es ya una realidad. Pero, ¿qué desafíos y retos afronta ahora el sector? ¿Cómo es la nueva relación con el cliente y qué oportunidades ofrecen los mercados en este escenario?</p>
  <a href="https://www.youtube.com/watch?v=drnhZtF6nDQ" target="_blank" class="c-button">Ver vídeo</a>
</div>
