<div class="c-news-item">
  <a href="https://www.fundssociety.com/es/noticias/private-banking/efpa-espana-y-singular-bank-colaboraran-en-la-formacion-continua-de-los-asesores-financieros" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-09-08-01.jpg" class="lazyload" alt="Formación de Asesores Financieros" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">EFPA España y Singular Bank colaborarán en la formación continua de los asesores financieros</h3>
  <p class="c-news__fecha">Funds Society - 08/09/2021</p>
  <p class="c-news__excerpt"> Ambas entidades unificarán sus esfuerzos para potenciar aquellas iniciativas que impulsen la cualificación de los profesionales como vía para ofrecer el mejor servicio a los clientes y desarrollar la cultura financiera.</p>
  <a href="https://www.fundssociety.com/es/noticias/private-banking/efpa-espana-y-singular-bank-colaboraran-en-la-formacion-continua-de-los-asesores-financieros" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
