<div class="c-news-item">
  <a href="https://www.eleconomista.es/inversion-sostenible-asg/noticias/11305804/07/21/Invertir-en-Acciona-Energia-La-nueva-cotizada-se-compra-mas-barata-a-traves-de-la-matriz.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-07-04.jpg" class="lazyload" alt="Energía sostenible" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">¿Invertir en Acciona Energía? La nueva cotizada se compra más barata a través de la matriz</h3>
  <p class="c-news__fecha">El Economista - 04/07/2021</p>
  <p class="c-news__excerpt"> El Economista se analiza la inversión que ha recibido la empresa de energías Acciona. Victoria Torre recuerda que el buen comportamiento de Acciona en los últimos años ha estado ligado a su expansión en el campo renovables.</p>
  <a href="https://www.eleconomista.es/inversion-sostenible-asg/noticias/11305804/07/21/Invertir-en-Acciona-Energia-La-nueva-cotizada-se-compra-mas-barata-a-traves-de-la-matriz.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
