<div class="c-news-item">
  <a href="https://www.heraldo.es/noticias/economia/2021/01/24/javier-marin-la-unica-manera-de-entender-mejor-a-los-clientes-es-tener-empatia-1416425.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-01-24.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Entrevista a Javier Marín: «La única manera de entender mejor a los clientes es tener empatía»</h3>
  <p class="c-news__fecha">El Heraldo - 24/01/2021</p>
  <p class="c-news__excerpt"> El consejero delegado de Singular Bank, quiere que la entidad sea referente en banca privada en España.
</p>
  <a href="https://www.heraldo.es/noticias/economia/2021/01/24/javier-marin-la-unica-manera-de-entender-mejor-a-los-clientes-es-tener-empatia-1416425.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
