<div class="c-news-item">
  <a href="https://www.economiadehoy.es/consejos-para-evitar-ser-victima-del-phishing" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-02-08.jpg" class="lazyload" alt="Browser web" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Consejos para evitar ser víctima de phising</h3>
  <p class="c-news__fecha">Economía de Hoy - 08/02/2021</p>
  <p class="c-news__excerpt"> Con motivo del Día de la Internet Segura, Singular Bank ofrece una serie de medidas preventivas para reconocer cuándo se está frente a este tipo de fraude bancario que en los últimos meses ha aumentado exponencialmente.
</p>
  <a href="https://www.economiadehoy.es/consejos-para-evitar-ser-victima-del-phishing" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
