<div class="c-news-item">
  <a href="https://cincodias.elpais.com/cincodias/2021/06/23/fortunas/1624469790_221063.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-06-24.jpg" class="lazyload" alt="Maletín trabajo del futuro"/>
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Claves para que el trabajo del futuro tenga éxito</h3>
  <p class="c-news__fecha">Cinco Días - 24/06/2021</p>
  <p class="c-news__excerpt"> En el artículo cuentan con la opinión de Alicia Coronil, Economista Jefe en Singular Bank.
</p>
  <a href="https://cincodias.elpais.com/cincodias/2021/06/23/fortunas/1624469790_221063.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
