<div class="c-news-item">
  <a href="https://www.abc.es/economia/abci-singular-bank-apuesta-tecnologia-implantacion-plataforma-expediente-credito-202107211957_noticia.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-07-21.jpg" class="lazyload" alt="Tecnología" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Singular Bank apuesta por la tecnología con la implantación de la plataforma Expediente de Crédito </h3>
  <p class="c-news__fecha">ABC - 21/07/2021</p>
  <p class="c-news__excerpt"> La solución digital permite obtener cualquier dato de un usuario a tiempo real para facilitar el acceso al crédito de los clientes.</p>
  <a href="https://www.abc.es/economia/abci-singular-bank-apuesta-tecnologia-implantacion-plataforma-expediente-credito-202107211957_noticia.html" class="c-button" title="Ver noticia">Leer más</a>
</div>
