<div class="c-news-item">
  <a href="https://www.capitalradio.es/noticias/otros/sostenible-estado-bienestar-espana_94034611.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-06-23.jpg" class="lazyload" alt="Alicia Coronil en Capital Radio"/>
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">¿Es sostenible el Estado de Bienestar en España?</h3>
  <p class="c-news__fecha">Capital Radio - 23/06/2021</p>
  <p class="c-news__excerpt"> El debate sobre el Estado del Bienestar contó con la colaboración de Alicia Coronil, Economista Jefe de Singular Bank y Federico Steinberg, investigador principal del Real Instituto Elcano.
</p>
  <a href="https://www.capitalradio.es/noticias/otros/sostenible-estado-bienestar-espana_94034611.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
