<div class="c-news-item">
  <a href="https://elpais.com/economia/negocios/2021-11-08/javier-marin-singular-bank-hay-un-hueco-importante-en-bolsa-para-un-banco-como-el-nuestro.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-11-08.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Entrevista en El País a Javier Marín, Consejero delegado de Singular Bank</h3>
  <p class="c-news__fecha">EL PAÍS - 08/11/2021</p>
  <p class="c-news__excerpt">“Hay un hueco importante en Bolsa para un banco como el nuestro”</p>
  <a href="https://elpais.com/economia/negocios/2021-11-08/javier-marin-singular-bank-hay-un-hueco-importante-en-bolsa-para-un-banco-como-el-nuestro.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
