<div class="c-news-item">
  <a href="https://www.hispanidad.com/entrevista/el-tamano-no-es-garantia-nada-tampoco-en-banca-privada_12024876_102.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-03-14.jpg" class="lazyload" alt="Luis Moreno en las oficinas de Singular Bank" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">“El tamaño no es garantía de nada. Tampoco en la banca privada”</h3>
  <p class="c-news__fecha">Hispanidad - 14/03/2021</p>
  <p class="c-news__excerpt"> Luis Moreno García, director general de marketing y comunicación de Singular Bank.
</p>
  <a href="https://www.hispanidad.com/entrevista/el-tamano-no-es-garantia-nada-tampoco-en-banca-privada_12024876_102.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
