<div class="c-news-item">
  <a href="https://cincodias.elpais.com/cincodias/2021/07/09/mercados/1625832895_764268.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-07-10.jpg" class="lazyload" alt="Industria del lujo" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">LVMH, en el trono de la inversión en la industria del lujo </h3>
  <p class="c-news__fecha">Cinco Días - 10/07/2021</p>
  <p class="c-news__excerpt"> Analistas de Singular Bank mencionan tres factores que hacen atractiva la inversión en el lujo.</p>
  <a href="https://cincodias.elpais.com/cincodias/2021/07/09/mercados/1625832895_764268.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
