<div class="c-news-item">
  <a href="https://www.elconfidencial.com/mercados/2021-11-11/singular-javier-marin-warburg-bolsa_3322069/" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-11-11-01.jpg" class="lazyload" alt="Entrevista a Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Singular inyectará más capital que la compra de UBS para crecer antes de salir a bolsa</h3>
  <p class="c-news__fecha">EL CONFIDENCIAL - 11/11/2021</p>
  <p class="c-news__excerpt">Entrevista a Javier Marín, Consejero delegado de Singular Bank en El Confidencial.</p>
  <a href="https://www.elconfidencial.com/mercados/2021-11-11/singular-javier-marin-warburg-bolsa_3322069/" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
