<div class="c-news-item">
  <a href="https://forbes.es/forbes-funds/117823/cuales-son-los-fondos-mas-rentables/" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-09-22-01.jpg" class="lazyload" alt="Oportunidades rentables" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Cuáles son los fondos de inversión más rentables</h3>
  <p class="c-news__fecha">Forbes - 22/09/2021</p>
  <p class="c-news__excerpt">Singular Asset Management, en términos de rentabilidad es una de las gestoras más rentables con un 1,82%.</p>
  <a href="https://forbes.es/forbes-funds/117823/cuales-son-los-fondos-mas-rentables/" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
