<div class="c-news-item">
  <a href="https://www.expansion.com/mercados/2021/07/14/60ef1c2ce5fdea6f1a8b45f1.html" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-07-14.jpg" class="lazyload" alt="Berlín, Bolsa alemana" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Tres motivos para ser optimistas con la Bolsa alemana</h3>
  <p class="c-news__fecha">Expansión - 14/07/2021</p>
  <p class="c-news__excerpt"> Nicolás López, Director de Análisis en Renta Variable, expone los atractivos de invertir en la bolsa alemana.</p>
  <a href="https://www.expansion.com/mercados/2021/07/14/60ef1c2ce5fdea6f1a8b45f1.html" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
