<div class="c-news-item">
  <a href="https://castellonplaza.com/JavierMarnQuierosacarabolsaaSingularBankporqueesunagranoportunidaddeinversin2" target="_blank" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2021-07-29.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
   <h3 class="c-news__title">Entrevista al Consejero Delegado de Singular Bank</h3>
  <p class="c-news__fecha">Valencia Plaza - 29/07/2021</p>
  <p class="c-news__excerpt"> Javier Marín, fundador y consejero delegado de Singular Bank, comenta que contempla la salida a bolsa de Singular Bank.</p>
  <a href="https://castellonplaza.com/JavierMarnQuierosacarabolsaaSingularBankporqueesunagranoportunidaddeinversin2" 
	 class="c-button" title="Ver noticia">Leer más</a>
</div>
