<div class="c-news-item">
  <a href="https://www.europapress.es/economia/finanzas-00340/noticia-afi-afirma-senior-secured-loans-pueden-ser-activo-refugio-subida-tipos-20220626115050.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-06-26-omar-garcia.jpg" class="lazyload" alt="AFI afirma que los 'senior secured loans' pueden ser un activo refugio ante la subida de tipos"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">AFI afirma que los 'senior secured loans' pueden ser un activo "refugio" ante la subida de tipos</h3>
  <p class="c-news__fecha">EUROPA PRESS - 26/06/2022</p>
  <p class="c-news__excerpt">Omar García Peral, responsable de Cartera y de Gestión de Crédito de ALMA V, explicó que los objetivos del fondo son obtener una rentabilidad estable y recurrente de entre el 3% y el 4%, mantener una volatilidad inferior a los activos comparables y la protección del principal.</p>
  <a href="https://www.europapress.es/economia/finanzas-00340/noticia-afi-afirma-senior-secured-loans-pueden-ser-activo-refugio-subida-tipos-20220626115050.html" target="_blank" class="c-button">Leer más</a>
</div>
