<div class="c-news-item">
  <a href="https://www.lavanguardia.com/economia/20221101/8587605/javier-marin-singular-bank-inversiones-patrimonio.html " title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-11-01.jpg" class="lazyload" alt="Manos" />
  </a>
  <span class="c-news__category">En medios</span>
    <h3 class="c-news__title">Javier Marín, gestionar fortunas en plural</h3>

    <p class="c-news__fecha">La Vanguardia - 01/11/2022</p>
    <p class="c-news__excerpt"> 
      Entrevista al consejero delegado de Singular Bank
    </p>

    <a href="https://www.lavanguardia.com/economia/20221101/8587605/javier-marin-singular-bank-inversiones-patrimonio.html " target="_blank" class="c-button">Leer más</a>


</div>
