<div class="c-news-item">
  <a href="https://fundspeople.com/es/javier-marin-singular-bank-siempre-miraremos-otras-operaciones-si-tienen-sentido-estrategico-y-financiero/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-05-11-javier-marin.jpg" class="lazyload" alt="Javier Marín, acudió a la Primera edición de los FundsPeople (ES) Wealth Management Awards 2022"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Javier Marín, acudió a la Primera edición de los FundsPeople (ES) Wealth Management Awards 2022</h3>
  <p class="c-news__fecha">LA INFORMACIÓN - 29/04/2022</p>
  <p class="c-news__excerpt">Durante su intervención repasó su trayectoria como #BanqueroPrivado y explicó los planes de futuro de la entidad.</p>
  <a href="https://fundspeople.com/es/javier-marin-singular-bank-siempre-miraremos-otras-operaciones-si-tienen-sentido-estrategico-y-financiero/" target="_blank" class="c-button">Leer más</a>
</div>
