<div class="c-news-item">
  <a href="https://www.elmundo.es/economia/actualidad-economica/2022/03/09/62224bd3fc6c83ec5e8b456e.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-03-09.jpg" class="lazyload" alt="La Guerra en Ucrania, coche quemado con la bandera de Ucrania" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">La incertidumbre irrumpe</h3>
  <p class="c-news__fecha">ACTUALIDAD ECONÓMICA - 09/03/2022</p>
  <p class="c-news__excerpt">La invasión de Rusia a Ucrania proyecta la revisión a la baja de las perspectivas de crecimiento globales. Columna realizada por Alicia Coronil Jónsson</p>
  <a href="https://www.elmundo.es/economia/actualidad-economica/2022/03/09/62224bd3fc6c83ec5e8b456e.html" target="_blank" class="c-button">Leer más</a>
</div>
