<div class="c-news-item">
  <a href="https://www.antena3.com/noticias/economia/sanciones-aprobadas-rusia-tienen-efecto-que-esperaba_202204126255d3b54edc230001c6336d.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-12.jpg" class="lazyload" alt="Las sanciones aprobadas contra Rusia tienen el efecto que se esperaba"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">¿Las sanciones aprobadas contra Rusia tienen el efecto que se esperaba?</h3>
  <p class="c-news__fecha">ANTENA 3 - 12/04/2022</p>
  <p class="c-news__excerpt">Victoria Torre comenta que mientras no se tomen decisiones acerca de la compra de energía a Rusia, no será factible ahogar su economía.</p>
  <a href="https://www.antena3.com/noticias/economia/sanciones-aprobadas-rusia-tienen-efecto-que-esperaba_202204126255d3b54edc230001c6336d.html" target="_blank" class="c-button">Leer más</a>
</div>
