<div class="c-news-item">
  <a href="https://www.anged.es/2022/04/barometro-topcommerce-inflacion/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-27-alicia-coronil.jpg" class="lazyload" alt="Barómetro #TopCommerce. Medidas para reducir el impacto de la inflación en los márgenes de las empresas"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Barómetro #TopCommerce. Medidas para reducir el impacto de la inflación en los márgenes de las empresas</h3>
  <p class="c-news__fecha">ANGED - 27/04/2022</p>
  <p class="c-news__excerpt">Alicia Coronil, comenta diferentes medidas que se pueden tomar para reducir el impacto de inflación en las empresas.</p>
  <a href="https://www.anged.es/2022/04/barometro-topcommerce-inflacion/" target="_blank" class="c-button">Leer más</a>
</div>
