<div class="c-news-item">
  <a href="https://www.epe.es/es/comunicacion-empresarial/20220325/confianza-gana-dedicacion-cliente-13430121" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-03-25.jpg" class="lazyload" alt="Foto de Maite López" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">"La confianza se gana con dedicación al cliente"</h3>
  <p class="c-news__fecha">EL PERIÓDICO DE ESPAÑA - 25/03/2022</p>
  <p class="c-news__excerpt">Entrevista a Maite López, directora de la oficina Madrid-Serrano de Singular Bank</p>
  <a href="https://www.epe.es/es/comunicacion-empresarial/20220325/confianza-gana-dedicacion-cliente-13430121" target="_blank" class="c-button">Leer más</a>
</div>
