<div class="c-news-item">
  <a href="https://www.lainformacion.com/economia-negocios-y-finanzas/record-inflacion-sin-luz-fuerza-gobierno-acelerar-pacto-rentas/2865548/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-29.jpg" class="lazyload" alt="El récord de la inflación sin la luz fuerza al Gobierno a acelerar el pacto de rentas"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">El récord de la inflación sin la luz fuerza al Gobierno a acelerar el pacto de rentas</h3>
  <p class="c-news__fecha">LA INFORMACIÓN - 29/04/2022</p>
  <p class="c-news__excerpt">La economista jefe de Singular Bank, Alicia Coronil, considera que "más allá de algo estacional, también se ha trasladado a productos de la cesta de la compra".</p>
  <a href="https://www.lainformacion.com/economia-negocios-y-finanzas/record-inflacion-sin-luz-fuerza-gobierno-acelerar-pacto-rentas/2865548/" target="_blank" class="c-button">Leer más</a>
</div>
