<div class="c-news-item">
  <a href="https://www.elmundo.es/economia/macroeconomia/2022/08/27/6308d74ee4d4d869528b4574.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-08-27.png" class="lazyload" alt="Asociación" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">La incertidumbre dispara el ahorro a nivel récord: "Viene un invierno sin precedentes y poco halagüeño"</h3>

  <p class="c-news__fecha">El mundo - 27/08/2022</p>
  <p class="c-news__excerpt">Alicia Coronil: "El ahorro está aumentando ante la previsión de un mayor deterioro de las expectativas económicas y un miedo a un mayor encarecimiento del costo de la vida a partir de este otoño"</p>

  <a href="https://www.elmundo.es/economia/macroeconomia/2022/08/27/6308d74ee4d4d869528b4574.html" target="_blank" class="c-button">Leer más</a>

</div>
