<div class="c-news-item">
  <a href="https://www.larazon.es/economia/20221020/4l63fedaj5bjhfoc53am6jv6um.html " title="Ver noticia" target="_blank" class="c-news__photo">


    <img data-src="/assets/images/noticias/2022-10-23.jpg" class="lazyload" alt="Monica Rueda" />
  </a>
  <span class="c-news__category">En medios</span>
    <h3 class="c-news__title">La otra guerra: euro frente a dólar</h3>

    <p class="c-news__fecha">La Razon - 23/10/2022</p>
    <p class="c-news__excerpt"> 
      Alicia Coronil: "Con la situación actual todo el mundo sale perdiendo, porque, al final, hemos disminuido nuestro nivel de bienestar"
    </p>

    <a href="https://www.larazon.es/economia/20221020/4l63fedaj5bjhfoc53am6jv6um.html " target="_blank" class="c-button">Leer más</a>

</div>
