<div class="c-news-item">
  <a href="https://www.heraldo.es/noticias/economia/2022/10/30/roberto-scholtes-entraremos-en-recesion-pero-no-en-una-crisis-economica-profunda-1609074.html" title="Ver noticia" target="_blank" class="c-news__photo">


    <img data-src="/assets/images/noticias/2022-10-30.jpg" class="lazyload" alt="Monica Rueda" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Roberto Scholtes: «Entraremos en recesión, pero no en una crisis económica profunda»</h3>


    <p class="c-news__fecha">Heraldo - 30/10/2022</p>
    <p class="c-news__excerpt"> 
      El jefe de Estrategia de Singular Bank cree que 2023 también será complicado en lo energético, pero confía en la incidencia de las renovables a largo plazo
    </p>

    <a href="https://www.heraldo.es/noticias/economia/2022/10/30/roberto-scholtes-entraremos-en-recesion-pero-no-en-una-crisis-economica-profunda-1609074.html" target="_blank" class="c-button">Leer más</a>

</div>
