<div class="c-news-item">
  <a href="https://www.finanzas.com/fondos/cinco-espanolas-selectoras-fondos-influyentes-europa.html " title="Ver noticia" target="_blank" class="c-news__photo">


    <img data-src="/assets/images/noticias/2022-09-21.jpg" class="lazyload" alt="Monica Rueda" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Cinco españolas entre las selectoras de fondos más influyentes de Europa</h3>


  <p class="c-news__fecha">Finanzas - 21/09/2022</p>
  <p class="c-news__excerpt"> 
    Mónica Rueda, Directora de Análisis de Fondos de Inversión, ha sido nominada a los Premios Rankia Pro en la categoría Selector de fondos del año
  </p>

  <a href="https://www.finanzas.com/fondos/cinco-espanolas-selectoras-fondos-influyentes-europa.html " target="_blank" class="c-button">Leer más</a>

</div>
