<div class="c-news-item">
  <a href="https://www.elmundo.es/economia/macroeconomia/2022/07/01/62bdd6bdfdddff867b8b45b4.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-07-01.jpg" class="lazyload" alt="Los hogares registraron un déficit de 21.500 millones hasta marzo, récord desde la crisis de 2008"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Los hogares registraron un déficit de 21.500 millones hasta marzo, récord desde la crisis de 2008</h3>
  <p class="c-news__fecha">EL MUNDO - 01/07/2022</p>
  <p class="c-news__excerpt">"La evolución se debe, por una parte, al fuerte deterioro de la capacidad de compra que están sufriendo los hogares ante unas tasas de inflación en máximos, que de forma progresiva va permeando al conjunto de la cesta de la compra (…)", explica, por su parte Alicia Coronil.</p>
  <a href="https://www.elmundo.es/economia/macroeconomia/2022/07/01/62bdd6bdfdddff867b8b45b4.html" target="_blank" class="c-button">Leer más</a>
</div>