<div class="c-news-item">
  <a href="https://www.epe.es/es/comunicacion-empresarial/20220421/apostamos-megatendencias-motor-crecimiento-futuro-13542490" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-21-maria-angeles-benedito.jpg" class="lazyload" alt="Apostamos por megatendencias como motor de crecimiento futuro"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">“Apostamos por megatendencias como motor de crecimiento futuro"</h3>
  <p class="c-news__fecha">EL PERIÓDICO DE ESPAÑA - 21/04/2022</p>
  <p class="c-news__excerpt">Entrevista a María Ángeles Benedito, directora de oficina de Singular Bank en Madrid - Goya.</p>
  <a href="https://www.epe.es/es/comunicacion-empresarial/20220421/apostamos-megatendencias-motor-crecimiento-futuro-13542490" target="_blank" class="c-button">Leer más</a>
</div>
