<div class="c-news-item">
  <a href="https://www.levante-emv.com/comunitat-valenciana/2022/04/02/asesor-adaptarse-cliente-circunstancias-64564624.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-02.jpg" class="lazyload" alt="Luis Herrero" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">"Luis Herrero: "El asesor tiene que adaptarse a su cliente, a sus circunstancias"</h3>
  <p class="c-news__fecha">LEVANTE- 02/04/2022</p>
  <p class="c-news__excerpt">"Para que la relación entre asesor y cliente funcione, es básico que haya un alto grado de confianza", sostiene el director de Singular Bank en la Comunidad Valenciana</p>
  <a href="https://www.levante-emv.com/comunitat-valenciana/2022/04/02/asesor-adaptarse-cliente-circunstancias-64564624.html" target="_blank" class="c-button">Leer más</a>
</div>
