<div class="c-news-item">
  <a href="https://www.laopiniondemalaga.es/economia/2022/03/06/banco-adaptar-cliente-reves-63482040.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-03-06.jpg" class="lazyload" alt="Sonia Medina en Singular Bank" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">El banco es el que se tiene que adaptar al cliente y no al revés</h3>
  <p class="c-news__fecha">LA OPINIÓN DE MÁLAGA - 06/03/2022 </p>
  <p class="c-news__excerpt">Sonia Medina, directora de la oficina malagueña de Singular Bank, analiza la filosofía de su empresa financiera basada en la confianza plena del cliente que se gana con mucho diálogo para acertar con las decisiones de inversión</p>
  <a href="https://www.laopiniondemalaga.es/economia/2022/03/06/banco-adaptar-cliente-reves-63482040.html" target="_blank" class="c-button">Leer más</a>
</div>
