<div class="c-news-item">
  <a href="https://www.vozpopuli.com/opinion/riesgo-energetico-y-estanflacion-en-la-eurozona.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-07-01-ucrania.jpg" class="lazyload" alt="Riesgo energético y estanflación en la Eurozona"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Riesgo energético y estanflación en la Eurozona</h3>
  <p class="c-news__fecha">VOZ POPULI - 01/07/2022</p>
  <p class="c-news__excerpt">Artículo de opinión de Alicia Coronil, Economista Jefe de Singular Bank.</p>
  <a href="https://www.vozpopuli.com/opinion/riesgo-energetico-y-estanflacion-en-la-eurozona.html" target="_blank" class="c-button">Leer más</a>
</div>