<div class="c-news-item">
  <a href="https://www.larazon.es/economia/20221002/ku7wnpebnfclhas2vnv6hwsv5y.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-10-02.jpg" class="lazyload" alt="Monica Rueda" />
  </a>
  <span class="c-news__category">En medios</span>
    <h3 class="c-news__title">El futuro económico se ve en 5D</h3>

    <p class="c-news__fecha">La Razon - 02/10/2022</p>
    <p class="c-news__excerpt"> 
      Alicia Coronil, ha resumido estos desafíos que actualmente el mundo tiene ante sí en cinco tendencias, («5D»): Digitalización, Descarbonización, Demografía, Desconfiguración del Orden Internacional y Desglobalización
    </p>

  <a href="https://www.larazon.es/economia/20221002/ku7wnpebnfclhas2vnv6hwsv5y.html " target="_blank" class="c-button">Leer más</a>


</div>
