<div class="c-news-item">
  <a href="https://fundspeople.com/es/como-combatir-a-la-ciberdelincuencia/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-01-13.jpg" class="lazyload" alt="Foto de Damián Ruiz y acompañantes" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Cómo combatir la ciberdelincuencia</h3>
  <p class="c-news__fecha">FUNDS PEOPLE- 13/01/2022</p>
  <p class="c-news__excerpt">Damián Ruiz Soriano, CISO de Singular Bank , junto con otros expertos, explica cómo poder combatir la ciberdelincuencia en el desayuno de Funds People</p>
  <a href="https://fundspeople.com/es/como-combatir-a-la-ciberdelincuencia/" target="_blank" class="c-button">Leer más</a>
</div>
