<div class="c-news-item">
  <a href="https://www.expansion.com/fiscal/2022/12/21/63a261b2e5fdea367e8b45ac.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-12-21b.jpg" class="lazyload" alt="Carlos López-Henares" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    Valoración de inmuebles y patrimonio
  </h3>
  <p class="c-news__fecha">Expansión - 21/12/2022</p>
  <p class="c-news__excerpt"> 
      Carlos López-Henares participa en una columna en Expansión sobre la valoración de inmuebles a efectos del impuesto sobre el patrimonio

  </p>

  <a href="https://www.expansion.com/fiscal/2022/12/21/63a261b2e5fdea367e8b45ac.html " target="_blank" class="c-button">Leer más</a>


</div>
