<div class="c-news-item">
  <a href="https://www.europapress.es/economia/finanzas-00340/noticia-fondos-retorno-absoluto-belgravia-epsilon-consiguen-rentabilidades-427-20220623174155.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-06-23-cristina-solinis.jpg" class="lazyload" alt="Los fondos de retorno absoluto de Belgravia Épsilon consiguen rentabilidades desde el 4,27% a 10 años"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Los fondos de retorno absoluto de Belgravia Épsilon consiguen rentabilidades desde el 4,27% a 10 años</h3>
  <p class="c-news__fecha">EUROPA PRESS - 23/06/2022</p>
  <p class="c-news__excerpt">"Son productos diseñados con el objetivo de intentar proteger a los inversores de los vaivenes del mercado", destaca la directora de Relación con Inversores de Singular AM-Belgravia Capital, Cristina Solinís.</p>
  <a href="https://www.europapress.es/economia/finanzas-00340/noticia-fondos-retorno-absoluto-belgravia-epsilon-consiguen-rentabilidades-427-20220623174155.html" target="_blank" class="c-button">Leer más</a>
</div>
