<div class="c-news-item">
  <a href="https://www.estrategiasdeinversion.com/analisis/bolsa-y-mercados/el-experto-opina/fondo-de-prestamos-senior-secured-rentabilidad-n-508465" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-03-14.jpg" class="lazyload" alt="Edificio geométrico moderno" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Fondos préstamos senior secured: ¿Qué ofrece y cuál es su potencial?</h3>
  <p class="c-news__fecha">ESTRATEGIAS DE INVERSIÓN - 14/03/2022</p>
  <p class="c-news__excerpt">Enrique Díaz - Barceló analiza el comportamiento de los fondos que invierten en préstamos en cuanto a rentabilidad y comportamiento histórico.</p>
  <a href="https://www.estrategiasdeinversion.com/analisis/bolsa-y-mercados/el-experto-opina/fondo-de-prestamos-senior-secured-rentabilidad-n-508465" target="_blank" class="c-button">Leer más</a>
</div>
