<div class="c-news-item">
  <a href="https://forbes.es/forbes-funds/149943/javier-marin-singular-bank-mejor-banco-clientes/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-04.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Javier Marín (Singular Bank): "Nuestra prioridad es ser el mejor banco para nuestros clientes"</h3>
  <p class="c-news__fecha">FORBES- 04/04/2022</p>
  <p class="c-news__excerpt">El consejero delegado de Singular Bank explica cómo un banco puede hacer que cada cliente se sienta singular</p>
  <a href="https://forbes.es/forbes-funds/149943/javier-marin-singular-bank-mejor-banco-clientes/" target="_blank" class="c-button">Leer más</a>
</div>
