<div class="c-news-item">
  <a href="https://cincodias.elpais.com/cincodias/2022/10/18/mercados/1666113397_820915.html " title="Ver noticia" target="_blank" class="c-news__photo">

    <img data-src="/assets/images/noticias/2022-10-19.jpg" class="lazyload" alt="Monica Rueda" />
  </a>
  <span class="c-news__category">En medios</span>
    <h3 class="c-news__title">Singular Bank entra en capital riesgo y lanza su primer fondo</h3>
    <p class="c-news__fecha">Cinco días - 19/10/2022</p>
    <p class="c-news__excerpt">
      El banco privado ha firmado una alianza con la gestora alemana Yielco Investments para lanzar el vehículo Global Buyouts 2022
    </p>

    <a href="https://cincodias.elpais.com/cincodias/2022/10/18/mercados/1666113397_820915.html " target="_blank" class="c-button">Leer más</a>
</div>
