<div class="c-news-item">
  <a href="https://fundspeople.com/es/las-claves-de-la-evolucion-del-negocio-de-banca-privada/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-19-luis-moreno.jpg" class="lazyload" alt="Las claves de la futura evolución del negocio de banca privada"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Las claves de la futura evolución del negocio de banca privada</h3>
  <p class="c-news__fecha">FUNDS PEOPLE - 19/04/2022</p>
  <p class="c-news__excerpt">Responsables de entidades de banca privada reflexionan en esta XXXI edición del Think Tank BNY Mellon sobre el futuro del sector.</p>
  <a href="https://fundspeople.com/es/las-claves-de-la-evolucion-del-negocio-de-banca-privada/" target="_blank" class="c-button">Leer más</a>
</div>
