<div class="c-news-item">
  <a href="https://www.rtve.es/noticias/20220708/precio-materias-primas-baja-acero-madera/2387255.shtml" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-07-08.jpg" class="lazyload" alt="El precio de las materias primas baja tras marcar máximos por el inicio de la guerra de Ucrania"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">El precio de las materias primas baja tras marcar máximos por el inicio de la guerra de Ucrania</h3>
  <p class="c-news__fecha">RTVE - 08/07/2022</p>
  <p class="c-news__excerpt">Nicolás López da su visión sobre la caída de los precios de los metales industriales y las materias primas.</p>
  <a href="https://www.rtve.es/noticias/20220708/precio-materias-primas-baja-acero-madera/2387255.shtml" target="_blank" class="c-button">Leer más</a>
</div>