<div class="c-news-item">
  <a href="https://www.expansion.com/economia/2022/12/21/63a2638ce5fdea6f7e8b45e5.html " title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-12-21.jpg" class="lazyload" alt="Luis Moreno" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    Nuevas estrategias de inversión para paliar los efectos de la inflación
  </h3>
  <p class="c-news__fecha">Expansión - 21/12/2022</p>
  <p class="c-news__excerpt"> 
      Luis Moreno compartió, en el Encuentro de Banca Privada y Gestión del Patrimonio organizado por El Mundo y Expansión, su visión sobre la coyuntura que se espera para el nuevo año
  </p>

    <a href="https://www.expansion.com/economia/2022/12/21/63a2638ce5fdea6f7e8b45e5.html " target="_blank" class="c-button">Leer más</a>

</div>
