<div class="c-news-item">
  <a href="https://www.abc.es/economia/abci-recetas-20-economistas-para-combatir-inflacion-y-ninguna-pedro-sanchez-202204010112_noticia.html?ref=https%3A%2F%2Freputation.kantar.com%2F" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-01.jpg" class="lazyload" alt="Gasolinera" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">"Las recetas de 20 economistas para combatir la inflación"</h3>
  <p class="c-news__fecha">ABC - 01/04/2022</p>
  <p class="c-news__excerpt">Alicia Coronil junto con otros expertos, destacan la rebaja de la fiscalidad energética y el control de los salarios y las pensiones como las dos mejores soluciones para doblegar la espiral de precios que acecha la economía</p>
  <a href="https://www.abc.es/economia/abci-recetas-20-economistas-para-combatir-inflacion-y-ninguna-pedro-sanchez-202204010112_noticia.html?ref=https%3A%2F%2Freputation.kantar.com%2F" target="_blank" class="c-button">Leer más</a>
</div>
