<div class="c-news-item">
  <a href="https://www.estrategiasdeinversion.com/analisis/bolsa-y-mercados/el-experto-opina/en-belgravia-no-somos-los-mejores-en-los-anos-n-541253" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-07-12-salvador-de-miguel.jpg" class="lazyload" alt="En Belgravia no somos los mejores en los años buenos, pero somos de los mejores en años bajistas"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">"En Belgravia no somos los mejores en los años buenos, pero somos de los mejores en años bajistas"</h3>
  <p class="c-news__fecha">ESTRATEGIAS DE INVERSIÓN - 12/07/2022</p>
  <p class="c-news__excerpt">Salvador de Miguel, co-gestor de Belgravia Épsilon y Belgravia Delta, dos fondos que buscan, proteger la rentabilidad de los inversores en mercados bajistas. </p>
  <a href="https://www.estrategiasdeinversion.com/analisis/bolsa-y-mercados/el-experto-opina/en-belgravia-no-somos-los-mejores-en-los-anos-n-541253" target="_blank" class="c-button">Leer más</a>
</div>