<div class="c-news-item">
  <a href="https://forbes.es/forbes-funds/199891/forbes-funds-somos-un-banco-de-clientes/ " title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-11-25.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">
    «Somos un banco de clientes»
  </h3>
  <p class="c-news__fecha">Forbes - 9/12/2022</p>
  <p class="c-news__excerpt"> 
    Javier Marín, Consejero Delegado de Singular Bank, analiza para Forbes España las claves que sigue el banco para marcar la diferencia en el sector de banca privada, con la hoja de ruta puesta en el futuro.
  </p>

  <a href="https://forbes.es/forbes-funds/199891/forbes-funds-somos-un-banco-de-clientes/ " target="_blank" class="c-button">Leer más</a>
</div>
