<div class="c-news-item">
  <a href="https://www.expansion.com/economia/2022/05/30/6293effae5fdeaf34a8b460e.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-05-30.jpg" class="lazyload" alt="Perspectivas ante un escenario de alta volatilidad en los mercados"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Perspectivas ante un escenario de alta volatilidad en los mercados </h3>
  <p class="c-news__fecha">EXPANSIÓN - 30/05/2022</p>
  <p class="c-news__excerpt">El contexto global ha introducido grandes incógnitas en los mercados durante la primera mitad de 2022, dando paso a un clima de volatilidad que inquieta a los inversores.</p>
  <a href="https://www.expansion.com/economia/2022/05/30/6293effae5fdeaf34a8b460e.html" target="_blank" class="c-button">Leer más</a>
</div>
