<div class="c-news-item">
  <a href="https://cincodias.elpais.com/cincodias/2022/12/27/mercados/1672157394_313479.html " title="Ver noticia" target="_blank" class="c-news__photo">

    <img data-src="/assets/images/noticias/2022-12-28.jpg" class="lazyload" alt="Luis Moreno" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    ¿Hasta dónde van a subir los tipos de interés Powell y Lagarde?
  </h3>
  <p class="c-news__fecha">Cinco Días - 28/12/2022</p>
  <p class="c-news__excerpt"> 
    2023 será otro año de subidas de tipos. Roberto Scholtes analiza la subida de tipos de interés y sus consecuencias
  </p>

<a href="https://cincodias.elpais.com/cincodias/2022/12/27/mercados/1672157394_313479.html " target="_blank" class="c-button">Leer más</a>


</div>
