<div class="c-news-item">
  <a href="https://www.laprovincia.es/economia/2022/04/08/carlos-perdomo-soluciones-financieras-son-64833327.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-08-carlos-perdomo.jpg" class="lazyload" alt="Carlos Perdomo: Las soluciones financieras son distintas para cada cliente"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Carlos Perdomo: "Las soluciones financieras son distintas para cada cliente"</h3>
  <p class="c-news__fecha">LA PROVINCIA - EL DIARIO DE LAS PALMAS - 08/04/2022</p>
  <p class="c-news__excerpt">Entrevista a Carlos Perdomo, director de la Oficina de Singular Bank en Las Palmas.</p>
  <a href="https://www.laprovincia.es/economia/2022/04/08/carlos-perdomo-soluciones-financieras-son-64833327.html" target="_blank" class="c-button">Leer más</a>
</div>
