<div class="c-news-item">
  <a href="https://www.eleconomista.es/mercados-cotizaciones/noticias/11949191/09/22/Como-domar-una-inflacion-desbocada-en-tiempos-recios.html " title="Ver noticia" target="_blank" class="c-news__photo">

    <img data-src="/assets/images/noticias/2022-09-16.jpg" class="lazyload" alt="Imagen de un caballo" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Cómo domar una inflación desbocada en tiempos recios</h3>


  <p class="c-news__fecha">El Economista - 16/09/2022</p>
  <p class="c-news__excerpt">
    Alicia Coronil, apunta junto a otros expertos las posibles soluciones para frenar la inflación actual
  </p>


  <a href="https://www.eleconomista.es/mercados-cotizaciones/noticias/11949191/09/22/Como-domar-una-inflacion-desbocada-en-tiempos-recios.html " target="_blank" class="c-button">Leer más</a>


</div>
