<div class="c-news-item">
  <a href="https://forbes.es/forbes-funds/138340/la-inversion-alternativa-menos-alternativa/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-02-16.jpg" class="lazyload" alt="Enrique Díaz-Barceló" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">La inversión alternativa menos alternativa</h3>
  <p class="c-news__fecha">FORBES FUND - 16/02/2022</p>
  <p class="c-news__excerpt">Artículo realizado por Enrique Díaz-Barceló, Institutional Distribution and Product Development en ALMA V, para FORBES España</p>
  <a href="https://forbes.es/forbes-funds/138340/la-inversion-alternativa-menos-alternativa/" target="_blank" class="c-button">Leer más</a>
</div>
