<div class="c-news-item">
  <a href="https://www.laopiniondemurcia.es/comunidad/2022/03/15/daniel-lopez-pilar-inversion-son-63831460.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-03-15.jpg" class="lazyload" alt="Daniel López" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Daniel López, director de la oficina de Murcia: "Nuestro pilar de inversión son las megatendencias con un denominador común: el cambio"</h3>
  <p class="c-news__fecha">LA OPINIÓN DE MURCIA- 15/03/2022</p>
  <p class="c-news__excerpt">Prensa Ibérica y La Opinión de Murcia, junto a Singular Bank, organizan el webinar ‘Ciclo de Conferencias con Singular Bank’, que planteará hacia dónde enfocar las inversiones este 2022, año de cambios</p>
  <a href="https://www.laopiniondemurcia.es/comunidad/2022/03/15/daniel-lopez-pilar-inversion-son-63831460.html" target="_blank" class="c-button">Leer más</a>
</div>
