<div class="c-news-item">
  <a href="https://www.abc.es/economia/abci-estrategias-para-consolidar-robusta-cartera-inversion-plena-tormenta-202205181258_noticia.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-05-18-marta-raga.jpg" class="lazyload" alt="Las estrategias para consolidar una robusta cartera de inversión en plena tormenta "/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Las estrategias para consolidar una robusta cartera de inversión en plena tormenta</h3>
  <p class="c-news__fecha">ABC - 18/05/2022</p>
  <p class="c-news__excerpt">Marta Raga, Directora de Gestión Discrecional, asistió al foro #ABCFundsSociety junto con otros grandes expertos, y dieron las claves para construir una cartera resiliente.</p>
  <a href="https://www.abc.es/economia/abci-estrategias-para-consolidar-robusta-cartera-inversion-plena-tormenta-202205181258_noticia.html" target="_blank" class="c-button">Leer más</a>
</div>
