<div class="c-news-item">
  <a href="https://www.elperiodicodearagon.com/economia/2022/04/24/existe-cartera-perfecta-adecuada-cliente-65218907.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-04-24-christian-izquierdo.jpg" class="lazyload" alt="No existe la ‘cartera perfecta’, sino la adecuada a cada cliente"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">“No existe la ‘cartera perfecta’, sino la adecuada a cada cliente"</h3>
  <p class="c-news__fecha">EL PERIÓDICO DE ARAGÓN - 24/04/2022</p>
  <p class="c-news__excerpt">Christian Izquierdo, director de Singular Bank en Aragón, destaca que el asesor debe adaptarse al cliente, a sus necesidades y circunstancias, para conseguir sus objetivos.</p>
  <a href="https://www.elperiodicodearagon.com/economia/2022/04/24/existe-cartera-perfecta-adecuada-cliente-65218907.html" target="_blank" class="c-button">Leer más</a>
</div>
