<div class="c-news-item">
  <a href="https://citywire.es/news/meet-the-team-singular-am-pasion-por-las-motos-y-un-gestor-que-podria-haber-sido-ermitano/a2392356?_ga=2.33605154.244562699.1658327507-1528082472.1658327507" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-07-19.jpg" class="lazyload" alt="En Belgravia no somos los mejores en los años buenos, pero somos de los mejores en años bajistas"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Singular AM: Pasión por las motos y un gestor que podría haber sido ermitaño</h3>
  <p class="c-news__fecha">CITYWIRE - 19/07/2022</p>
  <p class="c-news__excerpt">Citywire entrevista en su espacio 'Meet the Team' a Carlos Cerezo y Salvador de Miguel.</p>
  <a href="https://citywire.es/news/meet-the-team-singular-am-pasion-por-las-motos-y-un-gestor-que-podria-haber-sido-ermitano/a2392356?_ga=2.33605154.244562699.1658327507-1528082472.1658327507" target="_blank" class="c-button">Leer más</a>
</div>