<div class="c-news-item">
  <a href="https://www.antena3.com/noticias/economia/economia-rusa-asfixia-rublo-desploma-grandes-multinacionales-dan-espalda-putin_2022030362208d62e2af800001de5ef8.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-03-03.jpg" class="lazyload" alt="Rusia" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">La economía rusa se asfixia: el rublo se desploma y grandes multinacionales dan la espalda a Putin</h3>
  <p class="c-news__fecha">ANTENA 3 - 03/03/2022</p>
  <p class="c-news__excerpt">Victoria Torre, de Singular Bank, explica que el Banco Central ruso ha tenido que subir los tipos de interés del 9,5% al 20% en un intento de contener esa caída tan importante del rublo</p>
  <a href="https://www.antena3.com/noticias/economia/economia-rusa-asfixia-rublo-desploma-grandes-multinacionales-dan-espalda-putin_2022030362208d62e2af800001de5ef8.html" target="_blank" class="c-button">Leer más</a>
</div>
