<div class="c-news-item">
  <a href="https://fundspeople.com/es/asi-es-la-nueva-singular-am-antes-belgravia-capital-tras-la-compra-por-parte-de-singular-bank/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2022-06-16-salvador-de-miguel.jpg" class="lazyload" alt="Así es la nueva Singular AM (antes Belgravia Capital) tras la compra por parte de Singular Bank"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Así es la nueva Singular AM (antes Belgravia Capital) tras la compra por parte de Singular Bank</h3>
  <p class="c-news__fecha">FUNDS PEOPLE - 16/06/2022</p>
  <p class="c-news__excerpt">La gestora, denominada Singular AM, se integra bajo el paraguas del grupo fundado por Javier Marín, aunque en la gestión de productos siguen manteniendo una total independencia.</p>
  <a href="https://fundspeople.com/es/asi-es-la-nueva-singular-am-antes-belgravia-capital-tras-la-compra-por-parte-de-singular-bank/" target="_blank" class="c-button">Leer más</a>
</div>
