<div class="c-news-item">
<a href="https://www.expansion.com/fiscal/2023/06/21/6491ee65e5fdea87588b4652.html" target="_blank" class="c-news__photo">

<img data-src="/assets/images/noticias/Carlos-Lopez-Henares_BN.jpg" class="lazyload" alt="Flecha"/>


  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
Impuesto sobre Sucesiones y Donaciones: notables mejoras en el tratamiento del ajuar doméstico

  </h3>
<p class="c-news__fecha">EXPANSIÓN - 21/06/2023</p>


  <p class="c-news__excerpt">
Carlos López-Henares, Director de Planificación Patrimonial, analiza en Expansión la valoración del ajuar doméstico en el Impuesto sobre Sucesiones y Donaciones de acuerdo con las últimas sentencias del Tribunal Supremo


  </p>

<a href="https://www.expansion.com/fiscal/2023/06/21/6491ee65e5fdea87588b4652.html" target=" _blank" class=" c-button">Leer más</a>






</div>
