<div class="c-news-item">
<a href="https://www.elindependiente.com/economia/2023/06/11/javier-marin-singular-bank-necesario-banca-recomendaba-productos/" target="_blank" class="c-news__photo">




<img data-src="/assets/images/noticias/Javier-Marin-Singular-bank-BYN.png" class="lazyload" alt="Flecha"/>




  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
Javier Marín: “Singular Bank era necesario, la banca recomendaba productos sin saber por qué”


  </h3>
<p class="c-news__fecha">EL INDEPENDIENTE - 11/06/2023</p>





  <p class="c-news__excerpt">
El banco comenzó su andadura en 2019 y tras cuatro años ha registrado beneficios. Ahora con un ojo puesto en UBS no descarta hacerse con el negocio de Credit Suisse en España si “tiene lógica financiera y estratégica”



  </p>

<a href="https://www.elindependiente.com/economia/2023/06/11/javier-marin-singular-bank-necesario-banca-recomendaba-productos/" target=" _blank" class=" c-button">Leer más</a>





</div>
