<div class="c-news-item">
<a href="https://cincodias.elpais.com/companias/2023-03-22/los-empresarios-mallorquines-ktiri-y-erhart-se-suman-a-laminar-pharma-en-la-etapa-final-de-su-terapia-oncologica.html" title="Ver noticia" target="_blank" class="c-news__photo">



    <img data-src="/assets/images/noticias/2023-03-22b.jpg" class="lazyload" alt="Carlos López Hemeres"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
Los empresarios mallorquines Ktiri y Erhart se suman a Laminar Pharma en la etapa final de su terapia oncológica


  </h3>
<p class="c-news__fecha">CINCO DÍAS - 22/03/2023</p>




<p class="c-news__excerpt">
Ktiri entra en el capital a través de su empresa de capital riesgo OK Venture, gracias a la mediación del equipo de corporate advisory de Singular Bank


</p>

<a href="https://cincodias.elpais.com/companias/2023-03-22/los-empresarios-mallorquines-ktiri-y-erhart-se-suman-a-laminar-pharma-en-la-etapa-final-de-su-terapia-oncologica.html" target=" _blank" class=" c-button">Leer más</a>


</div>
