<div class="c-news-item">
  <a href="https://www.eleconomista.es/mercados-cotizaciones/noticias/12117239/01/23/Los-fondos-
espanoles-revalidan-el-liderazgo-de-la-Liga-Global-en-el-inicio-de-2023.html" title="Ver noticia" target="_blank" class="c-news__photo">

    <img data-src="/assets/images/noticias/2023-01-21.jpg" class="lazyload" alt="Foto decorativa" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    Los fondos españoles revalidan el liderazgo de la Liga Global en el inicio de 2023
  </h3>
  <p class="c-news__fecha">El economista - 21/01/2023</p>
  <p class="c-news__excerpt"> 
    Belgravia Value Strategy FI, fondo gestionado por Singular AM, entre los fondos mejores fondos españoles de la Liga Global de la gestión activa de elEconomista.es
  </p>

    <a href="https://www.eleconomista.es/mercados-cotizaciones/noticias/12117239/01/23/Los-fondos-
espanoles-revalidan-el-liderazgo-de-la-Liga-Global-en-el-inicio-de-2023.html"  target=" _blank" class=" c-button">Leer más</a>

</div>
