<div class="c-news-item">
<a href="https://youtu.be/fyqvDH477oQ?si=HVjZVyr4vtwaaMD6" target="_blank" class="c-news__photo">



<img data-src="/assets/images/noticias/economia-de-la-longevidad.jpg" class="lazyload" alt="Flecha"/>



  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
Alicia Coronil: “La inflación es un fenómeno más estructural de lo que preveíamos”



  </h3>
<p class="c-news__fecha">65 Y MÁS DIARIO ONLINE - 02/10/2023</p>



  <p class="c-news__excerpt">
Expertos debaten sobre los indicios de una Economía de la Longevidad




  </p>

<a href="https://youtu.be/fyqvDH477oQ?si=HVjZVyr4vtwaaMD6" target=" _blank" class=" c-button">Leer más</a>




</div>
