<div class="c-news-item">
  <a href="https://www.expansion.com/mercados/2023/04/24/6445aeb1e5fdea78758b4629.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2023-02-07b.jpg" class="lazyload" alt="Javier Marín"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    Singular Bank entra en beneficios tres años después de su creación
  </h3>
  <p class="c-news__fecha">EXPANSIÓN - 24/04/2023</p>
  <p class="c-news__excerpt">
    Entrevista a Javier Marín, Consejero Delegado, que publica a doble página el diario económico Expansión
  </p>

    <a href="https://www.expansion.com/mercados/2023/04/24/6445aeb1e5fdea78758b4629.html" target=" _blank" class=" c-button">Leer más</a>

</div>
