<div class="c-news-item">
<a href="https://youtu.be/bwWGuTqx5PM?si=D9S-JOxPhTWiZ6Xr" target="_blank" class="c-news__photo">



<img data-src="/assets/images/noticias/javier-marin-llorente-y-cuenca.jpg" class="lazyload" alt="Flecha"/>





  </a>
  <span class="c-news__category">En medios</span>
<h3 class="c-news__title">Javier Marín, CEO de Singular Bank, habla de cómo la empatía y la conexión con los clientes impulsan el éxito empresarial</h3>

<p class="c-news__fecha">LLORENTE Y CUENCA - 07/11/2023</p>


<p class="c-news__excerpt">
Entrevista a Javier Marín en Aula Directiva con Iñaki Ortega, Profesor y Director General LLYC Madrid</p>


<a href="https://youtu.be/bwWGuTqx5PM?si=D9S-JOxPhTWiZ6Xr" target=" _blank" class=" c-button">Leer más</a>






</div>
