<div class="c-news-item">
<a href="https://fundspeople.com/es/singular-bank-lanza-su-primer-fondo-de-inversion-libre-alma-v-con-el-que-busca-captar-al-cliente-institucional/ " title="Ver noticia" target="_blank" class="c-news__photo">


    <img data-src="/assets/images/noticias/2023-03-07.jpg" class="lazyload" alt="Omar Garcia"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
Singular Bank lanza su primer fondo de inversión libre, Alma V FIL

  </h3>
<p class="c-news__fecha">FUNDS PEOPLE - 07/03/2023</p>

  <p class="c-news__excerpt">
La gestora Singula AM ha lanzado su primer fondo de inversión libre, con el que busca captar a clientes profesionales e institucionales


  </p>

<a href="https://fundspeople.com/es/singular-bank-lanza-su-primer-fondo-de-inversion-libre-alma-v-con-el-que-busca-captar-al-cliente-institucional/" target=" _blank" class=" c-button">Leer más</a>



</div>
