<div class="c-news-item">
<a href="https://www.expansion.com/mercados/fondos/2023/06/01/64787837468aeb5b4a8b4624.html" target="_blank" class="c-news__photo">



<img data-src="/assets/images/noticias/Equipo-Sam-Singular-Bank.jpg" class="lazyload" alt="Flecha"/>



  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
Quién es quién en Singular Bank, la gestora que nació de una gran fusión

  </h3>
<p class="c-news__fecha">EXPANSIÓN - 02/06/2023</p>




  <p class="c-news__excerpt">
Singular Asset Management es el resultado de la fusión de tres gestoras: Belgravia Capital, UBS Gestión y la propia Singular AM, que implementan las ideas que surgen del área de Inversiones y Productos del banco

  </p>

<a href="https://www.expansion.com/mercados/fondos/2023/06/01/64787837468aeb5b4a8b4624.html" target=" _blank" class=" c-button">Leer más</a>




</div>
