<div class="c-news-item">
  <a href="/premio2023" title="Ver noticia" class="c-news__photo">
    <img data-src="/assets/images/noticias/2023-03-16.png" class="lazyload" alt="Sello Foundclass" />
  </a>
  <span class="c-news__category">Noticia</span>
  <h3 class="c-news__title">Premio a la Mejor gestora de España 2023
  </h3>

  <p class="c-news__fecha">Madrid - 16/03/2023</p>
<p class="c-news__excerpt">La organización European Funds Trophy ha otorgado a Singular Asset Management SGIIC el Premio a la “Mejor gestora de España 2023”</p></p>

<a href="/premio2023" class="c-button">Leer nota completa</a>

</div>
