<div class="c-news-item">
<a href="https://www.lne.es/economia/2023/11/22/prevemos-catastrofes-economia-espanola-2024-94929204.html" target="_blank" class="c-news__photo">




<img data-src="/assets/images/noticias/Javier-Marin-Singular-bank-BYN.png" class="lazyload" alt="Flecha"/>

  </a>
  <span class="c-news__category">En medios</span>
<h3 class="c-news__title">
	"No prevemos catástrofes en la economía española en 2024"</h3>


<p class="c-news__fecha">LA NUEVA ESPAÑA - 22/11/2023</p>



<p class="c-news__excerpt">
"Si no se extienden los conflictos, puede haber una bajada modesta de los tipos de interés en el segundo semestre del año próximo"</p>



<a href="https://www.lne.es/economia/2023/11/22/prevemos-catastrofes-economia-espanola-2024-94929204.html" target=" _blank" class=" c-button">Leer más</a>



</div>
