<div class="c-news-item">
  <a href="https://www.youtube.com/watch?v=drnhZtF6nDQ" title="Ver vídeo" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2023-01-18.png" class="lazyload" alt="Portada Paradigma"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">Vídeo conferencia perspectivas económicas y financieras para 2023</h3>
  <p class="c-news__fecha">Video - 18/01/2023</p>
<p class="c-news__excerpt"> Alicia Coronil y Roberto Scholtes debaten sobre cómo las compañías y los inversores
	deben adaptarse a esta era de nuevos paradigmas.</p>

<a href="https://youtu.be/DdzWtQY7T80" target="_blank" class="c-button">Ver vídeo</a>

</div>
