<div class="c-news-item">
<a href="https://www.farodevigo.es/economia/2023/10/22/olvidarse-mayores-egoista-incumple-funcion-93630231.html" target="_blank" class="c-news__photo">



<img data-src="/assets/images/noticias/faro-vigo-no-olvidarse-mayores.jpg" class="lazyload" alt="Flecha"/>




  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">“Olvidarse de los mayores es egoísta e incumple la función social de toda la banca”</h3>
<p class="c-news__fecha">FARO DE VIGO - 22/10/2023</p>

<p class="c-news__excerpt">
Entrevista a Javier Marín, Consejero delegado de Singular Bank, en el Faro de Vigo</p>

<a href="https://www.farodevigo.es/economia/2023/10/22/olvidarse-mayores-egoista-incumple-funcion-93630231.html" target=" _blank" class=" c-button">Leer más</a>





</div>
