<div class="c-news-item">
  <a href="https://www.abc.es/economia/guerra-pasa-factura-precios-altos-rentas-baja-20230226012602-nt.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2023-02-26.jpg" class="lazyload" alt="Alicia Coronil"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    La guerra pasa factura: precios altos, rentas a la baja y parón económico
  </h3>
  <p class="c-news__fecha">ABC - 26/02/2023</p>
  <p class="c-news__excerpt">
    Alicia Coronil analiza en ABC el cambio estructural que suponen los altos niveles de inflación y sus consecuencias en el bienestar social y las capacidades empresariales
  </p>

  <a href="https://www.abc.es/economia/guerra-pasa-factura-precios-altos-rentas-baja-20230226012602-nt.html" target=" _blank" class=" c-button">Leer más</a>

</div>
