<div class="c-news-item">
<a href="https://www.expansion.com/opinion/2023/03/08/64076404e5fdea97458b4667.html" title="Ver noticia" target="_blank" class="c-news__photo">
<img data-src="/assets/images/noticias/2023-03-08.jpg" class="lazyload" alt="Foto decorativa"/>

  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    La importancia del flujo circular de la renta
  </h3>
<p class="c-news__fecha">EXPANSIÓN - 08/03/2023</p>

<p class="c-news__excerpt">
Tribuna de opinión, donde se analizan las razones de por qué España muestra una menor capacidad para impulsar el crecimiento potencial y garantizar un Estado de Bienestar sostenible

  </p>

<a href="https://www.expansion.com/opinion/2023/03/08/64076404e5fdea97458b4667.html" target=" _blank" class=" c-button">Leer más</a>




</div>
