<div class="c-news-item">
  <a href="https://www.diariodesevilla.es/economia/recesion-esquiva-momento-disipado-riesgos_0_1764425773.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2023-02-09.jpg" class="lazyload" alt="Javier Marín"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    La recesión se esquiva de momento, pero no se han disipado los riesgos
  </h3>
  <p class="c-news__fecha">Diario de Sevilla - 09/02/2023</p>
  <p class="c-news__excerpt"> 
    Estamos contentos con nuestra presencia en Andalucía y vamos a seguir creciendo; en Jerez o en Granada
  </p>

<a href="https://www.diariodesevilla.es/economia/recesion-esquiva-momento-disipado-riesgos_0_1764425773.html" target=" _blank" class=" c-button">Leer más</a>



</div>
