<div class="c-news-item">
  <a href="https://www.eleconomista.es/mercados-cotizaciones/noticias/12099920/01/23/Los-
espanoles-triunfan-como-los-mejores-fondos-de-bolsa-internacional.html" title="Ver noticia" target="_blank" class="c-news__photo">

    <img data-src="/assets/images/noticias/2023-01-07b.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    Los españoles triunfan como los mejores fondos de bolsa internacional
  </h3>
  <p class="c-news__fecha">El economista - 07/01/2023</p>
  <p class="c-news__excerpt"> 
    Ranking de la Liga global de la gestión activa de elEconomista.es, en el que Sigma Internacional aparece en la séptima posición
  </p>

    <a href="https://www.eleconomista.es/mercados-cotizaciones/noticias/12099920/01/23/Los-
espanoles-triunfan-como-los-mejores-fondos-de-bolsa-internacional.html"  target=" _blank" class=" c-button">Leer más</a>

</div>
