<div class="c-news-item">
<a href="https://cincodias.elpais.com/mercados-financieros/2023-03-15/menos-credito-y-mas-caro-primer-efecto-de-la-desconfianza-bancaria.html" title="Ver noticia" target="_blank" class="c-news__photo">




    <img data-src="/assets/images/noticias/2023-03-15.jpg" class="lazyload" alt="Foto decorativa"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    La convulsión bancaria aboca a un crédito más escaso y caro
  </h3>
<p class="c-news__fecha">CINCO DÍAS - 15/03/2023</p>


<p class="c-news__excerpt">
Roberto Scholtes: “Esta crisis perjudica más a la banca de EE UU y eleva el atractivo relativo de las entidades europeas”
</p>

<a href="https://cincodias.elpais.com/mercados-financieros/2023-03-15/menos-credito-y-mas-caro-primer-efecto-de-la-desconfianza-bancaria.html" target=" _blank" class=" c-button">Leer más</a>





</div>
