<div class="c-news-item">
  <a href="https://www.heraldo.es/noticias/economia/2023/02/12/javier-marin-la-inflacion-va-a-estar-mas-alta-de-lo-que-el-mercado-piensa-1630657.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2023-02-07b.jpg" class="lazyload" alt="Javier Marín"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    La inflación va a estar más alta de lo que el mercado piens
  </h3>
  <p class="c-news__fecha">Heraldo de Aragón - 07/02/2023</p>
  <p class="c-news__excerpt"> 
      El consejero delegado de Singular Bank habla de la situación de la entidad tras la compra -en octubre de 2021- de la unidad de banca privada de UBS España y de la situación económica y financiera actual
  </p>

<a href="https://www.heraldo.es/noticias/economia/2023/02/12/javier-marin-la-inflacion-va-a-estar-mas-alta-de-lo-que-el-mercado-piensa-1630657.html" target=" _blank" class=" c-button">Leer más</a>




</div>
