<div class="c-news-item">
  <a href="https://forbes.es/ultima-hora/276498/singular-bank-suma-a-otros-tres-agentes-financieros-para-reforzar-su-negocio-de-banca-privada/" title="Ver noticia" target="_blank" class="c-news__photo">
  <img data-src="/assets/images/noticias/090523.jpg" class="lazyload" alt="Carlos Benzanilla, Fernando Eguinoa y Luis Carabias"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    Singular Bank suma a otros tres agentes financieros para reforzar su negocio de banca privada
  </h3>
  <p class="c-news__fecha">FORBES - 09/05/2023</p>

  <p class="c-news__excerpt">
    Singular Bank ha fichado a Carlos Benzanilla, Fernando Eguinoa y Luis Carabias como agentes financieros para Madrid, con el objetivo de seguir reforzando su negocio de banca privada
  </p>

    <a href="https://forbes.es/ultima-hora/276498/singular-bank-suma-a-otros-tres-agentes-financieros-para-reforzar-su-negocio-de-banca-privada/" target=" _blank" class=" c-button">Leer más</a>

</div>
