<div class="c-news-item">
  <a href="https://www.expansion.com/economia/2023/01/02/63af3a7ee5fdeaa0198b45c1.html" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2023-01-02b.jpg" class="lazyload" alt="Imagen de portada" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    Así serán las grandes tendencias económicas que vienen en 2023
  </h3>
  <p class="c-news__fecha">Expansión - 02/01/2023</p>
  <p class="c-news__excerpt"> 
     Alicia Coronil participa junto con otros expertos dando las claves sobre los grandes retos económicos para el 2023 en &#39;España 2023&#39;, publicado por EY Insights
  </p>

  <a href="https://www.expansion.com/economia/2023/01/02/63af3a7ee5fdeaa0198b45c1.html" target=" _blank" class=" c-button">Leer más</a>
</div>
