<div class="c-news-item">
  <a href="https://fundspeople.com/es/los-fondos-de-gestoras-espanolas-que-estrenan-rating-fundspeople-2023-por-su-consistencia/" title="Ver noticia" target="_blank" class="c-news__photo">
    <img data-src="/assets/images/noticias/2023-02-22.jpg" class="lazyload" alt="Carlos Cerezo"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    Los fondos de Gestoras Españolas que estrenan: “Rating Funds People 2023” por su consistencia
  </h3>
  <p class="c-news__fecha">Funds People - 22/02/2023</p>
  <p class="c-news__excerpt">
    Funds People incluye por primera vez en la lista “Rating Funds People 2023” al fondo de renta variable Belgravia Capital Value Strategy FI por la consistencia en sus resultados
  </p>

<a href="https://fundspeople.com/es/los-fondos-de-gestoras-espanolas-que-estrenan-rating-fundspeople-2023-por-su-consistencia/" target=" _blank" class=" c-button">Leer más</a>




</div>
