<div class="c-news-item">
<a href="https://www.expansion.com/fiscal/2023/03/22/641a00c0468aebf7138b45e2.html " title="Ver noticia" target="_blank" class="c-news__photo">

    <img data-src="/assets/images/noticias/2023-03-22.jpg" class="lazyload" alt="Carlos López Hemeres"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
  Cambios en la jurisprudencia y seguridad jurídica

  </h3>
<p class="c-news__fecha">EXPANSIÓN - 22/03/2023</p>



<p class="c-news__excerpt">
Carlos López Henares analiza en Expansión las implicaciones de la reciente sentencia del Tribunal Supremo sobre la tributación de los intereses de demora

</p>

<a href="https://www.expansion.com/fiscal/2023/03/22/641a00c0468aebf7138b45e2.html " target=" _blank" class=" c-button">Leer más</a>






</div>
