<div class="c-news-item">
<a href="https://www.eldebate.com/economia/20230701/alicia-coronil-inflacion-fenomeno-mas-estructural-preveiamos_125162.html" target="_blank" class="c-news__photo">


<img data-src="/assets/images/noticias/alicia-coronil-el-debate.jpg" class="lazyload" alt="Flecha"/>


  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
Alicia Coronil: “La inflación es un fenómeno más estructural de lo que preveíamos”



  </h3>
<p class="c-news__fecha">EL DEBATE - 01/07/2023</p>


  <p class="c-news__excerpt">
Alicia Coronil ha sido la protagonista de la entrevista mensual de El Debate, donde ha analizado la situación macraoeconómica actual y cuáles son las perspectivas de cara al futuro



  </p>

<a href="https://www.eldebate.com/economia/20230701/alicia-coronil-inflacion-fenomeno-mas-estructural-preveiamos_125162.html" target=" _blank" class=" c-button">Leer más</a>



</div>
