<div class="c-news-item">
<a href="https://www.merca2.es/2023/05/25/revolution-banking-bate-records-y-se-convierte-en-el-evento-de-banca-mas-grande-de-espana-1319350/" target="_blank" class="c-news__photo">


<img data-src="/assets/images/noticias/damian-ruiz-soriano-CISO-Singular-Bank.jpg" class="lazyload" alt="Flecha"/>



  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
Damián Ruiz Soriano, CISO de Singular Bank, participó en el panel de Inteligencia Artificial aplicada a los procesos de Protección y Detección de Fraude Digital


  </h3>
<p class="c-news__fecha">MERCA2 - 25/05/2023</p>



  <p class="c-news__excerpt">
Revolution Banking bate récords y se convierte en el evento de banca más grande de España



  </p>

<a href="https://www.merca2.es/2023/05/25/revolution-banking-bate-records-y-se-convierte-en-el-evento-de-banca-mas-grande-de-espana-1319350/" target=" _blank" class=" c-button">Leer más</a>



</div>
