<div class="c-news-item">
<a href="https://elnuevolunes.es/desayunos-economicos/espana-va-bien-pero-podria-ir-mejor/" target="_blank" class="c-news__photo">

<img data-src="/assets/images/noticias/noticia-espana-va-bien.jpg" class="lazyload" alt="Flecha"/>

  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
España va bien, pero podría ir mejor

  </h3>
<p class="c-news__fecha">EL NUEVO LUNES - 01/07/2023</p>

  <p class="c-news__excerpt">
Alicia Coronil analiza, junto a otros expertos, la coyuntura económica española, haciendo hincapié en la necesidad de reformas estructurales para afrontar algunos de los retos que se presentan


  </p>

<a href="https://elnuevolunes.es/desayunos-economicos/espana-va-bien-pero-podria-ir-mejor/" target=" _blank" class=" c-button">Leer más</a>


</div>
