<div class="c-news-item">
<a href="https://www.randstadresearch.es/el-deficit-de-talento-en-el-mercado-laboral-actual/ " title="Ver noticia" target="_blank" class="c-news__photo">

    <img data-src="/assets/images/noticias/2023-03-06.jpg" class="lazyload" alt="Alicia Coronil"/>
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    El déficit de talento en el mercado laboral actual
  </h3>
<p class="c-news__fecha">RANDSTAD RESEARCH - 06/03/2023</p>
  <p class="c-news__excerpt">
    Alicia Coronil junto con el Comité de expertos Randstad Research analizan los motivos del déficit de talento en el mercado laboral actual como reto estructural y transversal en los distintos sectores

  </p>

<a href="https://www.randstadresearch.es/el-deficit-de-talento-en-el-mercado-laboral-actual/ " target=" _blank" class=" c-button">Leer más</a>


</div>
