<div class="c-news-item">
  <a href="https://www.lavozdegalicia.es/noticia/coruna/coruna/2023/01/07/van-pagar-nuevo-impuesto-banca-clientes-supuesto/0003_202301G7P30991.htm  " title="Ver noticia" target="_blank" class="c-news__photo">

    <img data-src="/assets/images/noticias/2023-01-07.jpg" class="lazyload" alt="Javier Marín" />
  </a>
  <span class="c-news__category">En medios</span>
  <h3 class="c-news__title">  
    Javier Marín, consejero delegado de Singular Bank: «¿Quiénes van a pagar el nuevo impuesto a la banca? Los clientes, por supuesto»
  </h3>
  <p class="c-news__fecha">La voz de Galicia - 07/01/2023</p>
  <p class="c-news__excerpt"> 
      Tras la compra de la red de banca privada de UBS, Singular Bank quiere reforzar, desde A Coruña, su apuesta por Galicia
  </p>

    <a href="https://www.lavozdegalicia.es/noticia/coruna/coruna/2023/01/07/van-pagar-nuevo-impuesto-banca-clientes-supuesto/0003_202301G7P30991.htm"  target=" _blank" class=" c-button">Leer más</a>

</div>
