<div class="c-news-item">
<a href="https://www.eleconomista.es/opinion/noticias/13044061/10/24/eclipse-de-los-7-magnificos.html " title="Ver noticia" class="c-news__photo" target="_blank">





<img data-src="/assets/images/noticias/eclipse-de-los-7-magnificos.jpg" class="lazyload" alt="Imagen de una mano robótica"/>



  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Eclipse de los 7 magníficos</h3>




<p class="c-news__fecha">EL ECONOMISTA - 21/10/2024</p>



<p class="c-news__excerpt">Tribuna de opinión firmada por Roberto Scholtes En ella se analiza la corrección en bolsa de las grandes tecnológicas estadounidenses la cual, no parece el inicio de una nueva fase en la que pierdan brillo y tomen el relevo otros sectores, sino un eclipse temporal</p>






<a href="https://www.eleconomista.es/opinion/noticias/13044061/10/24/eclipse-de-los-7-magnificos.html" class="c-button" target="_blank">Leer noticia completa</a>







</div>
