<div class="c-news-item">
<a href="https://valenciaplaza.com/roberto-scholtes-singular-bank-desinflacion-mas-lenta-erratica-
proximos-meses" target="_blank" class="c-news__photo">





<img data-src="/assets/images/noticias/Roberto-scholtes-valencia-plaza.jpg" class="lazyload" alt="Flecha"/>




  </a>
  <span class="c-news__category">En medios</span>
<h3 class="c-news__title">
Roberto Scholtes (Singular Bank): &quot;La desinflación va a ser más lenta y errática en los
próximos meses&quot;</h3>



<p class="c-news__fecha">VALENCIA PLAZA - 05/02/2024</p>



<p class="c-news__excerpt">
Entrevista al responsable de Estrategia de Singular Bank para Valencia Plaza</p>





<a href="https://valenciaplaza.com/roberto-scholtes-singular-bank-desinflacion-mas-lenta-erratica-
proximos-meses" target=" _blank" class=" c-button">Leer más</a>




</div>
