<div class="c-news-item">
<a href="https://citywire.com/es/news/salgado-director-general-de-singular-bank-somos-un-banco-singular/a2447591 " title="Ver noticia" class="c-news__photo" target="_blank">





<img data-src="/assets/images/noticias/Jose-Salgado-banco-singular.jpg" class="lazyload" alt="Jose Salgado"/>





  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Salgado, director general de Singular Bank: "Somos un banco singular"</h3>




<p class="c-news__fecha">CITYWIRE - 02/08/2024</p>




<p class="c-news__excerpt">El ser un banco español e independiente, lo percibe el cliente como seguridad", comenta José Salgado de Singular Bank, en la entrevista realizada desde los estudios en Londres de Citywire</p>



<a href="https://citywire.com/es/news/salgado-director-general-de-singular-bank-somos-un-banco-singular/a2447591" class="c-button" target="_blank">Leer noticia completa</a>






</div>
