<div class="c-news-item">
<a href="https://www.finanzas.com/inversion/womenvalue/las-ganadoras-de-los-premios-womenvalue-2024/" title="Ver noticia" class="c-news__photo" target="_blank">


<img data-src="/assets/images/noticias/alicia-coronil-WomenValue-BYN.jpg" class="lazyload" alt="Alicia Coronil"/>


  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Alicia Coronil recibe el premio WomenValue en la categoría de “Mejor Economista de 2024”
</h3>



<p class="c-news__fecha">FINANZAS.COM - 19/06/2024</p>

<p class="c-news__excerpt">Siete mujeres reciben los premios Womenvalue 2024 de la revista Inversión por su destacada labor en el ámbito institucional, de la inversión, las finanzas responsables, el capital riesgo, la economía, la fiscalidad, la docencia y la investigación
</p>


<a href="https://www.finanzas.com/inversion/womenvalue/las-ganadoras-de-los-premios-womenvalue-2024/" class="c-button" target="_blank">Leer noticia completa</a>



</div>
