<div class="c-news-item">
<a href="https://www.estrategiasdeinversion.com/fondos/vemos-exceso-de-optimismo-somos-cautelosos-apostamos-n-747717 " title="Ver noticia" class="c-news__photo" target="_blank">


<img data-src="/assets/images/noticias/Roberto-scholtes-estrategias-inversion.jpg" class="lazyload" alt="Imagen de un mapa con billetes"/>



  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">"Vemos exceso de optimismo, somos cautelosos. Apostamos por sectores defensivos e infraestructuras"
</h3>





<p class="c-news__fecha">ESTRATEGIAS DE INVERSIÓN - 30/09/2024</p>






<p class="c-news__excerpt">Estrategias de Inversión habla con Roberto Scholtes, Jefe de Estrategia en Singular Bank sobre las perspectivas de mercado. ¿Dónde están las oportunidades con las bajadas de tipos?</p>





<a href="https://www.estrategiasdeinversion.com/fondos/vemos-exceso-de-optimismo-somos-cautelosos-apostamos-n-747717" class="c-button" target="_blank">Leer noticia completa</a>




</div>
