<div class="c-news-item">
<a href="https://citywire.com/es/news/renta-variable-espa%C3%B1ola-estos-son-los-gestores-top-que-invierten-en-nuestro-pa%C3%ADs/a2452895" title="Ver noticia" class="c-news__photo" target="_blank">






<img data-src="/assets/images/noticias/Luciano-diez-canedo.jpg" class="lazyload" alt="Luciano Díez Canedo"/>




  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Renta variable española, estos son los gestores top que invierten en nuestro país</h3>





<p class="c-news__fecha">CITYWIRE - 29/10/2024</p>




<p class="c-news__excerpt">Luciano Díez Canedo aparece en el 3 er. puesto como “Mejor Gestor de Fondos de Inversión de Renta Variable” por la gestión del fondo de inversión SWM España Gestión Activa FI</p>







<a href="https://citywire.com/es/news/renta-variable-espa%C3%B1ola-estos-son-los-gestores-top-que-invierten-en-nuestro-pa%C3%ADs/a2452895" class="c-button" target="_blank">Leer noticia completa</a>








</div>
