<div class="c-news-item">
<a href="https://www.expansion.com/economia/2024/01/29/65b6b42a468aeb52068b4589.html" target="_blank" class="c-news__photo">





<img data-src="/assets/images/noticias/alicia-coronil-expansión.jpg" class="lazyload" alt="Flecha"/>



  </a>
  <span class="c-news__category">En medios</span>
<h3 class="c-news__title">
España no es ajena a sorpresas negativas</h3>



<p class="c-news__fecha">EXPANSIÓN - 29/01/2024</p>


<p class="c-news__excerpt">
Tribuna de opinión a doble página de Alicia Coronil, Economista Jefe</p>




<a href="https://www.expansion.com/economia/2024/01/29/65b6b42a468aeb52068b4589.html" target=" _blank" class=" c-button">Leer más</a>




</div>
