<div class="c-news-item">
<a href="https://www.larazon.es/tueconomia/futuro-dana-trump_202411176739a297b747ad00018593dd.html " title="Ver noticia" class="c-news__photo" target="_blank">


<img data-src="/assets/images/noticias/futuro-trump.jpg" class="lazyload" alt="Logotipo en un edificio de Trump"/>





  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">El futuro tras la DANA y con Trump</h3>






<p class="c-news__fecha">LA RAZÓN - 17/11/2024</p>





<p class="c-news__excerpt">
	Columna de opinión, en el que se hace repaso al resultado de las Elecciones Americanas y donde se menciona a Alicia Coronil como referente de opinión
</p>








<a href="https://www.larazon.es/tueconomia/futuro-dana-trump_202411176739a297b747ad00018593dd.html" class="c-button" target="_blank">Leer noticia completa</a>









</div>
