<div class="c-news-item">
<a href="https://youtu.be/Ur12pf7DwtA?si=rkVqQ2yBLTDnMDBd " title="Ver noticia" class="c-news__photo" target="_blank">



<img data-src="/assets/images/noticias/Alicia-Coronil-ForoLaToja.jpg" class="lazyload" alt="Alicia Coronil"/>




  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">El Estado y su creciente protagonismo económico</h3>


<p class="c-news__fecha">ESTRATEGIAS DE INVERSIÓN - 07/10/2024</p>


<p class="c-news__excerpt">Alicia Coronil presente en el Foro de La Toja, espacio para el diálogo, la reflexión y la defensa de la democracia liberal, en el marco Atlántico</p>




<a href="https://youtu.be/Ur12pf7DwtA?si=rkVqQ2yBLTDnMDBd" class="c-button" target="_blank">Leer noticia completa</a>





</div>
