<div class="c-news-item">
<a href="https://www.eleconomista.es/tecnologia/noticias/13055828/10/24/la-salud-digital-y-la-innovacion-marcaran-diferencias-competitivas-en-las-empresas.html" title="Ver noticia" class="c-news__photo" target="_blank">







<img data-src="/assets/images/noticias/Damian-ruiz-ciso-singular-bank.jpg" class="lazyload" alt="Damian Ruiz Ciso"/>



  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">La 'salud digital' y la innovación marcarán diferencias competitivas en las empresas</h3>



<p class="c-news__fecha">EL ECONOMISTA - 29/10/2024</p>





<p class="c-news__excerpt">Damián Ruiz, CISO de Singular Bank: "Hay que trabajar en ciberseguridad para adelantarnos a las nuevas técnicas de fraude"</p>








<a href="https://www.eleconomista.es/tecnologia/noticias/13055828/10/24/la-salud-digital-y-la-innovacion-marcaran-diferencias-competitivas-en-las-empresas.html" class="c-button" target="_blank">Leer noticia completa</a>









</div>
