<div class="c-news-item">
<a href="https://forbes.es/ultima-hora/394142/singular-bank-habra-algun-momento-en-el-ano-de-
gran-giro-en-la-estrategia-de-inversion/" target="_blank" class="c-news__photo">




<img data-src="/assets/images/noticias/Perspectivas-2024-BYN.jpg" class="lazyload" alt="Flecha"/>


  </a>
  <span class="c-news__category">En medios</span>
<h3 class="c-news__title">
	Singular Bank: Singular Bank publica el informe de Perspectivas 2024 en un año para despejar incógnitas</h3>


<p class="c-news__fecha">FORBES - 10/01/2024</p>



<p class="c-news__excerpt">
Entre los temas de los que se habla son la tendencia de la inflación, el futuro
gobierno de EEUU, la senda económica de China y las incertidumbres geopolíticas</p>



<a href="https://forbes.es/ultima-hora/394142/singular-bank-habra-algun-momento-en-el-ano-de-
gran-giro-en-la-estrategia-de-inversion/" target=" _blank" class=" c-button">Leer más</a>



</div>
