<div class="c-news-item">
<a href="https://www.europapress.es/economia/noticia-promotora-inmobiliaria-santa-ana-debuta-bme-growth-alza-44-valorada-92-millones-20241210133020.html" title="Ver noticia" class="c-news__photo" target="_blank">



<img data-src="/assets/images/noticias/promotora-santa-ana-sale-a-bolsa.jpg" class="lazyload" alt="Logotipo promotora Santa Ana"/>






  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">La promotora inmobiliaria Santa Ana debuta en BME Growth con un alza del 9,63% y valorada en 97 millones</h3>







<p class="c-news__fecha">EUROPA PRESS - 10/12/2024</p>






<p class="c-news__excerpt">
El pasado 10 de diciembre, tuvimos el placer de presenciar en la Bolsa de Madrid el tradicional toque de campana con el que se ha simbolizado la incorporación de Santa Ana Global Enterprises a BME. Desde Singular Bank participamos como Entidad Agente y Proveedor de Liquidez en esta operación

</p>








<a href="https://www.europapress.es/economia/noticia-promotora-inmobiliaria-santa-ana-debuta-bme-growth-alza-44-valorada-92-millones-20241210133020.html" class="c-button" target="_blank">Leer noticia completa</a>










</div>
