<div class="c-news-item">
<a href="https://www.diariodesevilla.es/economia/cuidado-deducciones-impuesto-patrimonio-andaluz_0_2003007090.html" title="Ver noticia" class="c-news__photo" target="_blank">


<img data-src="/assets/images/noticias/Carlos-Lopez-Henares.jpg" class="lazyload" alt="Carlos López Henares"/>

  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Cuidado con las deducciones en el impuesto sobre el patrimonio andaluz</h3>







<p class="c-news__fecha">DIARIO DE SEVILLA - 19/12/2024</p>







<p class="c-news__excerpt">
Carlos López-Henares, Director de Planificación Patrimonial de Singular Bank, analiza en el Diario de Sevilla el nuevo sistema establecido por la Junta de Andalucía que permite al contribuyente decidir si quiere que lo que paga por la tenencia de sus bienes se ingrese en la Hacienda estatal o autonómica


</p>








<a href="https://www.diariodesevilla.es/economia/cuidado-deducciones-impuesto-patrimonio-andaluz_0_2003007090.html" class="c-button" target="_blank">Leer noticia completa</a>











</div>
