<div class="c-news-item">
<a href="https://www.abc.es/economia/singular-bank-resume-ano-2024-mercados-20241231155404-vi.html" title="Ver noticia" class="c-news__photo" target="_blank">



<img data-src="/assets/images/noticias/nicolas-lopez-mercados.jpg" class="lazyload" alt="Nicolas López Mercados"/>


  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Singular Bank resume el año 2024 en los mercados</h3>


<p class="c-news__fecha">ABC - 31/12/2024</p>




<p class="c-news__excerpt">
Resumen realizado por Nicolás López, Director de Análisis de Renta Variable en Singular Bank
</p>


<a href="https://www.abc.es/economia/singular-bank-resume-ano-2024-mercados-20241231155404-vi.html" class="c-button" target="_blank">Leer noticia completa</a>












</div>
