<div class="c-news-item">
<a href="https://www.expansion.com/encuentros/carlos-lopez-henares/2024/10/16/index.html" title="Ver noticia" class="c-news__photo" target="_blank">




<img data-src="/assets/images/noticias/Carlos-Lopez-Henares.jpg" class="lazyload" alt="Carlos López Henares"/>


  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Encuentro digital con Carlos López-Henares</h3>



<p class="c-news__fecha">EXPANSIÓN - 16/10/2024</p>



<p class="c-news__excerpt">Carlos López-Henares, Director de Planificación Patrimonial, participó el pasado 16 de octubre, en un Encuentro Digital de Expansión en el que resolvió las dudas planteadas por sus lectores</p>





<a href="https://www.expansion.com/encuentros/carlos-lopez-henares/2024/10/16/index.html" class="c-button" target="_blank">Leer noticia completa</a>






</div>
