<div class="c-news-item">
<a href="https://fundspeople.com/es/las-principales-areas-de-inversion-en-las-que-los-directivos-del-ranking-de-la-banca-privada-orientan-sus-esfuerzos/ " title="Ver noticia" class="c-news__photo" target="_blank">



<img data-src="/assets/images/noticias/jose-salgado-funds-people.jpg" class="lazyload" alt="Alicia Coronil"/>



  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Las principales áreas de inversión en las que los directivos del Ranking de Banca Privada orientan sus esfuerzos</h3>



<p class="c-news__fecha">FUNDS PEOPLE - 24/06/2024</p>


<p class="c-news__excerpt">José Salgado Fuertes de Villavicencio, Director General Comercial de Singular Bank, hace hincapié en la importancia de contar con los mejores profesionales e invertir en su formación y desarrollo personal</p>


</p>


<a href="https://fundspeople.com/es/las-principales-areas-de-inversion-en-las-que-los-directivos-del-ranking-de-la-banca-privada-orientan-sus-esfuerzos/ " class="c-button" target="_blank">Leer noticia completa</a>




</div>
