<div class="c-news-item">
<a href="https://www.expansion.com/mercados/2025/01/14/6786606b468aeb9d1c8b458b.html" title="Ver noticia" class="c-news__photo" target="_blank">




<img data-src="/assets/images/noticias/IBEX-35-RENTABILIDAD-10.jpg" class="lazyload" alt="Imagen IBEX 35"/>



  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Singular espera una rentabilidad del 10% para la Bolsa española este año

</h3>


<p class="c-news__fecha">EXPANSIÓN - 14/01/2025</p>





<p class="c-news__excerpt">
La entidad presenta su informe de Perspectivas macroeconómicas y financieras “2025.  Implicaciones de un nuevo ciclo geoeconómico”

</p>


<a href="https://www.expansion.com/mercados/2025/01/14/6786606b468aeb9d1c8b458b.html" class="c-button" target="_blank">Leer noticia completa</a>













</div>
