<div class="c-news-item">
<a href="https://www.lne.es/asturias/2025/01/22/rebaja-jornada-aumento-smi-siembran-113599428.html  " title="Ver noticia" class="c-news__photo" target="_blank">





<img data-src="/assets/images/noticias/entrevista-javier-marin.jpg" class="lazyload" alt="Javier Marin"/>





  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">La rebaja de jornada y el aumento del SMI siembran cizaña para nuestro futuro


</h3>


<p class="c-news__fecha">LA NUEVA ESPAÑA - 22/01/2025</p>






<p class="c-news__excerpt">
'2025 es el año de la incertidumbre, sobre todo por Donald Trump', afirma el directivo de origen asturiano, que también es vicepresidente del 'banco del Vaticano'


</p>


<a href="https://www.lne.es/asturias/2025/01/22/rebaja-jornada-aumento-smi-siembran-113599428.html  " class="c-button" target="_blank">Leer noticia completa</a>














</div>
