<div class="c-news-item">
<a href="https://www.elmundo.es/opinion/2026/03/05/69a97bb6e85ecedf7e8b4586.html" title="Ver noticia" class="c-news__photo" target="_blank">

<img data-src="/assets/images/noticias/iran.jpg" class="lazyload" alt="Cómo la respuesta de Irán puede sacudir a la economía de Europa"/>

  </a>
<span class="c-news__category">En medios</span>

<h3 class="c-news__title">Cómo la respuesta de Irán puede sacudir a la economía de Europa</h3>

<p class="c-news__fecha">EL MUNDO - 05/03/2026</p>

<p class="c-news__excerpt">
Tribuna de opinión de Alicia Coronil sobre el impacto del conflicto entre EEUU e Irán.</p>

<a href="https://www.elmundo.es/opinion/2026/03/05/69a97bb6e85ecedf7e8b4586.html" class="c-button" target="_blank">Leer noticia completa</a>

</div>
