.p-basica {
  padding-top: spacing(4);
  padding-bottom: spacing(4);

  @include media-breakpoint-up(md) {
    padding-top: 150px;
  }

  h1 {
    @include typi(xxl);
  }

  h2 {
    @include typi(l);
  }

  h3 {
    @include typi(mplus);
    color: $red;
  }

  .entradilla {
    @include typi(m);
    font-family: 'lynstone', Arial, sans-serif;
    font-weight: normal;
  }
}
