{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Self Bank by Singular Bank recibe el premio a Mejor Bróker Multiproducto en la VII edición de los Premios Rankia.</h1>
        <p class="c-news__fecha">Madrid, 24 de febrero de 2022</p>
        <p class="c-news__entradilla"><strong>Los usuarios de la comunidad financiera de Rankia son los que eligen los ganadores de la VII edición de los Premios Rankia.</strong></p>
        <p class="c-news__entradilla"><strong>El banco, especializado en servir a clientes con patrimonio, repite reconocimiento en esta categoría.</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <p>SelfBank by Singular Bank ha sido premiado como Mejor Mejor Bróker Multiproducto en la categoría de Bolsa en la VII Edición de los Premios Rankia 2021, que reconoce a las mejores entidades o productos financieros de España del año pasado. El banco, especializado en servir a clientes con patrimonio, repite éxito en esta categoría en la que ya triunfó en ediciones pasadas.</p>
        <p>Este nuevo galardón, que reconoce el buen hacer de la entidad como operador de bróker multiproducto, fue entregado en un evento online organizado por Rankia este 23 de febrero, en el que se han entregado los premios a las mejores entidades financieras, elegidas a través de las votaciones realizadas por los usuarios de esta plataforma financiera, la más importante en España.</p>
        <p>Durante la entrega, Javier Tejedor, Jefe de Oferta Digital de Productos de Trading de la entidad, ha agradecido este premio y ha resaltado la apuesta del banco privado “para poner a disposición de su cliente la mayor variedad de productos y servicios, así como una oferta totalmente transparente, sin conflictos de intereses, siempre con el objetivo puesto en acercarles aquellos que son más acordes a sus necesidades y a su perfil de inversión”.</p>
        <p>Tejedor añade que los premios Rankia tienen un especial significado para ellos, no solo porque son los propios usuarios los que eligen con total independencia a los premiados, sino porque subraya la buena identificación que existe entre ambas compañías, compartiendo valores muy similares como el rigor, la excelencia o la educación financiera.</p>
        <p>No es la primera vez que SelfBank by Singular Bank ha sido galardonada en los Premio Rankia. En la edición de 2019 también obtuvo el premio a Mejor Bróker Multiproducto, mientras que en el año 2020, además de esta categoría, fue reconocida como Mejor Comercializadora en la categoría de Fondos y como Mejor Banco Online.</p>
        <h3>Sobre Singular Bank</h3>
        <p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio. Cuenta con una oferta independiente, libre de conflictos de interés y dispone de una amplia variedad de productos y servicios. Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, y pone a disposición de sus clientes sus más de 25 años de experiencia como expertos en banca, ahorro e inversión.</p>
      </div>
    </div>
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %}
