{% extends "_layouts/page-componentes.twig" %}
{% block page %}

<section class="section-listado">
	<div class="container">
  <div>
    <a href="/componentes/index.html" class="link">
      <svg width="14px" height="14px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">
        <polygon fill-rule="evenodd" points="8.388 0 .667 8 8.388 16 9.084 15.278 2.525 8.482 16 8.482 16 7.461 2.58 7.461 9.084 .721"/>
      </svg>
      <span>volver</span>
    </a>
  </div>

  <div class="c-callbox u-mb-3">
    <h2>Datos genericos de los textos del site</h2>
    <p>Fuente: Lynstone en sus variantes (book, light y semibold)</p>
    <p>Tamaño base: 16px</p>
  </div>

<h2>Datos genericos de los textos del site</h2>

  
    <p>Antetitulo: c-title--pre</p>
    <p class="c-title--pre">Un banco español, sólido y experimentado</p>

    <div class="divider"></div>

    <p>Antetitulo para noticias: c-news__antetitle</p>
    <p class="c-news__antetitle">Un banco español, sólido y experimentado</p>
    <div class="divider"></div>

    <p>Subtitulo: c-title--sub</p>
    <p class="c-title--sub">Un banco español, sólido y experimentado</p>

    <div class="divider"></div>
      <p>Titulo para seccion legal: legal__title</p>
      <p class="legal__title">Un banco español, sólido y experimentado</p>

      <div class="divider-hero"></div>
    
    <h2 class="u-mt-3">Estilos aplicados directamente a etiquetas HTML</h2>
    <div class="title-listado">
    <p>Parrafos del site: 18px</p>
    <p>Su equipo directivo cuenta con una amplia trayectoria en el sector financiero y en importantes bancos españoles e internacionales y suman entre todos más de 100 años de experiencia profesional en banca comercial, corporativa y privada. Todos han ocupado puestos de responsabilidad en entidades de crédito bajo la supervisión directa del Banco de España y otros organismos extranjeros.</p>

    <div class="divider"></div>

      <p>h1: </p>
      <h1>Un banco español, sólido y experimentado</h1>


    <div class="divider"></div>

    <p>h2</p>
    <h2>Un banco español, sólido y experimentado</h2>

    <div class="divider"></div>

    <p>h3</p>
    <h3>Un banco español, sólido y experimentado</h3>


    
    <div class="divider"></div>

    <p>Titulo para bloques con imagen</h3>  
    <h3 class="c-icontext__title">Un banco español, sólido y experimentado</h3>

   



   </div>
  </section> 

</div>

{% endblock %}