{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
<p>Global Private Banking Awards 2023</p>
<h1 class="c-news__title">Euromoney reconoce a Singular Bank con el premio a la “Mejor Transformación en
	Banca Privada de España”</h1>

        <ul>
          <li>La entidad ha sido doblemente galardonada puesto que también ha sido premiada como “Mejor Banca Privada de España para la Inversión Sostenible”.</li>

         <li>Ambos reconocimientos refrendan la positiva valoración de la entidad a nivel sectorial y ponen de manifiesto su compromiso por la excelencia en el servicio y su orientación al cliente.</li>

        <li>Con solo tres años de historia, Singular Bank se convierte así en la primera entidad española tan joven en ser premiada por Euromoney.</li>

        </ul>


      <p class="c-news__fecha">Madrid, 15 de diciembre de 2022</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
      <p>Singular Bank ha sido galardonada con el premio a la “Mejor Transformación en Banca Privada de España” por Euromoney en la edición 2023 de sus Global Private Banking Awards, premios que reconocen a las mejores entidades de banca privada y de gestión de patrimonios a nivel mundial.</p>

      <p>La revista financiera británica ha valorado el papel dinamizador de Singular Bank en la industria española, ya que ha logrado desarrollar un modelo de servicio y atención al cliente pionero y diferente al negocio de banca privada tradicional. Asimismo, Euromoney ha considerado el creciente reconocimiento y prestigio de la entidad gracias a su rápida expansión, combinada con un servicio al cliente totalmente personalizado.</p>

      <p>Además de este reconocimiento, la publicación ha premiado también a Singular Bank como la <strong>“Mejor Banca Privada de España para la Inversión Sostenible”</strong>, reconociendo las capacidades de la entidad en materia de inversión ESG.</p>

      <p>
      El compromiso del banco en esta materia se centra en el análisis de los riesgos de sus clases de activos, aportando rigor y transparencia al procedimiento de evaluación. Asimismo, Euromoney distingue con este galardón el compromiso de Singular Bank con la correlación entre las inversiones y los Objetivos de Desarrollo Sostenible de Naciones Unidas, tanto a nivel de portfolio, en general, como para cada fondo y compañía incluidos en las carteras de sus clientes. Del mismo modo, la entidad supervisa el grado de alineación de una cartera específica con los objetivos de reducción de emisiones y temperatura global establecidos en la Conferencia sobre el Cambio Climático de Naciones Unidas.</p>

      
      <div class="u-mb-4 text-center">
        <img data-src="/assets/images/noticias/sellos-color.png" class="lazyload" alt="Logo Euromoney"/>
      </div>

      <p>
      Por último, la revista ha destacado positivamente el enfoque de la entidad, 100% orientado hacia los clientes, ayudándoles a descubrir y reforzar sus propias prioridades a través de una amplia gama de posibles soluciones e inversiones. Todo ello ha contribuido a que los atributos valorados por la publicación le hayan asegurado los dos premios.</p>

      <p>De este modo y con solo tres años desde su fundación, Singular Bank se convierte en la primera entidad
      española tan joven en ser premiada por Euromoney, siendo además reconocida en dos categorías diferentes.</p>

        <p>
        Javier Marín, Consejero Delegado de Singular Bank, ha destacado: "Es ilusionante que, en tan poco tiempo, recibamos este galardón, que viene a reconocer el resultado del esfuerzo de todo el equipo para construir la mejor banca privada, comprometida con nuestros clientes.

        Sin duda, suponen un importante aliciente para el banco y ponen de manifiesto nuestro sólido compromiso con la excelencia en el servicio y con nuestro objetivo de continuar ofreciendo la mejor propuesta de valor a nuestros clientes, mediante una oferta altamente personalizada e innovadora que les ayude a alcanzar sus objetivos financieros”.
        </p>

        <h2>Banca privada española independiente líder</h2>


<p>Singular Bank ha jugado un papel dinamizador y protagonista en la transformación del sector en España,
erigiéndose en los últimos años como la primera entidad de banca privada independiente líder, con unos
activos bajo gestión de más de 13.400 millones de euros, con un capital humano y tecnológico de primer nivel
y los mayores ratios de liquidez y solvencia de toda la banca española (CET 1: 20,70%, NSFR: 194,27%
LCR: 227,42%. Datos a 31/12/2022).</p>

<p>La entidad, que cuenta con un modelo de servicio al cliente totalmente personalizado, ofrece una sólida
combinación de soluciones de ahorro e inversión, asesoramiento y financiación que conforman una oferta
única para sus clientes.</p>

<p>El trabajo constante de Singular Bank en todas sus áreas de negocio le ha llevado a obtener recientemente
otros reconocimientos como el que Singular Asset Management SGIIC ha obtenido recientemente,
galardonada como &quot;Mejor gestora de España 2023&quot; en los premios European Funds Trophy, gracias a la
excelencia en la gestión de sus activos.
</p>

<h2>Sobre Singular Bank</h2>
<p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y
alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y
soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de
conflictos de interés y con una amplia variedad de productos y servicios.</p>
<p>
Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio
gestionado de más de 85.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente
en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.
La entidad ha sido reconocida en 2023 como “Mejor Transformación en Banca Privada de España” y “Mejor
Banca Privada de España para la Inversión Sostenible” por Euromoney.</p>

<h2>Sobre Singular Bank Asset Management SGIIC</h2>
<p>Singular Asset Management SGIIC es una gestora de instituciones de inversión colectiva, regulada por la
CNMV y perteneciente al grupo Singular Bank. Sus productos se basan en las decisiones independientes de
los distintos equipos de gestores y analistas, el rigor a la hora de seguir las políticas de inversión y la dilatada
experiencia de los profesionales que forman la gestora. Sus soluciones de inversión buscan aportar un valor
diferencial a las carteras de los inversorespor la combinación de la solidez de su trayectoria, su total
independencia y por contar con una estrategia novedosa .</p>
<p>
Singular Asset Management SGIIC ha sido premiada como “Mejor Gestora de España 2023” por los Premios European Funds Trophy, en la categoría de 16 a 25 fondos.</p>


        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 