{% extends "_layouts/page.twig" %}
{% block page %}
<section class="p-basica">
  <div class="container">
    <div class="row u-mt-3">
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h1>Política de cookies</h1>
        <h2>Política de privacidad</h2>

        <p>Todos los tratamientos de datos personales que se pueden derivar de la navegación por nuestra página web se encuentran detallados en nuestra <a href="/politica-proteccion-datos" title="Política de protección de datos">Política de protección de datos</a> a la que puede acceder si desea tener más información sobre dichos tratamientos.</p>

        <h2>¿Qué es una cookie?</h2>
        <p>Una cookie es un pequeño fichero de texto que una página web coloca en tu PC, teléfono o cualquier otro dispositivo, con información sobre la navegación que realizas en dicha web.</p>
        <p>Las cookies se utilizan para hacer análisis de navegación y estadísticas de uso, publicidad comportamental pero también para facilitar la navegación y hacerla más eficiente de cara al usuario: por ejemplo, cuando vuelves a visitar la web tus preferencias han quedado almacenadas y así se te muestra y ofrece información relevante para ti. Las cookies nos permiten, entre otras cosas, almacenar y recuperar información sobre sus hábitos de navegación y de su equipo y, dependiendo de la información que contenga y de la que utilice su dispositivo, pueden utilizarse para reconocer e identificar al usuario con el fin de mejorar la experiencia de navegación.</p>
        
        <h2>Tipos de cookies</h2>
        <p>Las cookies que utilizamos en nuestra web y landings pueden clasificarse como cookies de sesión y cookies persistentes que, a su vez, pueden ser cookies propias o de terceros.</p>
        <p> En el apartado de <span style="text-decoration:underline; font-weight:bold;">declaración de cookies</span>, le explicamos con mayor detalle qué tipo de cookies empleamos en el Sitio web según sus finalidades, su titularidad y su duración.</p>
       
       
        <script id="CookieDeclaration" src="https://consent.cookiebot.com/98cee65a-bf3d-4f8e-8f4c-ff8cbc1133e4/cd.js" type="text/javascript" async></script>
       
       
        <h2>Control de cookies y modificación en el consentimiento</h2>
        <h3>Desde la página web</h3>
        <p>Puede activar o desactivar las cookies cómodamente desde el Panel de Control que aparece en el banner al inicio de su sesión.</p>

        <h3>Desde su navegador</h3>
        <p>También podrá consultar, borrar, limitar el uso, desactivar la utilización de cookies o recibir una advertencia en el momento que van a ser generados.</p>
        <p>En función del tipo de navegador que el usuario utilice, el procedimiento para la revocación y eliminación de las cookies será alguno de los siguientes:</p>
        <div class="c-destacado u-mb-2">
          <ul>
            <li>Firefox: <a href="http://support.mozilla.org/es/home" target="_blank">http://support.mozilla.org/es/home</a></li>
            <li>Internet Explorer: <a href="http://support.microsoft.com/ph/807/es-es" target="_blank">http://support.microsoft.com/ph/807/es-es</a></li>
            <li>Safari: <a href="http://support.apple.com/kb/HT1677?viewlocale=es_ES" target="_blank">http://support.apple.com/kb/HT1677?viewlocale=es_ES</a></li>
            <li>Opera: <a href="http://help.opera.com/Windows/8.54/es-ES/index.html" target="_blank">http://help.opera.com/Windows/8.54/es-ES/index.html</a></li>
            <li>Google Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">https://support.google.com/chrome/answer/95647?hl=es</a></li>
          </ul>
        </div>
        <h3>Periodo de conservación</h3>
        <p>Los datos personales de las cookies serán tratados el periodo indicado en el detalle de la tipología de cookies que se traten y en cualquier caso no será superior a los dos años.</p>

        <h3>Transferencias internacionales</h3>
        <p>Algunas de las cookies de terceros que se utilizan en esta página web pertenecen a entidades que pueden tratar datos desde EE. UU por lo que sus tratamientos de datos suponen una transferencia internacional de datos a un país que no tiene un nivel de protección equiparable al europeo. Para obtener información sobre las garantías que implementan dichas entidades para las transferencias internacionales de datos puede acceder a sus políticas de privacidad haciendo click en el nombre de cada entidad identificada en el apartado de <span style="text-decoration:underline; font-weight:bold;">declaración de cookies</span>.</p>


        <h3>Ejercicio de derechos y más información sobre la política de protección de datos</h3>

        <p>Puede revocar su consentimiento a través de las opciones habilitadas en el botón habilitado para la configuración de Cookies o bien ejercer sus derechos de acceso, rectificación, supresión, portabilidad, oposición, limitación al tratamiento o a no ser objeto de decisiones automatizadas por parte del Responsable del tratamiento dirigiendo una comunicación por escrito a través del correo electrónico <a href="mailto:lopd@selfbank.es">lopd@selfbank.es</a>.</p>


        {# <div class="c-destacado u-mb-2">
          <ul>
            <li>a Google puede remitirse a lo previsto en sus políticas de privacidad <a href="https://policies.google.com/privacy?hl=en-US">aquí</a>.</li>
            <li>a Facebook, <a href="https://www.facebook.com/policy.php">aquí</a>.</li>
            <li>a twitter, <a href="https://help.twitter.com/forms/privacy">aquí</a>.</li>
            <li>a Hubspot, <a href="https://privacyportal.onetrust.com/webform/9fd092df-0b2a-4194-89f1-820b83267af4/13da1ce4-8542-4d34-a84c-379495aa666c">aquí</a>.</li>
          </ul>
        </div> #}

        <p>Para ejercer los derechos frente a las terceras entidades titulares de las cookies debe seguir el procedimiento establecido en la política de privacidad de cada entidad a la cual puede acceder haciendo click en el nombre de cada entidad identificada en el apartado de declaración de cookies.</p>

        <p>Además, puedes dirigir una reclamación ante la Agencia Española de Protección de Datos en caso de que considere que no se ha realizado un tratamiento correcto de sus datos o hemos vulnerado alguno de sus derechos. <a href="https://www.aepd.es/" target="_blank">www.aepd.es</a>
        </p>


        <p>Para más información sobre el tratamiento de sus datos personales consulte la política de protección de datos de la web.</p>

        <h3>Notas adicionales</h3>
        <p>Los navegadores web son las herramientas encargadas de almacenar las cookies y desde este lugar debe efectuar su derecho a eliminación o desactivación de estas. Ni esta web ni sus representantes legales pueden garantizar la correcta o incorrecta manipulación de las cookies por parte de los mencionados navegadores.</p>
        <p>En algunos casos es necesario instalar cookies para que el navegador no olvide su decisión de no aceptación de estas. </p>
        <h3>Actualizaciones y cambios en la Política de Cookies</h3>
        <p><strong>Singular Bank S.A.U.</strong> puede modificar esta Política de Cookies en función de nuevas exigencias legislativas, reglamentarias o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos.</p>
        <p>Cuando se produzcan cambios significativos en esta Política de Cookies se comunicará al usuario, bien mediante un aviso informativo en la página web del editor bien a través de correo electrónico para los usuarios registrados.</p>
        <p>Si desea más información sobre qué uso hacemos de las cookies puede enviarnos un mail a <a href="mailto:lopd@selfbank.es">lopd@selfbank.es</a>.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %} 