<div class="c-callbox">
  {{svgSprite('talk')}}
  <p><strong>¿Hablamos?</strong> Si no ha encontrado la información que necesita o si tiene cualquier duda, estaremos encantados de ayudarle.</p>
  <a href="/oficinas-y-contacto/" class="c-button c-button--outline">Contáctenos</a>
</div>
