<div class="c-download">
  <ul>
    <li><a href="#">{{svgSprite('pdf')}} <span>Pellentesque dapibus</span></a></li>
    <li><a href="#">{{svgSprite('pdf')}} <span>Fusce pharetra convallis</span></a></li>
  </ul>
</div>
