<div class="c-iconbox">
  <a class="c-iconbox__link collapsed" data-toggle="collapse" href="#productOne" role="button" aria-expanded="false" aria-controls="productOne">
    <h3 class="c-iconbox__title">Medios de Pago y financiación</h3>
    <i>{{svgSprite('arrow')}}</i>
    <span class="c-iconbox__btn">{{svgSprite('plus')}}</span>
  </a>
</div>
