<h2>Con una Oferta 360º</h2>
<div class="row u-mt-1">
    <div class="col-12 col-md-6 col-lg-4 c-textbox">
        <div class="c-textbox__content">
            <h3>360º en modelo de servicio</h3>
            <p>Tres modelos de servicio:</p>
            <ul>
                <li><strong>Usted:</strong> <a href="https://www.selfbank.es/" target="_blank">Plataforma Self</a>.</li>
                <li><strong>Usted con nosotros:</strong> asesoramiento.</li>
                <li><strong>Nosotros:</strong> gestión discrecional.</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 c-textbox">
        <div class="c-textbox__content">
            <h3>360º en producto</h3>
            <p>Gama de productos:</p>
            <ul>
                <li>productos de inversión</li>
                <li>cuentas corrientes</li>
                <li>depósitos</li>
                <li>medios de pago</li>
                <li>financiación</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 c-textbox">
        <div class="c-textbox__content">
            <h3>360º en asesoramiento</h3>
            <p>Asesoramiento en cualquier ámbito de las finanzas:</p>
            <ul>
                <li>inversiones</li>
                <li>financiación</li>
                <li>inmobiliario</li>
                <li>fiscal</li>
            </ul>
        </div>
    </div>
   <div class="col-12 col-md-6 col-lg-4 c-textbox">
    <div class="c-textbox__content">
      <h3>360º en canales</h3>
      <p>Relación a través de:</p>
      <ul>
        <li>el banquero</li>
        <li>la web</li>
        <li>la App</li>
        <li>contact center</li>
      </ul>
    </div>
  </div>
   <div class="col-12 col-md-6 col-lg-4 c-textbox">
    <div class="c-textbox__content">
      <h3>360º en el tiempo</h3>
      <p>En cualquier etapa de su vida:</p>
      <ul>
        <li>financiación</li>
        <li>inversión</li>
        <li>jubilación</li>
        <li>planificación del patrimonio</li>
      </ul>
    </div>
  </div>
</div>
