.c-footer {
  background: #222;
  padding-top: spacing(2);
  padding-bottom: spacing(2);
  @include media-breakpoint-up(sm) {
    padding-top: spacing(4);
    padding-bottom: spacing(4);
  }
}

.c-footer__logo {
  @include media-breakpoint-down(md) {
    display: block;
    text-align: center;
    margin-bottom: spacing(2);
  }

  img {
    width: 190px;
    @include media-breakpoint-up(xl) {
      width: 250px;
    }
  }
}

.c-footer__list {
  .c-footer__list__title {
    font-family: 'lynstonebold';
    @include typi(normal);
    @include media-breakpoint-only(xs) {
      text-align: center;
      margin-bottom: spacing(-2);
    }

    color: $gray;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include media-breakpoint-only(xs) {
      border-bottom: 1px solid $black;
      margin-bottom: spacing(1);
    }

    li {
      list-style: none;
      padding-left: 0;
      margin-bottom: spacing(-3);
      text-align: center;
      @include media-breakpoint-up(md) {
        text-align: left;
        margin-bottom: 0;
      }
    }
    li:last-child {
      @include media-breakpoint-only(xs) {
        margin-bottom: spacing(1);
      }
    }

    a {
      color: $gray;
      text-decoration: none;
      transition: all .3s ease;

      &:hover {
        color: $gray-light;
        text-decoration: underline;
      }
    }
  }
}

#footer .c-footer__social{
  display: flex;
  justify-content: left;

  @include media-breakpoint-up(md) {
    position: relative;
  }
  @include media-breakpoint-only(xs) {
    justify-content: center;
  }
  list-style: none;
  margin-top: spacing(-3);


  li {
    width: 35px;
    height: 35px;
    margin-right: spacing(-3);
    list-style: none !important;

    a {
      position: absolute;
      display: flex;
      justify-content: center;
    	align-items: center;
      width: 35px;
      height: 35px;
      border: 1px solid #fff;
      border-radius: 50%;


      &:hover {
        background: $gray;
      }
    }

    svg {
      height: 16px;
      width: 16px;
    }
  }
  li:last-child {
    @include media-breakpoint-only(xs) {
      margin-right: 0;
    }
  }
}

.c-footer__legal {
  color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-up(md) {
    margin-top: spacing(1);
    padding-top: spacing(-1);
    border-top: 1px solid $gray;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    margin-top: spacing(1);
  }
}

.c-footer__legal__copy {
  color: $gray;
  font-size: 12px;
  line-height: 1.3;
  display: flex;
  flex: 0 0 100%;
  margin-top: spacing(1);

  @include media-breakpoint-up(md) {
    flex: 1 0 40%;
  }
}

.c-footer__legal__links {
  @include typi(s);
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  display: flex;
  flex-flow: wrap;
  justify-content: center;


  li {
    display: block;
    margin: 0 spacing(-2) spacing(-2);
    padding: 0;

    @include media-breakpoint-up(lg) {
      margin-left: spacing(-3);
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  a {
    color: $gray;
    text-decoration: none;
    transition: all .3s ease;
		  font-size: 14px;
	  margin-right:  spacing(1);


    &:hover {
      color: $gray-light;
      text-decoration: underline;
    }
  }
}

//listado de iconos footer

.sellos-lista {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 10px;
  padding: 0;


  @include media-breakpoint-down(md) {
    justify-content: center;
    margin-left: 0;
  }

   @include media-breakpoint-up(lg) {
    margin-left: 55px;
    }

   @include media-breakpoint-up(xl) {
      margin-left: 80px;
    }
}

.sellos-lista_item {
  max-width: 30%;
  list-style: none;
  margin-right: 5px;

  
 img {
    width: 100%;
    @include media-breakpoint-down(md) {
      height: 50px;
      margin-left: 0;
    }

    @include media-breakpoint-up(md) {
    height: 40px;
    width: auto;
    }
 }



     
}

