{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

        <a href="/noticias/" class="c-news__breadcrumbs">Nota de prensa</a>

        <h1 class="c-news__title">Singular Bank incorpora a Javier Vega de Seoane y a Dolores Ybarra a su consejo de administración</h1>
        <ul>
          <li>Javier Vega de Seoane Azpilicueta, vocal independiente, será el nuevo presidente del consejo de administración del banco</li>

          <li>Dolores Ybarra Castaño se incorpora como vocal independiente y formará parte de la comisión mixta de auditoría y riesgos.</li>
        </ul>

<p>
	<strong>Madrid, 29 de julio de 2024.</strong></p>

  <p>Javier Vega de Seoane, ha sido nombrado consejero independiente y presidente del consejo de administración de Singular Bank.  Javier reemplaza en la presidencia del consejo a Jacques Aigrain quien ha desempeñado el cargo desde el año 2019 y cuya labor ha sido decisiva para el desarrollo del marco de gobierno corporativo del banco en unos años marcados por un fuerte crecimiento orgánico y la ejecución de cuatro operaciones corporativas.</p>

<p>Ingeniero de minas por la ETS de Madrid y diplomado en BA por la Glasgow Business School y por el INSEAD.  En la actualidad es presidente del grupo DKV Seguros y del Consejo asesor de Fujitsu España. Aporta una dilatada experiencia en posiciones ejecutivas en diversos sectores de nuestra economía, habiendo sido, Presidente de SKF Española, director general del INI, presidente de Explosivos Riotinto, de S.A. Cros (Ercros), de Gestlink, y de MasMóvil. </p>

<p>Entre los años 2015 y 2018 ocupó la presidencia del Círculo de Empresarios. Cuenta con una extensa experiencia en el gobierno corporativo habiendo formado parte de múltiples consejos de administración y ha presidido el comité de auditoría de varias empresas cotizadas. </p>

<p>Dolores Ybarra es Licenciada en Ciencias Empresariales y Derecho por la Universidad Pontificia Comillas, Madrid (ICADE -E3), además de haber cursado el Programa de Postgrado en el Instituto de Empresa (IE) para Directivos y el Programa Avanzado de Gestión de Inversiones en la London Business School.</p>

<p>Inició su carrera en Price Waterhouse Coopers como auditora en el sector financiero y en 1991 se incorporó al Grupo Santander donde ha ocupado diferentes cargos de responsabilidad. En enero de 2019 se incorporó a <i>Santander Wealth Management & Insurance Division</i>, como responsable global de Productos e Inversión de Santander Private Banking habiendo sido anteriormente Consejero Delegado de Santander Asset Management y Santander Pensiones en España.</p>
<p>Javier Marín, Consejero Delegado de Singular Bank, ha señalado que <i>“estamos muy satisfechos por la incorporación de Lola y Javier a nuestro consejo de administración. Javier es un referente en el mundo empresarial y su liderazgo, experiencia y creatividad nos ayudarán a acelerar, todavía más, el desarrollo del banco. Lola es una experta en la industria de la inversión y  del asesoramiento. Su conocimiento y empuje nos ayudarán a continuar mejorando nuestra propuesta de valor en un entorno en permanente cambio. La incorporación de ambos contribuye a tener un consejo más diverso y multidisciplinar al tiempo que más conocedor del mercado de español.”</i></p>





        <h2>Sobre Singular Bank</h2>

<p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>


<p>Está conformado por un equipo de más de 409 profesionales, 15 oficinas (repartidas entre Madrid, Barcelona, Bilbao, La Coruña, Valencia, Málaga, Zaragoza, Murcia, Sevilla, León y Las Palmas) y más de 170 banqueros y agentes financieros que gestionan 13.426 millones de Euros de patrimonio de clientes.</p>


<p>Adicionalmente cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 83.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</p>


		
      </div>
    </div>
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 