{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Nace Singular Bank, un banco con un claro posicionamiento: “No es para todos. Es para ti”</h1>
        <p class="c-news__fecha">Madrid, 14 de enero de 2020</p>
        <p class="c-news__entradilla"><strong>No es para todos. Es para ti” sintetiza el objetivo de Singular de crear un banco que se adapta al cliente, y no al revés.</strong></p>
		<p>Singular Bank es el nuevo proyecto financiero construido sobre la base de Self Bank. Singular Bank nace como el primer banco privado independiente de España, desarrollando una oferta personalizada para sus clientes, basada en plataforma tecnológica 100% digital y con un posicionamiento muy definido: crear un banco en el que los clientes no tienen que adaptarse al banco, sino que es el banco el que se adapta al cliente.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 u-mb-2"> <img data-src="/assets/images/noticias/presentacion-02.jpg" class="lazyload" alt="Javier Marín en la presentación de Singular Bank" /> </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        
        <p>“Tenemos claro que no hay dos clientes iguales. Y, por tanto, no deberíamos hablar de los clientes en plural, sino del cliente en singular. Si cada cliente es distinto, el banco tiene que ser también distinto para cada cliente”, explica el consejero delegado de Singular Bank, Javier Marín Romano, durante la presentación de la nueva estrategia del banco.</p>
        <p>Este nuevo proyecto bancario nace tras completarse la adquisición de Self Bank por parte de la empresa de capital privado Warburg Pincus en el mes de febrero de 2019 a Boursorama, entidad perteneciente a Société Générale. Desde entonces, el equipo de Javier Marín ha estado trabajando para crear una entidad en la que conviva la oferta existente hasta el momento de banca del día a día, de inversión y de ahorro, con un nuevo servicio personalizado de asesoramiento patrimonial y gestión discrecional de carteras y financiación.</p>
        <div class="clearfix"></div>
        
	</div>	  
	<div class="row">
      <div class="col-12 u-mb-2"> <img data-src="/assets/images/noticias/presentacion-01.jpg" class="lazyload" alt="Javier Marín en la presentación de Singular Bank" /> </div>
    </div>	  
	<div class="col-12 col-lg-8 offset-lg-2">
	<h2>Tres modelos de relación</h2>
        <p>Singular Bank se asienta sobre tres modelos de relación, pero todos con un nexo común: el cliente, en el centro. “Nuestro modelo de negocio está centrado en el cliente, él es nuestro eje y en torno a él gira nuestra cultura de servicio, nuestro equipo de expertos y nuestra profesionalidad. Queremos que cada cliente tenga su banco”, ha apuntado Marín.</p>
        <p>De este modo, en función de su patrimonio, del grado de involucración que el cliente quiera tener en la gestión de sus finanzas, su perfil, sus preferencias y de la manera en la que prefiera relacionarse con el banco, el cliente contará con tres modelos de relación:</p>		
        <ul>
          <li>Para aquellos clientes que prefieren seguir tomando sus propias decisiones financieras, la entidad seguirá ofreciendo la información y las herramientas necesarias a través de la Plataforma Self Bank. </li>
          <li>Para el cliente que quiere disponer de asesoramiento e ideas de inversión que le ayuden a conseguir sus objetivos, pero finalmente decidir por él mismo, está el servicio de Asesoramiento Singular. Para ello, contarán con oficinas físicas y un banquero personal que le permitirá combinar las ventajas que ofrece el mundo digital con la relación personal y humana que precise.</li>
          <li>Y, por último, en el servicio de Gestión Discrecional Singular es el equipo de profesionales de la entidad el que toma las decisiones, buscando la mayor adecuación a las metas financieras marcadas por el cliente.</li>
        </ul>
		<p>Así, la entidad busca diferenciarse de otros modelos financieros, construyendo sobre la base de un banco digital una oferta de relación personal, buscando la cercanía con sus clientes y brindándoles diferentes opciones para la gestión de sus finanzas, tanto a quien busca manejarlas él mismo como para aquel que quiere un banquero privado que le trate personalmente y le dé acceso a equipos de especialistas y herramientas tecnológicas que le haga la vida más fácil.</p>
		<p>Todos los servicios de Singular Bank se rigen por un código deontológico compuesto por diez valores que van intrínsecos en el ADN de la compañía. Rigor, transparencia, empatía, proactividad, respeto, excelencia, honestidad, discreción, educación financiera y sostenibilidad, que la entidad quiere que den sentido a todas y cada una de sus actuaciones. Además, apuestan por la innovación y la tecnología como una herramienta para eliminar burocracia y agilizar tiempos, para centrarse así en lo que más importa: el cliente.</p>
		<p>El proyecto cuenta con una gran solidez fundamentada en 5 pilares:</p>
		<ol>
          <li><p>Unas ratios de capital y de liquidez que posicionan al banco entre los más sólidos de Europa.</p></li>
          <li><p>Un equipo directivo con una sólida trayectoria en banca privada, comercial y digital en España, procedentes de importantes bancos españoles e internacionales en los que han ocupado puestos de responsabilidad y que suman una dilatada experiencia en el sector bancario y de asesoramiento.</p></li>
          <li><p>Una plataforma tecnológica moderna que facilita la relación entre el banco y el cliente de una manera proactiva, eficiente y segura.</p></li>
		  <li><p>Una nueva manera de hacer banca basada en un código de actuación que genera la total confianza de sus clientes.</p></li>		  
        </ol>
      </div>
    </div>
<!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
            Eolo Comunicación </br>
            91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>-->
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 