{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

        <a href="/noticias/" class="c-news__breadcrumbs">Nota de prensa</a>

      <h1 class="c-news__title">Singular Bank refuerza su expansión territorial con la incorporación de ocho nuevos profesionales</h1>



        <ul>
          <li>Estas nuevas incorporaciones refuerzan el compromiso de la entidad con su apuesta por las diferentes ciudades donde tiene presencia, fortaleciendo su estrategia de crecimiento sostenido mediante la captación de talento</li>

          <li>Con la incorporación de los nuevos agentes y banqueros, Singular Bank supera los 400 empleados en España y suma ya una extensa red de 17 oficinas</li>
          <li>Apoyándose en la experiencia de estos profesionales, Singular Bank busca responder a la creciente demanda de servicios personalizados en el sector</li>

        
        </ul>

<p>
	<strong>Madrid, 25 de septiembre de 2024.</strong>- Singular Bank sigue ampliando su presencia en todo el territorio español, fortaleciendo sus equipos en las distintas regiones donde opera. Recientemente, se han sumado a la entidad dos nuevas banqueras, María del Mar Espinosa y Raquel Cerezo. También han reforzado la red de agentes con seis nuevas incorporaciones: José Castellote, Francisco Juárez, Mariano Artigas, Emilio del Castillo, Oscar Pancorbo y Miguel Hernández.</p>

		<p>María del Mar Espinosa se incorpora al equipo como banquera senior en Madrid, aportando más de veinte años de experiencia en el sector financiero. Durante los últimos años, ha desempeñado funciones clave en la banca privada de BBVA. Asimismo, Raquel Cerezo se une a la entidad con una trayectoria cercana a los veinte años en el ámbito bancario, también proveniente de BBVA, donde ha desarrollado su carrera en el área de banca privada. </p>

		<p>A estas incorporaciones se añaden, además, las de José Castellote en Valencia, tras más de trece años en Renta4, en su última etapa como subdirector de oficina. En Madrid, Francisco Juárez se suma con una sólida trayectoria en Mapfre. Mariano Artigas, en Zaragoza, se incorpora con una extensa carrera profesional, y los últimos años como asesor financiero en Mapfre Vida. También en Zaragoza, Emilio del Castillo se une al equipo desde PJ&MA Insure Capital, con experiencia en el sector financiero y asegurador, especializado en ventas y dirección de equipos comerciales. En Barcelona, Óscar Pancorbo se une tras su paso como director en Deutsche Bank, habiendo estado más de veinticinco años en la entidad. Finalmente, Miguel Hernández se incorpora en Salamanca, tras once años en Mapfre y con una amplia experiencia en banca privada.</p>

		<p>En lo que va de 2024, Singular Bank ha reforzado su equipo con la incorporación de 18 nuevos profesionales, entre banqueros y agentes, todos reconocidos por su experiencia y capacitación. Este esfuerzo tiene como objetivo responder a la creciente demanda de sus clientes por servicios de alta calidad y personalizados, en línea con el aumento de su actividad en esas áreas.</p>

		<p>Singular Bank ha sido una de las entidades que a lo largo de este año y en línea con el crecimiento del 2023, ha incrementado más significativamente su actividad, evidenciando su compromiso con la prestación de un servicio excepcional de calidad en cada vez más ciudades españolas. De este modo, la entidad continúa apostando por una sólida expansión territorial, reforzando su presencia en las oficinas existentes.</p>
		<p>Actualmente, la entidad cuenta con un equipo de más de 400 profesionales y una red de 17 oficinas ubicadas en Barcelona, La Coruña, Vigo, Las Palmas, Madrid, Málaga, Murcia, Sevilla, Valencia, Zaragoza, León y Bilbao.</p>
<p><strong>José Salgado, Director General de Singular Bank</strong>, ha destacado: <i>"Es muy positivo que, año tras año, continuemos incorporando talento a nuestro equipo. Esto refleja el compromiso de Singular Bank de ofrecer un servicio cercano y de alta calidad, asegurando que cada nueva oficina y cada profesional que se suma nos acerque aún más a nuestros clientes y a sus necesidades en todo el país”</i>.</p>

<h2>Banca privada española independiente líder</h2>


<p>Singular Bank ha jugado un papel dinamizador y protagonista en la transformación del sector en España, erigiéndose en los últimos años como la primera entidad de banca privada independiente líder, con unos activos bajo gestión de más de 13.420 millones de euros, con un capital humano y tecnológico de primer nivel y los mayores ratios de liquidez y solvencia de toda la banca española (CET 1: 20,66%, NSFR: 202,41% LCR: 323,85%. Datos a 30/06/2024).</p>
<p>La entidad, que cuenta con un modelo de servicio al cliente totalmente personalizado, ofrece una sólida combinación de soluciones de ahorro e inversión, asesoramiento y financiación que conforman una oferta única para sus clientes. </p>


        <h2>Sobre Singular Bank</h2>

<p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>


<p>Está conformado por un equipo de más de 400 profesionales, 17 oficinas (repartidas entre Madrid, Barcelona, Bilbao, La Coruña, Valencia, Málaga, Zaragoza, Murcia, Sevilla, León y Las Palmas) y más de 170 banqueros y agentes financieros que gestionan 13.420 millones de euros de patrimonio de clientes.</p>
<p>Adicionalmente cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 83.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</p>


		
      </div>
    </div>
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 