{% extends "_layouts/page.twig" %}
{% block page %}

<section class="p-mapa-web">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <h1>Mapa Web</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 col-xl-3 offset-xl-1">
        <h2>1. Quiénes somos</h2>
        <ul class="c-list">
          <li><a href="https://www.singularbank.es/" target="_blank">Singular Bank</a></li>
          <!--li><a href="/quienes-somos/#consejo-administracion">Consejo de Administración</a></li-->
          <li><a href="/quienes-somos/#equipo-directivo">Equipo Directivo</a></li>
		  <li><a href="/gobierno-corporativo/">Gobierno Corporativo</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <h2>2. Por qué Selfbank</h2>
        <ul class="c-list">
          <li><a href="/porque-singular-bank/#mision-vision">Misión y Visión</a></li>
          <li><a href="/#oferta-360">Oferta 360º</a></li>
          <li><a href="/porque-singular-bank/#seguridad">Seguridad y solvencia</a></li>
          <li><a href="/porque-singular-bank/#tecnologia">Tecnología y medios digitales</a></li>
          <li><a href="/porque-singular-bank/#valores">Nuestro Código</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <h2>3. Soluciones financieras</h2>
        <ul>
          <li><a href="/soluciones-financieras/#nuestros-servicios">Nuestros Servicios</a></li>
          <li><a href="/soluciones-financieras/#soluciones-financieras">Soluciones Financieras</a>
            <ul class="u-mb-base">
              <li>Productos de inversión</li>
              <li>Productos transaccionales</li>
              <li>Asesoramiento</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-xl-3 offset-xl-1">
        <h2>4. Su banquero</h2>
        <ul class="c-list">
          <li><a href="/su-banquero/#entender">Entender a nuestros clientes</a></li>
          <li><a href="/su-banquero/#modelo-relacion">Modelo de relación con el cliente</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <h2>5. Noticias y notas de prensa</h2>
        <ul>
          <li><a href="/noticias/">Noticias</a></li>
          <li><a href="/noticias/">Notas de prensa</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <h2>6. Oficinas y contacto</h2>
        <ul>
          <li><a href="/oficinas-y-contacto/">Oficinas y contacto</a></li>
          <li><a href="https://clientes.selfbank.es/conexion/asesoramiento" target="_blank">Área privada</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>


{% endblock %}
