<section class="c-banner c-banner__soluciones">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 offset-lg-1 col-xl-5 offset-xl-1">
        <h2>Por qué Singular Bank</h2>
        <p class="c-banner__text">¿Mi banco me ayuda, de verdad, a gestionar mis finanzas para conseguir mis objetivos y metas vitales? Le contamos nuestra propuesta de valor.</p>
        <a href="/porque-singular-bank/" class="c-button">Saber más</a>
      </div>
    </div>
  </div>
</section>
