<div class="c-iconbox">
  <a class="c-iconbox__link collapsed">
    <h3>Productos Bancarios y de Inversión</h3>
    <i>{{svgSprite('arrow')}}</i>
    <span class="c-iconbox__btn">{{svgSprite('plus')}}</span>
  </a>
</div>
