<div class="row u-mb-3">
  <div class="col-12 col-md-6 col-lg-4 c-photo-text">
    <div class="c-photo-text__content">
        <img data-src="/assets/images/modelos-servicio-1.jpg" class="w-100 lazyload u-mb-base" alt="Modelos de servicio: Usted" />
        <h3>Usted</h3>
        <p>Le ofrecemos la información y herramientas para que tome sus decisiones: <strong><a href="https://www.selfbank.es/" target="_blank">Plataforma Self</a></strong>.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 c-photo-text">
    <div class="c-photo-text__content">
        <img data-src="/assets/images/modelos-servicio-2.jpg" class="w-100 lazyload u-mb-base" alt="Modelos de servicio: Usted y nosotros" />
        <h3>Usted y nosotros</h3>
        <p>Le presentamos las ideas de inversión que creemos más adecuadas para sus objetivos pero usted toma la decisión: <strong>Asesoramiento</strong>.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 c-photo-text">
    <div class="c-photo-text__content">
        <img data-src="/assets/images/modelos-servicio-3.jpg" class="w-100 lazyload u-mb-base" alt="Modelos de servicio: Nosotros" />
        <h3>Nosotros</h3>
        <p>Tomamos las decisiones por usted en virtud de su mandato: <strong>Gestión discrecional de inversiones</strong>.</p>
    </div>
  </div>
</div>
