<div class="c-product__item">
  <p class="c-product__item__title">{{svgSprite('talk')}} Créditos Hipotecarios</p>
  <p class="c-product__item__desc">You’ll get information about your rider and directions to their location and destination. When the trip is over, you’ll receive another nearby request. And if you're ready to get off the road, you can sign off at any time.</p>
</div>
