<section class="u-mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        {% include "soluciones-financieras/iconbox-static.twig" %}
      </div>
      <div class="col-12 col-md-4">
        {% include "_includes/iconbox.twig" %}
      </div>
      <div class="col-12 col-md-4">
        {% include "soluciones-financieras/iconbox-static.twig" %}
      </div>
    </div>
  </div>

  <div class="c-product collapse" id="productOne">
    <div class="row no-gutters">
      <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
        <p class="c-product__title">Medios de pago y financiación</p>
        {% include "soluciones-financieras/product-item.twig" %}
        {% include "soluciones-financieras/product-item.twig" %}
        {% include "soluciones-financieras/product-item.twig" %}
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        {% include "soluciones-financieras/product-carousel.twig" %}
        <a href="#" class="c-product__link">Completa gama de<br /> productos y servicios</a>
      </div>
    </div>
  </div>

</section>
