<div class="row u-mb-3">
  <div class="col-12 col-md-6 col-lg-6 c-textbox">
    <div class="c-textbox__content">
      <h3>Productos de inversión</h3>
      <p><strong>Con arquitectura abierta: fondos de inversión, renta variable de distintos mercados, planes de pensiones…</strong></p>
      <p>No contamos con producto propio y seleccionamos aquellos que consideramos más adecuados a las necesidades de nuestro cliente.</p>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-6 c-textbox">
    <div class="c-textbox__content">
      <h3>Productos transaccionales</h3>
      <p><strong>Cuentas corrientes, cobros y pagos, gestión de domiciliaciones, tarjetas de crédito y débito…</strong></p>
      <p>Ofrecemos herramientas para la contabilidad doméstica y el control de las finanzas, para hacer más fácil el día a día.</p>
	  {# <p> <a title="Cuentas y tarjetas" href="/cuentas-y-tarjetas" >Comparar Servicios Singular</a></p> #}
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-6 c-textbox">
    <div class="c-textbox__content">
      <h3>Asesoramiento</h3>
      <p><strong>Asesoramiento para su patrimonio.</strong></p>
      <p>Le escuchamos y le proponemos las mejores soluciones para cada momento de su vida.</p>
    </div>
  </div>
  
  <div class="col-12 col-md-6 col-lg-6 c-textbox">
    <div class="c-textbox__content">
      <h3>Financiación</h3>
      <p><strong>Asesoramiento para financiación.</strong></p>
      <p>Analizamos su caso y le proponemos la opción de financiación que mejor se adecúa a sus necesidades en cuanto al plazo, tipo de interés y garantías.</p>
    </div>
  </div>
</div>
