{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero c-hero--trabaja-con-nosotros">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="c-hero__container">
          <h1>Trabaja <br>con nosotros</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="u-mb-4">
  <div class="container">
<h2><strong>Nuestras ofertas de empleo.</strong> <br> En estos momentos estamos cubriendo las siguientes posiciones:</h2>


<!--h2>En estos momentos no tenemos ninguna posición abierta en Singular Bank, pero le invitamos a que nos visite más adelante para consultar futuras ofertas de empleo.<br /> Gracias por su interés. </h2-->


    <div class="row u-mb-4">

     <!-- {% include "trabaja-con-nosotros/ofertas/banker-sevilla.twig" %}-->

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row u-mb-3">
      <div class="col-12 col-md-5 order-md-12 col-lg-7 col-xl-5 offset-xl-1 u-mb-1">
        <img data-src="/assets/images/gestion-de-talento.jpg" class="w-100 lazyload" alt="Gestión de talento"/>
      </div>
        <div class="col-12 col-md-7 col-lg-5 col-xl-6 c-textbox__content">


        <h3>Ser agente de Singular Bank</h3>

        <p>Nuestro objetivo es incorporar talento a nuestra entidad, que comparta nuestro código, centrado en el cliente, contando con los mejores expertos para conseguir los objetivos del cliente , y, con las mejores herramientas  tecnológicas.</p>


        <h4>¿Quieres ser Agente de Singular Bank?</h4>

        <p>Envía tu nombre, apellidos, teléfono, Curriculum a:
          <a href="mailto:informasingularbank@singularbank.es">informasingularbank@singularbank.es</a>
        </p>
      </div>
    </div>


    <div class="row u-mb-3">
      <div class="col-12">
  
        <h2>Política de gestión de talento</h2>
        <p>Singular Bank tiene una misión: <strong>ser el mejor banco privado de España</strong>. Y ello solo puede conseguirse con los mejores profesionales, que aporten a la entidad todo su talento, su experiencia y su potencial.</p>
        <p><strong>La prioridad de Singular Bank son sus clientes</strong>, por lo que todos nuestros empleados deben tener una clara vocación de servicio al cliente.</p>
        <p>Buscamos personas comprometidas, perfeccionistas en su trabajo, firmes convencidos de que todos los días se puede aprender algo y que las cosas siempre se pueden hacer mejor.</p>
        <p>Si te sientes identificado con estos valores, te invitamos a que formes parte de Singular Bank.</p>
        <ul>
          <li>
            <a href="/doc/legal/GRPD/RGDPempleadoSingular.pdf" target="_blank">Política de Privacidad Empleados</a></li>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>


{% include "_includes/ctabox.twig" %}


{% endblock %}
