<div class="col-12 col-md-6 col-lg-4 c-textbox">
  <div class="c-textbox__content">
    <h3>Nombre de oferta de empleo</h3>
    <p class="c-localizacion">{{svgSprite('localizacion-rojo')}} <strong>Barcelona, España</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
    <a href="#" target="_blank" class="c-button">Ver oferta en Linkedin</a>
  </div>
</div>
