{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero c-hero--quienes-somos">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-11">
        <div class="c-hero__container">
          <h1>Un banco centrado en ayudarle a definir y alcanzar sus objetivos vitales, guiándole en la gestión de sus finanzas.</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="warburg-pincus">
  <div class="container">
    <div class="row u-mb-3">
      <div class="col-12 col-lg-7 col-xl-8">
        <h2>Un banco español, sólido y experimentado</h2>
        <p>Singular Bank es la combinación de:</p>
        <ul class="u-mb-base">
          <li>un accionista comprometido: Warburg Pincus</li>
          <li>un Consejo de Administración compuesto por destacados profesionales</li>
          <li>un equipo directivo con una sólida y extensa trayectoria</li>
          <li>un banco puntero tecnológicamente, con un equipo especializado y dedicado al cliente</li>
        </ul>
        <p><strong>Warburg Pincus es un grupo inversor líder a nivel mundial</strong>, creado en 1966 y con presencia en más de 40 países, con <strong>más de 55 años de experiencia</strong> en servicios financieros. Gestiona más de (USD) 81.000 millones en activos y cuenta con una cartera activa que incluye más de 1.000 empresas cotizadas y privadas, en las que ha probado su compromiso de permanencia.</p>
        <p>Su equipo directivo cuenta con una amplia trayectoria en el sector financiero y en importantes bancos españoles e internacionales y suman entre todos más de 100 años de experiencia profesional en banca comercial, corporativa y privada. Todos han ocupado puestos de responsabilidad en entidades de crédito bajo la supervisión directa del Banco de España y otros organismos extranjeros.</p>
        

        <div class="datos-destacaddos_block c-callbox">

        <h2>Principales ratios financieros <span>(31/12/2025)</span></h2>
          <div class="datos-destacados">
            <div class="datos-destacados_item">
              <span class="num-destacado">17,52%</span>
              <span class="codigo">CET 1
                <sup>1</sup>
              </span>
            </div>

            <div class="datos-destacados_item">
              <span class="num-destacado">143,28%</span>
              <span class="codigo">LCR
                <sup>2</sup>
              </span>
            </div>

            <div class="datos-destacados_item">
              <span class="num-destacado">150,81%</span>
              <span class="codigo">NSFR
                <sup>3</sup>
              </span>
            </div>
          </div>

          <div class="datos-destacados_txt">
            <p><sup>1</sup>Ratio de capital</p>
            <p><sup>2</sup>Ratio de liquidez resultado de dividir el total de activos líquidos por las obligaciones de pago a corto plazo </p>
            <p><sup>3</sup>Coeficiente de financiación estable neta es el cociente entre la cantidad de financiación estable disponible y la cantidad de financiación estable requerida</p>

            {#<p class="u-txt-center u-mt-2 ">

                        <a href="/noto-prensa/" class="c-button">Nota de prensa de resultados</a>
            </p>#}

          </div> 

        </div>
      </div>



      <div class="col-12 col-lg-4 offset-lg-1 col-xl-3">
        {% include "_includes/callbox.twig" %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="u-ancla" id="consejo-administracion">Consejo de Administración</h2>
    <div class="row u-mb-4">
      <div class="col-12 col-md-4">
        <div class="c-persona">{% include "quienes-somos/personas/javier-vega.twig" %}</div>
      </div>
      <div class="col-12 col-md-4">
        <div class="c-persona">{% include "quienes-somos/personas/javier-marin.twig" %}</div>
      </div>
    </div>

    <h2 class="u-ancla" id="consejo-administracion">Secretaria General y del Consejo</h2>
    <div class="row u-mb-4">
      <div class="col-12 col-md-4">
        <div class="c-persona">{% include "quienes-somos/personas/curra-munuera.twig" %}</div>
      </div>
    </div>

    <h2 class="u-ancla" id="vocales-independientes">Vocales independientes</h2>
    <div class="row u-mb-3">
      <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/ranieri-marchis.twig" %}</div>
      </div>
      <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/miguel-temboury.twig" %}</div>
      </div>
      <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/david-bellamy.twig" %}</div>
      </div>
<div class="col-12 col-md-4">
	<div class="c-persona c-persona--half">{% include "quienes-somos/personas/dolores-ybarra.twig" %}</div>
</div>

	 
    </div>
    <h2 class="u-ancla" id="vocales-dominicales">Vocales dominicales</h2>
    <div class="row u-mb-3">
      <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/richar-laxer.twig" %}</div>
      </div>
      <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/peter-deming.twig" %}</div>
      </div>
      <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/nevio-duci.twig" %}</div>
      </div>
    </div>
    <h2 class="u-ancla" id="equipo-directivo">Equipo directivo</h2>
    <div class="row u-mb-3">
      <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/javier-marin.twig" %}</div>
      </div>
      <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/jose-salgado.twig" %}</div>
      </div>
	  <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/luis-moreno.twig" %}</div>
      </div>
      <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/ruben-andres.twig" %}</div>
      </div>
	  <div class="col-12 col-md-4">
        <div class="c-persona c-persona--half">{% include "quienes-somos/personas/carlos-perez.twig" %}</div>
      </div>
<div class="col-12 col-md-4">
	<div class="c-persona c-persona--half">{% include "quienes-somos/personas/sergio-redruello.twig" %}</div>
</div>

    </div>
  </div>
</section>


<!--section class="c-background">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-8">
        <h2>Gobierno Corporativo</h2>
        <p>The Company is committed to promoting the highest standards of ethics and integrity in the pursuit of all of its activities. The directors, officers and employees of the Company are expected to act and to hold their office within the best interests of the Company. The Company expects that all directors act in compliance with all laws and regulations applicable to their office.</p>
        <p>The Leadership team has adopted a Code of Business Conduct and Ethics for Directors, which provides guidelines to ensure that all directors of the Company respect its commitment to conduct business relationships with the highest standards of ethical conduct. A copy of the Code of Business Conduct and Ethics for Directors is available upon request from the Company’s Secretary.</p>
        <p>The Leadership team is responsible for monitoring compliance with the Code of Business Conduct and Ethics for Directors. The Chief Financial Officer, Chief Executive Officer and Audit Committee are each responsible for reporting to the Leadership team any failure to comply with the Code of Business Conduct and Ethics for Directors, and the Board has the ultimate responsibility for addressing such failures.</p>
      </div>
      <div class="col-12 col-xl-3 offset-xl-1">
        {% include "_includes/download.twig" %}
      </div>
    </div>
  </div>
</section-->

{% include "_includes/ctabox.twig" %}


{% endblock %}
