{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>

<h1 class="c-news__title">Singular Bank continúa su crecimiento en España con la apertura de una nueva oficina en Bilbao</h1>
<h3>Prestará servicio a todo el País Vasco, un enclave estratégico para la entidad.</h3>


 <p>Con esta apertura, Singular Bank está ya presente en 11 ciudades españolas, con una red de 16 oficinas que gestionan un total de 13.000 millones de euros de patrimonio bajo gestión. </p>

<p>La oficina estará dirigida por Tania Louazo Uribe y contará con Antón Rotaeche-Arbolancha Albizua y Charo González Miñón en su equipo, al que seguirán incorporándose nuevos banqueros. </p>

<p>La entidad ofrecerá un servicio integral de banca privada que, en consonancia con su capacidad de adaptar las estrategias globales a las peculiaridades locales, permitirá adaptarse a las necesidades concretas que cada cliente pueda tener en el territorio, para ayudarle a definir y alcanzar sus objetivos vitales a través de sus finanzas.</p>


      <p class="c-news__fecha">Madrid, 30 de mayo de 2023</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
    <p> Singular Bank, en línea con su estrategia de crecimiento y vocación de servicio hacia sus clientes, anuncia hoy la apertura de su nueva oficina en Bilbao. Con esta apertura, la entidad amplia su presencia en el mercado español, presente en 11 ciudades a través de 16 oficinas que gestionan un total de 13.000 millones de euros de patrimonio bajo gestión.</p> 

<p>
	La oficina, situada en la calle Ercilla, cuyas obras tienen previsto finalizar este mes de junio, se implanta con el objetivo de atender las necesidades financieras de los clientes del banco en todo el País Vasco, un enclave estratégico para la entidad al ser un territorio con un destacado papel en el ámbito económico y financiero, respaldado por una sólida industria y una gran presencia de empresas innovadoras y emprendedores. La relevancia del País Vasco como centro financiero y su sólida trayectoria en el desarrollo de negocios y proyectos de inversión, proporciona a Singular Bank una base de clientes potenciales con perfiles y necesidades particulares en términos de gestión patrimonial y asesoramiento financiero.
</p>


<p>
	Tania Louazo Uribe dirigirá la nueva oficina y contará con Antón Rotaeche-Arbolancha Albizua y Charo González Miñón en el equipo, actualmente en fase de crecimiento, ya que continuará incorporando a nuevos banqueros en los próximos meses para seguir impulsando la presencia de la entidad en el territorio.
</p>


<p>
	Con más de dos décadas de trayectoria en el sector, su profundo conocimiento del mercado en el País Vasco y su sólida formación, el trio de banqueros aporta un valioso conjunto de habilidades y conocimientos que permiten reforzar la cartera de servicios de Singular Bank y apoyar a la entidad en su estrategia orgánica de crecimiento en España.
</p>


<p>
	Tania Louazo, licenciada en Ciencias Económicas y Empresariales por la Universidad del País Vasco y con máster en Banca y Mercados Financieros de la Universidad de Cantabria, tiene más de 23 años de experiencia en el ámbito de los mercados financieros y posiciones gerenciales en Banca Privada en el País Vasco, desde Bilbao. Ha participado en programas de desarrollo directivo, como el Programa Superior de Desarrollo Directivo (PDD) de la IE Business School y ha completado el programa I Edition Senior Executive Private Banking Programme en la London School of Economics and Political Science (LSE).
</p>


<p>
	Charo González, licenciada en Derecho de la Universidad de Burgos y con una amplia experiencia en el sector financiero, ha desarrollado su carrera los últimos 21 años en banca privada en el País Vasco.
</p>


<p>
	Por su parte, Antón Rotaeche-Arbolancha, licenciado en Derecho y con un máster en Asesoría fiscal, ambos de la universidad de Deusto, se une al equipo de Singular Bank, tras más de veinte años de experiencia como Banquero Privado Senior en el País Vasco.
</p>


<p><strong>José Salgado, director general de Singular Bank</strong> ha destacado que: <i>“nos sentimos sumamente orgullosos y entusiasmados por la apertura de la nueva oficina de Singular Bank en Bilbao, un enclave de carácter estratégico para el banco que nos permite crecer y fortalecer nuestra presencia en el mercado español. </i></p>

<p><i>Asimismo, la incorporación al equipo de Tania, Antón y Charo, refuerza nuestro compromiso por brindar el mejor asesoramiento financiero, totalmente personalizado, a nuestros clientes. Nuestro objetivo ahora es seguir creciendo y consolidar un equipo sólido y altamente experimentado sobre el terreno para crecer de manera sostenible y convertir a Singular Bank en un referente en el País Vasco”.</i>

<p>La entidad refrenda con este hito su hoja de ruta, mediante la cual busca reforzar su estrategia de crecimiento orgánico, con el impulso de nuevos servicios y la entrada en nuevos mercados, que aporten sentido estratégico y económico al grupo y que estén alineados con sus valores centrados en el cliente. </p>

<p>Actualmente, Singular Bank se erige como la mayor banca privada independiente del mercado español. La entidad cuenta con un patrimonio bajo gestión de 13.000 millones de euros, un equipo de casi 400 profesionales y una red de 16 oficinas, ubicadas en Barcelona, La Coruña, Las Palmas, Madrid, Málaga, Murcia, Sevilla, Valencia, Zaragoza, León y Bilbao.  </p> 
     
</p>

<h2>Sobre Singular Bank</h2>
<p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>
<p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 80.000 millones de dólares y más de 55 años de experiencia. Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.
Con tan solo tres años de trayectoria, la entidad ha sido galardonada en 2023 como “Mejor entidad en Transformación en Banca Privada de España” y “Mejor Banca Privada de España para la Inversión Sostenible” por la prestigiosa revista Euromoney. </p>



        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 