{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>

<h1 class="c-news__title">Singular Bank nombra a Marta Raga, Directora General – Consejera de Singular Asset Management SGIIC</h1>



<ul>
  <li>
<p>El Consejo de Administración de Singular Asset Management SGIIC con fecha 29 de septiembre de 2023, ha acordado el nombramiento de Marta Raga como Directora General – Consejera de Singular Asset Management SGIIC</p>


  </li>
  <li>
<p>El nombramiento de Marta Raga, con más de 29 años de experiencia en el sector y de los cuales los últimos 4 han sido en Singular Bank construyendo la estrategia de Gestión Discrecional de Carteras, pone de manifiesto la apuesta de la entidad por promocionar el talento interno</p>


  </li>

  <li>
<p>Trabajará activamente con Luciano Diez-Canedo, Presidente de Singular Asset Management, con el objetivo de seguir desarrollando y consolidando la firma, erigida como una de las gestoras de mayor crecimiento en España</p>


  </li>
<li>
<p>En su compromiso por la promoción del talento interno, Singular Bank ha nombrado a Fátima Parreño, Directora de Gestión Discrecional de Carteras Multiactivos y a Francisco Javier Toribio, Director de Gestión Discrecional de Carteras de Fondos de Inversión, reportando directamente los dos a Marta Raga. Ambos profesionales cuentan con una dilatada carrera profesional en la gestión de inversiones y un profundo conocimiento del sector</p>

</li>

</ul>


      <p class="c-news__fecha">Madrid, 05 de octubre de 2023</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
<p>Singular Bank ha nombrado a Marta Raga, Directora General – Consejera de su unidad de gestión de activos, Singular Asset Management SGIIC. Este nombramiento se produce tras la decisión personal por parte de Gabriel Álvarez de Toledo de afrontar nuevos retos profesionales. El nombramiento de Marta Raga contribuye a seguir potenciando y consolidando la senda de crecimiento de Singular Asset Management SGIIC, dada su amplia trayectoria profesional y conocimiento del mercado. Marta es actualmente Consejera de Singular Asset Management SGIIC.</p>

<p>Esta decisión se enmarca en el compromiso de Singular AM de seguir consolidando y desarrollando la entidad para ofrecer un amplio universo de atractivas soluciones de inversión a sus clientes, adaptándose de manera constante a sus necesidades específicas y a las características del mercado.  Esta filosofía es la que ha llevado a la entidad a ser recientemente galardonada como "Mejor gestora de España 2023" en los premios European Funds Trophy, gracias a la excelencia en la gestión de sus activos.
</p>


<p>Con más de 29 años de experiencia en la gestión de activos, Marta Raga se incorporó a Singular Bank en marzo de 2020 como Directora de Gestión Discrecional de Carteras y desde donde ha diseñado, implementado y desarrollado exitosamente la estrategia de este servicio de inversión. </p>

<p>Asimismo, Fátima Parreño ha sido nombrada Directora de Gestión Discrecional de Carteras Multiactivos y Francisco Javier Toribio, ha sido nombrado Director de Gestión Discrecional de Carteras de Fondos de Inversión, quienes reportarán directamente a Marta Raga. </p>

<p>Ambos profesionales cuentan con una dilatada carrera profesional en la gestión de inversiones y un profundo conocimiento del sector. Fátima Parreño, que cuenta con una trayectoria en gestión de más de 25 años en la gestión de carteras y sicavs, se incorporó a Singular Bank en junio de 2021 procedente de Santander Banca Privada. Por su parte, Francisco Javier Toribio cuenta con una trayectoria profesional de más de 18 años y se incorporó a Singular Bank en septiembre de 2022 procedente de la integración de Singular Bank con UBS España.
 </p>

<p>Marta Raga ha destacado que: <i>“Para mí es un orgullo asumir este nuevo rol y me siento profundamente agradecida a Singular Bank por la oportunidad y por su decidida apuesta por impulsar el talento interno. En Singular AM contamos con un extraordinario equipo y nuestro objetivo es ofrecer a nuestros clientes la mejor oferta de productos y servicios financieros para atender sus necesidades. Espero seguir contribuyendo con mi experiencia y mis capacidades al éxito de esta entidad"</i>.</p>

<h2>Sobre Singular Asset Management</h2>

<p>Singular Asset Management es una gestora de instituciones de inversión colectiva, regulada por la CNMV y perteneciente al grupo Singular Bank. Nuestros productos se basan en las decisiones independientes de los distintos equipos de gestores y analistas, el rigor a la hora de seguir las políticas de inversión y la dilatada experiencia de los profesionales que forman la gestora. Nuestras soluciones de inversión buscan aportar un valor diferencial a las carteras de los inversores ya sea por la solidez de su trayectoria o por contar con una estrategia novedosa. </p>
<p>El trabajo constante de la entidad le ha llevado a ser recientemente galardonada como "Mejor gestora de España 2023" en los premios European Funds Trophy, gracias a la excelencia en la gestión de sus activos.</p>

<h2>Sobre Singular Bank</h2>
<p><i>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.</p>
<p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 83.000 millones de dólares y más de 55 años de experiencia. Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</p>
<p>Con tan solo tres años de trayectoria, la entidad ha sido galardonada en 2023 como “Mejor entidad en Transformación en Banca Privada de España” y “Mejor Banca Privada de España para la Inversión Sostenible” por la prestigiosa revista Euromoney. </i></p>




        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 