{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <h1 class="c-news__title">Singular Bank culmina la adquisición de Belgravia Capital SGIIC SA</h1>
        <p class="c-news__fecha">Madrid, 23 de marzo de 2021</p>
		<p class="c-news__entradilla"><strong>La operación, anunciada en octubre de 2020, queda plenamente formalizada tras cumplir con los trámites regulatorios</strong></p>
		<p class="c-news__entradilla"><strong>La gestora pasará a denominarse Singular Asset Management</strong></p>
		<p class="c-news__entradilla"><strong>Los fondos Belgravia seguirán siendo gestionados por el equipo de inversión liderado por Carlos Cerezo</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
        <p>Singular Bank, el primer banco privado independiente de España, llevaba a cabo en octubre de 2020 su segunda operación corporativa en el mercado español, la adquisición de Belgravia Capital SGIIC SA. Esta adquisición, condicionada a la no oposición por parte de la CNMV, se ha formalizado, de modo que la gestora ya forma parte del grupo Singular Bank y pasará a denominarse Singular Asset Management SGIIC SA.</p>
        <p>El equipo de inversión, liderado por Carlos Cerezo, seguirá contando con el actual conjunto de gestores y analistas, conservando los principios de inversión e independencia de la gestora. Dentro de sus productos destacados se encuentra Belgravia Epsilon FI, un fondo de retorno absoluto creado en 1999, que acumula una rentabilidad desde su inicio de un 370%, sacándole una ventaja al índice Stoxx 600 de 235 puntos porcentuales. Su cartera de productos, dos fondos de inversión españoles, tres subfondos luxemburgueses y un plan de pensiones asesorado mantendrán su marca Belgravia.</p>
        <p>La formalización de la adquisición permitirá a Singular Bank completar su oferta de servicios y disponer de nuevos recursos con un alto nivel de especialización, que ayudarán a la entidad a ofrecer soluciones de calidad, para que sus clientes alcancen sus objetivos financieros. Para ello Singular Asset Management incorporará nuevos profesionales y contará con otras gamas de productos como los fondos por perfiles de riesgo Singular Multiactivos, hasta la fecha asesorados por Singular Bank.</p>
        <p>“Como dijimos en la presentación de la nueva marca, nuestra estrategia se fundamenta en el crecimiento orgánico, pero estudiaremos cualquier oportunidad no orgánica que tenga sentido estratégico y financiero para el Banco”, explican desde la entidad. “La independencia, el rigor, la transparencia o la excelencia son valores que compartimos con Belgravia, lo que consideramos esencial para un buen encaje de los equipos”.</p>
		
		<h2>Sobre Singular Bank</h2>
		  <p>Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio.</p>
		  <p>Cuenta con una oferta independiente, libre de conflictos de interés y dispone de una amplia variedad de productos y servicios.</p>
		  <p>Cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, y pone a disposición de sus clientes sus más de 25 años de experiencia como expertos en banca, ahorro e inversión.</p>
         
        
      </div>
    </div>
    
   <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </p>
          <p>Eolo Comunicación </p>
          <p>91 241 69 96</p>
          <p><a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></p>
          <p><a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></p>
        </div>
      </div>
   
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 