{% extends "_layouts/sicav.twig" %}

{% block page %}
	<section class="p-noticia--hero">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<a href="/singular-wealth-management/index.html#sicav" class="c-news__breadcrumbs">Listado SICAV</a>
					<span class="c-news__category">Mosefra SICAV S.A.</span>

					<h1 class="c-news__title">Mosefra SICAV S.A.</h1>
					<p class="c-news__fecha">Documentación</p>

						<ul>
							<li>
								<a href="/doc/legal/sicav/Mosefra/Folleto.pdf" target="_self">Folleto</a>
							</li>
							<li>
								<a href="/doc/legal/sicav/Mosefra/KID.pdf" target="_self">KID</a>
							</li>
							<li>
								<a href="/doc/legal/sicav/Mosefra/2S2022.pdf" target="_self">Segundo Semestral 2022</a>
							</li>
							<li>
								<a href="/doc/legal/sicav/Mosefra/3T2022.pdf" target="_self">Tercer Trimestral 2022</a>
							</li>
							<li>
								<a href="/doc/legal/sicav/Mosefra/CCAA2021.pdf" target="_self">CCAA 2021</a>
							</li>
						</ul>
				</div>
			</div>
	




		</div>
	</section>
	{% include "_includes/ctabox.twig" %}

{% endblock %}
