{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-3">
        <p class="c-news__antetitle">Acuerdo Singular Bank con UBS</p>
        <h1 class="c-news__title">Comunicación a clientes de UBS</h1>
        <p class="c-news__fecha">18 de Enero 2022</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3 u-mb-2">
        <img class="w-100 h-auto" src="/assets/images/javier-marin-romano.jpg" alt=""/>
      </div>

      <div class="col-12 col-lg-8">
          <p>Bienvenido a Singular Bank</p>
          <p>Hacer una banca privada a medida de cada cliente no es sencillo. Distintas personas, distintos objetivos y distintas expectativas. Por eso todo el banco tiene que estar centrado en nuestros clientes, y con el respaldo de ser la entidad de banca privada con la mayor solvencia y la mayor ratio de liquidez de Europa.</p>
          <p>Le ofrecemos soluciones de inversión, financiación y servicios de asesoramiento, que le permitirán alcanzar sus objetivos. Además, gracias al acuerdo de colaboración que hemos desarrollado pensando en nuestros clientes y, por supuesto, en usted, ampliamos nuestra oferta con las capacidades de análisis, ideas temáticas y productos del Grupo UBS.  Somos un banco en el que la tecnología está al servicio de nuestros clientes y banqueros, un banco ágil. Sin burocracia, sin papeles.</p>
          <p>Un banco con un equipo experimentado a su servicio y que se verá reforzado con la incorporación del equipo de UBS en los próximos meses.</p>
          <p>Quiero invitarle a conocernos mejor pulsando el siguiente botón, para poder presentarle la nueva banca privada de la que será usted cliente.</p>
          <p>Confío en poder conocerle personalmente en los próximos meses y, si necesitara cualquier información adicional, no dude en ponerse en contacto conmigo en el mail javier.marin@singularbank.es</p>
          <p>Reciba un cordial saludo</p>

          <p class="c-news__firma">
            <strong>Javier Marín Romano</strong>
            <strong>Consejero Delegado</strong>
          </p>

          <p class="c-news__botonera">

{#            <a href="/doc/legal/gob-corp/politica-de-gobernanza-de-producto.pdf" target="_blank" class="c-button" title="Ver presentacion en PDF">Presentación</a>#}
            <a href="/doc/comunicados/acuerdo-singular-bank-con-ubs.pdf" target="_blank" class="c-button" title="Ver presentacion en PDF">La nueva Banca Privada</a>
          </p>

        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 
