{% extends "_layouts/news.twig" %}
{% block page %}
<section class="p-noticia--hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2"> <a href="/noticias/" class="c-news__breadcrumbs">Noticias</a> <span class="c-news__category">Nota de prensa</span>
        <p>La entidad presenta su informe de Perspectivas macroeconómicas y financieras “2023. Un año de nuevos paradigmas”</p>


        <h1 class="c-news__title">Singular Bank considera que el crecimiento global no superará el 1,5% en 2023 y recomienda sobreponderar los bonos corporativos frente a la renta variable</h1>

        <ul>
          <li>El banco prevé que la coyuntura económica a nivel mundial estará marcada por la desaceleración del crecimiento ante la persistencia de las elevadas tasas de inflación, el endurecimiento de las condiciones financieras, la erosión de la renta disponible de los hogares y de los beneficios empresariales y la ralentización del comercio</li>

            <li>	En el escenario actual, la entidad recomienda invertir de manera diferente de cara a los primeros meses del año, infraponderando la renta variable y aumentando la exposición a aquellos sectores más beneficiados por la subida de tipos de interés y con poder de fijación de precios, como son el energético, materias primas, salud o financiero.</li>

            <li>Singular Bank destaca el mayor atractivo y la mejor relación del binomio rentabilidad-riesgo del crédito corporativo, un activo que ya descuenta una crisis más prolongada o profunda que los múltiplos bursátiles</li>

            <li>Pronostica además que el avance del PIB global podría ser inferior a un 1,5% anual, lastrado por la recesión en EE.UU, la Eurozona y Reino Unido, y el menor dinamismo de la economía china y del resto de países emergentes </li>
        </ul>


      <p class="c-news__fecha">Madrid, 15 de diciembre de 2022</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
		  
      <p>Singular Bank ha presentado su informe de perspectivas macroeconómicas económicas y financieras 2023. En el mismo, la entidad analiza el contexto económico y geopolítico actual y expone sus recomendaciones de inversión para el próximo ejercicio. El informe lleva por título “2023. Un año de nuevos paradigmas”, un ejercicio en el que el punto de partida es una sociedad inmersa en un escenario de crisis múltiple ante la persistencia de los elevados niveles de inflación, la guerra en Ucrania, la crisis energética y alimenticia, el endurecimiento de la política monetaria y la difícil coyuntura económica de China.</p>

      <p>Para el equipo de estrategia macroeconómica de Singular Bank, tanto la pandemia como la invasión rusa de Ucrania han supuesto un punto de inflexión en la historia más reciente, y ambos acontecimientos han abierto incógnitas sobre la configuración del nuevo orden mundial y, por tanto, sobre la senda que tomará la economía global en los próximos años. Bajo este complejo contexto, el escenario base de la entidad prevé que el crecimiento del PIB mundial pueda ser en 2023 inferior al 1,5%, lastrado por la recesión en EE.UU., la Eurozona y el Reino Unido, así como por el menor dinamismo de la economía china y del resto de países emergentes.</p>
      <p>Los factores de dicha desaceleración en el crecimiento global hay que buscarlos en la persistencia de elevadas tasas de inflación, el endurecimiento de las condiciones financieras por parte de los bancos centrales, la erosión de la renta disponible de los hogares, el estancamiento de los beneficios empresariales y la ralentización generalizada del comercio mundial. Respecto a la inflación, las previsiones apuntan a una mayor moderación en EE.UU., explicada en su menor exposición a la crisis energética, y el mayor endurecimiento de la política monetaria y su impacto en la economía real. En el caso de Europa, la inflación se mantendrá en niveles elevados debido a la persistencia de la crisis energética en 2023, si bien con un patrón heterogéneo entre los Estados miembros.</p>

      <p>Otra de las consecuencias de la pandemia y de la invasión rusa de Ucrania ha sido la aceleración del protagonismo de algunas macrotendencias. En este sentido, han adquirido un nuevo impulso las llamadas FAANG 2.0 (empresas de los sectores de Combustible, Aeroespacial & Defensa, Agricultura, Nuclear & Renovables, Oro & Minerales & Metales, todo ello por su acrónimo en inglés), como evolución de las FAANG de primera generación (Facebook, Apple, Amazon, Netflix y Google. Asimismo, se han acelerado las llamadas 5 Ds: digitalización, descarbonización, demografía, desglobalización y desconfiguración el orden internacional.</p>



      

        <h2>Estrategia de inversión</h2>

<p>Ante este nuevo escenario global, el equipo de estrategia de Singular Bank considera que la estrategia de inversión en 2023 pasa por la infraponderación de la renta variable frente a los bonos, sobre todo en los primeros meses del año. Esto se debe a que las subidas de las tasas de interés mejoran el atractivo de la renta fija y deprimen las valoraciones de las compañías, afectadas por el débil crecimiento económico y de los beneficios. La rentabilidad de la renta fija corporativa, por su parte, ya incorporan en sus valoraciones el ciclo de subidas de los tipos. En este sentido, la recomendación de Singular Bank es invertir la liquidez en activos monetarios con plazos de vencimiento entre los 6 y los 18 meses.</p>
<p>El informe destaca que el crédito corporativo tiene la mejor relación del binomio rentabilidad-riesgo, ya que los diferenciales crediticios son elevados y ya descuentan una crisis más prolongada o profunda que los múltiplos bursátiles actuales. Además de esto, los balances empresariales y familiares son, en general, más robustos que en crisis anteriores, por lo que la morosidad debería de mantenerse contenida. Siguiendo esta línea, la recomendación de inversión debería centrarse en bonos corporativos con grado de inversión en plazos intermedios, deuda bancaria senior en plazos cortos e intermedios y bonos high yield (preferentemente en plazos cortos y con el dólar estadounidense cubierto).</p>
<p>En cuanto a la renta variable, Singular Bank incentiva a aprovechar tácticamente los rangos en las bolsas. Los múltiplos bursátiles han vuelto a niveles exigentes si se aplican los beneficios resultantes de los modelos macroeconómicos, por lo que el equipo de la entidad ve probable que en los primeros meses de 2023 los grandes índices oscilen dentro del rango reciente. Ante esto, el inversor debe llevar a cabo movimientos tácticos, en los niveles de exposición y en la composición geográfica, sectorial y temática.</p>
<p>Asimismo, el equipo de expertos de la entidad considera que, sin perjuicio de que la exposición agregada a la renta variable sea cauta, pueden surgir oportunidades de inversión sectoriales y temáticas por las que podría desarrollarse una apuesta inversora más agresiva, buscando general “alpha” respecto a los índices.  Así, el inversor debe centrarse a los sectores beneficiados por las subidas de tipos de interés y por el aumento del coste de la energía, y a negocios con poder de fijación de precios como son los de energía, salud y financiero. También en empresas que paguen dividendos altos y sostenibles o que hagan inversiones estructurales en megatendencias.</p>
<p>Por último, Singular Bank considera que las inversiones en energía y otras materias primas seguirán siendo protagonistas, debido al precario equilibrio oferta-demanda y a que la perspectiva de crisis energética y alimentaria prolongadas sostendrán los precios en niveles cercanos a los actuales. Por ejemplo, el petróleo debería de mantenerse por encima de 80 dólares el barril, por la oferta limitada y la recuperación de la demanda tras el final de la pandemia. El oro, por su parte, seguirá bajo presión conforme aumenta el coste de oportunidad con las alzas de tipos. En este aspecto, el inversor debería centrar su objetivo en una cesta diversificada de materias primas, además de tener una exposición directa e indirecta al petróleo y el gas natural.</p>

<p><strong>Alicia Coronil, Economista Jefe de Singular Bank </strong>señaló que: “Las perspectivas económicas proyectan actualmente una recesión moderada tanto en EEUU y en la Eurozona en 2023, que irá acompañada de una moderación de las tasas de inflación más significativa en el caso de la economía estadounidense. Un escenario marcado por una elevada volatilidad ante la policrisis global, siendo clave a medio y largo plazo cómo se adapta la economía real y el acierto de la política económica ante la nueva era socioeconómica y geopolítica que se abre.”</p>

<p><strong>Roberto Scholtes, Jefe de Estrategia de Singular Bank</strong> dijo: “Los mercados se pueden estar precipitando al descontar recortes de tipos ya en 2023, por lo que prevemos un repunte moderado de las curvas de deuda en los próximos meses.”</p>
<h2>Sobre Singular Bank</h2>

<p>
Singular Bank es un banco español, sólido y experimentado, que busca ayudar a sus clientes a definir y alcanzar sus objetivos vitales a través de sus finanzas, ofreciendo a cada uno de ellos herramientas y soluciones adecuadas a sus necesidades y expectativas, a través de distintos modelos de servicio, libre de conflictos de interés y con una amplia variedad de productos y servicios.
Está conformado por un equipo de más de 350 profesionales, 15 oficinas (repartidas entre Madrid, Barcelona, La Coruña, Valencia, Málaga, Zaragoza, Murcia, Sevilla, León y Las Palmas) y más de 170 banqueros y agentes financieros que gestionan 15.000 millones de Euros de patrimonio de clientes.
Adicionalmente cuenta con el apoyo de un grupo inversor líder a nivel mundial, Warburg Pincus, con un patrimonio gestionado de más de 85.000 millones de dólares y más de 55 años de experiencia Se centra exclusivamente en la inversión en crecimiento y tiene una reconocida experiencia en inversiones en Europa.</p>


		 
        <!----> 
      </div>
    </div>
    
    <!--    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-2">
        <div class="c-news__author">
          <p><strong>Para mayor información</strong></p>
          <p>Gabinete de prensa </br>
          Eolo Comunicación </br>
          91 241 69 96</p>
          <a href="mailto:alicia@eolocomunicacion.com">alicia@eolocomunicacion.com</a></br>
          <a href="mailto:sara@eolocomunicacion.com">sara@eolocomunicacion.com</a></br>
        </div>
      </div>
    </div>--> 
    
  </div>
</section>
{% include "_includes/ctabox.twig" %}

{% endblock %} 