{% extends "_layouts/page.twig" %}
{% block page %}
<section class="p-basica">
  <div class="container">
    <div class="row u-mt-3">
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
	  <h1>Protección de datos</h1>
        <p>A continuación exponemos la política sobre el tratamiento de datos personales que se realiza en Singular Bank.</p>
        
        <h2>Alcance de la política de protección de datos</h2>
        <p>La presente política sobre el tratamiento de datos personales será aplicable a los usuarios de la web de Singular Bank .S.A.U., así como todas aquellas personas físicas que faciliten sus datos personales a Singular Bank. S.A.U. a través de las vías habilitadas para ello, a saber: página web, teléfono, correo postal, correo electrónico o en la oficina.</p>
        <p>Si usted navega por la página web, entendemos que acepta su uso. Sin embargo, recomendamos que lea atentamente nuestra <a href="/politica-cookies/" title="Política de cookies">Política de cookies</a> para tener información detallada sobre las cookies que emplea el presente sitio web, las finalidades de su uso, así como el modo de oponerse o revocar su consentimiento al uso de las mismas.</p>
        <h2>Identidad del Responsable del Tratamiento</h2>
        <p>El responsable del tratamiento de los datos personales del usuario es Singular Bank S.A.U., con domicilio en C/ Goya 11, 28001- Madrid. Entidad de crédito sujeta a la supervisión del Banco de España e inscrito en el Registro de Entidades de Crédito Nacionales del Banco de España con el número 1490. CIF A85597821, inscrita en el Registro Mercantil de Madrid, tomo 26409, folio 1, sección 8º, hoja M 475925.</p>
        <p><strong>Identidad del Delegado de Protección de Datos:</strong> Puede ponerse en contacto con nuestro Delegado de Protección de Datos a través de la siguiente dirección: <a href="mailto:lopd@singularbank.es">lopd@singularbank.es</a></p>
        <h2>Finalidades del tratamiento de los datos personales, base legitimadora y periodos de conservación de la información</h2>
        <p>A continuación indicamos las distintas finalidades previstas para los datos de carácter personal facilitados a Singular Bank:</p>
        <ol>
          <li>
            <p><span>Administrar las solicitudes de información de los usuarios.</span> Los datos personales de los solicitantes de información que lleguen a través de las vías habilitadas por Singular Bank, S.A.U. (página web, correo postal, correo electrónico, teléfono, redes sociales o en la oficina física) serán tratados con la finalidad de atender dichas solicitudes, dentro de los márgenes previstos legalmente, y poder suministrar la información requerida y sobre productos relacionados utilizando cualquiera de los medios de comunicación indicados. Dichos datos personales serán mantenidos durante el tiempo necesario para gestionar su solicitud, y en su caso el legalmente establecido si derivaran cuestiones regulatorias, tras lo cual serán eliminados.</p>
          </li>
          <li>
            <p><span>Comunicación con los usuarios y atención a clientes.</span> Los datos personales serán tratados con la finalidad de llevar a cabo una comunicación eficaz con el usuario o cliente vinculado, utilizando para ello cualquiera de los medios al alcance de Singular Bank, S.A.U. (página web, dirección postal, teléfono, correo electrónico, centro de comunicaciones o de modo presencial en la oficina física). Los datos personales serán conservados durante el tiempo legalmente establecido, tras lo cual serán suprimidos.</p>
          </li>
          <li>
            <p><span>Gestión de los procesos de selección de personal.</span> Los datos personales de los demandantes de empleo y de aquellas personas que participen en los procesos de selección abiertos por la entidad, serán tratados únicamente para la selección de candidatos y la posterior comunicación con los mismos dentro del marco del proceso de selección. Solamente se tratarán datos personales dentro de un proceso de selección abierto y serán conservados mientras dure el proceso de selección de personal, tras lo cual serán suprimidos. Estos procesos de selección podrán publicarse tanto en el sitio web como en publicación de ofertas en redes sociales profesionales.</p>
          </li>
          <li>
            <p><span>Participantes en eventos o actividades.</span> Los datos personales de los inscritos en eventos o actividades organizadas por la entidad serán tratados únicamente para gestionar la correcta inscripción en los mismos y poder comunicarse con los afectados en relación a dichos eventos o actividades. Tras la realización del evento, serán suprimidos.</p>
          </li>
          <li>
            <p><span>Clientes potenciales.</span> En aquellos casos en los que las personas físicas faciliten sus datos personales para recibir información sobre determinados productos o servicios, la entidad tratará dicha información con el objetivo de hacerle llegar la información solicitada, pudiendo utilizar medios electrónicos. Singular Bank, S.A.U. podrá utilizar los datos personales facilitados por el interesado con el objetivo de establecer perfiles de interés y determinar los productos y servicios que más se ajusten a las características del interesado. Los datos personales serán mantenidos mientras que el interesado no revoque su consentimiento, o en su caso, manifieste expresamente su oposición al envío de información comercial por parte de Singular Bank, S.A.U., tras lo cual serán eliminados.</p>
          </li>
          <li>
            <p><span>Participantes en concursos a través de redes sociales.</span> Aquellas personas que faciliten sus datos personales a través de las redes sociales donde Singular Bank, S.A.U. tiene presencia serán tratados únicamente para facilitar la información solicitada y gestionar los concursos o promociones que Self Bank organice, incluyendo este tratamiento la publicación de los datos personales de los ganadores o beneficiarios (nombre, apellidos, imagen) a través de las redes sociales o medios de comunicación donde Singular Bank, S.A.U. tiene presencia y perfil oficial.</p>
          </li>
          <li>
            <p><span>Cookies.</span> El sitio web de Singular Bank, S.A.U. utiliza cookies propias y de terceros para fines analíticos y para mostrar publicidad personalizada en base a un perfil elaborado a partir de los hábitos de navegación, como, por ejemplo, las páginas que se visitan.</p>
            <p>Las cookies propias que utilizamos son necesarias para que la web funcione correctamente y de manera eficiente. De manera adicional, las cookies se utilizan para hacer análisis de navegación y estadísticas de uso, publicidad comportamental. Tanto las cookies analíticas como las publicitarias únicamente serán tratadas con el consentimiento del usuario que se recaba en origen y puede revocarse en cualquier momento en el mecanismo habilitado para ello.</p>
            <p>Para conocer el detalle concreto del tratamiento de cookies puede acceder a nuestra <a href="/politica-cookies/" title="Política de cookies">Política de cookies</a>.</p>
          </li>
        </ol>
        <h3>Legitimación del tratamiento de datos personales</h3>
        <p>El tratamiento de los datos personales por parte de Singular Bank, S.A.U. responderá al libre consentimiento del afectado a través de los formularios de solicitud de información. En este sentido te informamos de que dicho consentimiento es revocable en cualquier momento, para lo cual deberá manifestarlo a través de las vías indicadas para el ejercicio de los derechos de los afectados.</p>
        <p>Por otra parte, Singular Bank, S.A.U., con el objetivo de llevar a cabo un eficaz y correcto desarrollo de su actividad se reserva la facultad de tratar los datos personales de su responsabilidad para la protección de sus intereses legítimos, incluyendo en estos la determinación de las posibles responsabilidades que pudieran surgir a consecuencia de su actividad, así como garantizar una correcta atención a los interesados. El usuario o afectado se compromete a facilitar información correcta, veraz y actualizada sobre su situación.</p>
        <h3>Destinatarios de los datos personales</h3>
        <p>Dentro de las finalidades indicadas anteriormente no se han previsto comunicaciones o cesiones de datos a terceras Entidades u organismos. En el caso de que en el desarrollo o ejecución de los servicios indicados fuese necesario comunicar los datos fuera del Espacio Económico Europeo, Singular Bank, S.A.U. garantiza que se cubrirán todas las garantías legales y requisitos exigidos para las transferencias internacionales de datos.</p>
        <h3>Ejercicio de los derechos de las personas afectadas</h3>
        <p>En cualquier momento es posible ejercer los derechos de acceso, rectificación, supresión, portabilidad, oposición, limitación al tratamiento o a ser objeto de decisiones automatizadas por parte del Responsable del tratamiento, dirigiendo una comunicación por escrito a la siguiente dirección: Calle Goya, 11 · 28001 Madrid (Departamento de Atención al Cliente) o en el correo electrónico <a href="mailto:lopd@singularbank.es">lopd@singularbank.es</a>. </p>
        <p>Recordamos que en dicha comunicación se podrá indicar el derecho que quieres ejercer, los datos o conjunto de datos personales objeto de la reclamación y aportar un documento de identidad válido. </p>
        <p>Para cualquier duda o reclamación respecto al tratamiento de datos personales,  es posible contactar con el Delegado de Protección de Datos, a través de la dirección de correo electrónico: <a href="mailto:lopd@singularbank.es">lopd@singularbank.es</a>. Si lo deseas, <a href="/doc/legal/GRPD/formulario-rgpd.pdf" target="_blank" title="Formulario para el ejercicio de los derechos reconocidos en el reglamento de protección de datos">es posible rellenar y enviar firmado este formulario</a> que ponemos a disposición de los usuarios para ejercer sus derechos. </p>
        <p>Por último, informamos de que es posible interponer una reclamación ante la <a href="https://www.aepd.es/" target="_blank" title="Agencia Española de Protección de Datos">Agencia Española de Protección de Datos</a>, como autoridad de control.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %} 